flows/Accounting_Field_Maintenance_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Add_Change_Delete_Multiple_PO_Choice</name>
        <choiceText>Add/Change/Delete Multiple PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Multiple_Release_Choice</name>
        <choiceText>Add/Change/Delete Multiple Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Single_Desktop_Choice</name>
        <choiceText>Add/Change/Delete Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Single_PO_Choice</name>
        <choiceText>Add/Change/Delete Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Cost_Center_Choice</name>
        <choiceText>Add Single Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Desktop_Choice</name>
        <choiceText>Add Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_PO_Choice</name>
        <choiceText>Add Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Release_Choice</name>
        <choiceText>Add Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddSingleCostCenterdept</name>
        <choiceText>Add Single Cost Center/Dept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Cost Center/Dept</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Accounting_Field_Requirements_Choice</name>
        <choiceText>Change Accounting Field Requirements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Accounting Field Requirements</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Cost_Center_Choice</name>
        <choiceText>Change Single Cost Center/Dept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Cost Center/Dept</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Desktop_Choice</name>
        <choiceText>Change Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_PO_Choice</name>
        <choiceText>Change Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Release_Choice</name>
        <choiceText>Change Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeSingleCostCenterDept</name>
        <choiceText>Change Single Cost Center/Dept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Cost Center/Dept</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeSingleRelease</name>
        <choiceText>Change Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cost_Center_Maintenance_Choice</name>
        <choiceText>Cost Center/Department Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center/Department Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Cost_Center_Choice</name>
        <choiceText>Delete Single Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Desktop_Choice</name>
        <choiceText>Delete Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_PO_Choice</name>
        <choiceText>Delete Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Release_Choice</name>
        <choiceText>Delete Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Release_Choice1</name>
        <choiceText>Delete Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteSingleCostCenterDept</name>
        <choiceText>Delete Single Cost Center/Dept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Cost Center/Dept</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteSinglePO</name>
        <choiceText>Delete Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desktop_Maintenance_Choice</name>
        <choiceText>Desktop Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hidden_Choice</name>
        <choiceText>Hidden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hidden</stringValue>
        </value>
    </choices>
    <choices>
        <name>LineItemDeptReq</name>
        <choiceText>Line Item Dept Req</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Dept Req</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiple_Desktop_Choice</name>
        <choiceText>Multiple Desktop Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>MultipleCostCenterDeptUpload</name>
        <choiceText>Multiple Cost Center/Dept Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple Cost Center/Dept Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>MultiplePOUpload</name>
        <choiceText>Multiple PO Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple PO Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>MultipleReleaseUpload</name>
        <choiceText>Multiple Release Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple Release Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Required_Choice</name>
        <choiceText>Optional/Not Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Optional/Not Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotApplicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>PO_Maintenance_Choice</name>
        <choiceText>PO Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PO Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release_Maintenance_Choice</name>
        <choiceText>Release Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rename_Accounting_Fields_Choice</name>
        <choiceText>Rename Accounting Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename Accounting Fields</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenameCostCenterDeptField</name>
        <choiceText>Rename Cost Center/Dept Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename Cost Center/Dept Field</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenameDesktopField</name>
        <choiceText>Rename Desktop Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename Desktop Field</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenamePOField</name>
        <choiceText>Rename PO Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename PO Field</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenameReleaseField</name>
        <choiceText>Rename Release Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename Release Field</stringValue>
        </value>
    </choices>
    <choices>
        <name>Required_Choice</name>
        <choiceText>Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>SplitPick</name>
        <choiceText>Split Pick</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Split Pick</stringValue>
        </value>
    </choices>
    <choices>
        <name>Validated_Choice</name>
        <choiceText>Validated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Validated</stringValue>
        </value>
    </choices>
    <constants>
        <name>True</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Accounting_Field_Maintenance_Decision</name>
        <label>Accounting Field Maintenance</label>
        <locationX>1650</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cost_Center_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cost_Center_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_Center_Maintenance_Screen</targetReference>
            </connector>
            <label>Cost Center Maintenance</label>
        </rules>
        <rules>
            <name>PO_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Maintenance_Screen</targetReference>
            </connector>
            <label>PO Maintenance</label>
        </rules>
        <rules>
            <name>Release_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Release_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Maintenance_Screen</targetReference>
            </connector>
            <label>Release Maintenance</label>
        </rules>
        <rules>
            <name>Desktop_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Desktop_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desktop_Maintenance_Screen</targetReference>
            </connector>
            <label>Desktop Maintenance</label>
        </rules>
        <rules>
            <name>Rename_Accounting_Fields_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rename_Accounting_Fields_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rename_Accounting_Fields_Screen</targetReference>
            </connector>
            <label>Rename Accounting Fields</label>
        </rules>
        <rules>
            <name>Change_Accounting_Field_Requirements_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Accounting_Field_Requirements_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Accounting_Field_Requirements_Screen</targetReference>
            </connector>
            <label>Change Accounting Field Requirements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Change_Delete_Single_Desktop_Decision</name>
        <label>Add/Change/Delete Single Desktop</label>
        <locationX>1826</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Single_Desktop_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Desktop_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Single_Desktop_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Single_Desktop_Screen</targetReference>
            </connector>
            <label>Add Single Desktop</label>
        </rules>
        <rules>
            <name>Change_Single_Desktop_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Desktop_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Single_Desktop_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Single_Desktop_Screen</targetReference>
            </connector>
            <label>Change Single Desktop</label>
        </rules>
        <rules>
            <name>Delete_Single_Desktop_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Desktop_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete_Single_Desktop_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Single_Desktop_Screen</targetReference>
            </connector>
            <label>Delete Single Desktop</label>
        </rules>
        <rules>
            <name>Multiple_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Desktop_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Multiple_Desktop_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Desktop_Screen_0</targetReference>
            </connector>
            <label>Multiple upload</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cost_Center_Maintenance_Decision</name>
        <label>Cost Center Maintenance</label>
        <locationX>2769</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>multiple_cost_center_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_cost_center_maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MultipleCostCenterDeptUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Cost_Center_Dept_Upload_screen</targetReference>
            </connector>
            <label>multiple cost center upload</label>
        </rules>
        <rules>
            <name>Add_Single_Cost_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_cost_center_maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddSingleCostCenterdept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Single_Cost_Center_Screen</targetReference>
            </connector>
            <label>Add Single Cost Center</label>
        </rules>
        <rules>
            <name>delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_cost_center_maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteSingleCostCenterDept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Single_Cost_Center</targetReference>
            </connector>
            <label>delete single cost center</label>
        </rules>
        <rules>
            <name>Change_Single_Cost_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_cost_center_maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Single_Cost_Center_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Single_Cost_Center_Screen</targetReference>
            </connector>
            <label>Change Single Cost Center</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_Maintenance_Decision</name>
        <label>PO Maintenance</label>
        <locationX>2256</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Single_PO_Redirect1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_PO_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Single_PO_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Single_PO_Screen</targetReference>
            </connector>
            <label>Add Single PO</label>
        </rules>
        <rules>
            <name>Change_single_PO_Redirect1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_PO_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Single_PO_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Single_PO_Screen</targetReference>
            </connector>
            <label>Change Single PO</label>
        </rules>
        <rules>
            <name>Delete_Single_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_PO_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteSinglePO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Single_PO_Screen</targetReference>
            </connector>
            <label>Delete Single PO</label>
        </rules>
        <rules>
            <name>Multiple_PO_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_PO_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MultiplePOUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_PO_Screen</targetReference>
            </connector>
            <label>Multiple PO upload</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Maintenance_Decision</name>
        <label>Release Maintenance</label>
        <locationX>1413</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Single_Release_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Release_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Single_Release_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Single_Release_Screen</targetReference>
            </connector>
            <label>Add Single Release</label>
        </rules>
        <rules>
            <name>ChangeSingle_Release_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Release_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeSingleRelease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Single_Release_Screen</targetReference>
            </connector>
            <label>Change Single  Release</label>
        </rules>
        <rules>
            <name>Delete_Single_Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Release_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete_Single_Release_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Single_Release_Screen</targetReference>
            </connector>
            <label>Delete Single Release</label>
        </rules>
        <rules>
            <name>release_multi_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_Release_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MultipleReleaseUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Release_Screen</targetReference>
            </connector>
            <label>release multi upload</label>
        </rules>
    </decisions>
    <interviewLabel>Accounting Field Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounting Field Maintenance V2.7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_RelaeseCase_0_0_0_0</name>
        <label>Add Release Case</label>
        <locationX>1504</locationX>
        <locationY>665</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>addsinglereleasetext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Release Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>releasemintsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Single_Cost_Center_Case</name>
        <label>Add Single Cost Center Case</label>
        <locationX>2629</locationX>
        <locationY>243</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>AddSinglecosttemple</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Cost Center/Department Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>costcentersubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Change_desktopCase_0_0_0_0</name>
        <label>Change desktop Case</label>
        <locationX>1830</locationX>
        <locationY>506</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Changeaddresstext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Desktop Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>desktopsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Change_POCase_0_0_0</name>
        <label>Change PO Case</label>
        <locationX>2491</locationX>
        <locationY>353</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Changesinglepo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>PO Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>POmainsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Change_RelaeseCase_0_0_0_0_0</name>
        <label>change Release Case</label>
        <locationX>1198</locationX>
        <locationY>505</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Changereleasetext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Release Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>releasemintsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Change_Single_Cost_Center_Case_0</name>
        <label>Change Single Cost Center Case</label>
        <locationX>2715</locationX>
        <locationY>349</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>ChangeCostCentertemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Cost Center/Department Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>costcentersubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Changeaccount_RelaeseCase_0_0_0_0_0_0_0</name>
        <label>Change Accounting Case</label>
        <locationX>568</locationX>
        <locationY>299</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>accountingfieldreqtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Change Accounting Field Requirements</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>acctfieldsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>delete_desktopCase_0_0_0_0_0</name>
        <label>Delete desktop Case</label>
        <locationX>1691</locationX>
        <locationY>453</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>deletedesktoptext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Desktop Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>desktopsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>delete_POCase_0_0</name>
        <label>Delete PO Case</label>
        <locationX>2253</locationX>
        <locationY>500</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>deletepotext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>PO Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>POmainsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Delete_RelaeseCase_0_0_0</name>
        <label>Delete Release Case</label>
        <locationX>1319</locationX>
        <locationY>656</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Delete_Single_Release_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Release Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>releasemintsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Delete_Single_Cost_Center_Case_0_0</name>
        <label>Delete Single Cost Center Case</label>
        <locationX>2962</locationX>
        <locationY>244</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>CostCenterDelete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Cost Center/Department Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>costcentersubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Multiple_DeskCase_0_0</name>
        <label>Mulitple Desk Case</label>
        <locationX>2019</locationX>
        <locationY>259</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Desktop Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Account Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>desktopsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Multiple_POCase_0</name>
        <label>Mulitple PO Case</label>
        <locationX>2116</locationX>
        <locationY>376</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>PO Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Account Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>POmainsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Multiple_RelaeseCase_0_0</name>
        <label>Mulitple Release Case</label>
        <locationX>1588</locationX>
        <locationY>507</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Release Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Account Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>releasemintsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Multiple_Single_Cost_Center_Case</name>
        <label>Mulitple Single Cost Center Case</label>
        <locationX>2841</locationX>
        <locationY>309</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Cost Center/Department Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Account Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>costcentersubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Rename_RelaeseCase_0_0_0_0_0_0</name>
        <label>Rename Case</label>
        <locationX>877</locationX>
        <locationY>408</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>renametext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Rename Accounting Fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RenameSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Single_desktopCase_0_0_0</name>
        <label>Single desktop Case</label>
        <locationX>1962</locationX>
        <locationY>473</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Adddesktoptxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Desktop Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>desktopsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Single_POCase_0_0</name>
        <label>Single PO Case</label>
        <locationX>2381</locationX>
        <locationY>521</locationY>
        <assignRecordIdToReference>Recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>na</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>addsinglepotext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>HCLQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>PO Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>AccountingFieldMaintenancerequesttype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>POmainsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Account_Field_Maintenance_Screen</name>
        <label>Account Field Maintenance</label>
        <locationX>347</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accounting_Field_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_an_option</name>
            <choiceReferences>Change_Accounting_Field_Requirements_Choice</choiceReferences>
            <choiceReferences>Cost_Center_Maintenance_Choice</choiceReferences>
            <choiceReferences>Desktop_Maintenance_Choice</choiceReferences>
            <choiceReferences>PO_Maintenance_Choice</choiceReferences>
            <choiceReferences>Rename_Accounting_Fields_Choice</choiceReferences>
            <choiceReferences>Release_Maintenance_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Single_Cost_Center_Screen</name>
        <label>Add Single Cost Center</label>
        <locationX>2647</locationX>
        <locationY>126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Single_Cost_Center_Case</targetReference>
        </connector>
        <fields>
            <name>Add_Single_Cost_Center_Dept_Cost_Center</name>
            <dataType>String</dataType>
            <fieldText>Cost Center/Dep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Add_Single_Cost_Center_Dept_Cost_Center}) &lt;= 25</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Add_Single_Cost_Center_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Single_Cost_Center_Dollar_Limits</name>
            <dataType>String</dataType>
            <fieldText>Dollar Limits</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Single_Desktop_Screen</name>
        <label>Add Single Desktop</label>
        <locationX>1965</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Single_desktopCase_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Add_Address_seq</name>
            <dataType>String</dataType>
            <fieldText>Address Seq</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Single_Desktop_Desktop</name>
            <dataType>String</dataType>
            <fieldText>Desktop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Add_Single_Desktop_Desktop}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Single_PO_Screen</name>
        <label>Add Single PO</label>
        <locationX>2361</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Single_POCase_0_0</targetReference>
        </connector>
        <fields>
            <name>Add_Single_PO_PO</name>
            <dataType>String</dataType>
            <fieldText>PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 22&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Add_Single_PO_PO}) &lt;= 22</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expires</name>
            <dataType>Date</dataType>
            <fieldText>Expires</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Single_PO_Dollar_Limits</name>
            <dataType>String</dataType>
            <fieldText>Dollar Limits</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Single_Release_Screen</name>
        <label>Add Single Release</label>
        <locationX>1484</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_RelaeseCase_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Add_Single_Release_Release</name>
            <dataType>String</dataType>
            <fieldText>Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 12&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Add_Single_Release_Release}) &lt;= 12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Accounting_Field_Requirements_Screen</name>
        <label>Change Accounting Field Requirements</label>
        <locationX>614</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Changeaccount_RelaeseCase_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Cost_Center_Dept</name>
            <choiceReferences>Hidden_Choice</choiceReferences>
            <choiceReferences>Not_Required_Choice</choiceReferences>
            <choiceReferences>LineItemDeptReq</choiceReferences>
            <choiceReferences>Required_Choice</choiceReferences>
            <choiceReferences>SplitPick</choiceReferences>
            <choiceReferences>Validated_Choice</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Cost Center/Dept Field requirement to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Desktop</name>
            <choiceReferences>Hidden_Choice</choiceReferences>
            <choiceReferences>Not_Required_Choice</choiceReferences>
            <choiceReferences>Required_Choice</choiceReferences>
            <choiceReferences>Validated_Choice</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Desktop Field requirement to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO</name>
            <choiceReferences>Hidden_Choice</choiceReferences>
            <choiceReferences>Not_Required_Choice</choiceReferences>
            <choiceReferences>Required_Choice</choiceReferences>
            <choiceReferences>Validated_Choice</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change PO Field requirement to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Release</name>
            <choiceReferences>Hidden_Choice</choiceReferences>
            <choiceReferences>Not_Required_Choice</choiceReferences>
            <choiceReferences>Required_Choice</choiceReferences>
            <choiceReferences>Validated_Choice</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Release Field requirement to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Single_Cost_Center_Screen</name>
        <label>Change Single Cost Center</label>
        <locationX>2727</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Single_Cost_Center_Case_0</targetReference>
        </connector>
        <fields>
            <name>Change_Single_Cost_Center_From</name>
            <dataType>String</dataType>
            <fieldText>Old Cost Center</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_Cost_Center_From}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Change_Single_Cost_Center_To</name>
            <dataType>String</dataType>
            <fieldText>New Cost Center</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_Cost_Center_To}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <pausedText>&lt;p&gt;Character Limit 20&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Single_Desktop_Screen</name>
        <label>Change Single Desktop</label>
        <locationX>1832</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_desktopCase_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Address_Seqchange</name>
            <dataType>String</dataType>
            <fieldText>Address Seq</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Change_Single_Desktop_From</name>
            <dataType>String</dataType>
            <fieldText>Old Desktop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_Desktop_From}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Change_Single_Desktop_To</name>
            <dataType>String</dataType>
            <fieldText>New Desktop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_Desktop_To}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Single_PO_Screen</name>
        <label>Change Single PO</label>
        <locationX>2402</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_POCase_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Change_Single_PO_From</name>
            <dataType>String</dataType>
            <fieldText>Old PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 22&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_PO_From}) &lt;= 22</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Change_Single_PO_To</name>
            <dataType>String</dataType>
            <fieldText>New PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 22&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_PO_To}) &lt;= 22</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Single_Release_Screen</name>
        <label>Change Single Release</label>
        <locationX>1191</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_RelaeseCase_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Change_Single_Release_From</name>
            <dataType>String</dataType>
            <fieldText>Old Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 12&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_Release_From}) &lt;= 12</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Change_Single_Release_To</name>
            <dataType>String</dataType>
            <fieldText>New Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 12&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Change_Single_Release_To}) &lt;= 12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_Center_Maintenance_Screen</name>
        <label>Cost Center Maintenance</label>
        <locationX>2775</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cost_Center_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_cost_center_maintenance</name>
            <choiceReferences>AddSingleCostCenterdept</choiceReferences>
            <choiceReferences>Change_Single_Cost_Center_Choice</choiceReferences>
            <choiceReferences>DeleteSingleCostCenterDept</choiceReferences>
            <choiceReferences>MultipleCostCenterDeptUpload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of cost center maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Single_Cost_Center</name>
        <label>Delete Single Cost Center</label>
        <locationX>2907</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Single_Cost_Center_Case_0_0</targetReference>
        </connector>
        <fields>
            <name>Cost_Center</name>
            <dataType>String</dataType>
            <fieldText>Cost Center</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 20&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Cost_Center}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Single_Desktop_Screen</name>
        <label>Delete Single Desktop</label>
        <locationX>1665</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_desktopCase_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Desktopdelete</name>
            <dataType>String</dataType>
            <fieldText>Desktop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address_Seq</name>
            <dataType>String</dataType>
            <fieldText>Address Seq</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Single_PO_Screen</name>
        <label>Delete Single PO</label>
        <locationX>2245</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_POCase_0_0</targetReference>
        </connector>
        <fields>
            <name>Delete_Single_PO_Description</name>
            <dataType>String</dataType>
            <fieldText>PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 22&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Delete_Single_PO_Description}) &lt;= 22</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Single_Release_Screen</name>
        <label>Delete Single Release</label>
        <locationX>1336</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_RelaeseCase_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Delete_Single_Release_Description</name>
            <dataType>String</dataType>
            <fieldText>Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 12&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Delete_Single_Release_Description}) &lt;= 12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Desktop_Maintenance_Screen</name>
        <label>Desktop Maintenance</label>
        <locationX>1825</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Change_Delete_Single_Desktop_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_a_Desktop_Maintenance</name>
            <choiceReferences>Add_Single_Desktop_Choice</choiceReferences>
            <choiceReferences>Change_Single_Desktop_Choice</choiceReferences>
            <choiceReferences>Delete_Single_Desktop_Choice</choiceReferences>
            <choiceReferences>Multiple_Desktop_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a Desktop Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Cost_Center_Dept_Upload_screen</name>
        <label>Multiple Cost Center/Dept Upload screen</label>
        <locationX>2840</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiple_Single_Cost_Center_Case</targetReference>
        </connector>
        <fields>
            <name>Add_Change_Delete_Multiple_Cost_Center_Link_DisplayText</name>
            <fieldText>&lt;p&gt;{!CostCenterLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Desktop_Screen_0</name>
        <label>Multiple Desktop</label>
        <locationX>1993</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiple_DeskCase_0_0</targetReference>
        </connector>
        <fields>
            <name>linkdesktop</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;***&lt;/b&gt;&lt;b&gt;Please attach an excel spreadsheet to this request&amp;nbsp;with Desktop and Description fields if applicable.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;Please upload all attachments on the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_PO_Screen</name>
        <label>Multiple PO</label>
        <locationX>2155</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiple_POCase_0</targetReference>
        </connector>
        <fields>
            <name>Multiple_PO_Link_DisplayText</name>
            <fieldText>&lt;p&gt;{!POLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Release_Screen</name>
        <label>Multiple Release</label>
        <locationX>1543</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiple_RelaeseCase_0_0</targetReference>
        </connector>
        <fields>
            <name>Add_Change_Delete_Multiple_Release_Link_DisplayText_0</name>
            <fieldText>&lt;p&gt;{!releaselink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PO_Maintenance_Screen</name>
        <label>PO Maintenance</label>
        <locationX>2261</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PO_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_a_PO_Maintenance_option</name>
            <choiceReferences>Add_Single_PO_Choice</choiceReferences>
            <choiceReferences>Change_Single_PO_Choice</choiceReferences>
            <choiceReferences>DeleteSinglePO</choiceReferences>
            <choiceReferences>MultiplePOUpload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a PO Maintenance option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Release_Maintenance_Screen</name>
        <label>Release Maintenance</label>
        <locationX>1424</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Release_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_a_Release_Maintenance_option</name>
            <choiceReferences>Add_Single_Release_Choice</choiceReferences>
            <choiceReferences>ChangeSingleRelease</choiceReferences>
            <choiceReferences>Delete_Single_Release_Choice1</choiceReferences>
            <choiceReferences>MultipleReleaseUpload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a Release Maintenance option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rename_Accounting_Fields_Screen</name>
        <label>Rename Accounting Fields</label>
        <locationX>964</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rename_RelaeseCase_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Rename_Cost_Center_Dept_Field_to</name>
            <dataType>String</dataType>
            <fieldText>Rename Cost Center/Dept Field to:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 7&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Rename_Cost_Center_Dept_Field_to}) &lt;= 7</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Rename_Desktop_Field_to</name>
            <dataType>String</dataType>
            <fieldText>Rename Desktop Field to:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 7&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Rename_Desktop_Field_to}) &lt;= 7</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Rename_PO_Field_to</name>
            <dataType>String</dataType>
            <fieldText>Rename PO Field to:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 7&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Rename_PO_Field_to}) &lt;= 7</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Rename_Release_Field_to</name>
            <dataType>String</dataType>
            <fieldText>Rename Release Field to:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit 7&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Rename_Release_Field_to}) &lt;= 7</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment_s</name>
        <label>Upload Attachment(s)</label>
        <locationX>2847</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Uploads</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fileuploads</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Recid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment_s_0</name>
        <label>Upload Attachment(s)</label>
        <locationX>2109</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Uploads_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fileuploads</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Recid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment_s_0_0</name>
        <label>Upload Attachment(s)</label>
        <locationX>1640</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Uploads_0_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fileuploads</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Recid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Field_Maintenance_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>accountingfieldreqtext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please change the following Accounting Field requirements:
Change Cost Center/Dept Field requirement to: {!Cost_Center_Dept}
Change Desktop Field requirement to: {!Desktop}
Change PO Field requirement to: {!PO}
Change Release Field requirement to: {!Release}</text>
    </textTemplates>
    <textTemplates>
        <name>acctfieldsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Change Accounting Field Requirements</text>
    </textTemplates>
    <textTemplates>
        <name>Adddesktoptxt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please add single Desktop request:
Address Seq: {!Add_Address_seq}
Desktop: {!Add_Single_Desktop_Desktop}</text>
    </textTemplates>
    <textTemplates>
        <name>AddSinglecosttemple</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please add single Cost Center/Department:
Cost Center/Department: {!Add_Single_Cost_Center_Dept_Cost_Center}
Description: {!Add_Single_Cost_Center_Description}
Dollar Limits: $ {!Add_Single_Cost_Center_Dollar_Limits}</text>
    </textTemplates>
    <textTemplates>
        <name>addsinglepotext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please add single PO:
PO: {!Add_Single_PO_PO}
Expires: {!Expires}
Dollar Limits: ${!Add_Single_PO_Dollar_Limits}</text>
    </textTemplates>
    <textTemplates>
        <name>addsinglereleasetext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please add single Release: {!Add_Single_Release_Release}</text>
    </textTemplates>
    <textTemplates>
        <name>Changeaddresstext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please change single Desktop request:
Address Seq: {!Address_Seqchange}
Old Desktop: {!Change_Single_Desktop_From}
New Desktop: {!Change_Single_Desktop_To}</text>
    </textTemplates>
    <textTemplates>
        <name>ChangeCostCentertemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please change the Cost Center/Department:
From: {!Change_Single_Cost_Center_From}
To: {!Change_Single_Cost_Center_To}</text>
    </textTemplates>
    <textTemplates>
        <name>Changereleasetext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please change single Release:
To: {!Change_Single_Release_To}
From: {!Change_Single_Release_From}</text>
    </textTemplates>
    <textTemplates>
        <name>Changesinglepo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please change single PO request:
Old PO:{!Change_Single_PO_From}

New PO: {!Change_Single_PO_To}</text>
    </textTemplates>
    <textTemplates>
        <name>CostCenterDelete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please delete this single Cost Center/Department:
{!Cost_Center}</text>
    </textTemplates>
    <textTemplates>
        <name>CostCenterLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot.my.salesforce.com/sfc/p/#E0000000J4oS/a/4400000098OH/8tMd58zzrUhMfo1cBIt67nMDfxqjapBT_.FL0BaH8qI&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;  Department/Cost Center Upload Form &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>costcentersubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_cost_center_maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>deletedesktoptext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please delete desktop request:
Desktop: {!Desktopdelete}
Address Seq: {!Address_Seq}</text>
    </textTemplates>
    <textTemplates>
        <name>deletepotext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please delete PO:
{!Delete_Single_PO_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>desktopsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_a_Desktop_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>POLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot.my.salesforce.com/sfc/p/#E0000000J4oS/a/4400000098OR/ZXJgU9LLBQZBURktxLCRD9n6oF7bjMncNFUjOj3zhD8&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt; PO Upload Form &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>POmainsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_a_PO_Maintenance_option}</text>
    </textTemplates>
    <textTemplates>
        <name>releaselink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot--oduat.cs78.my.salesforce.com/sfc/p/#1k0000008aqo/a/1k0000008Pjl/c2TATJT7BgtNJxW0hRlsPlzL5ZxNvuF5sjzOvH42XSU&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt; Release Template &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>releasemintsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Release Maintenance - {!Please_select_a_Release_Maintenance_option}</text>
    </textTemplates>
    <textTemplates>
        <name>RenameSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Rename Accounting Fields</text>
    </textTemplates>
    <textTemplates>
        <name>renametext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please rename the following Accounting field:

Rename Cost Center/Dept Field to: {!Rename_Cost_Center_Dept_Field_to}

Rename Desktop Field to: {!Rename_Desktop_Field_to}

Rename PO Field to: {!Rename_PO_Field_to}

Rename Release Field to: {!Rename_Release_Field_to}</text>
    </textTemplates>
    <variables>
        <name>AccountingFieldMaintenancerequesttype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Accounting Field Maintenance</stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountUpload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account Upload</stringValue>
        </value>
    </variables>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_City_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_PostalCode_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_State_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_Street_Address_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HCLQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00GE0000003josn</stringValue>
        </value>
    </variables>
    <variables>
        <name>otherrequesttypecostcenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Single (Add/Change Department/Cost Center) </stringValue>
        </value>
    </variables>
    <variables>
        <name>OtherSingleAddChangePO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Single (Add/Change PO)</stringValue>
        </value>
    </variables>
    <variables>
        <name>otherSingleAddChangeReleaseFieldrequesttype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Single (Add/Change Release Field)</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00GE0000000uSf2</stringValue>
        </value>
    </variables>
    <variables>
        <name>Recid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>requesttypereleasemaint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Release Maintenance</stringValue>
        </value>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
