flows/ACE_SCOE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>AlreadyVPapproval</name>
        <choiceText>Already have VP approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Already have VP approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance</name>
        <choiceText>Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contracttimiming</name>
        <choiceText>Contract timing/price holds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract timing/price holds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Notifications</name>
        <choiceText>Notifications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Notifications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rebuildcustomer</name>
        <choiceText>Rebuild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rebuild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requestproofofnotification</name>
        <choiceText>Request proof of notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request proof of notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resendwithupdatedcontact</name>
        <choiceText>Resend with updated contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resend with updated contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reversals</name>
        <choiceText>Reversals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reversals</stringValue>
        </value>
    </choices>
    <choices>
        <description>Training Questions</description>
        <name>TrainingQuestions</name>
        <choiceText>Training Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>VendorLetters</name>
        <choiceText>Vendor Letters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Letters</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPapproval</name>
        <choiceText>Need VP approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need VP approval</stringValue>
        </value>
    </choices>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>758</locationX>
        <locationY>441</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotificationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Notification_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Create_Case</targetReference>
            </connector>
            <label>Notification Failed</label>
        </rules>
        <rules>
            <name>Notification_Resend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Notification_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resendwithupdatedcontact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Create_Case</targetReference>
            </connector>
            <label>Notification Resend</label>
        </rules>
        <rules>
            <name>Notification_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requestproofofnotification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Requestproofofnotification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Create_Case</targetReference>
            </connector>
            <label>Notification Decision</label>
        </rules>
        <rules>
            <name>Reversal_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reversal_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VPapproval</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reversal_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AlreadyVPapproval</elementReference>
                </rightValue>
            </conditions>
            <label>Reversal Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_0</name>
        <label>Compliance Decision</label>
        <locationX>881</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliance_Decisions_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rebuildcustomer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Create_Case</targetReference>
            </connector>
            <label>Compliance Decisions</label>
        </rules>
        <rules>
            <name>Compliance_Request1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contracttimiming</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Create_Case</targetReference>
            </connector>
            <label>Compliance Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisions</name>
        <label>Decisions</label>
        <locationX>428</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Notifications</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Screen</targetReference>
            </connector>
            <label>Notification Decision</label>
        </rules>
        <rules>
            <name>Reveral_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reversals</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reversal_Screen</targetReference>
            </connector>
            <label>Reveral Decision</label>
        </rules>
        <rules>
            <name>Vendor_Letter_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VendorLetters</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Letters_Screen</targetReference>
            </connector>
            <label>Vendor Letter Decision</label>
        </rules>
        <rules>
            <name>training_questions_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TrainingQuestions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Question_Screen</targetReference>
            </connector>
            <label>training questions decision</label>
        </rules>
        <rules>
            <name>Compliance_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compliance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_screen</targetReference>
            </connector>
            <label>Compliance Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reversal_Decision1</name>
        <label>Reversal Decision</label>
        <locationX>596</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reversal_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reversal_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VPapproval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reversals_Create_Case</targetReference>
            </connector>
            <label>Reversal Decision</label>
        </rules>
        <rules>
            <name>Reversal1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reversal_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AlreadyVPapproval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reversals_Create_Case</targetReference>
            </connector>
            <label>Reversal1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_Letters</name>
        <label>Vendor Letters</label>
        <locationX>1235</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vendor_Letters1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VendorLetters</elementReference>
                </rightValue>
            </conditions>
            <label>Vendor Letters</label>
        </rules>
    </decisions>
    <interviewLabel>ACE SCOE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACE SCOE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Compliance_Create_Case</name>
        <label>Compliance Create Case</label>
        <locationX>770</locationX>
        <locationY>780</locationY>
        <assignRecordIdToReference>caseid</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Compliance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_ACE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOERecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Compliance_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ACE - Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Notification_Create_Case</name>
        <label>Notification Create Case</label>
        <locationX>1532</locationX>
        <locationY>651</locationY>
        <assignRecordIdToReference>caseid</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_ACE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOERecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Notification_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ACE - Notification </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Reversals_Create_Case</name>
        <label>Reversals Create Case</label>
        <locationX>609</locationX>
        <locationY>457</locationY>
        <assignRecordIdToReference>caseid</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Reverse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_ACE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOERecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Reversal_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ACE - Reversal Requests</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Training_Create_Case</name>
        <label>Training Create Case</label>
        <locationX>232</locationX>
        <locationY>519</locationY>
        <assignRecordIdToReference>caseid</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_ACE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOERecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Questions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Training Questions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ACE - Questions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Vendor_Create_Case</name>
        <label>Vendor  Create Case</label>
        <locationX>963</locationX>
        <locationY>55</locationY>
        <assignRecordIdToReference>caseid</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Comments_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_ACE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOERecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Notification_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Vendor Letters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ACE - Vendor Letter Questions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Compliance_screen</name>
        <label>Compliance screen</label>
        <locationX>746</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_0</targetReference>
        </connector>
        <fields>
            <name>Compliance_Request</name>
            <choiceReferences>Rebuildcustomer</choiceReferences>
            <choiceReferences>Contracttimiming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compliance Request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments3</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>298</locationX>
        <locationY>1007</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;{!note_attachment}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Thank you! Your request has been received. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notification_Screen</name>
        <label>Notification Screen</label>
        <locationX>358</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Notification_Request</name>
            <choiceReferences>Failed</choiceReferences>
            <choiceReferences>Resendwithupdatedcontact</choiceReferences>
            <choiceReferences>Requestproofofnotification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Notification Request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reversal_Screen</name>
        <label>Reversal Screen</label>
        <locationX>650</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reversal_Decision1</targetReference>
        </connector>
        <fields>
            <name>Reversal_Request</name>
            <choiceReferences>VPapproval</choiceReferences>
            <choiceReferences>AlreadyVPapproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reversal Request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments1</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>185</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
        <fields>
            <name>Options</name>
            <choiceReferences>Notifications</choiceReferences>
            <choiceReferences>Reversals</choiceReferences>
            <choiceReferences>VendorLetters</choiceReferences>
            <choiceReferences>TrainingQuestions</choiceReferences>
            <choiceReferences>Compliance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Training_Question_Screen</name>
        <label>Training Question Screen</label>
        <locationX>232</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Training_Create_Case</targetReference>
        </connector>
        <fields>
            <name>Comments_0</name>
            <fieldText>Training Questions:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training_Links</name>
            <fieldText>&lt;p&gt;{!Links_Training}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vendor_Letters_Screen</name>
        <label>Vendor Letters Screen</label>
        <locationX>792</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vendor_Create_Case</targetReference>
        </connector>
        <fields>
            <name>Comments_0_0</name>
            <fieldText>Vendor Letter Questions:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>vendor_Links_0</name>
            <fieldText>&lt;p&gt;{!links}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>links</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 50, 71); font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;color: rgb(24, 50, 71); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(24, 50, 71); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Vendor Letters:&lt;/b&gt;&lt;span style=&quot;color: rgb(24, 50, 71); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://officedepot.seismic.com/X5/doccenter.aspx?ContentId=683dc5b1-10f5-412f-9257-9093c3600cb7#/doccenter/d813ae0f-448d-4784-97d3-0a9cca1c4025/main/%252Fdd40e18e2d-32de-4ae0-ac13-5e13ebd240cc//&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 24, 73); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Access Link&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Links_Training</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(24, 50, 71); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;color: rgb(24, 50, 71); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: rgb(255, 255, 255);&quot;&gt;Training Questions&lt;/b&gt;&lt;span style=&quot;color: rgb(24, 50, 71); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://officedepot.seismic.com/x5/doccenter.aspx?ContentId=683dc5b1-10f5-412f-9257-9093c3600cb7#/doccenter/d813ae0f-448d-4784-97d3-0a9cca1c4025/main/%252Fddd67b12fd-e940-4ffa-b340-70e994fa8d33%252FdfZTAyMWM2N2MtZDcxNS00NjY4LWIyZTQtM2FmYTE1ZTY1OTA2%252CPT0%253D%252CQUNF%252FdfNmM1MWM1ZjktMzIyNi00NWFiLTkwYWUtMGIyZDQ4NDQyNjU3%252CPT0%253D%252CVHJhaW5pbmc%253D/grid/&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 24, 73); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: rgb(255, 255, 255);&quot;&gt;Access Link&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>note_attachment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Upload Attachment(s)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Compliance</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Compliance: {!Compliance_Request}
Comments: {!Comments3}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Notification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Notification: {!Notification_Request}
Comments: {!Comments}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Reverse</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Reversal: {!Reversal_Request}
Comments: {!Comments1}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>record id for case</description>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queue_ACE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00GE0000003geLN</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOERecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
