flows/CMS_Vendavo_Access.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CMSAccess</name>
        <choiceText>CMS Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>VendavoAccess</name>
        <choiceText>Vendavo Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendavo Access</stringValue>
        </value>
    </choices>
    <description>Changes from Vendavo Access to Orion Control Access</description>
    <interviewLabel>CMS/Vendavo Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orion Control  Access 1.4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CMS_Case_Create</name>
        <label>CMS Case Create</label>
        <locationX>554</locationX>
        <locationY>502</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DUP_Acct_ID__c</field>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DUP_Requestor_Mobile__c</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Request_Comments_Additional_InformationCMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>CMSAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Vendavo_Case_Create_0</name>
        <label>Vendavo Case Create</label>
        <locationX>714</locationX>
        <locationY>433</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DUP_Acct_ID__c</field>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DUP_Requestor_Mobile__c</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Request_Comments_Additional_InformationVendavo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <stringValue>Orion Control Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>542</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMS_Choice_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_Details</name>
        <label>User Details</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Username</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployeeID</assignToReference>
            <field>OD_Employee_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CMS_Choice_Screen</name>
        <label>CMS Choice Screen</label>
        <locationX>730</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vendavo_Details_0</targetReference>
        </connector>
        <fields>
            <name>Vendavo_display</name>
            <fieldText>&lt;p&gt;Orion Control Access&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmployeeID</elementReference>
            </defaultValue>
            <fieldText>Employee ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Username</elementReference>
            </defaultValue>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Prospect_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account/Prospect Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>acctnm</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CMS_Details</name>
        <label>CMS Details</label>
        <locationX>553</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CMS_Case_Create</targetReference>
        </connector>
        <fields>
            <name>Link</name>
            <fieldText>&lt;p&gt;{!CMSLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Additional_InformationCMS</name>
            <fieldText>*Request Comments / Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>707</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmationscreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you! Your case has been submitted.  If you need to add additional files, please attach it to the support case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>upload_Files</name>
        <label>upload Files</label>
        <locationX>711</locationX>
        <locationY>607</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Files</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Upload Attachment(s)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Uploads</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vendavo_Details_0</name>
        <label>Vendavo Details</label>
        <locationX>715</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vendavo_Case_Create_0</targetReference>
        </connector>
        <fields>
            <name>LinkV</name>
            <fieldText>&lt;p&gt;{!Vendavolink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Additional_InformationVendavo</name>
            <fieldText>*Request Comments / Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CMSLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;****Please download, complete, and attach the  &lt;A HREF=&quot;https://officedepot.seismic.com/Link/Content/DC0V9qbF3LfUu8ElupgBFAew&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt; CMS Access Form &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Vendavolink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt;Orion Control Access is limited to Pricing teams &lt;/span&gt;&lt;b style=&quot;color: black; font-family: Calibri; font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt;ONLY&lt;/b&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt;. The request must be approved by the direct manager of the user for whom access is being requested. Indicate the reason for the access in the comments below. Managers--if requesting access for your direct report(s), please supply their name and&amp;nbsp;employee ID, as well as the reason for the access.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00GE0000000uSg0</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012E00000008xIY</stringValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
