flows/Compliance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ACE</name>
        <choiceText>ACE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agreement_Question_Choice</name>
        <choiceText>Agreement Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agreement Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Retrieval_Request_Choice</name>
        <choiceText>Document Retrieval Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Retrieval Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Submission_Choice</name>
        <choiceText>Document Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly_Pricing_Question_Choice</name>
        <choiceText>Quarterly Pricing Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACE/Quarterly Pricing Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rebuild_Choice</name>
        <choiceText>Rebuild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rebuild</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Compliance_Decision</name>
        <label>Compliance Decision</label>
        <locationX>184</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_Question_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Agreement_Question_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Question_Screen</targetReference>
            </connector>
            <label>Agreement Question</label>
        </rules>
        <rules>
            <name>Document_Retrieval_Request_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Document_Retrieval_Request_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Retrieval_Request_Screen</targetReference>
            </connector>
            <label>Document Retrieval Request</label>
        </rules>
        <rules>
            <name>Document_Submission_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Document_Submission_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Submission_Screen</targetReference>
            </connector>
            <label>Document Submission</label>
        </rules>
        <rules>
            <name>Quarterly_Pricing_Question_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quarterly_Pricing_Question_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QPO</targetReference>
            </connector>
            <label>Quarterly Pricing Question</label>
        </rules>
    </decisions>
    <description>Updated Rebuild routing + Dynamic SCOE</description>
    <interviewLabel>Compliance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ACE_Quarterly_Pricing_Question_Record</name>
        <label>Create ACE/Quarterly Pricing Question Record</label>
        <locationX>769</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>ACE_Quarterly_Pricing_Question_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>QPOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>QPOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ACE_Quarterly_Pricing_Question_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Agreement_Question_Record</name>
        <label>Create Agreement Question Record</label>
        <locationX>911</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Agreement_Question_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Agreement Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Agreement_Question_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Retrieval_Request_Record</name>
        <label>Create Document Retrieval Request Record</label>
        <locationX>1051</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Document_Retrieval_Request_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Document Retrieval Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Document_Retrieval_Request_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Submission_Record</name>
        <label>Create Document Submission Record</label>
        <locationX>611</locationX>
        <locationY>667</locationY>
        <assignRecordIdToReference>Document_Submission_Support_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Document_Submission_Upload_Attachment_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Document_Submission_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Submit Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Document_Submission_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Rebuild_Record</name>
        <label>Create Rebuild Record</label>
        <locationX>471</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Rebuild_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Rebuild</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Rebuild_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>ACE_Quarterly_Pricing_Question_Screen</name>
        <label>ACE/Quarterly Pricing Question Screen</label>
        <locationX>768</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_ACE_Quarterly_Pricing_Question_Record</targetReference>
        </connector>
        <fields>
            <name>ACE_Quarterly_Pricing_Question_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ACE_Quarterly_Pricing_Question_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Agreement_Question_Screen</name>
        <label>Agreement Question Screen</label>
        <locationX>917</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Agreement_Question_Record</targetReference>
        </connector>
        <fields>
            <name>Agreement_Question_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Agreement_Question_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Compliance_Screen</name>
        <label>Compliance Screen</label>
        <locationX>192</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Compliance_Decision</targetReference>
        </connector>
        <fields>
            <name>Compliance_Radio_Buttons</name>
            <choiceReferences>Agreement_Question_Choice</choiceReferences>
            <choiceReferences>Document_Retrieval_Request_Choice</choiceReferences>
            <choiceReferences>Document_Submission_Choice</choiceReferences>
            <choiceReferences>Quarterly_Pricing_Question_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compliance Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Cheat_Sheet</name>
            <fieldText>&lt;p&gt;{!CheatSheet}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Document_Retrieval_Request_Screen</name>
        <label>Document Retrieval Request Screen</label>
        <locationX>1051</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Document_Retrieval_Request_Record</targetReference>
        </connector>
        <fields>
            <name>Document_Retrieval_Request_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_Retrieval_Request_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Document_Submission_Screen</name>
        <label>Document Submission Screen</label>
        <locationX>610</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Document_Submission_Record</targetReference>
        </connector>
        <fields>
            <name>Document_Submission_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_Submission_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Document_Submission_Upload_Attachment_Screen</name>
        <label>Document Submission Upload Attachment_Screen</label>
        <locationX>610</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <fields>
            <name>Document_Submission_File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Document Submission File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Document_Submission_Support_ID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QPO</name>
        <label>QPO</label>
        <locationX>766</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ACE_Quarterly_Pricing_Question_Screen</targetReference>
        </connector>
        <fields>
            <name>QPOQ</name>
            <choiceReferences>Rebuild_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rebuild_Screen</name>
        <label>Rebuild Screen</label>
        <locationX>470</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Rebuild_Record</targetReference>
        </connector>
        <fields>
            <name>Rebuild_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rebuild_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Thank you! Your case has been submitted.</description>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>627</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you! Your case has been submitted.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Compliance_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CheatSheet</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;&lt;u&gt;&amp;nbsp;Pricing Compliance Queue&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;A queue for Pricing Compliance issues relating to the written agreements. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The queue is limited to requests regarding the written agreements, such as:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;obtaining a copy of the documents, having the language reviewed, having questions answered about specific existing contract terms, submitting completed documents, or asking questions about quarterly pricing.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://officedepot--c.na100.content.force.com/sfc/servlet.shepherd/version/download/0682S000009LoGU?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Document_Submission_Support_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCOE_Issue_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Compliance</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_Support_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Compliance</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
