flows/Create_Standard_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_New_CSF</name>
        <label>Open New CSF</label>
        <locationX>881</locationX>
        <locationY>59</locationY>
        <actionName>c:OpenCSF</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Basis_Level_for_Customer_Agreement_Default_Choice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Owner_Default_Value</name>
        <choiceText>Pricing Compliance Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Compliance Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Status_Default_Value</name>
        <choiceText>Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>Is_this_a_renewal_Default_Value</name>
        <choiceText>Needs validation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs validation</stringValue>
        </value>
    </choices>
    <constants>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>Account_Object</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>Agreement_Status_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Agreement Status</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contract_Account_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AccountId</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contract_Status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract_Status__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contract_Type_Other</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </constants>
    <constants>
        <name>DocuSign</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DocuSign Document</stringValue>
        </value>
    </constants>
    <constants>
        <name>Field_Contract_Development_and_Negotiation_Manager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract_Development_Negotiation_MGR__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Field_User_who_verified_data</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User_who_verified_data__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Label_Contract_Development_and_NegotiationManager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Development and Negotiation Manager</stringValue>
        </value>
    </constants>
    <constants>
        <name>Label_User_who_verified_data</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User who verified data</stringValue>
        </value>
    </constants>
    <constants>
        <name>Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>OTHER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OTHER</stringValue>
        </value>
    </constants>
    <constants>
        <name>Renewal_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <constants>
        <name>Status_Detail_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Status_Detail__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Status_Detail_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Status Detail</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Basis_Level_for_Customer_Agreement_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoHW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Basis_Level_for_Customer_Agreement_Default_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Basis_Level_for_Customer_Agreement_Selected_Value</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_Owner_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_Owner_Default_Value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DocuSign</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Contract_Owner_Selected_Value</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_Status_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_Status_Default_Value</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Is_this_a_renewal_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N44000005yro7</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Is_this_a_renewal_Default_Value</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lookup_Account</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Agreement_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Status__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Current_Legacy_Max_Agreement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Legacy_Max_Agreement__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Status_Detail</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Detail__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Piclist_Contract_Type</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Error</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!$Flow.FaultMessage} , &quot;primary&quot;) , &apos;One primary contract is already available for this account, inserting another primary contract is not possible.&apos;, {!$Flow.FaultMessage})</expression>
    </formulas>
    <interviewLabel>Create Standard Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Standard Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Standard_Contract</name>
        <label>Create Standard Contract</label>
        <locationX>546</locationX>
        <locationY>60</locationY>
        <assignRecordIdToReference>ContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Contract_Saved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Basis_Level_for_Customer_Agreement__c</field>
            <value>
                <elementReference>Basis_Level_for_Customer_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Development_Negotiation_MGR__c</field>
            <value>
                <elementReference>Lookup_Contract_Development_and_Negotiation_Manager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Owner__c</field>
            <value>
                <elementReference>Contract_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <elementReference>Contract_Status_Dependent_Field.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_data_verified__c</field>
            <value>
                <elementReference>Contract_data_verified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_a_renewal__c</field>
            <value>
                <elementReference>Is_this_a_renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contract_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_contract_type__c</field>
            <value>
                <elementReference>Other_Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refer_to_Prior_CSF__c</field>
            <value>
                <elementReference>Renewal_notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Detail__c</field>
            <value>
                <elementReference>Contract_Status_Dependent_Field.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_who_verified_data__c</field>
            <value>
                <elementReference>Lookup_User_who_verified_data.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_notes__c</field>
            <value>
                <elementReference>Verification_notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_date_time__c</field>
            <value>
                <elementReference>Verified_date_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>primary__c</field>
            <value>
                <elementReference>Primary</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <screens>
        <name>Contract_Saved</name>
        <label>Contract Saved</label>
        <locationX>706</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_New_CSF</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Contract Saved Successfully. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CSF_Input_Screen</name>
        <label>CSF Input Screen</label>
        <locationX>390</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Standard_Contract</targetReference>
        </connector>
        <fields>
            <name>Account_Name_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>Contract_Account_ID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Contract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Account_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contract_Name</name>
            <dataType>String</dataType>
            <fieldText>Contract Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Basis_Level_for_Customer_Agreement</name>
            <choiceReferences>Basis_Level_for_Customer_Agreement_Default_Choice</choiceReferences>
            <choiceReferences>Basis_Level_for_Customer_Agreement_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Basis_Level_for_Customer_Agreement_Default_Choice</defaultSelectedChoiceReference>
            <fieldText>Basis Level for Customer Agreement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lookup_Contract_Development_and_Negotiation_Manager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>Field_Contract_Development_and_Negotiation_Manager</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Label_Contract_Development_and_NegotiationManager</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Contract</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contract_Owner</name>
            <choiceReferences>Contract_Owner_Default_Value</choiceReferences>
            <choiceReferences>Contract_Owner_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_Owner_Default_Value</defaultSelectedChoiceReference>
            <fieldText>Contract Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Type</name>
            <choiceReferences>Piclist_Contract_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Contract_Type</name>
            <dataType>String</dataType>
            <fieldText>Other Contract Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Contract_Type</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>OTHER</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Primary</name>
            <dataType>Boolean</dataType>
            <fieldText>Primary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Status_Dependent_Field</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <elementReference>Contract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <elementReference>Contract_Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <elementReference>Status_Detail_API</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <elementReference>Agreement_Status_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <elementReference>Status_Detail_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Contract_Status_Default_Value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Detail_Status_Value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contract_data_verified</name>
            <dataType>Boolean</dataType>
            <fieldText>Contract data verified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Verified_date_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Verified date/time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Contract_data_verified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lookup_User_who_verified_data</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>Field_User_who_verified_data</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Label_User_who_verified_data</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Contract</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Contract_data_verified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Verification_notes</name>
            <fieldText>Verification notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Contract_data_verified</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_a_renewal</name>
            <choiceReferences>Is_this_a_renewal_Default_Value</choiceReferences>
            <choiceReferences>Is_this_a_renewal_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Is_this_a_renewal_Default_Value</defaultSelectedChoiceReference>
            <fieldText>Renewal in progress</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Renewal_notes</name>
            <dataType>String</dataType>
            <fieldText>Renewal notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_a_renewal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Renewal_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>546</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_text</name>
            <fieldText>&lt;p&gt;{!Error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>CSF_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Basis_Level_for_Customer_Agreement_Selected_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Owner_Selected_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Status_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Detail_Status_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
