flows/Credit_Setup_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Closure</name>
        <choiceText>Account Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Maintenance_Customer_Service_Reporting</name>
        <choiceText>Acct Maintance, Customer Service or Reporting Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SCOE Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Placed_on_DNS</name>
        <choiceText>Account Placed on DNS (Collections Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Placed on DNS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Reactivations</name>
        <choiceText>Account Reactivations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Reactivations</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddressExceptionsRequestOther</name>
        <choiceText>Address Exceptions Request (Other)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address Exceptions Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back_to_School</name>
        <choiceText>Back to School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back to School</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillExNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillExYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Exception_Requests</name>
        <choiceText>Billing Exception Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Exception Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Frequency_Updates</name>
        <choiceText>Billing Frequency Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Frequency Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Setup</name>
        <choiceText>Billing Setup</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Billing_Setup1</name>
        <choiceText>Billing Setup Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Billing_Setup</name>
        <choiceText>Change Billing Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Billing Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_one_invoice_per_billing_cycle1</name>
        <choiceText>Consolidated Bill (one invoice per billing cycle)</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter Annual Spend &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Customer requires additional support. A support case will not be created. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please contact AR Billing at ARBillingimplementation@officedepot.com&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>( ({!Consolidated_Bill_one_invoice_per_billing_cycle1}) &gt;= 60000)</formulaExpression>
            </validationRule>
        </userInput>
        <value>
            <elementReference>Consolidated_Bill_Type</elementReference>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_one_invoice_per_billing_cycle_text</name>
        <choiceText>Consolidated Bill (one invoice per billing cycle)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consolidated Bill (one invoice per billing cycle)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_Type</name>
        <choiceText>Consolidated Bill</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Cost_Center</name>
        <choiceText>Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cost_Center_Subtotal</name>
        <choiceText>Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Limit_Decreases</name>
        <choiceText>Credit Limit Decreases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Limit Decreases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Limit_Increases</name>
        <choiceText>Credit Limit Increases</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Credit_Setup</name>
        <choiceText>Credit Setup</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Credit_Setup1</name>
        <choiceText>Credit Setup Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusAppNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusAppYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusFileNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusFileYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Request</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department_Subtotal</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deployment_Request</name>
        <choiceText>Deployment Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Desktop</name>
        <choiceText>Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Billing_Bill_goes_to_Bill_To_Seq</name>
        <choiceText>Direct Billing Request (Bill goes to Bill To Seq)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Billing Request (Bill goes to Bill To Seq)</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Billing_Contact_Update</name>
        <choiceText>E-Billing Contact Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Billing Contact Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Statements_Enrollment</name>
        <choiceText>E -Statements Enrollment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E -Statements Enrollment</stringValue>
        </value>
    </choices>
    <choices>
        <name>eExcel</name>
        <choiceText>eExcel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>eExcelmediaType</name>
        <choiceText>eExcel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eExcel</stringValue>
        </value>
    </choices>
    <choices>
        <name>ePDFmediatype</name>
        <choiceText>ePDF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ePDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture_NON_Code_or_Catalog</name>
        <choiceText>Furniture NON-Code or Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture NON-Code or Catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increased_Spend_Permanent</name>
        <choiceText>Increased Spend (Permanent)</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estimated Annual Spend &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Increased_Spend_Permanent1</name>
        <choiceText>Increased Spend (Permanent)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increased Spend (Permanent)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Billing_Contact_Update</name>
        <choiceText>Indirect Billing Contact Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Billing Contact Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Billing_Request_Bill_goes_to_Ship_to</name>
        <choiceText>Indirect Billing Request (Bill goes to Ship to)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Billing Request (Bill goes to Ship to)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual_Invoice_Bill_Type</name>
        <choiceText>Individual Invoice</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>One invoice per shipment</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Individual_Invoice_one_invoice_per_shipment</name>
        <choiceText>Individual Invoice (one invoice per shipment)</choiceText>
        <dataType>Currency</dataType>
        <value>
            <elementReference>Consolidated_Bill_Type</elementReference>
        </value>
    </choices>
    <choices>
        <name>Individual_Invoice_one_invoice_per_shipment_Text</name>
        <choiceText>Individual Invoice (one invoice per shipment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Invoice (one invoice per shipment)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Input_dollar_Limit</name>
        <choiceText>Input dollar Limit</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Line_Item_Detail_includes_SKU</name>
        <choiceText>Line Item Detail (Includes SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Detail Includes SKU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Line_Item_DetailmediatType</name>
        <choiceText>Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_Contract</name>
        <choiceText>Lost Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>MPS</name>
        <choiceText>MPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>NAChoice</name>
        <choiceText>NA</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NA</elementReference>
        </value>
    </choices>
    <choices>
        <name>New_Account</name>
        <choiceText>New Account</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>New_Account1</name>
        <choiceText>New Account</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>New_Account_Account_Closure</name>
        <choiceText>New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Indirect_Billing</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Line_Item_Detail</name>
        <choiceText>No Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Line_Item_DetailmediaType</name>
        <choiceText>No Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAddressEx</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoBillExc</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoGPO</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-None-</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary1</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary2</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One_Time_Spend_Temporary2</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary_New</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OwnNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OwnYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paper</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaperMediaType</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order_Subtotal</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_attach_AB_Tender</name>
        <choiceText>Re-attach AB Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-attach AB Tender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release_Subtotal</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_AB_Tender</name>
        <choiceText>Remove AB Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove AB Tender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly</name>
        <choiceText>Semi-Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly_16th_EOM</name>
        <choiceText>Semi Monthly 16th &amp; EOM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi Monthly 16th &amp; EOM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly_1st_15th</name>
        <choiceText>Semi-Monthly - 1st &amp; 15th</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Monthly - 1st &amp; 15th</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Location</name>
        <choiceText>Ship to Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Location_Subtotal</name>
        <choiceText>Ship to Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sort_Subtotal</name>
        <choiceText>Sort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sort</stringValue>
        </value>
    </choices>
    <choices>
        <name>Summary</name>
        <choiceText>Summary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Design_Use_Only_50_deposit</name>
        <choiceText>Team Design Use Only (50% deposit)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team Design Use Only (50% deposit)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Payment_Terms</name>
        <choiceText>Update Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Payment Terms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>X30_days</name>
        <choiceText>30 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 days</stringValue>
        </value>
    </choices>
    <choices>
        <name>X60_days</name>
        <choiceText>60 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>60 days</stringValue>
        </value>
    </choices>
    <choices>
        <name>X90_days</name>
        <choiceText>90 days</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Indirect_Billing</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAddressEx</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesBillExc</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesGPO</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>DirectN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>DirectNA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </constants>
    <constants>
        <name>DirectY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </constants>
    <constants>
        <name>Indirect_Billing_N</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>Internal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <constants>
        <description>Value to pass through all of flow = not applicable</description>
        <name>NA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID = Finance</description>
        <name>RID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000gV3c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>Support</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sysadmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Placed_on_DNS_Options</name>
        <label>Account Placed on DNS?</label>
        <locationX>1007</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Remove_AB_Tender_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveABTender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_AB_Tender</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Create_Account_Placed_on_DNS</targetReference>
            </connector>
            <label>Remove AB Tender</label>
        </rules>
        <rules>
            <name>Re_attach_AB_Tender_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveABTender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Re_attach_AB_Tender</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Create_Account_Placed_on_DNS_Reattach</targetReference>
            </connector>
            <label>Re-attach AB Tender</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Routing_Decision</name>
        <label>Case Routing Decision</label>
        <locationX>21</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Setup_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Setup1</elementReference>
                </rightValue>
            </conditions>
            <label>Credit Setup Options</label>
        </rules>
        <rules>
            <name>Billing_Setup_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Setup1</elementReference>
                </rightValue>
            </conditions>
            <label>Billing Setup Options</label>
        </rules>
        <rules>
            <name>AccountMainReportingReporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Maintenance_Customer_Service_Reporting</elementReference>
                </rightValue>
            </conditions>
            <label>AccountMainReportingReporting</label>
        </rules>
        <rules>
            <name>Deployment_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deployment_Request</elementReference>
                </rightValue>
            </conditions>
            <label>Deployment Requests</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Setup_Decisions</name>
        <label>Credit Setup Decisions</label>
        <locationX>474</locationX>
        <locationY>172</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Limit_Increases_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Limit_Increases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Limit_Increase_Options</targetReference>
            </connector>
            <label>Credit Limit Increases</label>
        </rules>
        <rules>
            <name>Account_Reactivations_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Reactivations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Ractivations_Options</targetReference>
            </connector>
            <label>Account Reactivations</label>
        </rules>
        <rules>
            <name>Account_Closure_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Closure</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Closure_Option</targetReference>
            </connector>
            <label>Account Closure</label>
        </rules>
        <rules>
            <name>Creidt_Limit_Decreases_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Limit_Decreases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Limit_Decrease_Decision</targetReference>
            </connector>
            <label>Creidt Limit Decreases</label>
        </rules>
        <rules>
            <name>Update_Payment_Terms_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Payment_Terms</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPO_Relationship</targetReference>
            </connector>
            <label>Update Payment Terms</label>
        </rules>
        <rules>
            <name>Team_Design_Use_Only_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Team_Design_Use_Only_50_deposit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Design_Use_Only_50_deposit_Decision</targetReference>
            </connector>
            <label>Team Design Use Only</label>
        </rules>
        <rules>
            <name>Account_Placed_on_DNS_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Placed_on_DNS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Placed_on_DNS_Collections_Team_Only</targetReference>
            </connector>
            <label>Account Placed on DNS</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPO_Decision</name>
        <label>GPO Decision</label>
        <locationX>376</locationX>
        <locationY>454</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GPO_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GPO_Account_Y_N</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoGPO</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GPO_Account_Y_N</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Create_Updae_Payment_Terms</targetReference>
            </connector>
            <label>GPO No</label>
        </rules>
        <rules>
            <name>GPO_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPO_Account_Y_N</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesGPO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPO_Yes_Screen</targetReference>
            </connector>
            <label>GPO Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Increase_Spend_Option</name>
        <label>Increase Spend Option</label>
        <locationX>652</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Increase_Spend_Permanant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncreaseChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Increased_Spend_Permanent1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Spend_Permanent</targetReference>
            </connector>
            <label>Increase Spend Permanant</label>
        </rules>
        <rules>
            <name>One_Time_Spend_Temporary_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncreaseChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>One_Time_Spend_Temporary_New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Time_Spend_Screen</targetReference>
            </connector>
            <label>One Time Spend Temporary Option</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Account_Account_Closure_Decision</name>
        <label>New Account (Account Closure) Decision</label>
        <locationX>1235</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Case_Create_Account_Closure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Account_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_closure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Account_Account_Closure</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Number</targetReference>
            </connector>
            <label>New Account Decision</label>
        </rules>
    </decisions>
    <description>Flow designed for Billing Setup Requests - Single Button</description>
    <dynamicChoiceSets>
        <name>BillingFrequencySubTypeLOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_SubType_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingFrequencyUpdateLOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_Update_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingMediaTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Media_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Prod_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_SubType_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Formular field to capture the AP Phone field on screen (account reactivation)</description>
        <name>APPhone</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;&amp;Left({!AP_Phone1},3)&amp;&quot;) &quot;&amp;mid({!AP_Phone1},4,3)&amp;&quot;-&quot;&amp;right({!AP_Phone1},4)</expression>
    </formulas>
    <formulas>
        <description>AP Fax format fax number</description>
        <name>FormatAPFax</name>
        <dataType>String</dataType>
        <expression>&apos;(&apos;&amp;MID(RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AP_Fax_NumberText},&quot;(&quot;,&quot; &quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;.&quot;,&quot; &quot;),10) ,1, 3)&amp;&apos;) &apos;&amp; MID(RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AP_Fax_NumberText},&quot;(&quot;,&quot; &quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;.&quot;,&quot; &quot;),10) ,4,3)&amp;&apos;-&apos;&amp;MID(RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AP_Fax_NumberText},&quot;(&quot;,&quot; &quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;.&quot;,&quot; &quot;),10),7,4)</expression>
    </formulas>
    <formulas>
        <name>FormatAPphone</name>
        <dataType>String</dataType>
        <expression>&apos;(&apos;&amp;MID(RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AP_Phone1},&quot;(&quot;,&quot; &quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;.&quot;,&quot; &quot;),10) ,1, 3)&amp;&apos;) &apos;&amp; MID(RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AP_Phone1},&quot;(&quot;,&quot; &quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;.&quot;,&quot; &quot;),10) ,4,3)&amp;&apos;-&apos;&amp;MID(RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AP_Phone1},&quot;(&quot;,&quot; &quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;.&quot;,&quot; &quot;),10),7,4)</expression>
    </formulas>
    <formulas>
        <name>fxuserid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Profile ID</description>
        <name>profileid</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>ProposalNumber</name>
        <dataType>String</dataType>
        <expression>TEXT({!Proposal_Number})</expression>
    </formulas>
    <interviewLabel>Credit Setup Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Setup Request 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create_Account_Closure</name>
        <label>Case Create: Account Closure</label>
        <locationX>1217</locationX>
        <locationY>811</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_AcctClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubAcctClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSupAccountClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Credit_Setup1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Account_Placed_on_DNS</name>
        <label>Case Create: Account Placed on DNS</label>
        <locationX>971</locationX>
        <locationY>788</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_AcctDNSABTender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubAcctPlacedDNS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubAcctDNS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Account_Placed_on_DNS_Reattach</name>
        <label>Case Create: Account Placed on DNS Reattach</label>
        <locationX>1045</locationX>
        <locationY>788</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_DNSReattchtender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubAcctPlacedDNS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubAcctDNS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Account_Reactivation</name>
        <label>Case Create:Account Reactivation</label>
        <locationX>1422</locationX>
        <locationY>812</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_AcctReact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubAcctReactivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubAccountReactivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Credit_Limit_Decrease</name>
        <label>Case Create:Credit Limit Decrease</label>
        <locationX>169</locationX>
        <locationY>337</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewDescCreditDecrease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubCreDecrease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubCreditDecrease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Credit_Limit_Increase_0</name>
        <label>Case Create:Credit Limit Increase</label>
        <locationX>180</locationX>
        <locationY>813</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_OneTimeSpendTemporary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubCredInc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubOneTimeSpend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Credit_Limit_IncreasePermenantSpend</name>
        <label>Case Create:Credit Limit IncreasePermenantSpend</label>
        <locationX>723</locationX>
        <locationY>922</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_CrLimIncPer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubCredInc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubCreditLimitIncrease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_GPO_Yes</name>
        <label>Case Create: GPO Yes</label>
        <locationX>549</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_UpdateTerms_Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubUpdatePayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubUpdtTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Team_Design_Use_only</name>
        <label>Case Create: Team Design Use only</label>
        <locationX>879</locationX>
        <locationY>789</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_TeamDesign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubTeamDesign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubTeamDesign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Updae_Payment_Terms</name>
        <label>Case Create: Updae Payment Terms</label>
        <locationX>262</locationX>
        <locationY>473</locationY>
        <assignRecordIdToReference>RecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Payment_Terms_Option</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_UpdateTerms_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubUpdatePayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>SupSubUpdtTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>359</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreditSetup2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GPO_Relationship</name>
        <label>GPO Relationship</label>
        <locationX>341</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>GPOid</assignToReference>
            <field>GParent_GPID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GPOnm</assignToReference>
            <field>Grandparent_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Closure_Option</name>
        <label>Account Closure Option</label>
        <locationX>1235</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Account_Account_Closure_Decision</targetReference>
        </connector>
        <fields>
            <name>Note3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us the reason for your Account closure.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_closure</name>
            <choiceReferences>Customer_Request</choiceReferences>
            <choiceReferences>Lost_Contract</choiceReferences>
            <choiceReferences>New_Account_Account_Closure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for closure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments1</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Current_Account_Nm</name>
            <fieldText>Current Account Name: {!acctnm}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Current_Account_Number</name>
            <fieldText>Current Account Number: {!custid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_Placed_on_DNS_Collections_Team_Only</name>
        <label>Account Placed on DNS? (Collections Team Only)</label>
        <locationX>985</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Placed_on_DNS_Options</targetReference>
        </connector>
        <fields>
            <name>DNSNote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Placed on DNS: (Collections Team Only)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RemoveABTender</name>
            <choiceReferences>Remove_AB_Tender</choiceReferences>
            <choiceReferences>Re_attach_AB_Tender</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_Ractivations_Options</name>
        <label>Account Ractivations Options</label>
        <locationX>1439</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Create_Account_Reactivation</targetReference>
        </connector>
        <fields>
            <name>Note2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us more about your Account Reactivation. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please answer the following:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Estimated_annual_spend</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated annual spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Account_Payable_AP_Contact</name>
            <dataType>String</dataType>
            <fieldText>Account Payable (AP) Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AP_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>AP Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Email address must be valid or can not contain an Office Depot domain&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>AND (NOT(CONTAINS({!AP_Email_Address}, &apos;@officedepot.com&apos;)), CONTAINS ({!AP_Email_Address},&apos;@&apos;), CONTAINS ({!AP_Email_Address}, &apos;.&apos;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AP_Phone1</name>
            <dataType>String</dataType>
            <fieldText>AP Phone</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter 10 digits only &lt;FONT KERNING=&quot;1&quot;&gt;Ex. (5555555555)&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Input a Valid Phone Number. No formating is required&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ex. (5555555555)&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>AND(
!ISBLANK( {!AP_Phone1} ),
LEN({!AP_Phone1}) &lt;11 )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AP_Fax_NumberText</name>
            <dataType>String</dataType>
            <fieldText>AP Fax Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Input a Valid Phone Number. No formating is required&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ex. (5555555555)&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Input a Valid Phone Number&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>AND(
!ISBLANK( {!AP_Fax_NumberText} ),
LEN({!AP_Fax_NumberText}) &lt;11 )</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseCreation_0</name>
        <label>CaseCreation</label>
        <locationX>786</locationX>
        <locationY>1330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreate_0</name>
            <fieldText>Thank you! Your case has been submitted.  If you need to add additional files, please attach it to the support case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Limit_Decrease_Decision</name>
        <label>Credit Limit Decrease</label>
        <locationX>167</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Create_Credit_Limit_Decrease</targetReference>
        </connector>
        <fields>
            <name>Note4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us more about your Credit Limit Decrease. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please answer the following: &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Decreased_Credit_Limit_to</name>
            <dataType>Currency</dataType>
            <fieldText>Decreased Credit Limit to:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Input dollar amount.</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reason</name>
            <fieldText>Reason:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Limit_Increase_Options</name>
        <label>Credit Limit Increase Options</label>
        <locationX>598</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Increase_Spend_Option</targetReference>
        </connector>
        <fields>
            <name>note1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us more about your credit line increase. Please answer the following:  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IncreaseChoices</name>
            <choiceReferences>One_Time_Spend_Temporary_New</choiceReferences>
            <choiceReferences>Increased_Spend_Permanent1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Limit Increases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Account_Number</name>
            <fieldText>Account Number: {!custid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Acct_Name</name>
            <fieldText>Account Name: {!acctnm}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreditSetup2</name>
        <label>Credit Setup</label>
        <locationX>564</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Credit_Setup_Decisions</targetReference>
        </connector>
        <fields>
            <name>CreditSetupNote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select a Credit Setup Request: &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditOptions</name>
            <choiceReferences>Account_Closure</choiceReferences>
            <choiceReferences>Account_Placed_on_DNS</choiceReferences>
            <choiceReferences>Account_Reactivations</choiceReferences>
            <choiceReferences>Credit_Limit_Increases</choiceReferences>
            <choiceReferences>Credit_Limit_Decreases</choiceReferences>
            <choiceReferences>Team_Design_Use_Only_50_deposit</choiceReferences>
            <choiceReferences>Update_Payment_Terms</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GPO</name>
        <label>GPO</label>
        <locationX>398</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GPO_Decision</targetReference>
        </connector>
        <fields>
            <name>note6</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Credit Setup: Update Payment Terms &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GPO_Account_Y_N</name>
            <choiceReferences>YesGPO</choiceReferences>
            <choiceReferences>NoGPO</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>GPO Account (Y/N)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Acct_Name1</name>
            <fieldText>Account Name: {!acctnm}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Acct_Number1</name>
            <fieldText>Account Number: {!custid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GPO_Yes_Screen</name>
        <label>GPO Yes</label>
        <locationX>544</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_GPO_Yes</targetReference>
        </connector>
        <fields>
            <name>note9</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have selected Yes to GPO: Please complete the required fields &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_New_Payment_Terms</name>
            <dataType>String</dataType>
            <fieldText>Input New Payment Terms:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GPO_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GPOnm</elementReference>
            </defaultValue>
            <fieldText>GPO Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GPO_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GPOid</elementReference>
            </defaultValue>
            <fieldText>GPO Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Increase_Spend_Permanent</name>
        <label>Increase Spend Permanent</label>
        <locationX>725</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Create_Credit_Limit_IncreasePermenantSpend</targetReference>
        </connector>
        <fields>
            <name>Estimated_Annual_Spend1</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Annual Spend:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Account_Number</name>
        <label>New Account Number</label>
        <locationX>1140</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Account_Closure</targetReference>
        </connector>
        <fields>
            <name>NewAccount</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have selected a closed reason as New Account. Please input the New Account number. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Account_Inputs</name>
            <dataType>String</dataType>
            <fieldText>New Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Number can not be longer than 8 digits&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>AND(
!ISBLANK( {!New_Account_Inputs} ),
LEN({!New_Account_Inputs}) &lt;9 )</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>One_Time_Spend_Screen</name>
        <label>One Time Spend Screen</label>
        <locationX>638</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Create_Credit_Limit_Increase_0</targetReference>
        </connector>
        <fields>
            <name>onetimespendnote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;One Time Spend (Temporary)&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;: &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_of_Purchase</name>
            <dataType>Currency</dataType>
            <fieldText>Amount of Purchase</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_months_to_increase_spend_1</name>
            <choiceReferences>X30_days</choiceReferences>
            <choiceReferences>X60_days</choiceReferences>
            <choiceReferences>X90_days</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>X30_days</defaultSelectedChoiceReference>
            <fieldText>Number of days to increase spend:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_1</name>
            <choiceReferences>Furniture_NON_Code_or_Catalog</choiceReferences>
            <choiceReferences>Technology</choiceReferences>
            <choiceReferences>Paper</choiceReferences>
            <choiceReferences>MPS</choiceReferences>
            <choiceReferences>Back_to_School</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Furniture_NON_Code_or_Catalog</defaultSelectedChoiceReference>
            <fieldText>Product</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>acctnm</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Team_Design_Use_Only_50_deposit_Decision</name>
        <label>Team Design Use Only (50% deposit)</label>
        <locationX>895</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Team_Design_Use_only</targetReference>
        </connector>
        <fields>
            <name>Name_of_Requestor</name>
            <dataType>String</dataType>
            <fieldText>Name of Requestor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Installation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Estimated Installation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Proposal_Number</name>
            <dataType>Number</dataType>
            <fieldText>Proposal Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Amount_of_OrderNum</name>
            <dataType>Number</dataType>
            <fieldText>Amount of Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Deposit_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Deposit Amount must be 50% or greater than Amount of Order&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>IF( ({!Amount_of_OrderNum}/2)&lt;= {!Deposit_Amount}, true,false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Payment_Terms_Option</name>
        <label>Update Payment Terms</label>
        <locationX>251</locationX>
        <locationY>610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CaseCreation_0</targetReference>
        </connector>
        <fields>
            <name>CreditSetupUpdatePymt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Update Payment Terms: GPO Not selected&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExtendedTermsform</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Extended Payment Terms form Click &lt;/B&gt;&lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;A HREF=&quot;https://officedepot.my.salesforce.com/sfc/p/E0000000J4oS/a/2S000000YHNe/DEySWXCrvbc.egAVvW7et_Jf4CAn3IeQe_GaKN3x9Uo&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;Here&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;If you need to attach a file, please attach it to the support case. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Finish for your case to be submitted. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File(s) </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>791</locationX>
        <locationY>1133</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CaseCreation_0</targetReference>
        </connector>
        <fields>
            <name>Limit4</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File(s) </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_do_you_want_to_do_today</name>
        <label>What do you want to do today?</label>
        <locationX>24</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>logo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;img src=&quot;https://officedepot.scene7.com/is/content/officedepot/od-omax-logo2&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Hello {!fullName}, Please select a Request Type:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Number_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Number: {!custid}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Name: {!acctnm}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choices</name>
            <choiceReferences>Account_Maintenance_Customer_Service_Reporting</choiceReferences>
            <choiceReferences>Billing_Setup1</choiceReferences>
            <choiceReferences>Credit_Setup1</choiceReferences>
            <choiceReferences>Deployment_Request</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Please select a category that your request falls into.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Description: Indirect Qualifiction Question No</description>
        <name>DescIndirectQualQuesNo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Indirect Qualification Questionnaire: 

Has the Customer pproved this change for the entire account?  {!No}

Are all locations corporately owned? {!No}

Is the Customer legally responsible for each location?  {!No}

Does the Customer manage versus own any of the location? {!Yes}</text>
    </textTemplates>
    <textTemplates>
        <description>Account Close</description>
        <name>Description_AcctClosure</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Closure: 
Account: {!custid}
Reason for closure:  {!Reason_for_closure}  {!New_Account_Inputs}
Comments: {!Comments1}</text>
    </textTemplates>
    <textTemplates>
        <description>Account Placed on DNS? Collections Team Only
Remove AB Tender</description>
        <name>Description_AcctDNSABTender</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Placed on DNS (Collections Only): 
Account: {!custid}

Account Placed on DNS: {!Remove_AB_Tender}</text>
    </textTemplates>
    <textTemplates>
        <description>Account Reactivations</description>
        <name>Description_AcctReact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Reactivations:  
Account {!custid}

Estimated Annual Spend: {!Estimated_annual_spend}

AP Contact: {!Account_Payable_AP_Contact}
Email Address: {!AP_Email_Address}
Fax Number: {!FormatAPFax}
Phone: {!FormatAPphone}</text>
    </textTemplates>
    <textTemplates>
        <description>Description: Credit Limit Increase (permenant)</description>
        <name>Description_CrLimIncPer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Credit Limit Increases: Increased Spend (Permanent) 
Account: {!custid}

Estimated Annual Spend: {!Estimated_Annual_Spend1}</text>
    </textTemplates>
    <textTemplates>
        <description>Account Placed on DNS? (Collections Team Only)
Re-attach AB Tender</description>
        <name>Description_DNSReattchtender</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Placed on DNS (Collections Only):
Account: {!custid}

Account Placed on DNS: {!Re_attach_AB_Tender}</text>
    </textTemplates>
    <textTemplates>
        <description>Description: One Time Spend (Temporary)</description>
        <name>Description_OneTimeSpendTemporary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Credit Limit Increases: One Time Spend (Temporary)
Account: {!custid}

Amount of Purchase: {!Amount_of_Purchase}
Number of days to increase spend: {!Number_of_months_to_increase_spend_1}
Product: {!Product_1}</text>
    </textTemplates>
    <textTemplates>
        <description>Team Design Use Only (50% deposit)</description>
        <name>Description_TeamDesign</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Team Design Use Only (50% deposit)
Account: {!custid}

Requestor Name: {!Name_of_Requestor}
Estimated Installation Date: {!Estimated_Installation_Date}
Amount of Order: {!Amount_of_OrderNum}
Proposal Number:  {!ProposalNumber}
Deposit Amount: {!Deposit_Amount}
Comments: {!Comments}</text>
    </textTemplates>
    <textTemplates>
        <description>Update Payment Terms</description>
        <name>Description_UpdateTerms_No</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Update Payment Terms:
Account: {!custid}

GPO: No</text>
    </textTemplates>
    <textTemplates>
        <name>Description_UpdateTerms_Yes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Update Payment Terms: 
Account: {!custid}

GPO: Yes 
GPO Name:  {!GPO_Name}
GPO Number: {!GPO_Number}
New Terms: {!Input_New_Payment_Terms}</text>
    </textTemplates>
    <textTemplates>
        <description>Credit Limit Decrease</description>
        <name>NewDescCreditDecrease</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Credit Limit Decrease:
Account: {!custid}

Decrease Credit Limit to: {!Decreased_Credit_Limit_to}

Reason: {!Reason}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject: Indirect Contact Update</description>
        <name>SUB_Indirect_Contact_Update</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Indirect Contact Update - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Account Closure</description>
        <name>SubAcctClosure</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices}-{!Account_Closure} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Account Placed on DNS</description>
        <name>SubAcctPlacedDNS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices} - {!Account_Placed_on_DNS} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Account Reactivation</description>
        <name>SubAcctReactivation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices}- {!Account_Reactivations}-{!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Billing Exception Request</description>
        <name>SubBillingException</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Billing_Setup1}-{!Billing_Exception_Requests} - 
{!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Billing Frequency Update</description>
        <name>SubBillingFrequencyUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Billing_Setup1} - {!Billing_Frequency_Updates}- {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Change Billing setup Option</description>
        <name>SubChangeBillingSetup</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Billing_Setup1} - {!Change_Billing_Setup} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject: Credit Limit Decrease</description>
        <name>SubCreDecrease</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices}-{!Credit_Limit_Decreases} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Credit Increace</description>
        <name>SubCredInc</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices}-Credit Limit Increases-{!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject E-Billing Contact Update</description>
        <name>SubEBillingContactUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Billing_Setup1}- {!E_Billing_Contact_Update}- {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <name>SubEStatements</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!E_Statements_Enrollment}: {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Team Design</description>
        <name>SubTeamDesign</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices} - {!Team_Design_Use_Only_50_deposit} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Update Payment Terms</description>
        <name>SubUpdatePayment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices} -{!Update_Payment_Terms}-{!acctnm}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountName</description>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsolidatedBilloneinvoiceperbillingcycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Consolidated Bill (one invoice per billing cycle)</stringValue>
        </value>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <name>DeploymentRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Deployment_Request</elementReference>
        </value>
    </variables>
    <variables>
        <name>EbillEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>EbillEmail</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FileNames</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileNamescollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Full Name</description>
        <name>fullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>fullName</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GPOnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Individual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Individual Invoice (one invoice per shipment)</stringValue>
        </value>
    </variables>
    <variables>
        <name>mgr_flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAccountNew_Account_Account_Closure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New Account: {!New_Account_Account_Closure}</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record Type ID Finance</description>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>Support_Sub_Indirect_Contact_Update</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Contact Update</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSub_Indirect_Billing_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Account Reactivation</description>
        <name>SupSubAccountReactivation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Reactivation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Subtype - Account Placed on DNS</description>
        <name>SupSubAcctDNS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Placed on DNS</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Sub Address Exceptions</description>
        <name>SupSubAddressExceptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Address Exceptions Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubBillingFreq</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Billing Frequency</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubCreditDecrease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Credit Limit Decrease</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubCreditLimitIncrease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Credit LImit Increase</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Direct Billing Request</description>
        <name>SupSubDirectBillingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Direct Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Ebilling Contact Update</description>
        <name>SupSubEBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Billing Contact Update</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubEStatement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Statements Enrollment</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Subtype Indirect Billing Request</description>
        <name>SupSubIndirectBillingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubOneTimeSpend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </variables>
    <variables>
        <description>Team Design Use only</description>
        <name>SupSubTeamDesign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Team Design Use Only</stringValue>
        </value>
    </variables>
    <variables>
        <description>Update Payment Terms</description>
        <name>SupSubUpdtTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update Payment Terms</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType: Account Closure</description>
        <name>SupSupAccountClosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </variables>
    <variables>
        <description>User Id</description>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>userid</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable to capture formula APPhone</description>
        <name>varAPPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APPhone</elementReference>
        </value>
    </variables>
    <variables>
        <name>varNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>varNo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>VarYes</stringValue>
        </value>
    </variables>
</Flow>
