flows/Deployment_Requests.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Case_Confirmation</name>
        <label>Case Confirmation</label>
        <locationX>1006</locationX>
        <locationY>1118</locationY>
        <actionName>Case.Notify_Case_Creator_Deployment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RecID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Add_Teaming</name>
        <choiceText>Add Teaming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Teaming</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brand_New_DML_Account</name>
        <choiceText>Brand New DML/Account</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Request Comments/Information</promptText>
        </userInput>
        <value>
            <stringValue>Brand New DML/Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Teaming_Sales_Rep1</name>
        <choiceText>Change Teaming Sales Rep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Teaming Sales Rep</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Update_DML</name>
        <choiceText>Change/Update DML Teaming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change/Update DML Teaming</stringValue>
        </value>
    </choices>
    <choices>
        <name>DML_Account_Maintenance1</name>
        <choiceText>DML/Account Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DML/Account Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>DuplicateAccountDuplicate_Account</name>
        <choiceText>Duplicate Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Geography_Change</name>
        <choiceText>Geography Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Geography Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>GP_Parent_Reassignment</name>
        <choiceText>GP/Parent ID Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GP/Parent ID Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Team_Reassignment</name>
        <choiceText>Internal Team Reassignment</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>DML ID/Name or Account ID/Name</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Internal_Team_Reassignment1</name>
        <choiceText>Change DML Sales Rep Within My Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change DML Sales Rep Within My Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISO_Teaming</name>
        <choiceText>ISO Teaming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISO Teaming</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missing_Sales_Credit</name>
        <choiceText>Missing Sales Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Sales Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_ISO_Teaming</name>
        <choiceText>Non-ISO Teaming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-ISO Teaming</stringValue>
        </value>
    </choices>
    <choices>
        <name>Potential_Recalculation</name>
        <choiceText>Review Customer Potential Calculation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Review Customer Potential Calculation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Realign_Sales_Team</name>
        <choiceText>Change DML Sales Rep Outside My Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change DML Sales Rep Outside My Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Teaming</name>
        <choiceText>Remove Teaming</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Request Comments/Information</promptText>
        </userInput>
        <value>
            <stringValue>Remove Teaming</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_Comments_Information</name>
        <choiceText>Request Comments/Information</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sector_Change_Private_Public</name>
        <choiceText>Sector Change (Private/Public)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sector Change (Private/Public)</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerrAlign_Mapping_TBD1</name>
        <choiceText>Acquisition Mapping Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acquisition Mapping Request</stringValue>
        </value>
    </choices>
    <choices>
        <description>Add/Remove/Change Personnel</description>
        <name>Territory_Reassignment</name>
        <choiceText>Change Sales Rep for Entire Territory (Personnel Change)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Sales Rep for Entire Territory (Personnel Change)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_DML_Hierarchy</name>
        <choiceText>Update DML Grouping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update DML Grouping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_DML_Location</name>
        <choiceText>Update DML Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update DML Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_DML_Segment_Code</name>
        <choiceText>Update DML Segment Code</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update DML Segment Code</stringValue>
        </value>
    </choices>
    <constants>
        <description>Abbe Johnson access</description>
        <name>Compliance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>USBSD:000609:Dir, Contract Compli &amp; Audits</stringValue>
        </value>
    </constants>
    <constants>
        <name>Deployment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deployment</stringValue>
        </value>
    </constants>
    <constants>
        <name>GrandParentMaintenance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GrandParent Maintenance</stringValue>
        </value>
    </constants>
    <constants>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <name>RID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012440000006FzU</stringValue>
        </value>
    </constants>
    <constants>
        <name>RPC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>USBSD:000610:Cnsltnt, Lead Regional Perform</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>Support</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>SupportType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deployment- SCOE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sysadmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DML_Account_Maintenance_Decision</name>
        <label>DML/Account Maintenance Decision</label>
        <locationX>1226</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Internal_Team_Reassignment_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Internal_Team_Reassignment1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Team_Reassignment3</targetReference>
            </connector>
            <label>Internal Team Reassignment</label>
        </rules>
        <rules>
            <name>Realign_Sales_Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Realign_Sales_Team</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Realign_Sales_Team1</targetReference>
            </connector>
            <label>Realign Sales Team</label>
        </rules>
        <rules>
            <name>Territory_Reassignment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Territory_Reassignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Reassignment3</targetReference>
            </connector>
            <label>Territory Reassignment</label>
        </rules>
        <rules>
            <name>Update_DML_Location1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_DML_Location</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DML_Location2</targetReference>
            </connector>
            <label>Update DML Location</label>
        </rules>
        <rules>
            <name>Missing_Sales_Credit1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Missing_Sales_Credit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Sales_Credit2</targetReference>
            </connector>
            <label>Missing Sales Credit</label>
        </rules>
        <rules>
            <name>Duplicate_Account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DuplicateAccountDuplicate_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Account_Choice</targetReference>
            </connector>
            <label>Duplicate Account</label>
        </rules>
        <rules>
            <name>Update_DML_Grouping1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DMLAccountMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_DML_Hierarchy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DML_Grouping</targetReference>
            </connector>
            <label>Update DML Grouping</label>
        </rules>
    </decisions>
    <decisions>
        <name>DML_Teaming_Selection</name>
        <label>DML Teaming Selection</label>
        <locationX>95</locationX>
        <locationY>645</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Teaming_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeUpdateDMLTeaming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Teaming</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Teaming_Information</targetReference>
            </connector>
            <label>Add Teaming Choice</label>
        </rules>
        <rules>
            <name>Remove_Teaming_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeUpdateDMLTeaming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_Teaming</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Teaming2</targetReference>
            </connector>
            <label>Remove Teaming Choice</label>
        </rules>
        <rules>
            <name>Change_Teaming_Sales_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeUpdateDMLTeaming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Teaming_Sales_Rep1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Teaming_Sales_Rep2</targetReference>
            </connector>
            <label>Change Teaming Sales Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>manager_routing</name>
        <label>manager routing</label>
        <locationX>432</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>manager_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mgr_flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>profileid</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Sysadmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>profileid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>profileid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deployment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RPC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compliance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DML_ID_Relationshp</targetReference>
            </connector>
            <label>manager True</label>
        </rules>
        <rules>
            <name>manager_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mgr_flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Manager_Message</targetReference>
            </connector>
            <label>manager False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potential_Recalculation_Decision</name>
        <label>Potential $ Recalculation Decision</label>
        <locationX>924</locationX>
        <locationY>616</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Potential_Recalculation_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SectorChangePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Potential_Recalculation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Potential_Recalculation_fields</targetReference>
            </connector>
            <label>Potential $ Recalculation Decision</label>
        </rules>
        <rules>
            <name>Sector_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SectorChangePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sector_Change_Private_Public</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sector_Change1</targetReference>
            </connector>
            <label>Sector Change</label>
        </rules>
        <rules>
            <name>Geography_Change1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SectorChangePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Geography_Change</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DML_Location_Has_Changed</targetReference>
            </connector>
            <label>Geography Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Type_Decision</name>
        <label>Request Type Decision</label>
        <locationX>446</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Change_Update_DML_Teaming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Update_DML</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Update_DML_Teaming_1</targetReference>
            </connector>
            <label>Change/Update DML Teaming</label>
        </rules>
        <rules>
            <name>DML_Account_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DML_Account_Maintenance1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DML_Account_Maintenance2</targetReference>
            </connector>
            <label>DML/Account Maintenance</label>
        </rules>
        <rules>
            <name>Update_DML_Segment_Code3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_DML_Segment_Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DML_Segment_Code</targetReference>
            </connector>
            <label>Update DML Segment Code</label>
        </rules>
        <rules>
            <name>Javelin_Mapping1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TerrAlign_Mapping_TBD1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Javelin_Mapping</targetReference>
            </connector>
            <label>Acquisition Mapping Tool Request</label>
        </rules>
        <rules>
            <name>GP_Parent_ID_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GP_Parent_Reassignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GP_Deployment_Request</targetReference>
            </connector>
            <label>GP/Parent ID Assignment</label>
        </rules>
    </decisions>
    <description>Deployment Maint.Request</description>
    <dynamicChoiceSets>
        <name>Newsectorchange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sector__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>newsegmentchange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Segment__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fxuserid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>profileid</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>Title</name>
        <dataType>String</dataType>
        <expression>{!$User.Title}</expression>
    </formulas>
    <interviewLabel>Deployment Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deployment Request Creation V5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>801</locationX>
        <locationY>868</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtPotentialRecalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Realign_Sales_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>91</locationX>
        <locationY>1033</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtAddTeaming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectaddteaming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0</name>
        <label>Create Case</label>
        <locationX>433</locationX>
        <locationY>654</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtDMLsegmentcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0</name>
        <label>Create Case</label>
        <locationX>560</locationX>
        <locationY>675</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtTerrAlignmapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_0</name>
        <label>Create Case</label>
        <locationX>1344</locationX>
        <locationY>599</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtUpdateDMLlocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>DMLAccountMaintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_0_0</name>
        <label>Create Case</label>
        <locationX>1483</locationX>
        <locationY>595</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtmissingcredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>DMLAccountMaintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_0_0_0</name>
        <label>Create Case</label>
        <locationX>1209</locationX>
        <locationY>602</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtterr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>DMLAccountMaintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_0_0_0_0</name>
        <label>Create Case</label>
        <locationX>1094</locationX>
        <locationY>606</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtinternalteam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>DMLAccountMaintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_0_0_1</name>
        <label>Create Case</label>
        <locationX>1627</locationX>
        <locationY>597</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtduplicateaccounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>DMLAccountMaintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_0_0_1_1</name>
        <label>Create Case</label>
        <locationX>1743</locationX>
        <locationY>394</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtupdateDMLgrouping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>DMLAccountMaintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_1</name>
        <label>Create Case</label>
        <locationX>686</locationX>
        <locationY>618</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtgpreassign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_1</name>
        <label>Create Case</label>
        <locationX>305</locationX>
        <locationY>688</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtRemoveTeaming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectremoveteaming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_1_1</name>
        <label>Create Case</label>
        <locationX>229</locationX>
        <locationY>921</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtchangeupdatedml</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectsalesrep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_1</name>
        <label>Create Case</label>
        <locationX>923</locationX>
        <locationY>836</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtsectorchange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Realign_Sales_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_1_1</name>
        <label>Create Case</label>
        <locationX>1017</locationX>
        <locationY>839</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtgeography</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Sub_Type__c</field>
            <value>
                <elementReference>Realign_Sales_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Type__c</field>
            <value>
                <elementReference>SupportType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_details</name>
        <label>Account details</label>
        <locationX>617</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_would_you_like_to_do</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sector</assignToReference>
            <field>Sector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>segcode</assignToReference>
            <field>Segment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>DML_ID_Relationshp</name>
        <label>DML ID Relationshp</label>
        <locationX>450</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DML_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>DML_Relation__c</object>
        <outputAssignments>
            <assignToReference>dmlid</assignToReference>
            <field>DML_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>DML_Lookup</name>
        <label>DML Lookup</label>
        <locationX>450</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dmlid</elementReference>
            </value>
        </filters>
        <object>DML__c</object>
        <outputAssignments>
            <assignToReference>dmlnm</assignToReference>
            <field>DECISION_MAKER_NM__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>mgrCheck</name>
        <label>Manager Check</label>
        <locationX>217</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>manager_routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxuserid</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>mgr_flag</assignToReference>
            <field>isManager__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Teaming_Information</name>
        <label>Add Teaming Information</label>
        <locationX>96</locationX>
        <locationY>811</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
        <fields>
            <name>Teamingoptions</name>
            <choiceReferences>ISO_Teaming</choiceReferences>
            <choiceReferences>Non_ISO_Teaming</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Comments_Information20</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Teaming_Sales_Rep2</name>
        <label>Change Teaming Sales Rep</label>
        <locationX>222</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_1_1</targetReference>
        </connector>
        <fields>
            <name>Changeteamingsalesrep_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Change Teaming Sales Rep Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Information25</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Update_DML_Teaming_1</name>
        <label>Change/Update DML Teaming1</label>
        <locationX>108</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DML_Teaming_Selection</targetReference>
        </connector>
        <fields>
            <name>ChangeUpdateDMLTeaming</name>
            <choiceReferences>Add_Teaming</choiceReferences>
            <choiceReferences>Remove_Teaming</choiceReferences>
            <choiceReferences>Change_Teaming_Sales_Rep1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please make a selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1006</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; Please select Finish for your case to be submitted. A Deployment Team member will be in contact with you regarding your request.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DML_Account_Maintenance2</name>
        <label>DML/Account Maintenance</label>
        <locationX>1238</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DML_Account_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>DMLAccountMaintenance</name>
            <choiceReferences>Update_DML_Hierarchy</choiceReferences>
            <choiceReferences>Internal_Team_Reassignment1</choiceReferences>
            <choiceReferences>Realign_Sales_Team</choiceReferences>
            <choiceReferences>Territory_Reassignment</choiceReferences>
            <choiceReferences>DuplicateAccountDuplicate_Account</choiceReferences>
            <choiceReferences>Update_DML_Location</choiceReferences>
            <choiceReferences>Missing_Sales_Credit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DML_Location_Has_Changed</name>
        <label>DML Location Has Changed</label>
        <locationX>1020</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_1_1</targetReference>
        </connector>
        <fields>
            <name>PleaseupdatetheDMLlocationinformation_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please provide the DML location&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>City_0</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_0</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Code_0</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>info</name>
            <fieldText>Provide details about change to business structure that indicate that the DML location has physically changed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestCommentsInformation21</name>
            <dataType>String</dataType>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DML_Segment_Code</name>
        <label>DML Segment Code</label>
        <locationX>439</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0</targetReference>
        </connector>
        <fields>
            <name>segmentnote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attention: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;Please be as detailed as possible in the comments section.  &lt;FONT COLOR=&quot;#FF0000&quot;&gt;Remember to include the current segmentation you are changing from and the segmentation you are requesting to change to. &lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot;&gt;  &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Sector_Segment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sectorsegmant</elementReference>
            </defaultValue>
            <fieldText>Current Sector/Segment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Sector</name>
            <choiceReferences>Newsectorchange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Sector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Segment</name>
            <choiceReferences>newsegmentchange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Segment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Comments_Information10</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Account_Choice</name>
        <label>Duplicate Account Choice</label>
        <locationX>1625</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_0_0_1</targetReference>
        </connector>
        <fields>
            <name>Provide_Duplicate_Account_or_DML_Number_s</name>
            <dataType>String</dataType>
            <fieldText>Provide Duplicate Account or DML Number(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Rep_Should_Own_Consolidated_DML</name>
            <dataType>String</dataType>
            <fieldText>Which Rep Should Own Consolidated DML?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provide_Additional_Details</name>
            <dataType>String</dataType>
            <fieldText>Provide Additional Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>1002</locationX>
        <locationY>999</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Uploads</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GP_Deployment_Request</name>
        <label>GP/Parent ID Assignment</label>
        <locationX>686</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GP_Parent_ID</name>
            <dataType>String</dataType>
            <fieldText>GP/Parent ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GP_Parent_Name</name>
            <dataType>String</dataType>
            <fieldText>GP/Parent Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Proposed_Sales_Rep</name>
            <dataType>String</dataType>
            <fieldText>Proposed Sales Rep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Comments_Additional_Information22</name>
            <fieldText>Request Comments/Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Internal_Team_Reassignment3</name>
        <label>Internal Team Reassignment</label>
        <locationX>1091</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Internal Team Reassignment Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DML_ID_Name_or_Account_ID_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>dmlnmid</elementReference>
            </defaultValue>
            <fieldText>DML ID/Name or Account ID/Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reassign_To_Which_Sales_Rep</name>
            <dataType>String</dataType>
            <fieldText>Reassign To Which Sales Rep?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Effective_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Comments_Information1</name>
            <dataType>String</dataType>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Javelin_Mapping</name>
        <label>Acquisition Mapping Request</label>
        <locationX>564</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MappingToolRequest</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Acquisition Mapping Tool Request&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Information9</name>
            <dataType>String</dataType>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Sales_Credit2</name>
        <label>Missing Sales Credit</label>
        <locationX>1483</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Notesalescredit</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attention:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; Please include as much information as possible in the comments section. &lt;FONT COLOR=&quot;#FF0000&quot;&gt;Remember&lt;/FONT&gt; &lt;FONT COLOR=&quot;#FF0000&quot;&gt;to include which account(s) are missing, the expected sales rep owner &amp;amp; effective date.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Information8</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Manager_Message</name>
        <label>Non Manager Message</label>
        <locationX>667</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAccess</name>
            <fieldText>Please have this request submitted by your Manager</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Potential_Recalculation_fields</name>
        <label>Potential $ Recalculation fields</label>
        <locationX>798</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Employee_Count</name>
            <dataType>Number</dataType>
            <fieldText>Employee Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Data_Source</name>
            <dataType>String</dataType>
            <fieldText>Data Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Comments_Information5</name>
            <dataType>String</dataType>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Realign_Sales_Team1</name>
        <label>Realign Sales Team</label>
        <locationX>939</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Potential_Recalculation_Decision</targetReference>
        </connector>
        <fields>
            <name>Attention</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attention:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot;&gt; If you know that this request impacts another Director/Manager, please attach communication/confirmation that they are aware of the request for a change.&lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SectorChangePicklist</name>
            <choiceReferences>Sector_Change_Private_Public</choiceReferences>
            <choiceReferences>Geography_Change</choiceReferences>
            <choiceReferences>Potential_Recalculation</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Remove_Teaming2</name>
        <label>Remove Teaming</label>
        <locationX>241</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_1</targetReference>
        </connector>
        <fields>
            <name>Removeteaming_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Remove Teaming Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Information26</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sector_Change1</name>
        <label>Sector Change (Private/Public)</label>
        <locationX>926</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_1</targetReference>
        </connector>
        <fields>
            <name>Sectorchange_0_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sector Change Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Information28</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Territory_Reassignment3</name>
        <label>Territory Reassignment</label>
        <locationX>1208</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>PleaseprovideMOVEFORMinformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please provide MOVE FORM information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MOVEFROM</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;MOVE FROM:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Old_Sales_Rep_ID</name>
            <dataType>String</dataType>
            <fieldText>Old Sales Rep ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Old_Sales_Rep_Name</name>
            <dataType>String</dataType>
            <fieldText>Old Sales Rep Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Moveto</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;MOVE TO:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Sales_Rep_ID</name>
            <dataType>String</dataType>
            <fieldText>New Sales Rep ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Sales_Rep_Name</name>
            <dataType>String</dataType>
            <fieldText>New Sales Rep Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Territory_Change_Effect_Date</name>
            <dataType>Date</dataType>
            <fieldText>Territory Change Effect Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Comments_Information6</name>
            <dataType>String</dataType>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_DML_Grouping</name>
        <label>Update DML Grouping</label>
        <locationX>1627</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>updatedmlgrouping_0_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Update DML Grouping Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Comments_Information27</name>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_DML_Location2</name>
        <label>Update DML Location</label>
        <locationX>1340</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>PleaseupdatetheDMLlocationinformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please provide the DML location&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequestCommentsInformation7</name>
            <dataType>String</dataType>
            <fieldText>Request Comments/Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_would_you_like_to_do</name>
        <label>What would you like to do?</label>
        <locationX>452</locationX>
        <locationY>403</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Welcome! Please select a category that your request falls into. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>DML_Account_Maintenance1</choiceReferences>
            <choiceReferences>Change_Update_DML</choiceReferences>
            <choiceReferences>Update_DML_Segment_Code</choiceReferences>
            <choiceReferences>GP_Parent_Reassignment</choiceReferences>
            <choiceReferences>TerrAlign_Mapping_TBD1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>acctnm</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DML_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>dmlid</elementReference>
            </defaultValue>
            <fieldText>DML ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DML_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>dmlnm</elementReference>
            </defaultValue>
            <fieldText>DML Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>mgrCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>dmlnmid</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}</text>
    </textTemplates>
    <textTemplates>
        <name>sectorsegmant</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!sector}/{!segcode}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectaddteaming</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Request_Type} - {!Add_Teaming} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectline</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Request_Type} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectremoveteaming</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Request_Type} - Remove Teaming - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectsalesrep</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Request_Type} - {!Change_Teaming_Sales_Rep1} - {!acctnm}</text>
    </textTemplates>
    <textTemplates>
        <name>SupportRequesteremail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!SupportRequester},

We received your request. Somone will contact you shortly. Please do not reply to this notification. 

Support Case: {!CaseNumber}
Subject: {!Request_Type}

Thank You
Deployment Team 
Office Depot</text>
    </textTemplates>
    <textTemplates>
        <name>txtAddTeaming</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please change/update the following DML teaming:

Add Teaming: {!Teamingoptions}

Comments: {!Request_Comments_Information20}</text>
    </textTemplates>
    <textTemplates>
        <name>txtchangeupdatedml</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please change/update the following DML teaming:

Change Teaming Sales Rep: {!Request_Comments_Information25}</text>
    </textTemplates>
    <textTemplates>
        <name>txtDMLsegmentcode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see comments below for updating DML Segment Code:

Current Sector/Segment: {!Current_Sector_Segment}

Please change to new Sector &amp; Segment: {!Newsectorchange}/{!newsegmentchange}

{!Request_Comments_Information10}</text>
    </textTemplates>
    <textTemplates>
        <name>txtduplicateaccounts</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see details below on Duplicate Account:

Duplicate Account/DML: {!Provide_Duplicate_Account_or_DML_Number_s}

Which rep should own consolidated DML: {!Which_Rep_Should_Own_Consolidated_DML}


{!Provide_Additional_Details}</text>
    </textTemplates>
    <textTemplates>
        <name>txtgeography</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see details below for Geography Change:

City: {!City_0}
State: {!State_0}
Zip Code: {!Zip_Code_0}

Comments: {!RequestCommentsInformation21}</text>
    </textTemplates>
    <textTemplates>
        <name>txtgpreassign</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see the details below for GP/Parent ID Assignment:

GP/Parent ID: {!GP_Parent_ID}

GP Parent Name: {!GP_Parent_Name}

Proposed Sales Rep: {!Proposed_Sales_Rep}


{!Request_Comments_Additional_Information22}</text>
    </textTemplates>
    <textTemplates>
        <name>txtinternalteam</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see details on internal team reassignment below:

DML ID/Name or Account ID/Name: {!DML_ID_Name_or_Account_ID_Name}

Reassign to which Sales Rep: {!Reassign_To_Which_Sales_Rep}

Effective Date: {!Effective_Date1}

{!Request_Comments_Information1}</text>
    </textTemplates>
    <textTemplates>
        <name>txtmissingcredit</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see the comments below about missing sales credit:

{!Request_Comments_Information8}</text>
    </textTemplates>
    <textTemplates>
        <name>txtPotentialRecalculation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see the comments below for changes on the Potential $ Recalculation:

Empolyee Count:  {!Employee_Count}

Data Source: {!Data_Source}

{!Request_Comments_Information5}</text>
    </textTemplates>
    <textTemplates>
        <name>txtRemoveTeaming</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please change/update the following DML teaming:

Remove Teaming: {!Request_Comments_Information26}</text>
    </textTemplates>
    <textTemplates>
        <name>txtsectorchange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see the comments below for Sector change:
{!Request_Comments_Information28}</text>
    </textTemplates>
    <textTemplates>
        <name>txtterr</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
MOVE FROM:
Old Sales Rep ID: {!Old_Sales_Rep_ID}
Old Sales Rep Name: {!Old_Sales_Rep_Name}

MOVE TO:
New Sales Rep ID: {!New_Sales_Rep_ID}
New Sales Rep Name: {!New_Sales_Rep_Name}
Territory Change Effect Date: {!Territory_Change_Effect_Date}

{!Request_Comments_Information6}</text>
    </textTemplates>
    <textTemplates>
        <name>txtTerrAlignmapping</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see comments below for TerrAlign Mapping:

{!Request_Comments_Information9}</text>
    </textTemplates>
    <textTemplates>
        <name>txtupdateDMLgrouping</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see details below in regard to updating DML grouping:
{!Request_Comments_Information27}</text>
    </textTemplates>
    <textTemplates>
        <name>txtUpdateDMLlocation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!dmlid} - {!dmlnm}
Please see details below for updating DML location:

City: {!City}
State: {!State}
Zip Code: {!Zip_Code}

{!RequestCommentsInformation7}</text>
    </textTemplates>
    <variables>
        <name>AccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountName</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CaseNumber</stringValue>
        </value>
    </variables>
    <variables>
        <name>Choiceremoveteaming</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Remove Teaming</stringValue>
        </value>
    </variables>
    <variables>
        <name>ChoiceUpdateDMLG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update DML Grouping</stringValue>
        </value>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dmlid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dmlnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Manager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>mgr_flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Record ID</description>
        <name>RecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012440000006FzU</stringValue>
        </value>
    </variables>
    <variables>
        <name>repid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>repname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>repid</elementReference>
        </value>
    </variables>
    <variables>
        <name>sector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SectorChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sector Change (Private/Public)</stringValue>
        </value>
    </variables>
    <variables>
        <name>segcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SupportRequester</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SupportRequester</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateDMLGroupingchoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update DML Grouping</stringValue>
        </value>
    </variables>
</Flow>
