flows/E_Comm_Custom_Catalog.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Create_a_New_Custom_Catalog_Choice</name>
        <choiceText>Create a New Custom Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a New Custom Catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_an_Existing_Custom_Catalog_Choice</name>
        <choiceText>Update an Existing Custom Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update an Existing Custom Catalog</stringValue>
        </value>
    </choices>
    <decisions>
        <name>E_Comm_Custom_Catalog_Decision</name>
        <label>E-Comm/Custom Catalog Decision</label>
        <locationX>770</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Custom_Catalog_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>E_Comm_Custom_Catalog_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_New_Custom_Catalog_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_New_Custom_Catalog_Screen</targetReference>
            </connector>
            <label>Create a New Custom Catalog Outcome</label>
        </rules>
        <rules>
            <name>Update_an_Existing_Custom_Catalog_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>E_Comm_Custom_Catalog_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_an_Existing_Custom_Catalog_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_an_Existing_Custom_Catalog_Screen</targetReference>
            </connector>
            <label>Update an Existing Custom Catalog Outcome</label>
        </rules>
    </decisions>
    <description>Added Account Name and Account Number (AOPS #)</description>
    <interviewLabel>E-Comm/Custom Catalog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-Comm/Custom Catalog</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_E_Comm_Custom_Catalog_Support_Case</name>
        <label>Create E-Comm/Custom Catalog Support Case</label>
        <locationX>677</locationX>
        <locationY>591</locationY>
        <assignRecordIdToReference>SCOE_RecordTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>End_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TT_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Information_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Update an Existing Custom Catalog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_E_Comm_Custom_Catalog_Support_Case_0</name>
        <label>Create E-Comm/Custom Catalog Support Case</label>
        <locationX>1138</locationX>
        <locationY>605</locationY>
        <assignRecordIdToReference>Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>End_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TT_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Information_Required_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Create a New Custom Catalog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AOPS_Cust_Id</name>
        <label>Get AOPS Cust Id</label>
        <locationX>590</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>E_Comm_Custom_Catalog_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>currentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AOPS_Cust_Id__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_a_New_Custom_Catalog_Screen</name>
        <label>Create a New Custom Catalog Screen</label>
        <locationX>1135</locationX>
        <locationY>360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_E_Comm_Custom_Catalog_Support_Case_0</targetReference>
        </connector>
        <fields>
            <name>Create_a_New_Custom_Catalog_DisplayText</name>
            <fieldText>&lt;p&gt;Account Name: {!Account_Name}&lt;/p&gt;&lt;p&gt;Account Number: {!currentAccount.AOPS_Cust_Id__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_a_New_Custom_Catalog_Instructions_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Instructions:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;1. Provide the List of SKUs to be included in the custom catalog in an Excel file. SKUs should be listed in a single column only – with the list of SKU numbers only. Note format below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;i.	Only OD 6-digit or 7-digit SKU numbers can be added, no Mfg Codes can be added.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;ii.	Ensure that there are no blank spaces in front or back of each SKU&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;iii.	No dashes in between SKU numbers, i.e.: 123-456 (must be 123456).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;iv.	Please do not list the SKUs in a string separated with commas, or spaces, or semi-colons.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;v.	Please don’t use ‘#’ or “Item #” in front of each SKU&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;2. Provide the following in the &quot;Information Required&quot; box:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;i. List the customer account number(s) (if there are multiple accounts sharing the SAME custom catalog profile they will need to be mapped to the catalog before it can be used).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;iii.	Provide the Name of the Account Manager who will be maintaining the custom catalog&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;iv.	Provide the projected spend for the account (note – any account below 250K/year does not qualify for a custom catalog)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject2</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Information_Required_1</name>
            <fieldText>Information Required</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>E_Comm_Custom_Catalog_Screen</name>
        <label>E-Comm/Custom Catalog Screen</label>
        <locationX>396</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_AOPS_Cust_Id</targetReference>
        </connector>
        <fields>
            <name>E_Comm_Custom_Catalog_Radio_Buttons</name>
            <choiceReferences>Create_a_New_Custom_Catalog_Choice</choiceReferences>
            <choiceReferences>Update_an_Existing_Custom_Catalog_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>E-Comm/Custom Catalog Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>862</locationX>
        <locationY>1088</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Create</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you! Your case has been submitted.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Attachments:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;a href=&quot;https://officedepot.my.salesforce.com/{!Record_ID}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;HERE&lt;/b&gt;&lt;/a&gt; to add related attachments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_0</name>
        <label>End</label>
        <locationX>908</locationX>
        <locationY>791</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Create_0</name>
            <fieldText>&lt;p&gt;Upload Attachment(s)&lt;/p&gt;&lt;p&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SCOE_RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Thanyou</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you! Your request has been received.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_an_Existing_Custom_Catalog_Screen</name>
        <label>Update an Existing Custom Catalog Screen</label>
        <locationX>675</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_E_Comm_Custom_Catalog_Support_Case</targetReference>
        </connector>
        <fields>
            <name>Update_an_Existing_Custom_Catalog_Account_Number</name>
            <fieldText>&lt;p&gt;Account Name: {!Account_Name}&lt;/p&gt;&lt;p&gt;Account Number: {!currentAccount.AOPS_Cust_Id__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_an_Existing_Custom_Catalog_Instructions_DisplayText</name>
            <fieldText>&lt;p&gt;Instructions:&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please provide the following information in the &quot;Information Required&quot; box&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;i. Are you updating more than 1 custom catalog on the same ticket? Yes or No&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;ii. Provide the (1) customer account no(s) AND (2) custom catalog name(s) or custom catalog profile ID(s) for each of the custom catalogs that you are asking to get updated.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;iii. List clearly in the text box what needs to be updated – (see example below)&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Profile ID 10049 – State of FL&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;ADD&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;112233&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;223344&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;DELETE&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;555444&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;7897534&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;4121545&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Information_Required</name>
            <fieldText>Information Required</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>E_Comm_Custom_Catalog_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Description for Freshedesk</description>
        <name>TT_Description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Customer: {!Account_Name} {!Customer_ID}</text>
    </textTemplates>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOE_Issue_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Comm/Custom Catalog</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_Support_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>E-Comm/Custom Catalog</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
