flows/Edit_GPO_Group_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_To_Gpo_Group_Detail</name>
        <label>Redirect To Gpo Group Detail</label>
        <locationX>1234</locationX>
        <locationY>622</locationY>
        <actionName>c:OpenCSF</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_GPO_Group.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Employee_Purchase_Message_Assignment</name>
        <label>Employee Purchase Message Assignment</label>
        <locationX>852</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>ScreenMessage5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Message_1.Greeting_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_GPO_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Standard_Message_2_Assignment</name>
        <label>Standard Message 2 Assignment</label>
        <locationX>680</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Screenmessage2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Message_2.Greeting_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_Message_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Standard_Message_3_Assignment</name>
        <label>Standard Message 3 Assignment</label>
        <locationX>674</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>ScreenMessage3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Message_3.Greeting_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_Message_Gallgher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Standard_Message_Gallgher_assignment</name>
        <label>Standard Message -Gallgher assignment</label>
        <locationX>675</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>ScreenMessage4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Message_Gallgher.Greeting_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Purchase_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StandardMessage1Assignment</name>
        <label>Standard Message 1 Assignment</label>
        <locationX>715</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>Screenmessage1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Message_1.Greeting_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_Message_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cost_Center_Setup_Choices</name>
        <choiceText>{!Formula_Cost_Setup}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_Cost_Setup</elementReference>
        </value>
    </choices>
    <choices>
        <name>Def_pick_val2</name>
        <choiceText>{!Get_GPO_Group.Cost_Center_Setup__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_GPO_Group.Cost_Center_Setup__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Desktop_Setup_Choice</name>
        <choiceText>{!Formula_Desktop_Setup}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_Desktop_Setup</elementReference>
        </value>
    </choices>
    <choices>
        <name>Greeting_Message_Default_Choice</name>
        <choiceText>{!Formula_Greeting_Message_Default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_Greeting_Message_Default</elementReference>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>---None---</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Po_Number_Setup_Choice</name>
        <choiceText>{!Formula_PO_Number_Setup}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_PO_Number_Setup</elementReference>
        </value>
    </choices>
    <choices>
        <name>Release_setup_choice</name>
        <choiceText>{!Formula_release_setup}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_release_setup</elementReference>
        </value>
    </choices>
    <constants>
        <name>Account_APIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Account_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <description>NOTE: Once activated, the Community can NOT be deactivated.</description>
        <name>ActivatedHelpText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NOTE: Once activated, the Community can NOT be deactivated.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, page will display form fields from the parent.</description>
        <name>Checkbox3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, page will display form fields from the parent.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CheckboxHelptext1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hide the &apos;Download SPC&apos; link on the prelogin page.</stringValue>
        </value>
    </constants>
    <constants>
        <description>On Private Communities Only, A section titled Approving Managers Information will appear on the Registration Form. The fields will be saved to the User Registration record.</description>
        <name>Checkboxhelptext10</name>
        <dataType>String</dataType>
        <value>
            <stringValue>On Private Communities Only, A section titled Approving Managers Information will appear on the Registration Form. The fields will be saved to the User Registration record.</stringValue>
        </value>
    </constants>
    <constants>
        <description>For Private Only, if checked, the form will allow the entering of additional address fields if Multiple Ship To is selected by the user.</description>
        <name>Checkboxhelptext11</name>
        <dataType>String</dataType>
        <value>
            <stringValue>For Private Only, if checked, the form will allow the entering of additional address fields if Multiple Ship To is selected by the user.</stringValue>
        </value>
    </constants>
    <constants>
        <description>For Private Only. If checked, will allow entry of multiple Cost Center fields if Multiple Cost Center is selected by user.</description>
        <name>Checkboxhelptext12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>For Private Only. If checked, will allow entry of multiple Cost Center fields if Multiple Cost Center is selected by user.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Checkboxhelptext2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hide the &apos;Download SPC&apos; link on the post login page.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, the page will show the Greeting Message of the parent.</description>
        <name>Checkboxhelptext4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, the page will show the Greeting Message of the parent.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, the page will show the Parent&apos;s company logo.</description>
        <name>Checkboxhelptext5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, the page will show the Parent&apos;s company logo.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, page will show and hide the page sections based on the parent&apos;s settings.</description>
        <name>Checkboxhelptext6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, page will show and hide the page sections based on the parent&apos;s settings.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, page will show list of links from the Parent.</description>
        <name>Checkboxhelptext7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, page will show list of links from the Parent.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, this account will not be available for selection in the &apos;Account Selection&apos; list.</description>
        <name>checkboxhelptext8</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, this account will not be available for selection in the &apos;Account Selection&apos; list.</stringValue>
        </value>
    </constants>
    <constants>
        <description>If checked, the Register links for the new user registration form on the pre-login page will not be visible.</description>
        <name>Checkboxhelptext9</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If checked, the Register links for the new user registration form on the pre-login page will not be visible.</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmployeePurchaseMessageConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee Purchase Message</stringValue>
        </value>
    </constants>
    <constants>
        <name>FaultMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Required field is missing.</stringValue>
        </value>
    </constants>
    <constants>
        <name>fieldapi</name>
        <dataType>String</dataType>
        <value>
            <stringValue>hideSections__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>Community_Name__c = &apos;Default Group&apos;</description>
        <name>Get_Community_Name_default</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Default Group</stringValue>
        </value>
    </constants>
    <constants>
        <name>GPO_Group_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO_Group__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>GPO_GRP_Created</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO Group is updated successfully.</stringValue>
        </value>
    </constants>
    <constants>
        <name>GPO_RecordId_Api</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO_Group__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>GPO_Template_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO_Template__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>gpo_Template_obj</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO_Group__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>gpoLebalApi</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO Template</stringValue>
        </value>
    </constants>
    <constants>
        <description>Greeting Message1</description>
        <name>Greeting_Message1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Greeting Message1</stringValue>
        </value>
    </constants>
    <constants>
        <name>Greeting_Message_Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Greeting Message</stringValue>
        </value>
    </constants>
    <constants>
        <name>GreetingMsgTextConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Greeting Message</stringValue>
        </value>
    </constants>
    <constants>
        <description>Select page elements to show/hide on the pre-login page.</description>
        <name>Multiselecthelptext1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select page elements to show/hide on the pre-login page.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Select page elements to show/hide on the post-login page.</description>
        <name>MultiselectPichelptext2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select page elements to show/hide on the post-login page.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Name_Std_Msg1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Message1</stringValue>
        </value>
    </constants>
    <constants>
        <name>ObjCon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO_Group__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>posthideapi</name>
        <dataType>String</dataType>
        <value>
            <stringValue>hideSectionsPost__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>PostHidefieldLeb</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Post-Login Show/Hide Sections</stringValue>
        </value>
    </constants>
    <constants>
        <name>PreLoginShowHideSection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Login Show/Hide Sections</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardMessage1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Message 1</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardMessage2Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Message 2</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardMessage3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Message 3</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardMessage5Hide</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Message 5</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardMessageGallgher</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Message -Gallgher</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Cost_Center_Setup_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cost_Center_Setup__c</picklistField>
        <picklistObject>GPO_Group__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cost_centre_pick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cost_Center_Setup__c</picklistField>
        <picklistObject>GPO_Group__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cost_setup_record_choice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01IE00000005lJD.00N1k000000OTHi</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cost_Center_Setup_Choices</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Desktop_Setup_reccord_choice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01IE00000005lJD.00N1k000000OTHs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Desktop_Setup_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Greeting_Message_Picklist_Default_Val</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPO_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>StandardMessage5Hide</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Default_Choice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GreetingMsgTextConstant</elementReference>
            </value>
        </filters>
        <object>GPO_Group_Detail__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pick2reccho</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cost_Center_Setup_Choices</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>testvar</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PO_Number_setup_record_choice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01IE00000005lJD.00N1k000000OTHd</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Po_Number_Setup_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Post-Login Show/Hide Sections</description>
        <name>PostLoginShowHideSectionsMPC</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>hideSectionsPost__c</picklistField>
        <picklistObject>GPO_Group__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pre-Login Show/Hide Sections</description>
        <name>Pre_Login_Sw_Hide_Sons_MustiselectPicChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>hideSections__c</picklistField>
        <picklistObject>GPO_Group__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Release_setup_record_choice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01IE00000005lJD.00N1k000000OTHn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Release_setup_choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Formula_Cost_Setup</name>
        <dataType>String</dataType>
        <expression>Text({!Get_GPO_Group.Cost_Center_Setup__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Desktop_Setup</name>
        <dataType>String</dataType>
        <expression>Text({!Get_GPO_Group.Desktop_Setup__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Greeting_Message_Default</name>
        <dataType>String</dataType>
        <expression>{!Get_GPO_Group.Selected_Message__r.Name}</expression>
    </formulas>
    <formulas>
        <name>Formula_PO_Number_Setup</name>
        <dataType>String</dataType>
        <expression>Text({!Get_GPO_Group.PO_Number_Setup__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_release_setup</name>
        <dataType>String</dataType>
        <expression>Text({!Get_GPO_Group.Release_Setup__c})</expression>
    </formulas>
    <interviewLabel>Edit GPO Group Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit GPO Group Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Employee_Purchase_Message</name>
        <label>Employee Purchase Message</label>
        <locationX>474</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Purchase_Message_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPO_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeePurchaseMessageConst</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Const</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_GPO_Group</name>
        <label>Get Default GPO Group</label>
        <locationX>298</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Message_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Community_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Community_Name_default</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GPO_Group</name>
        <label>Get GPO Group</label>
        <locationX>188</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_GPO_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Message</name>
        <label>Get Selected Message</label>
        <locationX>941</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_GPO_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Pick</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Message_1</name>
        <label>Standard Message 1</label>
        <locationX>506</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StandardMessage1Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPO_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardMessage1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Const</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Message_2</name>
        <label>Standard Message 2</label>
        <locationX>490</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Message_2_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPO_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardMessage2Const</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Const</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Message_3</name>
        <label>Standard Message 3</label>
        <locationX>484</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Message_3_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPO_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardMessage3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Const</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Message_Gallgher</name>
        <label>Standard Message -Gallgher</label>
        <locationX>473</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Message_Gallgher_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPO_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardMessageGallgher</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Greeting_Message_Const</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPO_Group_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_GPO_Group</name>
        <label>Update GPO Group</label>
        <locationX>1133</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>GPO_Group_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GPO_Group.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Selection_Disabled__c</field>
            <value>
                <elementReference>Account_Selection_Disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Selection__c</field>
            <value>
                <elementReference>Account_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activated__c</field>
            <value>
                <elementReference>ActivatedCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Addresses__c</field>
            <value>
                <elementReference>Additional_Addresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Cost_Centers__c</field>
            <value>
                <elementReference>Additional_Cost_Centers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allow_Ship_To_Address_Selection__c</field>
            <value>
                <elementReference>Allow_Ship_To_Address_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Information_Section__c</field>
            <value>
                <elementReference>Approver_Information_Section</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Name__c</field>
            <value>
                <elementReference>Community_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Center_Setup__c</field>
            <value>
                <elementReference>Cost_Center_Setup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Catalog_Code__c</field>
            <value>
                <elementReference>Custom_Catalog_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desktop_Setup__c</field>
            <value>
                <elementReference>Desktop_Setups</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hide_Register_Link__c</field>
            <value>
                <elementReference>Hide_Register_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hide_SPC_Download_Link_PostLogin__c</field>
            <value>
                <elementReference>Hide_SPC_Download_Link_PostLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hide_SPC_Download_Link_Prelogin__c</field>
            <value>
                <elementReference>Hide_SPC_Download_Link_PostLogin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InheritParentFields__c</field>
            <value>
                <elementReference>Inherit_Parent_Fields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InheritParentGreetingMessage__c</field>
            <value>
                <elementReference>Inherit_Parent_Greeting_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InheritParentLogo__c</field>
            <value>
                <elementReference>Inherit_Parent_Logo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InheritParentPageComponents__c</field>
            <value>
                <elementReference>Inherit_Parent_Page_Components</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InheritParentPageLinks__c</field>
            <value>
                <elementReference>Inherit_Parent_Page_Links</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number_Setup__c</field>
            <value>
                <elementReference>PO_Number_Setup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private__c</field>
            <value>
                <elementReference>Private</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Setup__c</field>
            <value>
                <elementReference>Release_Setup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restrict_Login__c</field>
            <value>
                <elementReference>Restrict_Login</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Message__c</field>
            <value>
                <elementReference>Get_Selected_Message.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>GPO_Group__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_GPO_Groups</name>
        <label>Create New GPO Group</label>
        <locationX>818</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Message</targetReference>
        </connector>
        <fields>
            <name>DisplayName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Edit GPO Group Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Community_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Community_Name__c</elementReference>
            </defaultValue>
            <fieldText>Community Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>Account_APIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Account_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>GPO_Group_API</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_GPO_Group.Account__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Welcome_Title__c</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Private</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Private__c</elementReference>
            </defaultValue>
            <fieldText>Private</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Welcome_Message__c</elementReference>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(22, 50, 92);&quot;&gt;This field only applies to the older &apos;Default Template&apos;.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ActivatedCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Activated__c</elementReference>
            </defaultValue>
            <fieldText>Activated</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!ActivatedHelpText}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Login_Show_Hide_Secti</name>
            <extensionName>c:MultiSelectPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <elementReference>fieldapi</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <elementReference>PreLoginShowHideSection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <elementReference>ObjCon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Get_GPO_Group.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Post_Login_Show_Hide_Secti</name>
            <extensionName>c:MultiSelectPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <elementReference>posthideapi</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <elementReference>PostHidefieldLeb</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <elementReference>ObjCon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Get_GPO_Group.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Allow_Ship_To_Address_Selection</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Allow_Ship_To_Address_Selection__c</elementReference>
            </defaultValue>
            <fieldText>Allow Ship To Address Selection</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Catalog_Code</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Custom_Catalog_Code__c</elementReference>
            </defaultValue>
            <fieldText>Custom Catalog Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PO_Number_Setup</name>
            <choiceReferences>Po_Number_Setup_Choice</choiceReferences>
            <choiceReferences>PO_Number_setup_record_choice</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Po_Number_Setup_Choice</defaultSelectedChoiceReference>
            <fieldText>PO Number Setup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cost_Center_Setup</name>
            <choiceReferences>Cost_Center_Setup_Choices</choiceReferences>
            <choiceReferences>Cost_setup_record_choice</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Cost_Center_Setup_Choices</defaultSelectedChoiceReference>
            <fieldText>Cost Center Setup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desktop_Setups</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Desktop_Setup_Choice</choiceReferences>
            <choiceReferences>Desktop_Setup_reccord_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Desktop_Setup_Choice</defaultSelectedChoiceReference>
            <fieldText>Desktop Setup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Release_Setup</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Release_setup_choice</choiceReferences>
            <choiceReferences>Release_setup_record_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Release_setup_choice</defaultSelectedChoiceReference>
            <fieldText>Release Setup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hide_SPC_Download_Link_Prelogin</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Hide_SPC_Download_Link_Prelogin__c</elementReference>
            </defaultValue>
            <fieldText>Hide SPC Download Link Prelogin</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!CheckboxHelptext1}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hide_SPC_Download_Link_PostLogin</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Hide_SPC_Download_Link_PostLogin__c</elementReference>
            </defaultValue>
            <fieldText>Hide SPC Download Link PostLogin</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext2}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inherit_Parent_Fields</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.InheritParentFields__c</elementReference>
            </defaultValue>
            <fieldText>Inherit Parent Fields</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkbox3}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inherit_Parent_Greeting_Message</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.InheritParentGreetingMessage__c</elementReference>
            </defaultValue>
            <fieldText>Inherit Parent Greeting Message</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext4}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inherit_Parent_Logo</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.InheritParentLogo__c</elementReference>
            </defaultValue>
            <fieldText>Inherit Parent Logo</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext5}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inherit_Parent_Page_Components</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.InheritParentPageComponents__c</elementReference>
            </defaultValue>
            <fieldText>Inherit Parent Page Components</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext6}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inherit_Parent_Page_Links</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.InheritParentPageLinks__c</elementReference>
            </defaultValue>
            <fieldText>Inherit Parent Page Links</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext7}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Selection</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Account_Selection__c</elementReference>
            </defaultValue>
            <fieldText>Account Selection</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Selection_Disabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Account_Selection_Disabled__c</elementReference>
            </defaultValue>
            <fieldText>Account Selection Disabled</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!checkboxhelptext8}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hide_Register_Link</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Hide_Register_Link__c</elementReference>
            </defaultValue>
            <fieldText>Hide Register Link</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext9}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approver_Information_Section</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Approver_Information_Section__c</elementReference>
            </defaultValue>
            <fieldText>Approver Information Section</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext10}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Addresses</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Additional_Addresses__c</elementReference>
            </defaultValue>
            <fieldText>Additional Addresses</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext11}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Cost_Centers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Additional_Cost_Centers__c</elementReference>
            </defaultValue>
            <fieldText>Additional Cost Centers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!Checkboxhelptext12}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Greeting_Message_Pick</name>
            <choiceReferences>Greeting_Message_Default_Choice</choiceReferences>
            <choiceReferences>Greeting_Message_Picklist_Default_Val</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Greeting_Message_Default_Choice</defaultSelectedChoiceReference>
            <fieldText>Greeting Message</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Standard_Message1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Selected Message &lt;/b&gt;{!Screenmessage1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Greeting_Message_Pick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>StandardMessage1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Standard_Message2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Selected Message&lt;/b&gt; {!Screenmessage2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Greeting_Message_Pick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>StandardMessage2Const</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Standard_Message3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Selected Message&lt;/b&gt; {!ScreenMessage3}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Greeting_Message_Pick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>StandardMessage3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Standard_Message4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Selected Message&lt;/b&gt; {!ScreenMessage4}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Greeting_Message_Pick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>StandardMessageGallgher</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Standard_Message5</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Selected Message&lt;/b&gt; {!ScreenMessage5}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Greeting_Message_Pick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EmployeePurchaseMessageConst</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Restrict_Login</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_GPO_Group.Restrict_Login__c</elementReference>
            </defaultValue>
            <fieldText>Restrict Login</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1272</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!FaultMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GPO_Group_Created</name>
        <label>GPO Group Created.</label>
        <locationX>1125</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_To_Gpo_Group_Detail</targetReference>
        </connector>
        <fields>
            <name>GPO</name>
            <fieldText>&lt;p&gt;{!GPO_GRP_Created}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Get_GPO_Group</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreatedRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a4XE0000000TPyLMAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordIdGT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Screenmessage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Screenmessage2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScreenMessage3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Standard Message -Gallgher</description>
        <name>ScreenMessage4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScreenMessage5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_GPO_Group.Cost_Center_Setup__c</elementReference>
        </value>
    </variables>
</Flow>
