flows/Furniture_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Assembly_Choice</name>
        <choiceText>Assembly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assembly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coded_Request_Choice</name>
        <choiceText>Coded Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coded Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Choice</name>
        <choiceText>Customer Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Resolution_Choice</name>
        <choiceText>Customer Resolution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Resolution</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neither_Choice</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoncodeOrderIssue</name>
        <choiceText>Non-Code Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Code Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Rep_Choice</name>
        <choiceText>Sales Rep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Rep</stringValue>
        </value>
    </choices>
    <choices>
        <name>White_Glove_Choice</name>
        <choiceText>White Glove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White Glove</stringValue>
        </value>
    </choices>
    <constants>
        <name>Coded_Form_Upload</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Furniture_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID - SCOE</description>
        <name>RecordTypeIDSCOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </constants>
    <constants>
        <description>Internal</description>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision for Furniture Page 1</description>
        <name>Furniture_Page_1</name>
        <label>Furniture_Page_1</label>
        <locationX>562</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coded_Request_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options_Legal_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Coded_Request_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coded_Request_Screen_1</targetReference>
            </connector>
            <label>Coded Request</label>
        </rules>
        <rules>
            <name>Customer_Resolution_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options_Legal_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Resolution_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Resolution_Screen</targetReference>
            </connector>
            <label>Customer Resolution</label>
        </rules>
        <rules>
            <name>Non_Code_Order_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options_Legal_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoncodeOrderIssue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Code_Order_Issue1</targetReference>
            </connector>
            <label>Non-Code Order Issue</label>
        </rules>
    </decisions>
    <description>02522983 + UAT updates Part 5 + Adds/// updated Userid variable</description>
    <formulas>
        <name>Get_Req_formula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Furniture_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Furniture_Flow_Version 2.6</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Customer_Resolution</name>
        <label>Create_Case_Customer_Resolution</label>
        <locationX>762</locationX>
        <locationY>394</locationY>
        <assignRecordIdToReference>SCOE_RecordTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>Input_File_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Furniture_Customer_Resolution_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeFurnitureFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Options_Legal_Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_CS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Furniture_CR</name>
        <label>Create_Case_Furniture_CR</label>
        <locationX>971</locationX>
        <locationY>376</locationY>
        <assignRecordIdToReference>SCOE_RecordTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>Input_File_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Furniture_Coded_Request_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeFurnitureFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Options_Legal_Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_CR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Furniture_CR_0</name>
        <label>Create_Case_Noncode_Order</label>
        <locationX>1098</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>SCOE_RecordTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>Input_File_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Furniture_Non_Code_Request_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeFurnitureFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>NoncodeOrderIssue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_CR_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>195</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Furniture_Flow_Page_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Coded_Request_Screen_1</name>
        <label>Coded_Request_Screen_1</label>
        <locationX>975</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Furniture_CR</targetReference>
        </connector>
        <fields>
            <name>Coded_Request_Required_Info</name>
            <fieldText>&lt;p&gt;Account Name: {!acctnm}&lt;/p&gt;&lt;p&gt;Account #: {!custid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Type_picklist</name>
            <choiceReferences>Customer_Choice</choiceReferences>
            <choiceReferences>Sales_Rep_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Name_Coded_Request</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone_Coded_Request</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShipTo_Seq_Coded_Request</name>
            <dataType>String</dataType>
            <fieldText>ShipTo/Seq Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Number_CR</name>
            <dataType>String</dataType>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Requested_Picklist</name>
            <choiceReferences>White_Glove_Choice</choiceReferences>
            <choiceReferences>Assembly_Choice</choiceReferences>
            <choiceReferences>Neither_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_CR</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attach_info_text</name>
            <fieldText>&lt;p&gt;&amp;nbsp;If Service Requested is &apos;Assembly&apos; or &apos;White Glove&apos; , please attach form on the next page after pressing &apos;Finish&apos;. &amp;nbsp;&lt;a href=&quot;http://officedepot.seismic.com/Link/Content/DCLNb4rJbm9k6AT6zxQHjQvA&quot; target=&quot;_blank&quot;&gt;(Link to Form)&lt;/a&gt;. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If neither Assembly or White Glove is needed, &lt;b&gt;you are required either to attach a list of items (on the next screen - after pressing &apos;Finish&apos;) or list the&amp;nbsp;items in a text box &apos;Description&apos;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_Furniture_CR</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Furniture_main</name>
        <label>Confirm_Furniture_main</label>
        <locationX>928</locationX>
        <locationY>805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm_Legal</name>
            <fieldText>&lt;p&gt;Thank you! Your case has been submitted. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Resolution_Screen</name>
        <label>Customer_Resolution_Screen</label>
        <locationX>764</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Customer_Resolution</targetReference>
        </connector>
        <fields>
            <name>Customer_information</name>
            <fieldText>&lt;p&gt;Account Name: {!acctnm}&lt;/p&gt;&lt;p&gt;Account #: {!custid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Type_cust</name>
            <choiceReferences>Customer_Choice</choiceReferences>
            <choiceReferences>Sales_Rep_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Name_Customer_Resolution</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone_Number_Customer_Resolution</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ship_To_Seq_Number_Customer_Resolution</name>
            <dataType>String</dataType>
            <fieldText>Ship To / Seq Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Number_Customer_Resolution</name>
            <dataType>String</dataType>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_CS</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Customer_Resolution</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Furniture_Flow_Page_1</name>
        <label>Furniture_Flow_Page_1</label>
        <locationX>388</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Furniture_Page_1</targetReference>
        </connector>
        <fields>
            <name>Selection_Legal</name>
            <fieldText>&lt;p&gt;Please select the option that best fits: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Options_Legal_Flow</name>
            <choiceReferences>Coded_Request_Choice</choiceReferences>
            <choiceReferences>Customer_Resolution_Choice</choiceReferences>
            <choiceReferences>NoncodeOrderIssue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_File_Screen</name>
        <label>Input File Screen</label>
        <locationX>920</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Furniture_main</targetReference>
        </connector>
        <fields>
            <name>Upload_Attach</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please insert attachment below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SCOE_RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Code_Order_Issue1</name>
        <label>Non-Code Order Issue</label>
        <locationX>1103</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Furniture_CR_0</targetReference>
        </connector>
        <fields>
            <name>Coded_Request_Required_Info_0</name>
            <fieldText>&lt;p&gt;Account Name: {!acctnm}&lt;/p&gt;&lt;p&gt;Account #: {!custid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Type_picklist_0</name>
            <choiceReferences>Customer_Choice</choiceReferences>
            <choiceReferences>Sales_Rep_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Name_Coded_Request_0</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone_Coded_Request_0</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShipTo_Seq_Coded_Request_0</name>
            <dataType>String</dataType>
            <fieldText>ShipTo/Seq Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Number_CR_0</name>
            <dataType>String</dataType>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Requested_Picklist_0</name>
            <choiceReferences>White_Glove_Choice</choiceReferences>
            <choiceReferences>Assembly_Choice</choiceReferences>
            <choiceReferences>Neither_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_CR_0</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attach_info_text_0</name>
            <fieldText>&lt;p&gt;&amp;nbsp;If Service Requested is &apos;Assembly&apos; or &apos;White Glove&apos; , please attach form on the next page after pressing &apos;Finish&apos;.&amp;nbsp;&lt;a href=&quot;http://officedepot.seismic.com/Link/Content/DCLNb4rJbm9k6AT6zxQHjQvA&quot; target=&quot;_blank&quot;&gt;(Link to Form)&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If neither Assembly or White Glove is needed, &lt;b&gt;you are required either to attach a list of items (on the next screen - after pressing &apos;Finish&apos;) or list the&amp;nbsp;items in a text box &apos;Description&apos;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_Furniture_CR_0</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Furniture_Coded_Request_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contact Type:  {!Contact_Type_picklist}
Contact Name: {!Contact_Name_Coded_Request}
Contact Phone: {!Contact_Phone_Coded_Request}
Ship To / Seq #: {!ShipTo_Seq_Coded_Request}
Order #: {!Order_Number_CR}
Service Request Type: {!Service_Requested_Picklist}
Description: {!Description_Furniture_CR}</text>
    </textTemplates>
    <textTemplates>
        <name>Furniture_Customer_Resolution_Text_Template_OLD</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contact Type: {!Contact_Type_cust}
Contact Name: {!Contact_Name_Customer_Resolution}
Contact Phone #: {!Contact_Phone_Number_Customer_Resolution}
Ship-to/Seq # :  {!Ship_To_Seq_Number_Customer_Resolution}
Order #: {!Order_Number_Customer_Resolution}
Description: {!Description_Customer_Resolution}</text>
    </textTemplates>
    <textTemplates>
        <name>Furniture_Customer_Resolution_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contact Type: {!Contact_Type_cust}
Contact Name: {!Contact_Name_Customer_Resolution}
Contact Phone: {!Contact_Phone_Number_Customer_Resolution}
Ship-to/Seq: {!Ship_To_Seq_Number_Customer_Resolution}
Order: {!Order_Number_Customer_Resolution}
Description: {!Description_Customer_Resolution}</text>
    </textTemplates>
    <textTemplates>
        <name>Furniture_Non_Code_Request_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contact Type: {!Contact_Type_picklist_0}
Contact Name: {!Contact_Name_Coded_Request_0}
Contact Phone: {!Contact_Phone_Coded_Request_0}
Ship To / Seq #: {!ShipTo_Seq_Coded_Request_0}
Order #: {!Order_Number_CR_0}
Service Request Type: {!Service_Requested_Picklist_0}
Description; {!Description_Furniture_CR_0}</text>
    </textTemplates>
    <textTemplates>
        <name>Noncode_Order_Issue_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contact Type: {!Contact_Type_picklist}
Contact Name: {!Contact_Name_Coded_Request}
Contact Phone: {!Contact_Phone_Coded_Request}
Ship To / Seq #: {!ShipTo_Seq_Coded_Request}
Order #:  {!Order_Number_CR}
Service Request Type: {!Service_Requested_Picklist}
Description: {!Description_Furniture_CR}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>acctnm</elementReference>
        </value>
    </variables>
    <variables>
        <name>Case_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_id_file_upload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Coded_Request_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Name_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Phone_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <name>Customer_Resolution_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>FinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>caseid</elementReference>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Furniture</description>
        <name>IssueTypeFurnitureFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </variables>
    <variables>
        <name>Order_Num_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Dynamic flow</description>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>ShipTo_Seq_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
</Flow>
