flows/General_Maintenance_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Customer_Comment_Maintenance_Choice</name>
        <choiceText>Account/Customer Comment Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account/Customer Comment Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Downloads_Choice</name>
        <choiceText>Account Downloads (for Web downloads use Web Account Maintenance options)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Downloads (for Web downloads use Web Account Maintenance options)</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountCustomerCommentMaintenance</name>
        <choiceText>Account/Customer Comment Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account/Customer Comment Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting_Field_Maintenance_Choice</name>
        <choiceText>Accounting Field Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting Field Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Account_Level_Customer_Comments_Choice</name>
        <choiceText>Add Account Level/Customer Comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Account Level/Customer Comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Multiple_Cost_Center_Choice</name>
        <choiceText>Add/Change/Delete Multiple Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Multiple_Desktop_Choice</name>
        <choiceText>Add/Change/Delete Multiple Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Multiple_PO_Choice</name>
        <choiceText>Add/Change/Delete Multiple PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Multiple_Release_Choice</name>
        <choiceText>Add/Change/Delete Multiple Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Multiple Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Single_Cost_Center_Choice</name>
        <choiceText>Add/Change/Delete Single Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Single Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Single_Desktop_Choice</name>
        <choiceText>Add/Change/Delete Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Single_PO_Choice</name>
        <choiceText>Add/Change/Delete Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Delete_Single_Release_Choice</name>
        <choiceText>Add/Change/Delete Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change/Delete Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_delivery_days_hours_Choice</name>
        <choiceText>Add/Change delivery days/hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change delivery days/hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_desktop_delivery_Choice</name>
        <choiceText>Add/Change desktop delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change desktop delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Multiple_Address_Business_Name_Choice</name>
        <choiceText>Add/Change Multiple Address/Business Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change Multiple Address/Business Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Single_Address_Business_Name_Choice</name>
        <choiceText>Add/Change Single Address/Business Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change Single Address/Business Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Contact</name>
        <choiceText>Add Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Delete_Multiple_Exclusion_Choice</name>
        <choiceText>Add/Delete Multiple Exclusion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Delete Multiple Exclusion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Delete_Multiple_Inclusions_Choice</name>
        <choiceText>Add/Delete Multiple Inclusions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Delete Multiple Inclusions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Delete_Single_Exclusion_Choice</name>
        <choiceText>Add/Delete Single Exclusion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Delete Single Exclusion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Delete_Single_Inclusion_Choice</name>
        <choiceText>Add/Delete Single Inclusion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Delete Single Inclusion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Fact_Sheets_Choice</name>
        <choiceText>Add Fact Sheets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Fact Sheets</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Green_Smart_Cart_option_Choice</name>
        <choiceText>Add Green Smart Cart option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Green Smart Cart option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_MOV_Choice</name>
        <choiceText>Add MOV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add MOV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Multiple_Proprietary_Items_Choice</name>
        <choiceText>Add Multiple Proprietary Items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Multiple Proprietary Items</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_POS_Discount_Choice</name>
        <choiceText>Add POS Discount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add POS Discount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Private_Brand_Smart_Cart_option_Choice</name>
        <choiceText>Add Private Brand Smart Cart option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Private Brand Smart Cart option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_RED_essentials_pop_up_comments_Choice</name>
        <choiceText>Add RED (essentials) pop-up comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add RED (essentials) pop-up comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_regular_pop_up_comments_Choice</name>
        <choiceText>Add regular pop-up comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add regular pop-up comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Address_Business_Name_Choice</name>
        <choiceText>Add Single Address/Business Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Address/Business Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Cost_Center_Choice</name>
        <choiceText>Add Single Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Desktop_Choice</name>
        <choiceText>Add Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_PO_Choice</name>
        <choiceText>Add Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Proprietary_Item_Choice</name>
        <choiceText>Add Single Proprietary Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Proprietary Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Single_Release_Choice</name>
        <choiceText>Add Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Smart_Cart_option_Choice</name>
        <choiceText>Add Smart Cart option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Smart Cart option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Tier_Choice</name>
        <choiceText>Add Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Tier</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_X_Reference_Choice</name>
        <choiceText>Add X-Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add X-Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_X_reference_to_customer_account_Choice</name>
        <choiceText>Add X-reference to a customer&apos;s account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add X-reference to a customer&apos;s account</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddChangeDeliveryDaysHours</name>
        <choiceText>Add/Change Delivery Days/Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change Delivery Days/Hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddChangeDesktopDelivery</name>
        <choiceText>Add/Change Desktop Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Change Desktop Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>AlternateSourcing</name>
        <choiceText>Alternate Sourcing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Sourcing</stringValue>
        </value>
    </choices>
    <choices>
        <name>AttachXreftoAccount</name>
        <choiceText>Attach X-ref# to Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attach X-ref# to Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Best_Value_Sort_Choice</name>
        <choiceText>Best Value Sort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Best Value Sort</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change</name>
        <choiceText>Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Account_Level_Customer_Comments_Choice</name>
        <choiceText>Change Account Level/Customer Comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Account Level/Customer Comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Accounting_Field_Requirements_Choice</name>
        <choiceText>Change Accounting Field Requirements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Accounting Field Requirements</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Contact</name>
        <choiceText>Change Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_furniture_delivery_fee_Choice</name>
        <choiceText>Change furniture delivery fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change furniture delivery fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_MOV_Choice</name>
        <choiceText>Change MOV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change MOV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Multiple_Contacts_Choice</name>
        <choiceText>Change Multiple Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Multiple Contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_POS_Discount_Choice</name>
        <choiceText>Change POS Discount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change POS Discount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_RED_essentials_pop_up_comments_Choice</name>
        <choiceText>Change RED (essentials) pop-up comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change RED (essentials) pop-up comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_regular_pop_up_comments_Choice</name>
        <choiceText>Change regular pop-up comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change regular pop-up comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Address_Business_Name_Choice</name>
        <choiceText>Change Single Address/Business Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Address/Business Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Cost_Center_Choice</name>
        <choiceText>Change Single Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Desktop_Choice</name>
        <choiceText>Change Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_PO_Choice</name>
        <choiceText>Change Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Single_Release_Choice</name>
        <choiceText>Change Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_small_order_handling_fee_deliveryfee_Choice</name>
        <choiceText>Change small order handling fee (delivery fee)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change small order handling fee (delivery fee)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Tier_Choice</name>
        <choiceText>Change Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Tier</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_X_Reference_Choice</name>
        <choiceText>Change X-Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change X-Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeanexistingXref</name>
        <choiceText>Change an existing X-ref</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change an existing X-ref</stringValue>
        </value>
    </choices>
    <choices>
        <name>Changedeliverycodeonly</name>
        <choiceText>Change delivery code only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change delivery code only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Class</name>
        <choiceText>Class</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Class</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact_Maintenance_Choice</name>
        <choiceText>Contact Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactDownload</name>
        <choiceText>Contact Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cost_Center_Maintenance_Choice</name>
        <choiceText>Cost Center Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateanewXref</name>
        <choiceText>Create a new X-ref</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a new X-ref</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Account_Level_Customer_Comments_Choice</name>
        <choiceText>Delete Account Level/Customer Comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Account Level/Customer Comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Contact</name>
        <choiceText>Delete Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Multiple_Contacts_Choice</name>
        <choiceText>Delete Multiple Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Multiple Contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Multiple_Proprietary_Items_Choice</name>
        <choiceText>Delete Multiple Proprietary Items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Multiple Proprietary Items</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_regular_pop_up_comments_Choice</name>
        <choiceText>Delete regular pop-up comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete regular pop-up comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Cost_Center_Choice</name>
        <choiceText>Delete Single Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Desktop_Choice</name>
        <choiceText>Delete Single Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_PO_Choice</name>
        <choiceText>Delete Single PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Proprietary_Item_Choice</name>
        <choiceText>Delete Single Proprietary Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Proprietary Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_Single_Release_Choice</name>
        <choiceText>Delete Single Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Single Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_X_Reference_Choice</name>
        <choiceText>Delete X-Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete X-Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteitemsfromaXref</name>
        <choiceText>Delete items from a X-ref</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete items from a X-ref</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteSKU</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery_Fee_Maintenance_Choice</name>
        <choiceText>Delivery Fee Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery Fee Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>DepartmentCostCenterDownload</name>
        <choiceText>Department/Cost Center Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department/Cost Center Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desktop_Maintenance_Choice</name>
        <choiceText>Desktop Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desktopdownload</name>
        <choiceText>Desktop Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>DetachXreffromAccount</name>
        <choiceText>Detach X-ref# from Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Detach X-ref# from Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>EntireAccount</name>
        <choiceText>Entire Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entire Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>EssentialsPopUpCommentMaintenance</name>
        <choiceText>Essentials (RED) Pop-Up Comment Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essentials (RED) Pop-Up Comment Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExcludeUPSDeliveries</name>
        <choiceText>Exclude UPS Deliveries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclude UPS Deliveries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exclusion</name>
        <choiceText>Exclusion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclusion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fact_Sheet_Maintenance_Choice</name>
        <choiceText>Fact Sheet Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fact Sheet Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>FurnitureDeliveryFee</name>
        <choiceText>Furniture Delivery Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture Delivery Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Maintenance_Choice</name>
        <choiceText>General Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>GreenerOfficeAlternatives</name>
        <choiceText>Greener Office Alternatives</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hidden_Choice</name>
        <choiceText>Hidden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hidden</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inactivate_Single_Address_Business_Name_Choice</name>
        <choiceText>Inactivate Single Address/Business Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactivate Single Address/Business Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inclusion</name>
        <choiceText>Inclusion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inclusion</stringValue>
        </value>
    </choices>
    <choices>
        <name>MOV_Minimum_Order_Value_Maintenance_Choice</name>
        <choiceText>MOV (Minimum Order Value) Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MOV (Minimum Order Value) Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiple</name>
        <choiceText>Multiple</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiple_Contacts</name>
        <choiceText>Multiple Contacts Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple Contacts Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>MultipleUpload</name>
        <choiceText>Multiple Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Multiple Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Account_Setup_Questions_Choice</name>
        <choiceText>New Account Setup Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account Setup Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Required_Choice</name>
        <choiceText>Not Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>OfficeDepotAlternatives</name>
        <choiceText>Private Brand Alternatives</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Brand Alternatives</stringValue>
        </value>
    </choices>
    <choices>
        <name>onetimeorder</name>
        <choiceText>1-Time Order Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Time Order Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Maintenance_Choice</name>
        <choiceText>Other Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permanent</name>
        <choiceText>Permanent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permanent</stringValue>
        </value>
    </choices>
    <choices>
        <name>PO_Maintenance_Choice</name>
        <choiceText>PO Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PO Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>PODownload</name>
        <choiceText>PO Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PO Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pop_Up_Comment_Maintenance_Choice</name>
        <choiceText>Pop-Up Comment Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pop-Up Comment Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>PopUpCommentMaintenance</name>
        <choiceText>Pop-Up Comment Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pop-Up Comment Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Inclusions_Exclusions_Choice</name>
        <choiceText>Product Inclusions/Exclusions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Inclusions/Exclusions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proprietary_Item_Account_Linkage_Choice</name>
        <choiceText>Proprietary Item Account Linkage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proprietary Item Account Linkage</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProprietaryDownload</name>
        <choiceText>Proprietary Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proprietary Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release_Maintenance_Choice</name>
        <choiceText>Release Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReleaseDownload</name>
        <choiceText>Release Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_furniture_delivery_fee_Choice</name>
        <choiceText>Remove furniture delivery fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove furniture delivery fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Green_Smart_Cart_option_Choice</name>
        <choiceText>Remove Green Smart Cart option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Green Smart Cart option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_MOV_Choice</name>
        <choiceText>Remove MOV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove MOV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_POS_Discount_Choice</name>
        <choiceText>Remove POS Discount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove POS Discount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Private_Brand_Smart_Cart_option_Choice</name>
        <choiceText>Remove Private Brand Smart Cart option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Private Brand Smart Cart option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_RED_essentials_pop_up_comments_Choice</name>
        <choiceText>Remove RED (essentials) pop-up comments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove RED (essentials) pop-up comments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_small_order_handling_fee_delivery_fee_Choice</name>
        <choiceText>Remove small order handling fee (delivery fee)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove small order handling fee (delivery fee)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Smart_Cart_option_Choice</name>
        <choiceText>Remove Smart Cart option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Smart Cart option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Tier_Choice</name>
        <choiceText>Remove Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Tier</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_x_reference_from_customer_account_Choice</name>
        <choiceText>Remove x-reference from a customer&apos;s account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove x-reference from a customer&apos;s account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rename_Accounting_Fields_Choice</name>
        <choiceText>Rename Accounting Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rename Accounting Fields</stringValue>
        </value>
    </choices>
    <choices>
        <name>Required_Choice</name>
        <choiceText>Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_Cart_Maintenance_Choice</name>
        <choiceText>Select/Smart Cart Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select/Smart Cart Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Bill_to_Address_Maintenance_Choice</name>
        <choiceText>Ship to/Bill to Address Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to/Bill to Address Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShiptoDownload</name>
        <choiceText>Ship-to Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship-to Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleAddress</name>
        <choiceText>Single Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>SKU</name>
        <choiceText>SKU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SKU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SKURestrictionsInclusionsExclusionsDownload</name>
        <choiceText>SKU Restrictions -Inclusions/Exclusions Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SKU Restrictions -Inclusions/Exclusions Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>SmallOrderHandlingFee</name>
        <choiceText>Small Order Handling Fee (Delivery Fee)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Small Order Handling Fee (Delivery Fee)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SmartValueAlternatives</name>
        <choiceText>Smart Value Alternatives (contract)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Smart Value Alternatives (contract)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Store_Purchasing_Card_Maintenance_Choice</name>
        <choiceText>Store Purchasing Card (SPC) Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Store Purchasing Card (SPC) Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubClass</name>
        <choiceText>SubClass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SubClass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tier_POS_Discount_Maintenance_Choice</name>
        <choiceText>Tier/POS Discount Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier/POS Discount Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transportation_Delivery_Option_Maintenance_Choice</name>
        <choiceText>Transportation/Delivery Option Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation/Delivery Option Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Turn_on_off_alternate_sourcing_Choice</name>
        <choiceText>Turn on/off alternate sourcing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn on/off alternate sourcing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Turn_on_off_vw_wholesaler_Choice</name>
        <choiceText>turn on/off vw/wholesaler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn on/off vw/wholesaler</stringValue>
        </value>
    </choices>
    <choices>
        <name>TurnOff</name>
        <choiceText>Turn Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn Off</stringValue>
        </value>
    </choices>
    <choices>
        <name>TurnOffBestValueSortFeature</name>
        <choiceText>Turn Off Best Value Sort Feature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn Off Best Value Sort Feature</stringValue>
        </value>
    </choices>
    <choices>
        <name>TurnOn</name>
        <choiceText>Turn On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn On</stringValue>
        </value>
    </choices>
    <choices>
        <name>TurnOnBestValueSortFeature</name>
        <choiceText>Turn On Best Value Sort Feature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn On Best Value Sort Feature</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Fact_Sheets_Choice</name>
        <choiceText>Update Fact Sheets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Fact Sheets</stringValue>
        </value>
    </choices>
    <choices>
        <name>UPS_only_deliveries_Exclude_UPS_deliveries_Choice</name>
        <choiceText>UPS only deliveries/Exclude UPS deliveries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPS only deliveries/Exclude UPS deliveries</stringValue>
        </value>
    </choices>
    <choices>
        <name>UPSOnlyDeliveries</name>
        <choiceText>UPS Only Deliveries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPS Only Deliveries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Validated_Choice</name>
        <choiceText>Validated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Validated</stringValue>
        </value>
    </choices>
    <choices>
        <name>VWWholesaler</name>
        <choiceText>VW/Wholesaler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VW/Wholesaler</stringValue>
        </value>
    </choices>
    <choices>
        <name>X_Reference_Force_Subs_Choice</name>
        <choiceText>X-Reference/Force Subs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>X-Reference/Force Subs</stringValue>
        </value>
    </choices>
    <choices>
        <name>XRefForceSubsDownload</name>
        <choiceText>X-Ref/Force Subs Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>X-Ref/Force Subs Download</stringValue>
        </value>
    </choices>
    <constants>
        <name>Text_Field_Minimum_Characters_Constant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>contact_decision</name>
        <label>contact decision</label>
        <locationX>1612</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>add1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Contact_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact1</targetReference>
            </connector>
            <label>add</label>
        </rules>
        <rules>
            <name>change1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Contact_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Contact1</targetReference>
            </connector>
            <label>change</label>
        </rules>
        <rules>
            <name>delete1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Contact_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_contact_screen</targetReference>
            </connector>
            <label>delete</label>
        </rules>
        <rules>
            <name>upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Contact_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Multiple_Contacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Screen</targetReference>
            </connector>
            <label>upload</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>1374</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Comments1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Popup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountCustomerCommentMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountComments_Screen</targetReference>
            </connector>
            <label>Account Comments</label>
        </rules>
        <rules>
            <name>Essentials_PopUp_Comment_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Popup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EssentialsPopUpCommentMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Essential_Screen</targetReference>
            </connector>
            <label>Essentials PopUp Comment Maintenance</label>
        </rules>
        <rules>
            <name>PopUp_Comment_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Popup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PopUpCommentMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popup</targetReference>
            </connector>
            <label>PopUp Comment Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Fee_Maintenance_Decision</name>
        <label>Delivery Fee Maintenance Decision</label>
        <locationX>1231</locationX>
        <locationY>1207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_small_order_handling_fee_delivery_fee_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Fee_Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SmallOrderHandlingFee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_small_order_handling_fee_delivery_fee_Screen</targetReference>
            </connector>
            <label>Add small order handling fee (delivery fee) Redirect</label>
        </rules>
        <rules>
            <name>Change_small_order_handling_fee_delivery_fee_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Fee_Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_small_order_handling_fee_deliveryfee_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_small_order_handling_fee_delivery_fee_Screen</targetReference>
            </connector>
            <label>Change small order handling fee (delivery fee) Redirect</label>
        </rules>
        <rules>
            <name>Remove_small_order_handling_fee_delivery_fee_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Fee_Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_small_order_handling_fee_delivery_fee_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_small_order_handling_fee_delivery_fee_Screen</targetReference>
            </connector>
            <label>Remove small order handling fee (delivery fee) Redirect</label>
        </rules>
        <rules>
            <name>Add_furniture_delivery_fee_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Fee_Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FurnitureDeliveryFee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_furniture_delivery_fee_Screen</targetReference>
            </connector>
            <label>Add furniture delivery fee Redirect</label>
        </rules>
        <rules>
            <name>Change_furniture_delivery_fee_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Fee_Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_furniture_delivery_fee_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_furniture_delivery_fee_Screen</targetReference>
            </connector>
            <label>Change furniture delivery fee Redirect</label>
        </rules>
        <rules>
            <name>Remove_furniture_delivery_fee_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Fee_Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_furniture_delivery_fee_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_furniture_delivery_fee_Screen</targetReference>
            </connector>
            <label>Remove furniture delivery fee Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>General_Maintenance_Decision</name>
        <label>General Maintenance Decision</label>
        <locationX>1234</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Inclusions_Exclusions_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Inclusions_Exclusions_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Inclusions_Exclusions_Screen</targetReference>
            </connector>
            <label>Product Inclusions/Exclusions Redirect</label>
        </rules>
        <rules>
            <name>X_Reference_Force_Subs_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X_Reference_Force_Subs_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X_Reference_Force_Subs_Screen</targetReference>
            </connector>
            <label>X-Reference/Force Subs Redirect</label>
        </rules>
        <rules>
            <name>Proprietary_Item_Account_Linkage_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Proprietary_Item_Account_Linkage_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proprietary_Item_Account_Linkage_Screen</targetReference>
            </connector>
            <label>Proprietary Item Account Linkage Redirect</label>
        </rules>
        <rules>
            <name>Contact_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Maintenance_Screen</targetReference>
            </connector>
            <label>Contact Maintenance Redirect</label>
        </rules>
        <rules>
            <name>Account_Customer_Comment_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Customer_Comment_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pop_Up_Comment_Maintenance_Screen</targetReference>
            </connector>
            <label>Account/Customer Comment Maintenance Redirect</label>
        </rules>
        <rules>
            <name>other_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>other</targetReference>
            </connector>
            <label>other Maintenance Redirect</label>
        </rules>
        <rules>
            <name>Fact_Sheet_Maintenance_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fact_Sheet_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fact_Sheet_Maintenance_Screen</targetReference>
            </connector>
            <label>Fact Sheet Maintenance Redirect</label>
        </rules>
        <rules>
            <name>MOV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MOV_Minimum_Order_Value_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MOV_Minimum_Order_Value_Maintenance_Screen</targetReference>
            </connector>
            <label>MOV</label>
        </rules>
        <rules>
            <name>Tier_POS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tier_POS_Discount_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_POS_Discount_Maintenance_Screen</targetReference>
            </connector>
            <label>Tier POS</label>
        </rules>
        <rules>
            <name>best_value_sort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Best_Value_Sort_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bestvalue</targetReference>
            </connector>
            <label>best value sort</label>
        </rules>
        <rules>
            <name>deliveryfee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delivery_Fee_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delivery_maint</targetReference>
            </connector>
            <label>deliveryfee</label>
        </rules>
        <rules>
            <name>account_downloadsscreed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Downloads_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>account_downloads</targetReference>
            </connector>
            <label>account downloads</label>
        </rules>
        <rules>
            <name>select_cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_Cart_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>select_cart_maint</targetReference>
            </connector>
            <label>select cart</label>
        </rules>
        <rules>
            <name>transportation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_General_Maintenance_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transportation_Delivery_Option_Maintenance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>transportation1</targetReference>
            </connector>
            <label>transportation</label>
        </rules>
    </decisions>
    <decisions>
        <name>trans_decision</name>
        <label>trans decision</label>
        <locationX>288</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alternate_sourcing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AlternateSourcing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alte_Sourcing</targetReference>
            </connector>
            <label>Alternate sourcing</label>
        </rules>
        <rules>
            <name>VW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VWWholesaler</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VW_Sourcing_0</targetReference>
            </connector>
            <label>VW</label>
        </rules>
        <rules>
            <name>desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddChangeDesktopDelivery</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>desktop_delivery</targetReference>
            </connector>
            <label>desktop</label>
        </rules>
        <rules>
            <name>deliveryhours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddChangeDeliveryDaysHours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delivery_days</targetReference>
            </connector>
            <label>deliveryhours</label>
        </rules>
        <rules>
            <name>UPS_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UPSOnlyDeliveries</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>textt</targetReference>
            </connector>
            <label>UPS only</label>
        </rules>
        <rules>
            <name>exclude_ups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExcludeUPSDeliveries</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>textt</targetReference>
            </connector>
            <label>exclude ups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transportation_Delivery_option_maintenance_Decision</name>
        <label>Transportation/Delivery option maintenance Decision</label>
        <locationX>584</locationX>
        <locationY>1457</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Turn_on_off_alternate_sourcing_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_Delivery_option_maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Turn_on_off_alternate_sourcing_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turn_on_off_alternate_sourcing_Screen</targetReference>
            </connector>
            <label>Turn on/off alternate sourcing Redirect</label>
        </rules>
        <rules>
            <name>Turn_on_off_vw_wholesaler_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_Delivery_option_maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Turn_on_off_vw_wholesaler_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turn_on_off_vw_wholesaler_Screen</targetReference>
            </connector>
            <label>Turn on/off vw/wholesaler Redirect</label>
        </rules>
        <rules>
            <name>Add_Change_desktop_delivery_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_Delivery_option_maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Change_desktop_delivery_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Change_desktop_delivery_Screen</targetReference>
            </connector>
            <label>Add/Change desktop delivery Redirect</label>
        </rules>
        <rules>
            <name>Add_Change_delivery_days_hours_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_Delivery_option_maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Change_delivery_days_hours_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Change_delivery_days_hours_Screen</targetReference>
            </connector>
            <label>Add/Change delivery days/hours Redirect</label>
        </rules>
        <rules>
            <name>UPS_only_deliveries_Exclude_UPS_deliveries_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transportation_Delivery_option_maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UPS_only_deliveries_Exclude_UPS_deliveries_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPS_only_deliveries_Exclude_UPS_deliveries_Screen</targetReference>
            </connector>
            <label>UPS only deliveries/Exclude UPS deliveries Redirect</label>
        </rules>
    </decisions>
    <description>02616457 - remove fact sheet link
02577110 - change data type to multi select checkbox, add desktop download &amp; add a comments box
02613268  - removed character limit validation rules
02933862 - Remove Attachment Screen</description>
    <interviewLabel>General Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General Maintenance V1.11</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Accountcomments_create_case_0_0</name>
        <label>Account comments create case</label>
        <locationX>1481</locationX>
        <locationY>507</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Accountcommenttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Account/Customer/Pop-Up Comment Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectAccountcomments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>accountdownload_create_case_0_0_0</name>
        <label>accountdownloadcreate case</label>
        <locationX>2250</locationX>
        <locationY>339</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Accountdownload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Account Downloads</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Account Downloads (for Web downloads use Web Account Maintenance options)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>addcontact_create_case_0_0</name>
        <label>add contact create case</label>
        <locationX>1587</locationX>
        <locationY>579</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>addcontacttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Contact Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>contactsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>altcreatecase0_0_0_0_0_0</name>
        <label>altcreate case</label>
        <locationX>424</locationX>
        <locationY>465</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Please_select_the_type_of_Alternate_Sourcing_Maintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Transportation/Delivery option maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>altsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>bestvalue_create_case_0_0_0</name>
        <label>bestvaluecreate case</label>
        <locationX>1084</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Please_select_the_type_of_Best_Value_Sort_Maintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Best Value Sort</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Please_select_the_type_of_Best_Value_Sort_Maintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>changecontact_create_case_0_0_0</name>
        <label>changecontact create case</label>
        <locationX>1676</locationX>
        <locationY>599</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>changecontacttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Contact Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>contactsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>deldays0_0_0_0_0</name>
        <label>deliverydays</label>
        <locationX>110</locationX>
        <locationY>469</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>deldaystemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Transportation/Delivery option maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>deldayssubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>deletecontact_create_case_0_0_0_0</name>
        <label>deletecontact create case</label>
        <locationX>1769</locationX>
        <locationY>664</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Contact_Name_delete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Contact Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>contactsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>deletecontact_create_case_0_0_0_0_0</name>
        <label>deletecontact create case</label>
        <locationX>1882</locationX>
        <locationY>603</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Contact Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>contactsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>delivery_create_case_0_0</name>
        <label>deliverycreate case</label>
        <locationX>2006</locationX>
        <locationY>516</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>devtemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Delivery Fee Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>deliverysubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>desktop0_0_0</name>
        <label>desktop</label>
        <locationX>187</locationX>
        <locationY>584</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>desktoptemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Transportation/Delivery option maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>essentialcomments_create_case</name>
        <label>essential comments create case</label>
        <locationX>1388</locationX>
        <locationY>585</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>essentialtemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Account/Customer/Pop-Up Comment Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>essentialsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>fact_sheet_create_case</name>
        <label>fact sheet create case</label>
        <locationX>1199</locationX>
        <locationY>571</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>factsheettemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Fact Sheet Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectfactsheet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>MOV_create_case_0</name>
        <label>MOV create case</label>
        <locationX>964</locationX>
        <locationY>576</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>MOVtemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>MOV (Minimum Order Value) Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MOVsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>other_create_case_0_0</name>
        <label>othercreate case</label>
        <locationX>2024</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Please_describe_other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Other Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Other_Maintenance_Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>pcreate_case_0_0_0_0</name>
        <label>Proprietary create case</label>
        <locationX>757</locationX>
        <locationY>582</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Proprietarytemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Proprietary Item Account Linkage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>proprietarysubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>popcomments_create_case</name>
        <label>pop comments create case</label>
        <locationX>1310</locationX>
        <locationY>587</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>templatepopup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Account/Customer/Pop-Up Comment Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>popsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>selectcart_create_case_0_0_0_0</name>
        <label>selectcartcreate case</label>
        <locationX>527</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>selectcarttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Select/Smart Cart Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Select/Smart Cart Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Tier_create_case_0_0</name>
        <label>Tier create case</label>
        <locationX>870</locationX>
        <locationY>596</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>tiertemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Tier/POS Discount Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tiersubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Tier_create_case_0_0_0</name>
        <label>Tier create case</label>
        <locationX>648</locationX>
        <locationY>573</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Producttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Product Inclusions/Exclusions (SKU Restrictions)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Productsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>UPSeate_case_0_0_0_0_0</name>
        <label>UPSeate case</label>
        <locationX>390</locationX>
        <locationY>768</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>upstemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Transportation/Delivery option maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>upssubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>vwcase_0_0_0_0_0_0</name>
        <label>vw case</label>
        <locationX>286</locationX>
        <locationY>625</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Please_select_the_type_of_VW_Wholesaler_Maintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Transportation/Delivery option maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VWsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>xref_create_case_0</name>
        <label>xref create case</label>
        <locationX>1933</locationX>
        <locationY>342</locationY>
        <assignRecordIdToReference>recid</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Attachment_s</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>xreferncetemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Account Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>X-Reference/Force Subs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>xrefsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>account_downloads</name>
        <label>account downloads</label>
        <locationX>2251</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>accountdownload_create_case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>uy</name>
            <fieldText>&lt;p&gt;&lt;b&gt;NOTE:&lt;/b&gt; For Web downloads use Web Account Maintenance options&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>N_Please_select_the_type_of_Account_Downloads</name>
            <choiceReferences>ContactDownload</choiceReferences>
            <choiceReferences>Desktopdownload</choiceReferences>
            <choiceReferences>DepartmentCostCenterDownload</choiceReferences>
            <choiceReferences>PODownload</choiceReferences>
            <choiceReferences>ProprietaryDownload</choiceReferences>
            <choiceReferences>ReleaseDownload</choiceReferences>
            <choiceReferences>ShiptoDownload</choiceReferences>
            <choiceReferences>SKURestrictionsInclusionsExclusionsDownload</choiceReferences>
            <choiceReferences>XRefForceSubsDownload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Account Downloads:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments1</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountComments_Screen</name>
        <label>AccountComments Screen</label>
        <locationX>1436</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accountcomments_create_case_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_request1</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Comments</name>
            <fieldText>Account Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displatext1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 205);&quot;&gt;Note: These will not be visible to the customer. For Customer Service visibility only, select Popup Comments or Essentials&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Change_delivery_days_hours_Screen</name>
        <label>Add/Change delivery days/hours Screen</label>
        <locationX>536</locationX>
        <locationY>1697</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Change_delivery_days_hours_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Change_desktop_delivery_Screen</name>
        <label>Add/Change desktop delivery Screen</label>
        <locationX>489</locationX>
        <locationY>1584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Change_desktop_delivery_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Contact1</name>
        <label>Add Contact</label>
        <locationX>1581</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addcontact_create_case_0_0</targetReference>
        </connector>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Fax</name>
            <dataType>String</dataType>
            <fieldText>Contact Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_furniture_delivery_fee_Screen</name>
        <label>Add furniture delivery fee Screen</label>
        <locationX>1448</locationX>
        <locationY>1434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_furniture_delivery_fee_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Green_Smart_Cart_option_Screen</name>
        <label>Add Green Smart Cart option Screen</label>
        <locationX>1555</locationX>
        <locationY>2037</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Green_Smart_Cart_option_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Private_Brand_Smart_Cart_option_Screen</name>
        <label>Add Private Brand Smart Cart option Screen</label>
        <locationX>1345</locationX>
        <locationY>2057</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Private_Brand_Smart_Cart_option_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_small_order_handling_fee_delivery_fee_Screen</name>
        <label>Add small order handling fee (delivery fee) Screen</label>
        <locationX>1418</locationX>
        <locationY>1307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_small_order_handling_fee_delivery_fee_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Smart_Cart_option_Screen</name>
        <label>Add Smart Cart option Screen</label>
        <locationX>1360</locationX>
        <locationY>1962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Smart_Cart_option_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Alte_Sourcing</name>
        <label>Alte Sourcing</label>
        <locationX>424</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>altcreatecase0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Alternate_Sourcing_Maintenance</name>
            <choiceReferences>TurnOff</choiceReferences>
            <choiceReferences>TurnOn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Alternate Sourcing Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>bestvalue</name>
        <label>bestvalue</label>
        <locationX>1073</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>bestvalue_create_case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Best_Value_Sort_Maintenance</name>
            <choiceReferences>TurnOffBestValueSortFeature</choiceReferences>
            <choiceReferences>TurnOnBestValueSortFeature</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Best Value Sort Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Contact1</name>
        <label>Change contact</label>
        <locationX>1638</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>changecontact_create_case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Old_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Old Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>New Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Contact_Phone</name>
            <dataType>String</dataType>
            <fieldText>New Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Contact_Fax</name>
            <dataType>String</dataType>
            <fieldText>New Contact Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>New Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_furniture_delivery_fee_Screen</name>
        <label>Change furniture delivery fee Screen</label>
        <locationX>1363</locationX>
        <locationY>1442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Change_furniture_delivery_fee_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_small_order_handling_fee_delivery_fee_Screen</name>
        <label>Change small order handling fee (delivery fee) Screen</label>
        <locationX>1341</locationX>
        <locationY>1314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Change_small_order_handling_fee_delivery_fee_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Maintenance_Screen</name>
        <label>Contact Maintenance Screen</label>
        <locationX>1391</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>contact_decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Contact_Maintenance</name>
            <choiceReferences>Add_Contact</choiceReferences>
            <choiceReferences>Change_Contact</choiceReferences>
            <choiceReferences>Delete_Contact</choiceReferences>
            <choiceReferences>Multiple_Contacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Contact Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_contact_screen</name>
        <label>Delete contact screen</label>
        <locationX>1717</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deletecontact_create_case_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Contact_Name_delete</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>delivery_days</name>
        <label>delivery days</label>
        <locationX>88</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>deldays0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Address_Sequence1</name>
            <dataType>String</dataType>
            <fieldText>Address Sequence #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Days</name>
            <dataType>String</dataType>
            <fieldText>Days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hours</name>
            <dataType>String</dataType>
            <fieldText>Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delivery_Fee_Maintenance_Screen</name>
        <label>Delivery Fee Maintenance Screen</label>
        <locationX>1398</locationX>
        <locationY>1167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Fee_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Delivery_Fee_Maintenance_Type_Picklist</name>
            <choiceReferences>SmallOrderHandlingFee</choiceReferences>
            <choiceReferences>Change_small_order_handling_fee_deliveryfee_Choice</choiceReferences>
            <choiceReferences>Remove_small_order_handling_fee_delivery_fee_Choice</choiceReferences>
            <choiceReferences>FurnitureDeliveryFee</choiceReferences>
            <choiceReferences>Change_furniture_delivery_fee_Choice</choiceReferences>
            <choiceReferences>Remove_furniture_delivery_fee_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>delivery_maint</name>
        <label>delivery maint</label>
        <locationX>1785</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>delivery_create_case_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Delivery_Fee_Maintenance</name>
            <choiceReferences>SmallOrderHandlingFee</choiceReferences>
            <choiceReferences>FurnitureDeliveryFee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Delivery Fee Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Commanddelivery</name>
            <choiceReferences>Changedeliverycodeonly</choiceReferences>
            <choiceReferences>TurnOff</choiceReferences>
            <choiceReferences>TurnOn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Maintenance Option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delivery_Code_Provided_if_applicable</name>
            <dataType>String</dataType>
            <fieldText>Delivery Code Provided (if applicable)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>khj</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 255); font-family: Arial; font-size: 13.3333px; background-color: rgb(255, 255, 255);&quot;&gt;Note: RSD approval is required to turn off any delivery fees.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>desktop_delivery</name>
        <label>desktop delivery</label>
        <locationX>186</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>desktop0_0_0</targetReference>
        </connector>
        <fields>
            <name>Address_Sequence</name>
            <dataType>String</dataType>
            <fieldText>Address Sequence #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-family: inherit;&quot;&gt;****&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial; font-size: 13.3333px;&quot;&gt;If updating multiple accounts, please upload excel attachment with all accounts on the next screen.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Essential_Screen</name>
        <label>Essential Screen</label>
        <locationX>1363</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>essentialcomments_create_case</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_request</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Essentials_RED_Pop_Up_Comments</name>
            <fieldText>Essentials (RED) Pop-Up Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>essdisplay</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 255); font-family: arial, sans, sans-serif; font-size: 13px;&quot;&gt;Note: If the Essentials comment is linked to more than one account or if the comment is for special programs, approval must be sent from the owner of the program before it can be altered.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 255); font-family: arial, sans, sans-serif; font-size: 13px;&quot;&gt;If the customer is no longer part of the program, we are able to remove the customer from that comment and create a new comment for that customer.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 255); font-family: arial, sans, sans-serif; font-size: 13px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;****&lt;/b&gt;&lt;b style=&quot;color: inherit; font-size: 12px;&quot;&gt;To updated multiple accounts, please attach an excel spreadsheet listing other account numbers &lt;/b&gt;&lt;b&gt;(350 char limit per comment)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 205);&quot;&gt;Note: These will be visible to Customer Service, but not the customer&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fact_Sheet_Maintenance_Screen</name>
        <label>Fact Sheet Maintenance Screen</label>
        <locationX>1194</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>fact_sheet_create_case</targetReference>
        </connector>
        <fields>
            <name>Linkdisplay</name>
            <fieldText>&lt;p&gt;{!FactSheetLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select_the_type_of_Fact_Sheet_Maintenance</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Fact Sheet Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>yf</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>General_Maintenance_Screen</name>
        <label>General Maintenance Screen</label>
        <locationX>610</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>General_Maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_a_General_Maintenance_option</name>
            <choiceReferences>Account_Downloads_Choice</choiceReferences>
            <choiceReferences>Account_Customer_Comment_Maintenance_Choice</choiceReferences>
            <choiceReferences>Best_Value_Sort_Choice</choiceReferences>
            <choiceReferences>Contact_Maintenance_Choice</choiceReferences>
            <choiceReferences>Delivery_Fee_Maintenance_Choice</choiceReferences>
            <choiceReferences>Fact_Sheet_Maintenance_Choice</choiceReferences>
            <choiceReferences>MOV_Minimum_Order_Value_Maintenance_Choice</choiceReferences>
            <choiceReferences>Other_Maintenance_Choice</choiceReferences>
            <choiceReferences>Product_Inclusions_Exclusions_Choice</choiceReferences>
            <choiceReferences>Proprietary_Item_Account_Linkage_Choice</choiceReferences>
            <choiceReferences>Select_Cart_Maintenance_Choice</choiceReferences>
            <choiceReferences>Tier_POS_Discount_Maintenance_Choice</choiceReferences>
            <choiceReferences>Transportation_Delivery_Option_Maintenance_Choice</choiceReferences>
            <choiceReferences>X_Reference_Force_Subs_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a General Maintenance option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MOV_Minimum_Order_Value_Maintenance_Screen</name>
        <label>MOV (Minimum Order Value) Maintenance Screen</label>
        <locationX>935</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MOV_create_case_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_MOV_Maintenance</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of MOV Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Minimum_Amount_per_Order</name>
            <dataType>Currency</dataType>
            <fieldText>Minimum Amount per Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>textcus</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 255);&quot;&gt;*** Customer will receive a message upon check out if they do not meet the MOV requirement&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt</name>
            <fieldText>&lt;table class=&quot;ql-table-blob&quot; style=&quot;font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 13.3333px; line-height: inherit; font-family: Arial; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-bottom: 1em;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;vertical-align: top; font-size: 10pt;&quot;&gt;&lt;span style=&quot;margin: 0px 0px 1em; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: inherit;&quot;&gt;&lt;span style=&quot;margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; color: inherit;&quot;&gt;&lt;span style=&quot;margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(255, 0, 0);&quot;&gt;****&lt;/span&gt;If updating multiple accounts, please upload excel attachment with all accounts on the next screen.&lt;br&gt;&lt;br&gt;&lt;/span&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Screen</name>
        <label>Multiple Screen</label>
        <locationX>1850</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deletecontact_create_case_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>contactlink1</name>
            <fieldText>&lt;p&gt;{!contactlink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>other</name>
        <label>other</label>
        <locationX>2033</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>other_create_case_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_describe_other</name>
            <fieldText>Please describe &apos;Other&apos;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pop_Up_Comment_Maintenance_Screen</name>
        <label>Pop-Up Comment Maintenance Screen</label>
        <locationX>1260</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Popup</name>
            <choiceReferences>AccountCustomerCommentMaintenance</choiceReferences>
            <choiceReferences>EssentialsPopUpCommentMaintenance</choiceReferences>
            <choiceReferences>PopUpCommentMaintenance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Pop-up Comments Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Popup</name>
        <label>Popup</label>
        <locationX>1279</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>popcomments_create_case</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_request3</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pop_Up_Comments</name>
            <fieldText>Pop-Up Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>popdistext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;****&lt;/b&gt;&lt;b style=&quot;color: inherit; font-size: 12px;&quot;&gt;To updated multiple accounts, please attach an excel spreadsheet listing other account numbers &lt;/b&gt;&lt;b&gt;(350 char limit per comment)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 205);&quot;&gt;Note: These will be visible to Customer Service, but not the customer&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Inclusions_Exclusions_Screen</name>
        <label>Product Inclusions/Exclusions Screen</label>
        <locationX>652</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tier_create_case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Product_Inclusions_Exclusions_SKU_Restrictions</name>
            <choiceReferences>Inclusion</choiceReferences>
            <choiceReferences>Exclusion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Product Inclusions/Exclusions (SKU Restrictions):</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_select_a_command</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>DeleteSKU</choiceReferences>
            <choiceReferences>MultipleUpload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a command:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_select_level_of_restriction</name>
            <choiceReferences>Class</choiceReferences>
            <choiceReferences>Department</choiceReferences>
            <choiceReferences>SKU</choiceReferences>
            <choiceReferences>SubClass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select level of restriction:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SKUtext</name>
            <dataType>String</dataType>
            <fieldText>Sku, Class, Dept or Sub-class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>uploadtext</name>
            <fieldText>&lt;p&gt;{!Muploadlink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>jf</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proprietary_Item_Account_Linkage_Screen</name>
        <label>Proprietary Item Account Linkage Screen</label>
        <locationX>741</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>pcreate_case_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>fd</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Existing ONLY!&lt;/b&gt; For new request, use WRF process. To attach existing Proprietary skus to a customer, complete the Inventory Upload form and list EACH sku to be added.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select_the_type_of_Proprietary_Item_Maintenance</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <choiceReferences>Multiple</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Proprietary Item Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Proprietary_Sku</name>
            <dataType>String</dataType>
            <fieldText>Proprietary SKU</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>linkp</name>
            <fieldText>&lt;p&gt;{!Proprietarylink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ICForm}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>jkh</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Remove_furniture_delivery_fee_Screen</name>
        <label>Remove furniture delivery fee Screen</label>
        <locationX>1271</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Remove_furniture_delivery_fee_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Green_Smart_Cart_option_Screen</name>
        <label>Remove Green Smart Cart option Screen</label>
        <locationX>1430</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Remove_Green_Smart_Cart_option_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Private_Brand_Smart_Cart_option_Screen</name>
        <label>Remove Private Brand Smart Cart option Screen</label>
        <locationX>1243</locationX>
        <locationY>2057</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Remove_Private_Brand_Smart_Cart_option_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_small_order_handling_fee_delivery_fee_Screen</name>
        <label>Remove small order handling fee (delivery fee) Screen</label>
        <locationX>1271</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Remove_small_order_handling_fee_delivery_fee_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Smart_Cart_option_Screen</name>
        <label>Remove Smart Cart option Screen</label>
        <locationX>1258</locationX>
        <locationY>1984</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Remove_Smart_Cart_option_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_cart_maint</name>
        <label>select cart maint</label>
        <locationX>531</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectcart_create_case_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Select_Cart_Options</name>
            <choiceReferences>GreenerOfficeAlternatives</choiceReferences>
            <choiceReferences>OfficeDepotAlternatives</choiceReferences>
            <choiceReferences>SmartValueAlternatives</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select/Smart Cart Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Maintenance</name>
            <choiceReferences>TurnOff</choiceReferences>
            <choiceReferences>TurnOn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Smart_Cart_Maintenance_Screen</name>
        <label>Smart Cart Maintenance Screen</label>
        <locationX>1526</locationX>
        <locationY>1894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Smart_Cart_Maintenance_Type_Picklist</name>
            <choiceReferences>Add_Green_Smart_Cart_option_Choice</choiceReferences>
            <choiceReferences>Remove_Green_Smart_Cart_option_Choice</choiceReferences>
            <choiceReferences>Add_Private_Brand_Smart_Cart_option_Choice</choiceReferences>
            <choiceReferences>Remove_Private_Brand_Smart_Cart_option_Choice</choiceReferences>
            <choiceReferences>Add_Smart_Cart_option_Choice</choiceReferences>
            <choiceReferences>Remove_Smart_Cart_option_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>textt</name>
        <label>UPSoptions</label>
        <locationX>377</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPSeate_case_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Type_of_Change</name>
            <choiceReferences>EntireAccount</choiceReferences>
            <choiceReferences>SingleAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Change:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tetet</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;NOTE: If you select &apos;Single Address&apos;, please enter the Address Sequence # below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_Sequencenumber</name>
            <dataType>String</dataType>
            <fieldText>Address Sequence#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>atttxt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tier_POS_Discount_Maintenance_Screen</name>
        <label>Tier/POS Discount Maintenance Screen</label>
        <locationX>861</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tier_create_case_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Tier_POS_Discount_Maintenance</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Tier/POS Discount Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To</name>
            <dataType>Currency</dataType>
            <fieldText>To $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>From</name>
            <dataType>Currency</dataType>
            <fieldText>From $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>String</dataType>
            <fieldText>Discount %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>transportation1</name>
        <label>transportation</label>
        <locationX>325</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>trans_decision</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Transportation_Delivery_Option_Maintenance</name>
            <choiceReferences>AddChangeDeliveryDaysHours</choiceReferences>
            <choiceReferences>AddChangeDesktopDelivery</choiceReferences>
            <choiceReferences>AlternateSourcing</choiceReferences>
            <choiceReferences>ExcludeUPSDeliveries</choiceReferences>
            <choiceReferences>UPSOnlyDeliveries</choiceReferences>
            <choiceReferences>VWWholesaler</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Transportation/Delivery Option Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transportation_Delivery_option_maintenance_Screen</name>
        <label>Transportation/Delivery option maintenance Screen</label>
        <locationX>589</locationX>
        <locationY>1317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transportation_Delivery_option_maintenance_Decision</targetReference>
        </connector>
        <fields>
            <name>Transportation_Delivery_option_maintenance_Type_Picklist</name>
            <choiceReferences>Turn_on_off_alternate_sourcing_Choice</choiceReferences>
            <choiceReferences>Turn_on_off_vw_wholesaler_Choice</choiceReferences>
            <choiceReferences>Add_Change_desktop_delivery_Choice</choiceReferences>
            <choiceReferences>Add_Change_delivery_days_hours_Choice</choiceReferences>
            <choiceReferences>UPS_only_deliveries_Exclude_UPS_deliveries_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Turn_on_off_alternate_sourcing_Screen</name>
        <label>Turn on/off alternate sourcing Screen</label>
        <locationX>731</locationX>
        <locationY>1619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Turn_on_off_alternate_sourcing_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Turn_on_off_vw_wholesaler_Screen</name>
        <label>Turn on/off vw/wholesaler Screen</label>
        <locationX>591</locationX>
        <locationY>1639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Turn_on_off_vw_wholesaler_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment_s</name>
        <label>Upload Attachment(s)</label>
        <locationX>1044</locationX>
        <locationY>901</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>loads</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UPS_only_deliveries_Exclude_UPS_deliveries_Screen</name>
        <label>UPS only deliveries/Exclude UPS deliveries Screen</label>
        <locationX>369</locationX>
        <locationY>1642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UPS_only_deliveries_Exclude_UPS_deliveries_Other</name>
            <fieldText>Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VW_Sourcing_0</name>
        <label>Vw Sourcing</label>
        <locationX>277</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>vwcase_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_VW_Wholesaler_Maintenance</name>
            <choiceReferences>TurnOff</choiceReferences>
            <choiceReferences>TurnOn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of VW/Wholesaler Maintenance:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X_Reference_Force_Subs_Screen</name>
        <label>X-Reference/Force Subs Screen</label>
        <locationX>1932</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>xref_create_case_0</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_type_of_Cross_Reference</name>
            <choiceReferences>AttachXreftoAccount</choiceReferences>
            <choiceReferences>ChangeanexistingXref</choiceReferences>
            <choiceReferences>CreateanewXref</choiceReferences>
            <choiceReferences>DeleteitemsfromaXref</choiceReferences>
            <choiceReferences>DetachXreffromAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of Cross Reference:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X_reference</name>
            <dataType>String</dataType>
            <fieldText>X-Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>xrelink</name>
            <fieldText>&lt;p&gt;{!xreflink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please upload all attachments on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>General_Maintenance_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Accountcommenttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Request: {!Please_select_the_type_of_request1}
Account Comments: {!Account_Comments}</text>
    </textTemplates>
    <textTemplates>
        <name>addcontacttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Contact Maintenance: {!Please_select_the_type_of_Contact_Maintenance}

Contact Name: {!Contact_Name}

Contact Phone: {!Contact_Phone}

Contact Fax: {!Contact_Fax}

Contact Email: {!Contact_Email}</text>
    </textTemplates>
    <textTemplates>
        <name>altsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Transportation_Delivery_Option_Maintenance} - {!Please_select_the_type_of_Alternate_Sourcing_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>changecontacttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Contact Maintenance: {!Please_select_the_type_of_Contact_Maintenance}

Old Contact Name: {!Old_Contact_Name}

New Contact Name: {!New_Contact_Name}

New Contact Phone: {!New_Contact_Phone}

New Contact Fax: {!New_Contact_Fax}

New Contact Email: {!New_Contact_Email}</text>
    </textTemplates>
    <textTemplates>
        <name>contactlink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot.my.salesforce.com/sfc/p/#E0000000J4oS/a/4400000098OC/n1HvrpVChqbwah0Fl33BypWii_FgtlDZqKlCsgQJGUk&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;  Contact Name Upload Template  &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>contactsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contact Maintenance - {!Please_select_the_type_of_Contact_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>deldayssubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Transportation_Delivery_Option_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>deldaystemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Address Sequence #: {!Address_Sequence1}

Days: {!Days}

Hours: {!Hours}</text>
    </textTemplates>
    <textTemplates>
        <name>deliverysubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Delivery_Fee_Maintenance} - {!Type_of_Commanddelivery}</text>
    </textTemplates>
    <textTemplates>
        <name>desktoptemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Address Sequence #: {!Address_Sequence}</text>
    </textTemplates>
    <textTemplates>
        <name>devtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Delivery Fee Maintenance: {!Please_select_the_type_of_Delivery_Fee_Maintenance}

Maintenance Option: {!Type_of_Commanddelivery}

Delivery Code Provided (if applicable): {!Delivery_Code_Provided_if_applicable}</text>
    </textTemplates>
    <textTemplates>
        <name>essentialsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Popup}- {!Please_select_the_type_of_request}</text>
    </textTemplates>
    <textTemplates>
        <name>essentialtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Request: {!Please_select_the_type_of_request}

Essential Pop-Up Comments: {!Essentials_RED_Pop_Up_Comments}</text>
    </textTemplates>
    <textTemplates>
        <name>FactSheetLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;*****For assistance, please download the&lt;/span&gt;&lt;a href=&quot;https://officedepot.my.salesforce.com/sfc/p/#E0000000J4oS/a/4400000098Ds/3Cwos0JfyVZr2nu5_P7l4LyOiAlP5RPg55adimMbqmc&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;&lt;b&gt;&lt;u&gt; Contract Fact Sheet Template &lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>factsheettemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Fact Sheet Maintenance: {!Please_select_the_type_of_Fact_Sheet_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>ICForm</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;****Please completely fill out and attach the &lt;A HREF=&quot;https://officedepot.seismic.com/Link/Content/DCrtktIl1cn0W5xelD7u2Rww&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;Inventory Increase Form (IC Form)&lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MOVsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>MOV (Minimum Order Value) Maintenance - {!Please_select_the_type_of_MOV_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>MOVtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of MOV Maintenance Request: {!Please_select_the_type_of_MOV_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>Muploadlink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; background-color: rgb(249, 249, 250);&quot;&gt;*****Please download, complete, and attach the&lt;/span&gt;&lt;span style=&quot;color: inherit; font-family: inherit; font-size: 12px; background-color: rgb(249, 249, 250);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DC2KS2HBb6yUeUKXD7p4ZivA&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 109, 204); font-family: inherit; font-size: 12px; background-color: rgb(249, 249, 250);&quot;&gt;&lt;b&gt;&lt;u&gt;Restriction Form&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DC2KS2HBb6yUeUKXD7p4ZivA&quot; target=&quot;_blank&quot; style=&quot;color: inherit; font-family: inherit; font-size: 12px; background-color: rgb(249, 249, 250);&quot;&gt;&lt;b&gt;&lt;u&gt;&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; background-color: rgb(249, 249, 250);&quot;&gt;to this request.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>popsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Popup}- {!Please_select_the_type_of_request3}</text>
    </textTemplates>
    <textTemplates>
        <name>Productsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Product_Inclusions_Exclusions_SKU_Restrictions} - {!Please_select_a_command} - {!Please_select_level_of_restriction}</text>
    </textTemplates>
    <textTemplates>
        <name>Producttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Inclusion or Exclusion: {!Please_select_the_type_of_Product_Inclusions_Exclusions_SKU_Restrictions} 

Command: {!Please_select_a_command} 

Level of Restriction: {!Please_select_level_of_restriction}

Sku, Class, Dept or Sub-class: {!SKUtext}</text>
    </textTemplates>
    <textTemplates>
        <name>Proprietarylink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot.my.salesforce.com/sfc/p/#E0000000J4oS/a/4400000098OW/LPA7xsm.a0SxEmx0jyVSZ9uD_1h9nFYSUNAoTzTb9RI&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;  Proprietary SKU Template  &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>proprietarysubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Proprietary Item Account Linkage - {!Please_select_the_type_of_Proprietary_Item_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>Proprietarytemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Proprietary Maintenance: {!Please_select_the_type_of_Proprietary_Item_Maintenance} 

Sku: {!Proprietary_Sku}</text>
    </textTemplates>
    <textTemplates>
        <name>selectcarttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select Cart Option: {!Select_Cart_Options}

Type of Maintenance: {!Type_of_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectAccountcomments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Popup}- {!Please_select_the_type_of_request1}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectfactsheet</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_a_General_Maintenance_option} - {!Please_select_the_type_of_Fact_Sheet_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>templatepopup</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Request: {!Please_select_the_type_of_request3}

Pop-Up Comments: {!Pop_Up_Comments}</text>
    </textTemplates>
    <textTemplates>
        <name>Tiersubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Tier/POS Discount Maintenance - {!Please_select_the_type_of_Tier_POS_Discount_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>tiertemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Tier/POS Discount Maintenance: {!Please_select_the_type_of_Tier_POS_Discount_Maintenance}

To: ${!To}

From: ${!From}

Discount%: {!Discount}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Accountdownload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Download(s): {!N_Please_select_the_type_of_Account_Downloads}
Comments: {!Comments1}</text>
    </textTemplates>
    <textTemplates>
        <name>upssubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Transportation_Delivery_Option_Maintenance} - {!Type_of_Change}</text>
    </textTemplates>
    <textTemplates>
        <name>upstemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of change: {!Type_of_Change}

Address Seq #: {!Address_Sequencenumber}</text>
    </textTemplates>
    <textTemplates>
        <name>VWsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Please_select_the_type_of_Transportation_Delivery_Option_Maintenance} - {!Please_select_the_type_of_VW_Wholesaler_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <name>xreferncetemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Cross Reference: {!Please_select_the_type_of_Cross_Reference}

X-Reference Number: {!X_reference}</text>
    </textTemplates>
    <textTemplates>
        <name>xreflink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot.my.salesforce.com/sfc/p/#E0000000J4oS/a/4400000098O7/XAICbkel3_wSkU9tbe7qhY0DbR7_NJrwMB6Rm5b4tWo&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt; Cross-Reference Template   &lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>xrefsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>X-Reference/Force Subs - {!Please_select_the_type_of_Cross_Reference}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_City_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_PostalCode_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_State_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_Street_Address_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_Single_Address_Business_Name_Sequence_ID_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00GE0000000uSf2</stringValue>
        </value>
    </variables>
    <variables>
        <name>recid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
