flows/Green_Reporting.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>BusinessReview</name>
        <choiceText>Green Business Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green Business Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Green_Alternative_Report_Choice</name>
        <choiceText>Green Alternative Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green Alternative Report</stringValue>
        </value>
    </choices>
    <choices>
        <name>Green_Business_Review_Choice</name>
        <choiceText>Green Business Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green Business Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Green_Office_Depot_Delivery_Report_Choice</name>
        <choiceText>Green Office Depot Delivery Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green Office Depot Delivery Report</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Green_Reports</name>
        <choiceText>Other Green Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Green Reporting</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Green_Reporting_Decision</name>
        <label>Green Reporting Decision</label>
        <locationX>356</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Green_Business_Review_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Green_Reporting_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Green_Reports</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Green_Business_Review</targetReference>
            </connector>
            <label>Other Green reports Outcome</label>
        </rules>
        <rules>
            <name>Green_Alternative_Report_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Green_Reporting_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Green_Alternative_Report_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Green_Alternative_Report_Screen</targetReference>
            </connector>
            <label>Green Alternative Report Outcome</label>
        </rules>
        <rules>
            <name>Green_Office_Depot_Delivery_Report_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Green_Reporting_Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Green_Office_Depot_Delivery_Report_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Green_Office_Depot_Delivery_Report_Screen</targetReference>
            </connector>
            <label>Green Office Depot Delivery Report Outcome</label>
        </rules>
    </decisions>
    <description>Added SCOE_RecordtypeId as input</description>
    <interviewLabel>Green Reporting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Green / Environmental</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Green_Alternative_Report_Record</name>
        <label>Create Green Alternative Report Record</label>
        <locationX>655</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Green_Alternative_Report_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Green Alternative Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Green_Alternative_Report_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Green_Business_Review</name>
        <label>Create Green Business Review</label>
        <locationX>152</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Green_Office_Depot_Delivery_Report_Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Other Green Reports</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Support_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Green_Business_Review_Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Green_Office_Depot_Delivery_Report_Record</name>
        <label>Create Green Office Depot Delivery Report Record</label>
        <locationX>377</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Green_Office_Depot_Delivery_Report_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Green Office Depot Delivery Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Green_Office_Depot_Delivery_Report_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Case_Creation_Screen</name>
        <label>Case Creation Screen</label>
        <locationX>358</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>submitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you! Your case has been submitted.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Green_Alternative_Report_Screen</name>
        <label>Green Alternative Report Screen</label>
        <locationX>635</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Green_Alternative_Report_Record</targetReference>
        </connector>
        <fields>
            <name>Green_Alternative_Report_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Green_Alternative_Report_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Green_Business_Review</name>
        <label>Green Business Review</label>
        <locationX>173</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Green_Business_Review</targetReference>
        </connector>
        <fields>
            <name>Green_Office_Depot_Delivery_Report_Subject_0</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Green_Office_Depot_Delivery_Report_Description_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Green_Office_Depot_Delivery_Report_Screen</name>
        <label>Green Office Depot Delivery Report Screen</label>
        <locationX>371</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Green_Office_Depot_Delivery_Report_Record</targetReference>
        </connector>
        <fields>
            <name>Green_Office_Depot_Delivery_Report_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Green_Office_Depot_Delivery_Report_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Green_Reporting_Screen</name>
        <label>Green Reporting Screen</label>
        <locationX>195</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Green_Reporting_Decision</targetReference>
        </connector>
        <fields>
            <name>Green_Reporting_Radio_Buttons</name>
            <choiceReferences>Green_Alternative_Report_Choice</choiceReferences>
            <choiceReferences>Green_Office_Depot_Delivery_Report_Choice</choiceReferences>
            <choiceReferences>Other_Green_Reports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Green Reporting Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LINK</name>
            <fieldText>&lt;p&gt;{!Green_Business_Review_TT}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>upload</name>
        <label>upload</label>
        <locationX>370</locationX>
        <locationY>1068</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Creation_Screen</targetReference>
        </connector>
        <fields>
            <name>upload_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Upload Attachment(s)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Record_ID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Green_Reporting_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Green_Business_Review_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(32, 31, 30);&quot;&gt;****If you are requesting a Green Business Review, please do not submit a ticket. Click&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://officedepot.seismic.com/x5/doccenter.aspx#/doccenter/d813ae0f-448d-4784-97d3-0a9cca1c4025/doc/%252Fdde6c1a273-bbcc-4517-9072-f7c4bd65cc74%252Flfb68a5504-452b-4336-aa91-f810e59370e7//?mode=view&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: inherit; color: rgb(0, 112, 192);&quot;&gt;&lt;u&gt;here&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: black;&quot;&gt;&amp;nbsp;to run the automated report&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOE_Issue_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Green Reporting</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_Support_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Green Reporting</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Green Business Review</description>
        <name>varGreenBusinessReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Green Business Review</stringValue>
        </value>
    </variables>
</Flow>
