flows/Implementation_Field_eCommerce.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>BSD_Web_Single_Sign_On</name>
        <choiceText>BSD Web/Single Sign On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BSD Web/Single Sign On</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bulletin_Board_Request</name>
        <choiceText>Bulletin Board Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bulletin Board Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CBFS</name>
        <choiceText>CBFS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBFS</stringValue>
        </value>
    </choices>
    <choices>
        <name>CBFS_Assistance2</name>
        <choiceText>CBFS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBFS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Communities_GPO_LandingPages_Portals_Employee_Purchase</name>
        <choiceText>Communities/GPO Landing Pages/Portals/Employee Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Communities/GPO Landing Pages/Portals/Employee Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Communities_Registration_Landing_Page</name>
        <choiceText>Communities Registration Landing Page</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Communities Registration Landing Page</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultation_eCommerce_capabilities</name>
        <choiceText>Consultation - eCommerce capabilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation - eCommerce capabilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPD</name>
        <choiceText>CPD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPD_Assistance2</name>
        <choiceText>CPD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPM</name>
        <choiceText>CPM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_bulletin_board</name>
        <choiceText>Create new bulletin board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new bulletin board</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Presentation_Consultation</name>
        <choiceText>Customer Presentation/Consultation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Presentation/Consultation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Usage</name>
        <choiceText>Customer Usage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Usage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Web</name>
        <choiceText>Direct Web</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Web</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Web_Modify_existing_account_structure</name>
        <choiceText>Direct Web - Modify existing account structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Web - Modify existing account structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Web_New_Customer_Setup_Request</name>
        <choiceText>Direct Web - New Customer Setup Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Web - New Customer Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>EDI_ThirdParty_Punchout</name>
        <choiceText>EDI/3rd Party/Punchout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EDI/3rd party/Punchout</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employee_Purchase</name>
        <choiceText>Employee Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>FURN</name>
        <choiceText>FURN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FURN</stringValue>
        </value>
    </choices>
    <choices>
        <name>FURN_Assistance2</name>
        <choiceText>FURN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FURN</stringValue>
        </value>
    </choices>
    <choices>
        <name>GPO</name>
        <choiceText>GPO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Implementation_Field_eCommerce_Request_Rdbtn</name>
        <choiceText>Implementation/Field eCommerce Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementation/Field eCommerce Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>List_of_Customer_Locations</name>
        <choiceText>List of Customer Locations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>List of Customer Locations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modify_existing_bulletin_board</name>
        <choiceText>Modify existing bulletin board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify existing bulletin board</stringValue>
        </value>
    </choices>
    <choices>
        <name>MPS</name>
        <choiceText>MPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>MPS_Assistance2</name>
        <choiceText>MPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Account_Registration</name>
        <choiceText>New Account Registration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account Registration</stringValue>
        </value>
    </choices>
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>No</description>
        <name>No2</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>No</description>
        <name>No_1</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Assistance</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboard_new_customer_business</name>
        <choiceText>Onboard new customer business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboard new customer business</stringValue>
        </value>
    </choices>
    <choices>
        <name>OP</name>
        <choiceText>OP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OP</stringValue>
        </value>
    </choices>
    <choices>
        <name>OP_Assistance2</name>
        <choiceText>OP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portal_immediate_user_registration_for_credit_card_purchase</name>
        <choiceText>Portal (immediate user registration for credit card purchase)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal (immediate user registration for credit card purchase)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prospective_Customer_PreAward_RFP</name>
        <choiceText>Prospective Customer/Pre-Award/RFP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospective Customer/Pre-Award/RFP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_for_SSO_or_SUMA</name>
        <choiceText>Request for SSO (Single Sign On) or SUMA (Single User Multiple Account)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request for SSO (Single Sign On) or SUMA (Single User Multiple Account)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Restructure_Existing_Account</name>
        <choiceText>Restructure Existing Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restructure Existing Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>SSO_Single_Sign_On_New_Setup</name>
        <choiceText>SSO/Single Sign On - New Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SSO/Single Sign On - New Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>SSO_Single_Sign_On_Update_Troubleshoot_Existing_Setup</name>
        <choiceText>SSO/Single Sign On - Update/Troubleshoot Existing Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SSO/Single Sign On - Update/Troubleshoot Existing Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>SUMA_Single_User_Multi_Account_NewSetup</name>
        <choiceText>SUMA/Single User Multi-Account - New Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SUMA/Single User Multi-Account - New Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>SUMA_Single_User_Multi_Account_Update_Troubleshoot_Existing_Setup</name>
        <choiceText>SUMA/Single User Multi-Account - Update/Troubleshoot Existing Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SUMA/Single User Multi-Account - Update/Troubleshoot Existing Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>TECH</name>
        <choiceText>TECH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TECH</stringValue>
        </value>
    </choices>
    <choices>
        <name>TECH_Assistance2</name>
        <choiceText>TECH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TECH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Teir_One_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Teir_One_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Party_EDI_Punchout_Integration</name>
        <choiceText>3rd Party/EDI/Punchout Integration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd Party/EDI/Punchout Integration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Party_EDI_Punchout_Modify_existing_account_structure</name>
        <choiceText>3rd Party/EDI/Punchout - Modify existing account structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd Party/EDI/Punchout - Modify existing account structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Party_EDI_Punchout_New_Integration_Request</name>
        <choiceText>3rd Party/EDI/Punchout - New Integration Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd Party/EDI/Punchout - New Integration Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>User_Setup_Maintenance</name>
        <choiceText>User Setup/Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User Setup/Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Assistance</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision for Implementation Field eCommerce</description>
        <name>Implementation_Fied_eCommerce</name>
        <label>Implementation Field eCommerce</label>
        <locationX>574</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboard_new_customer_business_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Type_Rd_btns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Onboard_new_customer_business</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Sub_Type1</targetReference>
            </connector>
            <label>Onboard new customer business</label>
        </rules>
        <rules>
            <name>Customer_Presentation_Consultation_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Type_Rd_btns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Presentation_Consultation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_SubType2</targetReference>
            </connector>
            <label>Customer Presentation/Consultation</label>
        </rules>
        <rules>
            <name>Restructure_Existing_Account_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Type_Rd_btns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Restructure_Existing_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_SubType3</targetReference>
            </connector>
            <label>Restructure Existing Account</label>
        </rules>
        <rules>
            <name>Bulletin_Board_Request_Descision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Type_Rd_btns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bulletin_Board_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_SubType4</targetReference>
            </connector>
            <label>Bulletin Board Request</label>
        </rules>
        <rules>
            <name>Communities_Registration_Landing_Page_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Type_Rd_btns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Communities_Registration_Landing_Page</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Subtype5</targetReference>
            </connector>
            <label>Communities Registration Landing Page</label>
        </rules>
        <rules>
            <name>Request_for_SSO_or_SUMA_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Type_Rd_btns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Request_for_SSO_or_SUMA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_SubType6</targetReference>
            </connector>
            <label>Request for SSO (Single Sign On) or SUMA (Single User Multiple Account)</label>
        </rules>
    </decisions>
    <interviewLabel>Implementation/Field eCommerce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation/Field eCommerce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record2</name>
        <label>Create Record</label>
        <locationX>196</locationX>
        <locationY>692</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Support_SubType2_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>Implementation_Field_eCommerce_Request_Rdbtn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_needed1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Customer_Presentation_Consultation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Support_Type_Rd_btns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record3</name>
        <label>Create Record</label>
        <locationX>376</locationX>
        <locationY>686</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Support_SubType3_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>Implementation_Field_eCommerce_Request_Rdbtn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_needed2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Restructure_Existing_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Support_Type_Rd_btns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record4</name>
        <label>Create Record</label>
        <locationX>599</locationX>
        <locationY>588</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record4</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Support_SubType4_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>Implementation_Field_eCommerce_Request_Rdbtn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_needed3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Bulletin_Board_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Support_Type_Rd_btns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record5</name>
        <label>Create Record</label>
        <locationX>762</locationX>
        <locationY>551</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Support_SubType5_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>Implementation_Field_eCommerce_Request_Rdbtn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_Needed4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Communities_Registration_Landing_Page</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Support_Type_Rd_btns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record6</name>
        <label>Create Record</label>
        <locationX>945</locationX>
        <locationY>515</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Record6</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Support_SubType6_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>Implementation_Field_eCommerce_Request_Rdbtn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_needed5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Request_for_SSO_or_SUMA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Support_Type_Rd_btns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Implementation_Field_eCommerce_Create_Record</name>
        <label>Create Record</label>
        <locationX>11</locationX>
        <locationY>679</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Onboardnewcust_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>Implementation_Field_eCommerce_Request_Rdbtn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Preferred_Ordering_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Onboard_new_customer_business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Support_Type_Rd_btns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Record4</name>
        <label>Update Record4</label>
        <locationX>592</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_needed3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Anticipated_Completion_Date_Assistance3</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record5</name>
        <label>Update Record5</label>
        <locationX>750</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_Needed4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Anticipated_Completion_Date_Assistance4</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record6</name>
        <label>Update Record6</label>
        <locationX>942</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>Type_of_Assistance_needed5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Anticipated_Completion_Date_Assistance5</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>514</locationX>
        <locationY>1168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmitCase</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you! Your request has been received.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_Sub_Type1</name>
        <label>Support Sub-Type 1</label>
        <locationX>11</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Implementation_Field_eCommerce_Create_Record</targetReference>
        </connector>
        <fields>
            <name>Preferred_Ordering_Method</name>
            <choiceReferences>Direct_Web</choiceReferences>
            <choiceReferences>Third_Party_EDI_Punchout_Integration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Ordering Method:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anticipated_Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>Anticipated Completion Date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Annual_Spend</name>
            <dataType>String</dataType>
            <fieldText>Estimated Annual Spend:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anticipated_IGM_If_Known</name>
            <dataType>String</dataType>
            <fieldText>Anticipated IGM% (If Known):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Buying_Group_If_Known</name>
            <dataType>String</dataType>
            <fieldText>Buying Group (If Known):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tier_One</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tier One?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Categories_Adjacencies_Check_all_that_apply_Assistance1</name>
            <choiceReferences>OP</choiceReferences>
            <choiceReferences>CBFS</choiceReferences>
            <choiceReferences>CPD</choiceReferences>
            <choiceReferences>MPS</choiceReferences>
            <choiceReferences>TECH</choiceReferences>
            <choiceReferences>FURN</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Categories/Adjacencies (Check all that apply):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Files_To_Attach_Check_all_that_apply</name>
            <choiceReferences>Customer_Usage</choiceReferences>
            <choiceReferences>List_of_Customer_Locations</choiceReferences>
            <choiceReferences>CPM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Files To Attach (Check all that apply):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_Additional_Instructions_OrderingMethod</name>
            <fieldText>Comments/Additional Instructions:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_SubType2</name>
        <label>Support Sub -Type 2</label>
        <locationX>181</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record2</targetReference>
        </connector>
        <fields>
            <name>Type_of_Assistance_needed1</name>
            <choiceReferences>Prospective_Customer_PreAward_RFP</choiceReferences>
            <choiceReferences>Consultation_eCommerce_capabilities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Assistance needed:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eCommerce_Ordering_Method_check_all_that_apply</name>
            <choiceReferences>BSD_Web_Single_Sign_On</choiceReferences>
            <choiceReferences>EDI_ThirdParty_Punchout</choiceReferences>
            <choiceReferences>Communities_GPO_LandingPages_Portals_Employee_Purchase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>eCommerce Ordering Method? (check all that apply):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Annual_Spend_Assistance1</name>
            <dataType>String</dataType>
            <fieldText>Estimated Annual Spend:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tier_One_New</name>
            <choiceReferences>Yes1</choiceReferences>
            <choiceReferences>No_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tier One?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Additional_Instructions_Assistance1</name>
            <fieldText>Comments/Additional Instructions:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_SubType3</name>
        <label>Support Sub-Type 3</label>
        <locationX>448</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record3</targetReference>
        </connector>
        <fields>
            <name>Type_of_Assistance_needed2</name>
            <choiceReferences>Third_Party_EDI_Punchout_New_Integration_Request</choiceReferences>
            <choiceReferences>Third_Party_EDI_Punchout_Modify_existing_account_structure</choiceReferences>
            <choiceReferences>Direct_Web_New_Customer_Setup_Request</choiceReferences>
            <choiceReferences>Direct_Web_Modify_existing_account_structure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Assistance needed:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anticipated_Completion_Date_Assistance2</name>
            <dataType>Date</dataType>
            <fieldText>Anticipated Completion Date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tier_One2_New</name>
            <choiceReferences>Yes2</choiceReferences>
            <choiceReferences>No2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tier One?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Categories_Adjacencies_check_all_that_apply_Assistance2</name>
            <choiceReferences>OP_Assistance2</choiceReferences>
            <choiceReferences>CBFS_Assistance2</choiceReferences>
            <choiceReferences>CPD_Assistance2</choiceReferences>
            <choiceReferences>MPS_Assistance2</choiceReferences>
            <choiceReferences>TECH_Assistance2</choiceReferences>
            <choiceReferences>FURN_Assistance2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Categories/Adjacencies (check all that apply):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_Additional_Instructions_Assistance2</name>
            <fieldText>Comments/Additional Instructions:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_SubType4</name>
        <label>Support Sub-Type 4</label>
        <locationX>600</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record4</targetReference>
        </connector>
        <fields>
            <name>Type_of_Assistance_needed3</name>
            <choiceReferences>Create_new_bulletin_board</choiceReferences>
            <choiceReferences>Modify_existing_bulletin_board</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Assistance needed:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anticipated_Completion_Date_Assistance3</name>
            <dataType>Date</dataType>
            <fieldText>Anticipated Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Additional_Instructions_Assistance3</name>
            <fieldText>Comments/Additional Instructions:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_Subtype5</name>
        <label>Support Sub-Type 5</label>
        <locationX>765</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record5</targetReference>
        </connector>
        <fields>
            <name>Type_of_Assistance_Needed4</name>
            <choiceReferences>New_Account_Registration</choiceReferences>
            <choiceReferences>User_Setup_Maintenance</choiceReferences>
            <choiceReferences>Employee_Purchase</choiceReferences>
            <choiceReferences>Portal_immediate_user_registration_for_credit_card_purchase</choiceReferences>
            <choiceReferences>GPO</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Assistance Needed:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anticipated_Completion_Date_Assistance4</name>
            <dataType>Date</dataType>
            <fieldText>Anticipated Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Additional_Instructions_Assistance4</name>
            <fieldText>Comments/Additional Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_SubType6</name>
        <label>Support Sub-Type 6</label>
        <locationX>955</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record6</targetReference>
        </connector>
        <fields>
            <name>Type_of_Assistance_needed5</name>
            <choiceReferences>SSO_Single_Sign_On_New_Setup</choiceReferences>
            <choiceReferences>SSO_Single_Sign_On_Update_Troubleshoot_Existing_Setup</choiceReferences>
            <choiceReferences>SUMA_Single_User_Multi_Account_NewSetup</choiceReferences>
            <choiceReferences>SUMA_Single_User_Multi_Account_Update_Troubleshoot_Existing_Setup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Assistance needed:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Anticipated_Completion_Date_Assistance5</name>
            <dataType>Date</dataType>
            <fieldText>Anticipated Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Additional_Instructions_Assistance5</name>
            <fieldText>Comments/Additional Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_Type_Screen</name>
        <label>Support Type</label>
        <locationX>581</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Implementation_Fied_eCommerce</targetReference>
        </connector>
        <fields>
            <name>Support_Type_Rd_btns</name>
            <choiceReferences>Onboard_new_customer_business</choiceReferences>
            <choiceReferences>Customer_Presentation_Consultation</choiceReferences>
            <choiceReferences>Restructure_Existing_Account</choiceReferences>
            <choiceReferences>Bulletin_Board_Request</choiceReferences>
            <choiceReferences>Communities_Registration_Landing_Page</choiceReferences>
            <choiceReferences>Request_for_SSO_or_SUMA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Support Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>503</locationX>
        <locationY>962</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Files_Limits</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Upload Attachment(s)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>25</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Support_Type_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Estimate_Annual_Spend</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Estimated Annual Spend&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Onboardnewcust_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Preferred Ordering Method: {!Preferred_Ordering_Method}
Anticipated Completion Date: {!Anticipated_Completion_Date}
Estimated Annual Spend: {!Estimated_Annual_Spend}
Anticipated IGM% (If Known): {!Anticipated_IGM_If_Known}
Buying Group (If Known): {!Buying_Group_If_Known}
Tier One? {!Tier_One}
Product Categories/Adjacencies (Check all that apply): {!Product_Categories_Adjacencies_Check_all_that_apply_Assistance1}
Files To Attach (Check all that apply): {!Files_To_Attach_Check_all_that_apply}
Comments/Additional Instructions: {!Comments_Additional_Instructions_OrderingMethod}</text>
    </textTemplates>
    <textTemplates>
        <name>Support_SubType2_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Assistance needed: {!Type_of_Assistance_needed1}
eCommerce Ordering Method? (check all that apply): {!eCommerce_Ordering_Method_check_all_that_apply}
Estimated Annual Spend: {!Estimated_Annual_Spend_Assistance1}
Tier One? {!Tier_One_New}
Comments/Additional Instructions: {!Comments_Additional_Instructions_Assistance1}</text>
    </textTemplates>
    <textTemplates>
        <name>Support_SubType3_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Assistance needed: {!Type_of_Assistance_needed2}
Anticipated Completion Date: {!Anticipated_Completion_Date_Assistance2}
Tier One? {!Tier_One2_New}
Product Categories/Adjacencies (check all that apply): {!Product_Categories_Adjacencies_check_all_that_apply_Assistance2}
Comments/Additional Instructions: {!Comments_Additional_Instructions_Assistance2}</text>
    </textTemplates>
    <textTemplates>
        <name>Support_SubType4_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Assistance needed: {!Type_of_Assistance_needed3}
Anticipated Completion Date: {!Anticipated_Completion_Date_Assistance3}
Comments/Additional Instructions: {!Comments_Additional_Instructions_Assistance3}</text>
    </textTemplates>
    <textTemplates>
        <name>Support_SubType5_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Assistance Needed: {!Type_of_Assistance_Needed4}
Anticipated Completion Date: {!Anticipated_Completion_Date_Assistance4}
Comments/Additional Instructions: {!Comments_Additional_Instructions_Assistance4}</text>
    </textTemplates>
    <textTemplates>
        <name>Support_SubType6_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type of Assistance needed: {!Type_of_Assistance_needed5}
Anticipated Completion Date: {!Anticipated_Completion_Date_Assistance5}
Comments/Additional Instructions: {!Comments_Additional_Instructions_Assistance5}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AcctNm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>AcctNm</stringValue>
        </value>
    </variables>
    <variables>
        <name>Attach_supporting_documents_Assistance3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attach_supporting_documents_Assistance4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attach_supporting_documents_Assistance5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CustId</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Implementation Field_eCommerce</description>
        <name>IssueType_ImplementationField_eCommerce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Test upload</description>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <description>Implementation/Field eCommerce</description>
        <name>SCOE_ISSUE_TYPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Implementation/Field eCommerce</stringValue>
        </value>
    </variables>
    <variables>
        <description>Dynamic Id</description>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCOE_SUPPORT_SUBTYPE1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Preferred Ordering Method</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_SUPPORT_SUBTYPE2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Type of Assistance needed1</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_SUPPORT_SUBTYPE3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Type of Assistance needed</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_SUPPORT_SUBTYPE4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Type of Assistance needed</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_SUPPORT_SUBTYPE5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Type of Assistance needed</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_SUPPORT_SUBTYPE6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Type of Assistance needed</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE_SUPPORT_TYPE1=Onboard new customer business</description>
        <name>SCOE_SUPPORT_TYPE1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Onboard new customer business</stringValue>
        </value>
    </variables>
    <variables>
        <description>Customer Presentation/Consultation</description>
        <name>SCOE_SUPPORT_TYPE2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Presentation/Consultation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Restructure Existing Account</description>
        <name>SCOE_SUPPORT_TYPE3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Restructure Existing Account</stringValue>
        </value>
    </variables>
    <variables>
        <description>Bulletin Board Request</description>
        <name>SCOE_SUPPORT_TYPE4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bulletin Board Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Communities Registration Landing Page</description>
        <name>SCOE_SUPPORT_TYPE5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Communities Registration Landing Page</stringValue>
        </value>
    </variables>
    <variables>
        <description>Request for SSO (Single Sign On) or SUMA (Single User Multiple Account)</description>
        <name>SCOE_SUPPORT_TYPE6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Request for SSO (Single Sign On) or SUMA (Single User Multiple Account)</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
</Flow>
