flows/Inventory_Management.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>DC_Level</name>
        <choiceText>DC Level Override Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DC Level Override Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forecast_increase_request</name>
        <choiceText>Forecast Increase Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forecast Increase Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_1</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES_1</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <constants>
        <description>3-Medium</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Logic</name>
        <label>Decision Logic</label>
        <locationX>651</locationX>
        <locationY>167</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DC_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DC_Level</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Management_Options_Screen_0</targetReference>
            </connector>
            <label>DC Override</label>
        </rules>
        <rules>
            <name>Forecast_Increase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Forecast_increase_request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Management_Options_Screen</targetReference>
            </connector>
            <label>Forecast Increase</label>
        </rules>
    </decisions>
    <interviewLabel>Inve {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Channel Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inventory_Management_Record</name>
        <label>Create Inventory Management Record</label>
        <locationX>961</locationX>
        <locationY>47</locationY>
        <assignRecordIdToReference>Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Freshdesk_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Inventory Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Forecast Increase Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject_Forecast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Inventory_Management_Record_0</name>
        <label>Create Inventory Management Record</label>
        <locationX>979</locationX>
        <locationY>446</locationY>
        <assignRecordIdToReference>Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_New_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Freshdesk_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Inventory Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>DC Level Override Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject_DC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>361</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_fullname</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1347</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseConfirmation</name>
            <fieldText>&lt;p&gt;Thank you! your case has been submitted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Attachments: &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;a href=&quot;https://officedepot--oduat.cs78.my.salesforce.com/{Record_ID}&quot; target=&quot;_blank&quot;&gt;HERE&lt;/a&gt; to add related attachments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final_Screen</label>
        <locationX>1200</locationX>
        <locationY>229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>uploads</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Upload Attachment(s)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Record_ID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Thank you! Your request has been received. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Management_Options_Screen</name>
        <label>Inventory Management Options Screen</label>
        <locationX>753</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Inventory_Management_Record</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inventory_Management_Form_Link_DisplayText</name>
            <fieldText>&lt;p&gt;{!Form_Link}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Management_Options_Screen_0</name>
        <label>DC OVERRIDE SCREEN</label>
        <locationX>746</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Inventory_Management_Record_0</targetReference>
        </connector>
        <fields>
            <name>ACCOUNT</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>ACCOUNT #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ACCOUNT_NAME1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>acctnm</elementReference>
            </defaultValue>
            <fieldText>ACCOUNT NAME:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ATTENTION_NAME</name>
            <dataType>String</dataType>
            <fieldText>ATTENTION NAME:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SHIP_TO_ADDRESS</name>
            <dataType>String</dataType>
            <fieldText>SHIP TO ADDRESS:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_COST_CENTER_AND_ETC_IF_APPLICABLE</name>
            <dataType>String</dataType>
            <fieldText>PO, COST CENTER AND ETC. (IF APPLICABLE)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sku_entry</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;span style=&quot;color: rgb(215, 10, 23);&quot;&gt;For multiple SKU/QTY entries, separate by adding a comma between SKU/QTY...      see example below&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SKU</name>
            <dataType>String</dataType>
            <fieldText>SKU/QTY: (Multiple Sku Example:  457889/100, 839449/200)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_SKU_QTY</name>
            <fieldText>Additional SKU/QTY:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CUSTOMER_S_BASE_DC</name>
            <dataType>String</dataType>
            <fieldText>CUSTOMER&apos;S BASE DC:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HAS_THERE_BEEN_AN_ORDER_ALREADY_KEYED</name>
            <choiceReferences>YES_1</choiceReferences>
            <choiceReferences>NO_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HAS THERE BEEN AN ORDER ALREADY KEYED?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WHAT_IS_THE_ORDER_NUMBER_NEW</name>
            <dataType>String</dataType>
            <fieldText>WHAT IS THE ORDER NUMBER?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>HAS_THERE_BEEN_AN_ORDER_ALREADY_KEYED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YES_1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>530</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Logic</targetReference>
        </connector>
        <fields>
            <name>Options</name>
            <choiceReferences>DC_Level</choiceReferences>
            <choiceReferences>Forecast_increase_request</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE SELECT A SCOE SUPPORT TYPE:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Form_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Please &lt;/b&gt;&lt;a href=&quot;https://officedepot.seismic.com/x5/doccenter.aspx#/doccenter/d813ae0f-448d-4784-97d3-0a9cca1c4025/doc/%252Fdd53eecef9-fae3-4597-8492-013ce8cdc207%252FdfNmM1MWM1ZjktMzIyNi00NWFiLTkwYWUtMGIyZDQ4NDQyNjU3%252CPT0%253D%252CR2VuZXJhbCBSZWZlcmVuY2UgTWF0ZXJpYWw%253D%252Flff9c097c1-68ad-46c4-94b3-8cbb71bb46bb//?mode=view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;click here&lt;/b&gt;&lt;/a&gt;&lt;b&gt; to download the Forecast Increase form. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Once completed, attach the file to the Support case. &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Customer: {!Account_Name} - {!Customer_ID}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_New_Request</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;br&gt;&lt;/br&gt;ACCOUNT: {!custid}
&lt;br&gt;&lt;/br&gt;SHIP TO ADDRESS: {!SHIP_TO_ADDRESS}
&lt;br&gt;&lt;/br&gt;ATTENTION NAME: {!ATTENTION_NAME}
&lt;br&gt;&lt;/br&gt;PO, COST CENTER, ETC : {!PO_COST_CENTER_AND_ETC_IF_APPLICABLE}
&lt;br&gt;&lt;/br&gt;SKU/QTY: {!SKU}
&lt;br&gt;&lt;/br&gt;ADDITIONAL SKU/QTY: {!Additional_SKU_QTY}
&lt;br&gt;&lt;/br&gt;CUSTOMER&apos;S BASE DC: {!CUSTOMER_S_BASE_DC}
&lt;br&gt;&lt;/br&gt;HAS THERE BEEN AN ORDER ALREADY KEYED?  {!HAS_THERE_BEEN_AN_ORDER_ALREADY_KEYED}
&lt;br&gt;&lt;/br&gt;IF YES, ORDER NUMBER: {!WHAT_IS_THE_ORDER_NUMBER_NEW}
&lt;br&gt;&lt;/br&gt;SUPPORT REQUESTER:  {!User_fullname}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Subject_DC</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>DC Override Request: {!acctnm} - {!custid}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Subject_Forecast</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Forecast Increase Request: {!acctnm} - {!custid}</text>
    </textTemplates>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queue_Freshdesk_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G2S000003dWBT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOE_Issue_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inventory Channel Support</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_Support_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inventory Channel Support</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_fullname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
