flows/MedalliaDateDrivenTrigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MedalliaRelationshipSurvey</name>
        <label>MedalliaRelationshipSurvey</label>
        <locationX>418</locationX>
        <locationY>64</locationY>
        <actionName>MedalliaBulkedInvitationsFromContacts</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountsToSurvey</name>
            <value>
                <elementReference>ListOfAccounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://medalliabp.medallia.com/packages.feed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldSet</name>
            <value>
                <stringValue>medalliaOutbound_createSurvey</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>service</name>
            <value>
                <stringValue>sfdc_create_survey_bulk</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>AccountsToBeSurveyed</name>
        <label>AccountsToBeSurveyed</label>
        <locationX>245</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MedalliaRelationshipSurvey</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>HalfYearAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+180</expression>
    </formulas>
    <formulas>
        <name>HalfYearBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-180</expression>
    </formulas>
    <formulas>
        <name>NinetyDayAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+90</expression>
    </formulas>
    <formulas>
        <name>NinetyDaysBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-90</expression>
    </formulas>
    <formulas>
        <name>OnDayAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>OneDayBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <formulas>
        <name>OneYearAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+365</expression>
    </formulas>
    <formulas>
        <name>SixtyDaysAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+60</expression>
    </formulas>
    <formulas>
        <name>SixtyDaysBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-60</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-30</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>MedalliaBulkedInvitationsFromContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MedalliaDateDrivenTrigger</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FetchAccountsToSurveyToday</name>
        <label>FetchAccountsToSurveyToday</label>
        <locationX>82</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountsToBeSurveyed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medallia_Include_in_surveys__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ListOfAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>FetchAccountsToSurveyToday</startElementReference>
    <status>Active</status>
    <variables>
        <name>ListOfAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
