flows/Merch_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Alternate_Item_Request_Choice</name>
        <choiceText>Alternate Item Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Item Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>BiWeekly</name>
        <choiceText>Bi-Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bi-Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>BiWeekly1</name>
        <choiceText>Bi-Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bi-Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>HI_PR_Assortment</name>
        <choiceText>Add New Product to HI / PR Assortment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Product to HI / PR Assortment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missing_Content_National_Brand</name>
        <choiceText>Missing Content or Image on BSD website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Content or Image on BSD website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missing_Content_Private_Brand</name>
        <choiceText>Missing Content or Image on BSD website (Private Brand)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Content or Image on BSD website - (Private Brand)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly_2</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Product_to_continental_us_assortment</name>
        <choiceText>Add New Product to Continental US Assortment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Product to Continental US Assortment</stringValue>
        </value>
    </choices>
    <choices>
        <description>One time buy</description>
        <name>One</name>
        <choiceText>One-time buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-time buy</stringValue>
        </value>
    </choices>
    <choices>
        <description>One-time buy</description>
        <name>One_Time</name>
        <choiceText>One-time buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-time buy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Quality_National_Brand</name>
        <choiceText>Product Quality Complaint / Feedback / Defect -(National Brand)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Quality Complaint / Feedback / Defect -(National Brand)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Quality_Private_Brand</name>
        <choiceText>Product Quality Complaint / Feedback / Defect - (Private Brand)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Quality Complaint / Feedback / Defect - (Private Brand)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Specification</name>
        <choiceText>Product Specification Inquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Specification Inquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly_2</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_for_Vendor_Cost</name>
        <choiceText>Request for Vendor Cost Increase letters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request for Vendor Cost Increase letters</stringValue>
        </value>
    </choices>
    <choices>
        <name>UOM</name>
        <choiceText>Unit of Measure Discrepancy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit of Measure Discrepancy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_content</name>
        <choiceText>Content or Image Discrepancies on BSD website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Content or Image Discrepancies on BSD website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_List_Price_Discrepancy</name>
        <choiceText>Web/List Price Discrepancy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web/List Price Discrepancy</stringValue>
        </value>
    </choices>
    <choices>
        <description>Weekly</description>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly_2</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID - SCOE</description>
        <name>RecordTypeIDSCOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </constants>
    <constants>
        <name>SCOEIssueTypeSFFLOW</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Request</stringValue>
        </value>
    </constants>
    <constants>
        <description>Internal</description>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decisions</name>
        <label>Decisions</label>
        <locationX>407</locationX>
        <locationY>82</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Alternate_Item_Request_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>Decision 1</label>
        </rules>
        <rules>
            <name>Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Product_to_continental_us_assortment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_2_new</targetReference>
            </connector>
            <label>Decision 2</label>
        </rules>
        <rules>
            <name>Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HI_PR_Assortment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_3</targetReference>
            </connector>
            <label>Decision 3</label>
        </rules>
        <rules>
            <name>Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Specification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_4</targetReference>
            </connector>
            <label>Decision 4</label>
        </rules>
        <rules>
            <name>Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Web_List_Price_Discrepancy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_5</targetReference>
            </connector>
            <label>Decision 5</label>
        </rules>
        <rules>
            <name>Decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Request_for_Vendor_Cost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_6</targetReference>
            </connector>
            <label>Decision 6</label>
        </rules>
        <rules>
            <name>Decision_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Missing_Content_National_Brand</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_7</targetReference>
            </connector>
            <label>Decision 7</label>
        </rules>
        <rules>
            <name>Decision_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Web_content</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_9</targetReference>
            </connector>
            <label>Decision 8</label>
        </rules>
        <rules>
            <name>Decision_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UOM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_10</targetReference>
            </connector>
            <label>Decision 9</label>
        </rules>
        <rules>
            <name>Decision_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Quality_National_Brand</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_11</targetReference>
            </connector>
            <label>Decision 10</label>
        </rules>
        <rules>
            <name>Decision_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Quality_Private_Brand</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_12</targetReference>
            </connector>
            <label>Decision 11</label>
        </rules>
    </decisions>
    <description>02587176 + userid + SCOE Support type</description>
    <interviewLabel>Merchan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchandising Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create_10</name>
        <label>Case Create:10</label>
        <locationX>960</locationX>
        <locationY>996</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_11</name>
        <label>Case Create:11</label>
        <locationX>962</locationX>
        <locationY>1093</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_12</name>
        <label>Case Create:12</label>
        <locationX>966</locationX>
        <locationY>1202</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_2</name>
        <label>Case Create:2</label>
        <locationX>952</locationX>
        <locationY>235</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>See &apos;New Request&apos; field for details </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_3</name>
        <label>Case Create:3</label>
        <locationX>1229</locationX>
        <locationY>336</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Offshore_Assortment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_4</name>
        <label>Case Create:4</label>
        <locationX>960</locationX>
        <locationY>504</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_5</name>
        <label>Case Create:5</label>
        <locationX>961</locationX>
        <locationY>612</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_7</name>
        <label>Case Create:7</label>
        <locationX>949</locationX>
        <locationY>757</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_9</name>
        <label>Case Create:9</label>
        <locationX>955</locationX>
        <locationY>867</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Merch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Merch</name>
        <label>Case Create: Merch</label>
        <locationX>1002</locationX>
        <locationY>88</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirm_Merch_Main</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Merchandising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Choices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>120</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Merch_Main</name>
        <label>Confirm_Merch_Main</label>
        <locationX>1321</locationX>
        <locationY>663</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirm_SalesforceFlow</name>
            <fieldText>&lt;p&gt;Thank you! Your request has been received. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attachment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Attachments: &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You must add your attachment to the support case. Click &lt;/span&gt;&lt;a href=&quot;https://officedepot.my.salesforce.com/{!varRecordTypeID}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;HERE&lt;/b&gt;&lt;/a&gt; to access the support case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>243</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
        <fields>
            <name>Choices</name>
            <choiceReferences>Alternate_Item_Request_Choice</choiceReferences>
            <choiceReferences>New_Product_to_continental_us_assortment</choiceReferences>
            <choiceReferences>HI_PR_Assortment</choiceReferences>
            <choiceReferences>Product_Specification</choiceReferences>
            <choiceReferences>Web_List_Price_Discrepancy</choiceReferences>
            <choiceReferences>Request_for_Vendor_Cost</choiceReferences>
            <choiceReferences>Missing_Content_National_Brand</choiceReferences>
            <choiceReferences>Web_content</choiceReferences>
            <choiceReferences>UOM</choiceReferences>
            <choiceReferences>Product_Quality_National_Brand</choiceReferences>
            <choiceReferences>Product_Quality_Private_Brand</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Alternate Item Request</label>
        <locationX>873</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Merch</targetReference>
        </connector>
        <fields>
            <name>Merch_fl</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px;&quot;&gt;Provide sku# for original product for which the alternate is being requested&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sku_1</name>
            <dataType>String</dataType>
            <fieldText>Sku#:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_1</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_10</name>
        <label>Unit of Measure Discrepancy</label>
        <locationX>250</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_10</targetReference>
        </connector>
        <fields>
            <name>Sku_10</name>
            <dataType>String</dataType>
            <fieldText>Sku #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_10</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_11</name>
        <label>Product Quality - National Brand</label>
        <locationX>389</locationX>
        <locationY>740</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_11</targetReference>
        </connector>
        <fields>
            <name>note</name>
            <fieldText>&lt;p&gt;Provide as much details regarding complaint, i.e. description, images, UPC labeling on product, serial number on package received, manufactured date/batch#, etc.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customer acct#, ship from DC loc and order number&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_11</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_12</name>
        <label>Product Quality - Private Brand</label>
        <locationX>144</locationX>
        <locationY>874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_12</targetReference>
        </connector>
        <fields>
            <name>note_0</name>
            <fieldText>&lt;p&gt;Provide as much details regarding complaint, i.e. description, images, UPC labeling on product, serial number on package received, manufactured date/batch#, etc.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customer acct#, ship from DC loc and order number&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_12</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>note_12</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Defected samples should be mailed to:&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Office Depot, PB Engineering &amp;amp; Quality, 66600 N. Military Trail, Boca Raton, FL, 33496&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_2_new</name>
        <label>New Product Continential US</label>
        <locationX>810</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_2</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Account Name: {!acctnm}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Account Number: {!custid}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Annual_forecast_usage_2</name>
            <dataType>String</dataType>
            <fieldText>Annual forecast usage:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_frequency_3</name>
            <choiceReferences>Weekly_2</choiceReferences>
            <choiceReferences>BiWeekly1</choiceReferences>
            <choiceReferences>Monthly_2</choiceReferences>
            <choiceReferences>Quarterly_2</choiceReferences>
            <choiceReferences>One_Time</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Order frequency:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_288</name>
            <fieldText>Delivery expectations:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 8, 8);&quot;&gt;i.e, Customer requesting next-day delivery, 2-day, etc. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(228, 8, 8);&quot;&gt;(determine if the item should be stocked, ws, vw)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ship_to_locations_zip_codes_2</name>
            <dataType>String</dataType>
            <fieldText>Ship to locations/zip codes:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_product_to_add_2</name>
            <fieldText>Description of product to add: i.e manufacturer part#, specs</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_3</name>
        <label>HI/PR Assortment</label>
        <locationX>832</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_3</targetReference>
        </connector>
        <fields>
            <name>Account_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Account Name: {!acctnm}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Account Number: {!custid}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Annual_forecast_usage_new</name>
            <dataType>String</dataType>
            <fieldText>Annual forecast usage:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_frequency_New</name>
            <choiceReferences>Weekly</choiceReferences>
            <choiceReferences>BiWeekly</choiceReferences>
            <choiceReferences>Monthly</choiceReferences>
            <choiceReferences>Quarterly</choiceReferences>
            <choiceReferences>One</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Order frequency:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_3</name>
            <fieldText>Delivery expectations:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 8, 8);&quot;&gt;i.e, Customer requesting next-day delivery, 2-day, etc. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(228, 8, 8);&quot;&gt;(determine if the item should be stocked, ws, vw)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ship_to_locations_zip_codes_3</name>
            <dataType>String</dataType>
            <fieldText>Ship to locations/zip codes:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_product_to_add_3</name>
            <fieldText>Description of product to add: i.e manufacturer part#, specs, sku</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_4</name>
        <label>Product Specification</label>
        <locationX>729</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_4</targetReference>
        </connector>
        <fields>
            <name>product</name>
            <fieldText>&lt;p&gt;Product Specification Inquires &lt;/p&gt;&lt;p&gt;(i.e. does the product have a port for HDMI? What&apos;s the product dimensions?)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sku_4</name>
            <dataType>String</dataType>
            <fieldText>Sku#:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_4</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_5</name>
        <label>Web/List Discrepancy</label>
        <locationX>666</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_5</targetReference>
        </connector>
        <fields>
            <name>Sku_5</name>
            <dataType>String</dataType>
            <fieldText>Sku #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_5</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_6</name>
        <label>Request for Vendor Cost letters</label>
        <locationX>514</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Vendor_letters</name>
            <fieldText>&lt;p&gt;Follow the process below to request Vendor Cost Increase letters in Seismic&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Click &lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DCpAD8sgPzF0i_r2I3gjp4XA&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;HERE &lt;/b&gt;&lt;/a&gt;to access the vendor increase letter and identify vendor increases for a specific quarter.&amp;nbsp;&lt;/li&gt;&lt;li&gt;Click &lt;a href=&quot;https://officedepot.seismic.com/Link/Folder/DC5fb9cc&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;HERE&lt;/b&gt;&lt;/a&gt; to access the vendor letter(s) by folders. Then click  the folder in the quarter where the letter(s) can be found.&lt;/li&gt;&lt;li&gt;Download letter(s) from Seismic for immediate response.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Note:  A support ticket will not be created. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_7</name>
        <label>Missing Content or Image</label>
        <locationX>586</locationX>
        <locationY>705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_7</targetReference>
        </connector>
        <fields>
            <name>Missing</name>
            <fieldText>&lt;p&gt;Missing Content of Image on BSD website (i.e. no main description, no image, no info under product details)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sku_7</name>
            <dataType>String</dataType>
            <fieldText>Sku #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_7</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_9</name>
        <label>Content or Image Discrepancies</label>
        <locationX>358</locationX>
        <locationY>1285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_9</targetReference>
        </connector>
        <fields>
            <name>note1</name>
            <fieldText>&lt;p&gt;Content or Image Discrepancies on BSD website (i.e. main web description is different from information stated under description and product detail sections)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sku_9</name>
            <dataType>String</dataType>
            <fieldText>Sku #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_9</name>
            <fieldText>Details of missing components</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>17</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Description: SalesforceFlow</description>
        <name>DescSalesforceFlow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Description_1}</text>
    </textTemplates>
    <textTemplates>
        <name>Seismic</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://officedepot.seismic.com/x5/doccenter.aspx#/doccenter/d813ae0f-448d-4784-97d3-0a9cca1c4025/main/%252Fdd40e18e2d-32de-4ae0-ac13-5e13ebd240cc//&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Sku#: {!Sku_1}
Description: {!Description_1}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_10</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Sku #: {!Sku_10}
Description: {!Description_10}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_11</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Description: {!Description_11}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_12</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Description: {!Description_12}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Annual forecast usage: {!Annual_forecast_usage_2}
Order frequency: {!Order_frequency_3}
Delivery expectations: {!Description_288}
Ship to locations/zip codes: {!Ship_to_locations_zip_codes_2}
Description of product to add: {!Description_of_product_to_add_2}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Annual forecast usage: {!Annual_forecast_usage_new}
Order frequency: {!Order_frequency_New}
Delivery expectations: {!Description_3}
Ship to locations/zip codes: {!Ship_to_locations_zip_codes_3}
Description of product to add: {!Description_of_product_to_add_3}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Sku#: {!Sku_4}
Description: {!Description_4}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Sku #: {!Sku_5}
Description: {!Description_5}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_7</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>SKU#: {!Sku_7}
Description: {!Description_7}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_9</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Sku #:{!Sku_9}
Description: {!Description_9}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Choices} - {!acctnm} - {!custid}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>acctnm</elementReference>
        </value>
    </variables>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>FinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>caseid</elementReference>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Customer Service</description>
        <name>IssueTypeCS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Furniture</description>
        <name>IssueTypeFurn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Customer_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00GE0000003jmZG</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Merch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G2S000003dWBs</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Offshore_Assortment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G2S000003dWmt</stringValue>
        </value>
    </variables>
    <variables>
        <description>To get dynamic scoe id</description>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOESFFLOW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
