flows/Orion_Support.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Orion_Team_Notification</name>
        <label>Orion Team Notification</label>
        <locationX>953</locationX>
        <locationY>74</locationY>
        <actionName>Case.SCOE_Orion_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RecID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <interviewLabel>Orion Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orion Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Orion</name>
        <label>Create Case Orion</label>
        <locationX>626</locationX>
        <locationY>68</locationY>
        <assignRecordIdToReference>RecID</assignRecordIdToReference>
        <connector>
            <targetReference>file_attachment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_OrionWorkQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOERecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Orion Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>file_attachment</name>
        <label>file_attachment</label>
        <locationX>800</locationX>
        <locationY>75</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Orion_Team_Notification</targetReference>
        </connector>
        <fields>
            <name>Upload</name>
            <fieldText>&lt;p&gt;Upload Attachment(s)&lt;/p&gt;&lt;p&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>upload_screen</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>case_creation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Thank you! Your support ticket was submitted.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page1</name>
        <label>Page1</label>
        <locationX>367</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tell_us</targetReference>
        </connector>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Orion Support&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display</name>
            <fieldText>&lt;h1&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: windowtext;&quot;&gt;There are several avenues to learn more about Orion.&lt;/b&gt;&lt;/h1&gt;&lt;h1&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: windowtext;&quot;&gt;Please review the&amp;nbsp;&lt;/b&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DCd_gFPoUH4E-jgo755-YUPg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: inherit;&quot;&gt;&lt;b&gt;&lt;u&gt;Seismic Orion Training Portal&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 12px; color: windowtext;&quot;&gt;&amp;nbsp;t&lt;/b&gt;&lt;b style=&quot;font-size: 10pt; color: windowtext; font-family: Arial, sans-serif;&quot;&gt;o find an answer to your questions.&lt;/b&gt;&lt;/h1&gt;&lt;h1&gt;&lt;br&gt;&lt;/h1&gt;&lt;h1&gt;&lt;br&gt;&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: windowtext;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If you still need help, reach out to your Orion Change Agents or Regional Performance Consultant for assistance.&lt;/b&gt;&lt;/p&gt;&lt;h1&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: windowtext;&quot;&gt;Click&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(63, 134, 234);&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DC43c-E7wRi0SLYexbQtMQBg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 9pt; font-family: &amp;quot;salesforce sans&amp;quot;, arial, sans-serif; color: rgb(63, 134, 234); background-color: rgba(0, 0, 0, 0);&quot;&gt;&lt;b&gt;HERE&amp;nbsp;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 9pt; font-family: inherit; color: inherit; background-color: rgba(0, 0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: Arial, sans-serif; color: windowtext;&quot;&gt;to see a list of Orion Change Agents.&amp;nbsp;&lt;/b&gt;&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: windowtext;&quot;&gt;If you still have questions, please submit a SCOE support ticket by clicking &apos;Next&apos; for Orion and you will be contacted.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tell_us</name>
        <label>Tell us about your request:</label>
        <locationX>510</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Orion</targetReference>
        </connector>
        <fields>
            <name>request</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Tell us about your request:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>New Request/Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Tell us about your request:&lt;/b&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Page1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queue_OrionWorkQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G2S0000051eDC</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCOERecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
