flows/Parent_Account_Info.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_To_Parent</name>
        <label>Go To Parent</label>
        <locationX>1428</locationX>
        <locationY>742</locationY>
        <actionName>c:navigate_to_url</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Parent_Account_Data_To_Contact</name>
        <label>Add Parent Account Data To Contact</label>
        <locationX>1416</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>newContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone1_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone1_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Address1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone1_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Decision_Maker_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone2_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone2_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Type2_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone3_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone3_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone_Type3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Type3_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone1_Ext_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone_Type1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Type1_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_Account_Data_To_Site</name>
        <label>Add Parent Account Data To Site</label>
        <locationX>1556</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>newSite.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Address1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Address1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Address2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Org__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrg.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Sales_PersonID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Sales_PersonID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSite.Primary_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Fields</name>
        <label>Set Account Fields</label>
        <locationX>1116</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>newAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.nameOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Address1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.address1Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.cityOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.countryOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.stateOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.zipOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentOwnerDefaultValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAddressDetails.address2Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Parent_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone1_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Oracle_Party_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Sales_PersonID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesPersonID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Hierarchy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Parent_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accounts_Payable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Accounts Payable&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts Payable</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIO</name>
        <choiceText>CIO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIO</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_User</name>
        <choiceText>End_User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End_User</stringValue>
        </value>
    </choices>
    <choices>
        <name>Executive_Level</name>
        <choiceText>{!Executive_Level}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive_Level</stringValue>
        </value>
    </choices>
    <choices>
        <name>Price_Change_Notification_Viewer</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Price Change Notification/Viewer&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Price Change Notification/Viewer</stringValue>
        </value>
    </choices>
    <choices>
        <name>PriceChangeApprover</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Price Change Approver&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Price Change Approver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Super_User</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Super User&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Super User</stringValue>
        </value>
    </choices>
    <constants>
        <name>Account_Object_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>ASD_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign Specific Owner</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assign_Specific_Owner</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Specified_Owner_Exists_As_Sales_Person_ID</name>
        <label>Specified Owner Exists As Sales Person ID</label>
        <locationX>967</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesPersonID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error2</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>contactRLDevelopername</name>
        <dataType>String</dataType>
        <expression>{!ContactRT}</expression>
    </formulas>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>currentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>parentOwnerDefaultValue</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Specified_Owner_RecordId_Parent})), {!Specified_Owner_RecordId_Parent}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>parentOwnerId</name>
        <dataType>String</dataType>
        <expression> IF(NOT(ISBLANK({!Specified_Owner_RecordId_Parent})), {!Specified_Owner_RecordId_Parent}, {!$User.Id}
    )</expression>
    </formulas>
    <formulas>
        <name>parentRecordtype</name>
        <dataType>String</dataType>
        <expression>{!parentRT}</expression>
    </formulas>
    <formulas>
        <description>Removes leading zeros from the ID.</description>
        <name>pricingTemplateParentCustId</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!pricingTemplateParentId}))</expression>
    </formulas>
    <formulas>
        <name>sitePrimaryContact</name>
        <dataType>String</dataType>
        <expression>{!newContact.Id}</expression>
    </formulas>
    <formulas>
        <name>siteRecordType</name>
        <dataType>String</dataType>
        <expression>{!newSite.RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>siteRelatedAccount</name>
        <dataType>String</dataType>
        <expression>{!newAccount.Id}</expression>
    </formulas>
    <formulas>
        <name>systemAdminprofile</name>
        <dataType>String</dataType>
        <expression>{!SystemAdministrator}</expression>
    </formulas>
    <interviewLabel>Parent Account Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Account Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1421</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Parent_Account_Created_Page</targetReference>
        </connector>
        <inputReference>newContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Account</name>
        <label>Create Parent Account</label>
        <locationX>1249</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Contact_RT</targetReference>
        </connector>
        <inputReference>newAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Site</name>
        <label>Create Site</label>
        <locationX>1408</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Add_Parent_Account_Data_To_Contact</targetReference>
        </connector>
        <inputReference>newSite</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_RT</name>
        <label>Get Contact RT</label>
        <locationX>1372</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Parent_Account_Data_To_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRLDevelopername</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Parent_RT</name>
        <label>GET Parent RT</label>
        <locationX>615</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentRecordtype</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_RT</name>
        <label>Get Site RT</label>
        <locationX>729</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Specified_Owner_As_Sales_Person_ID</name>
        <label>Get Specified Owner As Sales Person ID</label>
        <locationX>847</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specified_Owner_Exists_As_Sales_Person_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentOwnerId</elementReference>
            </value>
        </filters>
        <object>Sales_Person__c</object>
        <outputAssignments>
            <assignToReference>SalesPersonID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>We store the output in separate variables to avoid a null pointer exception if no Sales Person ID is found.</description>
        <name>Get_User_Sales_Person_ID</name>
        <label>Get User Sales Person ID</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Parent_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>Sales_Person__c</object>
        <outputAssignments>
            <assignToReference>userSalesPersonIdRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userSalesPersonIdIsActive</assignToReference>
            <field>IsActive__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userSalesPersonIdPrimary</assignToReference>
            <field>Primary__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>847</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Specified_Owner_As_Sales_Person_ID</targetReference>
        </connector>
        <fields>
            <name>Account_Address_Information</name>
            <fieldText>&lt;p&gt;Account &amp;amp; Address Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Record_Type_Parent</name>
            <fieldText>&lt;p&gt;Record Type:{!parentRecordtype}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Owner_Parent</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assign_Specific_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign Specific Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Specified_Owner_RecordId_Parent</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>parentAddressDetails</name>
            <extensionName>c:parent_creation_address_page</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>address1Input</name>
                <value>
                    <elementReference>contactAddress1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>address2Input</name>
                <value>
                    <elementReference>contactAddress2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cityInput</name>
                <value>
                    <elementReference>contactCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryInput</name>
                <value>
                    <elementReference>contactCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameInput</name>
                <value>
                    <elementReference>parentAccName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stateInput</name>
                <value>
                    <elementReference>contactState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zipInput</name>
                <value>
                    <elementReference>zipcode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>973</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Account_Fields</targetReference>
        </connector>
        <fields>
            <name>Blank_Space_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Space_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Space_3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Information_Label</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Contact Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Space_4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_Contact</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Contact</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title_Contact</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Decision_Maker_Picklist</name>
            <extensionName>c:flow_picklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field1Name</name>
                <value>
                    <stringValue>Decision_Maker__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1Required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1Default</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Decision_Maker_Contact</assignToReference>
                <name>field1SelectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone1_Contact</name>
            <dataType>String</dataType>
            <fieldText>Phone1</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required Format: (111) 222-3333&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;Invalid format. Use (111) 222-3333.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Phone1_Contact}, &quot;\\(?[0-9]{3}\\)?\\s?[0-9]{3}-?[0-9]{4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_Type1_Picklist</name>
            <extensionName>c:flow_picklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field1Name</name>
                <value>
                    <stringValue>Phone_Type1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1Required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1Default</name>
                <value>
                    <stringValue>Home</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Phone_Type1_Contact</assignToReference>
                <name>field1SelectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone1_Ext_Contact</name>
            <dataType>String</dataType>
            <fieldText>Phone1 Ext</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phone1_Contact</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone2_Contact</name>
            <dataType>String</dataType>
            <fieldText>Phone2</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required Format: (111) 222-3333&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 4, 4);&quot;&gt;Invalid format. Use (111) 222-3333.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Phone2_Contact}, &quot;\\(?[0-9]{3}\\)?\\s?[0-9]{3}-?[0-9]{4}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phone1_Contact</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_Type2_Picklist</name>
            <extensionName>c:flow_picklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field1Name</name>
                <value>
                    <stringValue>Phone_Type2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1Required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Phone_Type2_Contact</assignToReference>
                <name>field1SelectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone3_Contact</name>
            <dataType>String</dataType>
            <fieldText>Phone3</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required Format: (111) 222-3333&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 1, 1);&quot;&gt;Invalid format. Use (111) 222-3333.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Phone3_Contact}, &quot;\\(?[0-9]{3}\\)?\\s?[0-9]{3}-?[0-9]{4}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phone2_Contact</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_Type3_Picklist</name>
            <extensionName>c:flow_picklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field1Name</name>
                <value>
                    <stringValue>Phone_Type3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1Required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Phone_Type3_Contact</assignToReference>
                <name>field1SelectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Role_Contact</name>
            <choiceReferences>Accounts_Payable</choiceReferences>
            <choiceReferences>End_User</choiceReferences>
            <choiceReferences>Executive_Level</choiceReferences>
            <choiceReferences>PriceChangeApprover</choiceReferences>
            <choiceReferences>Price_Change_Notification_Viewer</choiceReferences>
            <choiceReferences>Super_User</choiceReferences>
            <choiceReferences>CIO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Field_Contact</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>example@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Email_Contact</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error2</name>
        <label>Display Error</label>
        <locationX>1121</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(253, 1, 1);&quot;&gt;No Sales Rep ID for Assigned User&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Account_Created_Page</name>
        <label>Parent_Account_Created_Page</label>
        <locationX>1426</locationX>
        <locationY>568</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_To_Parent</targetReference>
        </connector>
        <fields>
            <name>Blank_Space_22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent_Account_Created_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(20, 205, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Parent Account Successfully Created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Account_Info</name>
        <isActive>false</isActive>
        <label>Account Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Address_Information</name>
        <isActive>false</isActive>
        <label>Address Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Sales_Person_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contact_US</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contact_US</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserprofile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Decision_Maker_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ownerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Parent</stringValue>
        </value>
    </variables>
    <variables>
        <name>Phone_Type1_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </variables>
    <variables>
        <name>Phone_Type2_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Phone_Type3_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricingTemplateParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedParentAccountCustId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedPricingTemplateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesPersonID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedOrg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Org__c</objectType>
    </variables>
    <variables>
        <name>Specified_Owner_RecordId_Parent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Specified_Owner_RecordId_Prospect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>specifiedOwnerSalesPersonIdRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemAdministrator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </variables>
    <variables>
        <name>USA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </variables>
    <variables>
        <name>userSalesPersonIdIsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userSalesPersonIdPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userSalesPersonIdRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
