flows/PRM_Lead_Rerouting_Rules.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_alert_to_Stephen_Flynn</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send email to Stephen Flynn</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_alert_to_Stephen_Flynn</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_alert_to_Gilbert_Davis</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email to Gilbert Davis</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_alert_to_Gilbert_Davis</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_Andy_oggs</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email to Andy oggs</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_alert_to_Andy_oggs</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_alert_to_Kathryn_Smith</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email alert to Kathryn Smith</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_alert_to_Kathryn_Smith</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_alert_to_Amy_Regan</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Email alert to Amy Regan</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_alert_to_Amy_Regan</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is Stephen&apos;s region?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Is Gilbert Davis Region?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Is Andy oggs region ?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Is Kathryn Smiths region</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Is Amy Regans region</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Lead].RecordType.DeveloperName =&apos;Lead_Partner&apos;,CASE(UPPER([Lead].State), 
&apos;ME&apos;,1,
&apos;NH&apos;,1,
&apos;VT&apos;,1,
&apos;MA&apos;,1,
&apos;CT&apos;,1,
&apos;RI&apos;,1,
&apos;NY&apos;,1,
&apos;PA&apos;,1,
&apos;NJ&apos;,1,
&apos;DE&apos;,1,
&apos;MD&apos;,1,
&apos;DC&apos;,1,
0)=1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName} =&apos;Lead_Partner&apos;,CASE(UPPER({!myVariable_current.State}), 
&apos;ME&apos;,1,
&apos;NH&apos;,1,
&apos;VT&apos;,1,
&apos;MA&apos;,1,
&apos;CT&apos;,1,
&apos;RI&apos;,1,
&apos;NY&apos;,1,
&apos;PA&apos;,1,
&apos;NJ&apos;,1,
&apos;DE&apos;,1,
&apos;MD&apos;,1,
&apos;DC&apos;,1,
0)=1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Lead].RecordType.DeveloperName =&apos;Lead_Partner&apos;,CASE(UPPER([Lead].State), 
&apos;OH&apos;,1,
&apos;WV&apos;,1,
&apos;KY&apos;,1,
&apos;TN&apos;,1,
&apos;VA&apos;,1,
&apos;NC&apos;,1,
&apos;SC&apos;,1,
0)=1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName} =&apos;Lead_Partner&apos;,CASE(UPPER({!myVariable_current.State}), 
&apos;OH&apos;,1,
&apos;WV&apos;,1,
&apos;KY&apos;,1,
&apos;TN&apos;,1,
&apos;VA&apos;,1,
&apos;NC&apos;,1,
&apos;SC&apos;,1,
0)=1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Lead].RecordType.DeveloperName =&apos;Lead_Partner&apos;,CASE(UPPER([Lead].State), 
&apos;MN&apos;,1,
&apos;WI&apos;,1,
&apos;IA&apos;,1,
&apos;MO&apos;,1,
&apos;IL&apos;,1,
&apos;IN&apos;,1,
&apos;MT&apos;,1,
&apos;MO&apos;,1,
&apos;ND&apos;,1,
&apos;SD&apos;,1,
&apos;NE&apos;,1,
&apos;KS&apos;,1,
&apos;WY&apos;,1,
0)=1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName} =&apos;Lead_Partner&apos;,CASE(UPPER({!myVariable_current.State}), 
&apos;MN&apos;,1,
&apos;WI&apos;,1,
&apos;IA&apos;,1,
&apos;MO&apos;,1,
&apos;IL&apos;,1,
&apos;IN&apos;,1,
&apos;MT&apos;,1,
&apos;MO&apos;,1,
&apos;ND&apos;,1,
&apos;SD&apos;,1,
&apos;NE&apos;,1,
&apos;KS&apos;,1,
&apos;WY&apos;,1,
0)=1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Lead].RecordType.DeveloperName =&apos;Lead_Partner&apos;,CASE(UPPER([Lead].State), 
&apos;MS&apos;,1,
&apos;AL&apos;,1,
&apos;GA&apos;,1,
&apos;FL&apos;,1,
&apos;PR&apos;,1,
0)=1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName} =&apos;Lead_Partner&apos;,CASE(UPPER({!myVariable_current.State}), 
&apos;MS&apos;,1,
&apos;AL&apos;,1,
&apos;GA&apos;,1,
&apos;FL&apos;,1,
&apos;PR&apos;,1,
0)=1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Lead].RecordType.DeveloperName =&apos;Lead_Partner&apos;,CASE(UPPER([Lead].State), 
&apos;OK&apos;,1,
&apos;TX&apos;,1,
&apos;AR&apos;,1,
&apos;LA&apos;,1,
&apos;WA&apos;,1,
&apos;OR&apos;,1,
&apos;ID&apos;,1,
&apos;CA&apos;,1,
&apos;NV&apos;,1,
&apos;UT&apos;,1,
&apos;CO&apos;,1,
&apos;AZ&apos;,1,
&apos;NM&apos;,1,
&apos;AK&apos;,1,
&apos;HI&apos;,1,
0)=1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName} =&apos;Lead_Partner&apos;,CASE(UPPER({!myVariable_current.State}), 
&apos;OK&apos;,1,
&apos;TX&apos;,1,
&apos;AR&apos;,1,
&apos;LA&apos;,1,
&apos;WA&apos;,1,
&apos;OR&apos;,1,
&apos;ID&apos;,1,
&apos;CA&apos;,1,
&apos;NV&apos;,1,
&apos;UT&apos;,1,
&apos;CO&apos;,1,
&apos;AZ&apos;,1,
&apos;NM&apos;,1,
&apos;AK&apos;,1,
&apos;HI&apos;,1,
0)=1)</expression>
    </formulas>
    <interviewLabel>PRM_Lead_Rerouting_Rules-2_InterviewLabel</interviewLabel>
    <label>PRM Lead Rerouting Rules</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
