flows/Pros_Agreement_to_Contract_Push.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_CSF_New_Record</name>
        <label>Open CSF</label>
        <locationX>288</locationX>
        <locationY>382</locationY>
        <actionName>c:OpenCSF</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>New_Primary_Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>GetIndividualCPTs</name>
        <label>GetIndividualCPTs</label>
        <locationX>1073</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>CPT_Ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CPT_Record.Id} &lt;br/&gt;&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_cpts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contract_allow_for_dependent_pricing_relationships_Default</name>
        <choiceText>{!Contract_allow_for_dependent_pricing_relationships}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_allow_for_dependent_pricing_relationships</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_allow_for_dependent_pricing_relationships_New_Default</name>
        <choiceText>{!Contract_allow_for_dependent_pricing_relationships_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_allow_for_dependent_pricing_relationships_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_allow_for_dependent_pricing_relationships_New_Record_DC</name>
        <choiceText>{!Contract_allow_for_dependent_pricing_relationships_New_Record_F}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_allow_for_dependent_pricing_relationships_New_Record_F</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_Extensions_Compare_Choice</name>
        <choiceText>{!Contract_Extensions_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_Extensions_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_extensions_Default</name>
        <choiceText>{!Contract_Extensions}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_Extensions</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_extensions_New_Default</name>
        <choiceText>{!Contract_extensions_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_extensions_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_state_a_furniture_delivery_fee_Compare_Choice</name>
        <choiceText>{!Contract_state_a_furniture_delivery_fee_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_state_a_furniture_delivery_fee_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_state_a_Small_Order_Fee_charge_Compare_Choice</name>
        <choiceText>{!Contract_state_a_Small_Order_Fee_charge_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_state_a_Small_Order_Fee_charge_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_state_a_Small_Order_Fee_charge_Default</name>
        <choiceText>{!Contract_state_a_Small_Order_Fee_charge_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_state_a_Small_Order_Fee_charge_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_State_Minimum_Order_Compare_Choice</name>
        <choiceText>{!Contract_State_Minimum_Order_Compare_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_State_Minimum_Order_Compare_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_State_Minimum_Order_Default</name>
        <choiceText>{!Contract_State_Minimum_Order}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_State_Minimum_Order</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract_State_Minimum_Order_New_Default</name>
        <choiceText>{!Contract_State_Minimum_Order_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_State_Minimum_Order_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Cost_basis_Compare_Choice</name>
        <choiceText>{!Cost_basis_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cost_basis_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Cost_basis_Default_Choice</name>
        <choiceText>{!Cost_basis_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cost_basis_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Cost_basis_New_Default_Choice</name>
        <choiceText>{!Cost_basis_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cost_basis_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Custom_pricing_should_not_be_more_or_les_Compare_Choice</name>
        <choiceText>{!Custom_pricing_should_not_be_more_or_les_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Custom_pricing_should_not_be_more_or_les_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Custom_pricing_should_not_be_more_or_les_Default</name>
        <choiceText>{!Custom_pricing_should_not_be_more_or_les_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Custom_pricing_should_not_be_more_or_les_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Default</name>
        <choiceText>{!Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>customization_on_inherited_core_sku_Choice</name>
        <choiceText>{!customization_on_inherited_core_sku_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>customization_on_inherited_core_sku_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Customization_on_inherited_core_sku_New_Default</name>
        <choiceText>{!Customization_on_inherited_core_sku_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Customization_on_inherited_core_sku_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Customization_on_inherited_core_sku_NewR_Default</name>
        <choiceText>{!Customization_on_inherited_core_sku_NewR_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Customization_on_inherited_core_sku_NewR_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Desktop_delivery_Default</name>
        <choiceText>{!Desktop_delivery_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Desktop_delivery_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Desktop_delivery_New_Default</name>
        <choiceText>{!Desktop_delivery_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Desktop_delivery_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Does_the_contract_state_a_minimum_order_value_New_Default</name>
        <choiceText>{!Does_the_contract_state_a_minimum_order_value_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Does_the_contract_state_a_minimum_order_value_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Default</name>
        <choiceText>{!Contract_state_a_furniture_delivery_fee}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contract_state_a_furniture_delivery_fee</elementReference>
        </value>
    </choices>
    <choices>
        <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Default</name>
        <choiceText>{!Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Default</name>
        <choiceText>{!Does_the_contract_state_we_can_charge_a_small_order_fee_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_there_a_Most_Favored_Customer_claus_Default</name>
        <choiceText>{!Is_there_a_Most_Favored_Customer_claus_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Is_there_a_Most_Favored_Customer_claus_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</name>
        <choiceText>{!Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Participation_requirement_Compare_Choice</name>
        <choiceText>{!Participation_requirement_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Participation_requirement_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Participation_requirement_Default</name>
        <choiceText>{!Participation_requirement_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Participation_requirement_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Participation_requirement_New_Default</name>
        <choiceText>{!Participation_requirement_New_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Participation_requirement_New_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Payment_Terms_Compare_Choice</name>
        <choiceText>{!Payment_Terms_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Payment_Terms_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>Payment_Terms_Default</name>
        <choiceText>{!Payment_Terms_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Payment_Terms_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Payment_Terms_New_Default</name>
        <choiceText>{!Payment_Terms_New_Fromula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Payment_Terms_New_Fromula</elementReference>
        </value>
    </choices>
    <choices>
        <name>What_type_of_customer_communication_is_r_Compare_Choice</name>
        <choiceText>{!What_type_of_customer_communication_is_r_Formula_Compare}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>What_type_of_customer_communication_is_r_Formula_Compare</elementReference>
        </value>
    </choices>
    <choices>
        <name>What_type_of_customer_communication_is_r_Default</name>
        <choiceText>{!What_type_of_customer_communication_is_r_Formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>What_type_of_customer_communication_is_r_Formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>What_type_of_customer_communication_is_required_to_permit_New_Default</name>
        <choiceText>{!What_type_of_customer_communication_is_required_to_permit_New_formula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>What_type_of_customer_communication_is_required_to_permit_New_formula</elementReference>
        </value>
    </choices>
    <constants>
        <name>Active_Status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <name>PrimaryTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>RDID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000VkwUAAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tier</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier</stringValue>
        </value>
    </constants>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CSFPrimaryCheck</name>
        <label>CSFPrimaryCheck</label>
        <locationX>394</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContractRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare</targetReference>
            </connector>
            <label>PrimaryCheck</label>
        </rules>
        <rules>
            <name>Not_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContractRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Primary_Contract_Screen</targetReference>
            </connector>
            <label>Not primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_agreement_already_pushed</name>
        <label>Is agreement already pushed?</label>
        <locationX>454</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PushedToCSF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement_Record.Pushed_to_CSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_CPTs</targetReference>
            </connector>
            <label>PushedToCSF</label>
        </rules>
        <rules>
            <name>NotPushedToCSF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement_Record.Pushed_to_CSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSFPrimaryCheck</targetReference>
            </connector>
            <label>NotPushedToCSF</label>
        </rules>
    </decisions>
    <decisions>
        <name>NO_CPT</name>
        <label>NO CPT</label>
        <locationX>923</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_CPT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_Of_CPT_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOCPTS</targetReference>
            </connector>
            <label>NO CPT</label>
        </rules>
        <rules>
            <name>CPT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_Of_CPT_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_cpts</targetReference>
            </connector>
            <label>CPT</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contract_Extensions_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_Extensions_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_extensions_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_extensions_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_extensions_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_extensions_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_state_a_furniture_delivery_fee_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoIA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_state_a_furniture_delivery_fee_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_state_a_Small_Order_Fee_charge_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_state_a_Small_Order_Fee_charge_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contract_State_Minimum_Order_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000005KT0V</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_State_Minimum_Order_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cost_basis_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cost_basis_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cost_basis_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cost_basis_New_Default_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CPT_Ids_To_Display</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CameleonCPQ__QuoteId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement_Record.Quote__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pushed_to_CPT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121k0000004PHjAAM</stringValue>
            </value>
        </filters>
        <object>CameleonCPQ__QxQuoteLine__c</object>
        <outputAssignments>
            <assignToReference>SelectedQLIId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Custom_pricing_should_not_be_more_or_les_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Custom_pricing_should_not_be_more_or_les_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_pst_choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Customization_on_inherited_core_sku_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJCT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Customization_on_inherited_core_sku_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Customization_on_inherited_core_sku_NewR_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJCT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Customization_on_inherited_core_sku_NewR_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Desktop_delivery_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBh</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Desktop_delivery_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_allow_for_dependent_pricing_relationships_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_allow_for_dependent_pricing_relationships_New_Record_DC</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_allow_for_dependent_pricing_relationships_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJBI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_allow_for_dependent_pricing_relationships_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Does_the_contract_allow_for_dependent_pricing_relationships_Selected</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_state_a_minimum_order_value_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000005KT0V</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Does_the_contract_state_a_minimum_order_value_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Pklst_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoIA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoIA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Selected</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Contract_State_Minimum_Order_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_the_contract_state_we_can_charge_a_small_order_fee_New_plklst_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoI9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is_there_a_Most_Favored_Customer_claus__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Pklst_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoJ4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Participation_requirement_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJCa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Participation_requirement_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Participation_requirement_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00N2S000006qJCa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Participation_requirement_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Terms_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoJp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Payment_Terms_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Terms_New_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001uoJp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Payment_Terms_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>What_type_of_customer_communication_is_r_Compare_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001v8iq</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>What_type_of_customer_communication_is_r_Compare_Choice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>What_type_of_customer_communication_is_required_to_permit_New_Picklist_Choice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract.00NE0000001v8iq</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>What_type_of_customer_communication_is_required_to_permit_New_Default</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Contract_allow_for_dependent_pricing_relationships_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Follower_relationship__c}, IF({!Get_Agreement_Record.Follower_relationship__c},&apos;Yes&apos;,&apos;Needs validation&apos;),{!Contract_allow_for_dependent_pricing_relationships})</expression>
    </formulas>
    <formulas>
        <name>Contract_allow_for_dependent_pricing_relationships_New_Record_F</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Follower_relationship__c}, IF({!Get_Agreement_Record.Follower_relationship__c},&apos;Yes&apos;,&apos;Needs validation&apos;),&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Contract_Extensions_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Renewal_Options__c}, TEXT({!Get_Agreement_Record.Renewal_Options__c}),{!Contract_Extensions})</expression>
    </formulas>
    <formulas>
        <name>Contract_extensions_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Renewal_Options__c}, TEXT({!Get_Agreement_Record.Renewal_Options__c}),&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Contract_state_a_furniture_delivery_fee_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Furniture_Delivery_Fee__c}, {!Get_Agreement_Record.Furniture_Delivery_Fee__c},{!Contract_state_a_furniture_delivery_fee})</expression>
    </formulas>
    <formulas>
        <name>Contract_state_a_Small_Order_Fee_charge_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Contract_state_a_Small_Order_Fee_charge} != Null, {!Contract_state_a_Small_Order_Fee_charge}, &apos;Needs Validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Contract_state_a_Small_Order_Fee_charge_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Small_Order_Fee__c}, {!Get_Agreement_Record.Small_Order_Fee__c}, {!Contract_state_a_Small_Order_Fee_charge})</expression>
    </formulas>
    <formulas>
        <name>Contract_State_Minimum_Order_Compare_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Minimum_Order_Fee__c}, {!Get_Agreement_Record.Minimum_Order_Fee__c}, {!Contract_State_Minimum_Order})</expression>
    </formulas>
    <formulas>
        <name>Contract_State_Minimum_Order_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Minimum_Order_Fee__c}, {!Get_Agreement_Record.Minimum_Order_Fee__c}, &apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Contract_Term_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Agreement_Term__c},{!Get_Agreement_Record.Agreement_Term__c},{!Contract_Term})</expression>
    </formulas>
    <formulas>
        <name>Contract_Term_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Agreement_Term__c},{!Get_Agreement_Record.Agreement_Term__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Cost_basis_Formula</name>
        <dataType>String</dataType>
        <expression>{!Cost_basis}</expression>
    </formulas>
    <formulas>
        <name>Cost_basis_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Cost_Basis__c}, {!Get_Agreement_Record.Cost_Basis__c}, {!Cost_basis})</expression>
    </formulas>
    <formulas>
        <name>Cost_basis_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Cost_Basis__c},{!Get_Agreement_Record.Cost_Basis__c},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Custom_pricing_should_not_be_more_or_les_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Custom_pricing_should_not_be_more_or_les} != NULL, {!Custom_pricing_should_not_be_more_or_les},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Custom_pricing_should_not_be_more_or_les_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_More_Inherited_Pricing__c} || {!Get_Agreement_Record.CheckBox_Less_Inherited_Pricing__c},{!Get_Agreement_Record.More_Less_Inherited_Pricing__c},IF({!Custom_pricing_should_not_be_more_or_les} != NULL,{!Custom_pricing_should_not_be_more_or_les},&apos;Needs validation&apos;))</expression>
    </formulas>
    <formulas>
        <name>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_More_Inherited_Pricing__c} || {!Get_Agreement_Record.CheckBox_Less_Inherited_Pricing__c},{!Get_Agreement_Record.More_Less_Inherited_Pricing__c},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>customization_on_inherited_core_sku_Formula</name>
        <dataType>String</dataType>
        <expression>{!No_customization_on_inherited_core_sku}</expression>
    </formulas>
    <formulas>
        <name>Customization_on_inherited_core_sku_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Agreement_Record.CheckBox_No_custom_inherited__c}, IF({!Get_Agreement_Record.No_customization_on_inherited_core_sku__c},&apos;Yes&apos;,&apos;No&apos;),{!No_customization_on_inherited_core_sku})</expression>
    </formulas>
    <formulas>
        <name>Customization_on_inherited_core_sku_NewR_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Agreement_Record.CheckBox_No_custom_inherited__c}, IF({!Get_Agreement_Record.No_customization_on_inherited_core_sku__c},&apos;Yes&apos;,&apos;No&apos;),&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Desktop_delivery_Formula</name>
        <dataType>String</dataType>
        <expression>{!Desktop_delivery}</expression>
    </formulas>
    <formulas>
        <name>Desktop_delivery_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Is_Desktop_Delivery__c}, IF({!Get_Agreement_Record.Desktop_Delivery__c},&apos;Yes&apos;,&apos;Needs validation&apos;),&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Does_the_contract_state_a_minimum_order_value_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Minimum_Order_Fee__c},{!Get_Agreement_Record.Minimum_Order_Fee__c},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Furniture_Delivery_Fee__c}, {!Get_Agreement_Record.Furniture_Delivery_Fee__c},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Small_Order_Fee__c},{!Get_Agreement_Record.Small_Order_Fee__c},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Forced_inheritance_no_custom_cores_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Forced_inheritance__c},{!Get_Agreement_Record.Forced_inheritance_no_custom_cores__c}
,{!Forced_inheritance_no_custom_cores})</expression>
    </formulas>
    <formulas>
        <name>Forced_inheritance_no_custom_cores_Formula_Compare</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Forced_inheritance__c},{!Get_Agreement_Record.Forced_inheritance_no_custom_cores__c}
,{!Forced_inheritance_no_custom_cores})</expression>
    </formulas>
    <formulas>
        <name>Forced_inheritance_no_custom_cores_New_Default</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Forced_inheritance__c},{!Get_Agreement_Record.Forced_inheritance_no_custom_cores__c}
,False)</expression>
    </formulas>
    <formulas>
        <name>Is_there_a_Most_Favored_Customer_claus_Formula</name>
        <dataType>String</dataType>
        <expression>{!Is_there_a_Most_Favored_Customer_claus}</expression>
    </formulas>
    <formulas>
        <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_MFN__c}, IF({!Get_Agreement_Record.MFN__c},&apos;Yes&apos;,&apos;No&apos;), &apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count1_Formula_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_1__c}
,{!Item_count_threshold_tier_Count1})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count1_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_1__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count2_Formula_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_2__c}
,{!Item_count_threshold_tier_Count2})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count2_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_2__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count3_Formula_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_3__c}
,{!Item_count_threshold_tier_Count3})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count3_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_3__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count4_Formula_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_4__c}
,{!Item_count_threshold_tier_Count4})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count4_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_4__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count5_Fromula_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_5__c}
,{!Item_count_threshold_tier_Count5})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_Count5_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Tier_5__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_From1_Formula_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Lower_Bracket_1__c}
,{!Item_count_threshold_tier_From1})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_From1_New_Formula</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Lower_Bracket_1__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To1_Formula_Compare</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_1__c}
,IF((({!Item_count_threshold_tier_To1}) != NULL), {!Item_count_threshold_tier_To1},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To1_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_1__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To2_Formula_Compare</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_2__c}
,IF((({!Item_count_threshold_tier_To2}) != NULL), {!Item_count_threshold_tier_To2},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To2_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_2__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To3_Formula_Compare</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_3__c}
,IF((({!Item_count_threshold_tier_To3}) != NULL), {!Item_count_threshold_tier_To3},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To3_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_3__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To4_Formula_Compare</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_4__c}
,IF((({!Item_count_threshold_tier_To4}) != NULL), {!Item_count_threshold_tier_To4},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To4_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_4__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To5_Formula_Compare</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_5__c}
,IF((({!Item_count_threshold_tier_To5}) != NULL), {!Item_count_threshold_tier_To5},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Item_count_threshold_tier_To5_New_Default</name>
        <dataType>Currency</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Nb_allowed_on_the_core__c},{!Get_Agreement_Record.Custom_Core_Item_Count_Upper_Bracket_5__c}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Minimum_Annual_Spend_Commitment_Amount_Compare</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Committed_Revenue__c},{!Get_Agreement_Record.Committed_Revenue__c}
,IF((({!Minimum_Annual_Spend_Commitment_Amount}) != NULL), {!Minimum_Annual_Spend_Commitment_Amount},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Minimum_Annual_Spend_Commitment_Amount_New_Default</name>
        <dataType>Number</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Committed_Revenue__c},{!Get_Agreement_Record.Committed_Revenue__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Minimum_Annual_Spend_Threshold_for_Prici_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Committed_Revenue__c},TEXT({!Get_Agreement_Record.Committed_Revenue__c})
,{!Minimum_Annual_Spend_Threshold_for_Price_Change})</expression>
    </formulas>
    <formulas>
        <name>Non_standard_language_New_Default</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Non_standard_callout__c},{!Get_Agreement_Record.Non_standard_callout_comment_box__c} ,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Nonstandard_language_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Non_standard_callout__c},{!Get_Agreement_Record.Non_standard_callout_comment_box__c}
,{!Nonstandard_language})</expression>
    </formulas>
    <formulas>
        <name>Other_cost_basis_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Cost_Basis_Other__c},{!Get_Agreement_Record.Cost_Basis_Other__c}
,{!Other_cost_basis})</expression>
    </formulas>
    <formulas>
        <name>Other_cost_basis_New_Default</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Cost_Basis_Other__c}, {!Get_Agreement_Record.Cost_Basis_Other__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Participation_requirement_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Participation_requirement} != NULL,{!Participation_requirement}, &apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Participation_requirement_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Agreement_Record.CheckBox_Doc_required_to_participate__c}, {!Get_Agreement_Record.Documentation_required_to_participate__c},IF({!Participation_requirement} != NULL, {!Participation_requirement}, &apos;Needs validation&apos;))</expression>
    </formulas>
    <formulas>
        <name>Participation_requirement_New_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Doc_required_to_participate__c}, {!Get_Agreement_Record.Documentation_required_to_participate__c},&apos;Needs validation&apos;)</expression>
    </formulas>
    <formulas>
        <name>Payment_Terms_Formula</name>
        <dataType>String</dataType>
        <expression>{!Payment_Terms}</expression>
    </formulas>
    <formulas>
        <name>Payment_Terms_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Agreement_Record.CheckBox_Payment_Term_Type__c}, {!Get_Agreement_Record.Payment_Term_Type__c},{!Payment_Terms})</expression>
    </formulas>
    <formulas>
        <name>Payment_Terms_New_Fromula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Payment_Term_Type__c}, {!Get_Agreement_Record.Payment_Term_Type__c},&apos;None&apos;)</expression>
    </formulas>
    <formulas>
        <name>Termination_Clause_Formula_Compare</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Out_Clause__c},{!Get_Agreement_Record.Out_Clause__c}
,{!Termination_Clause})</expression>
    </formulas>
    <formulas>
        <name>Termination_clause_new_Default</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Out_Clause__c}, {!Get_Agreement_Record.Out_Clause__c},{!Termination_Clause})</expression>
    </formulas>
    <formulas>
        <name>What_type_of_customer_communication_is_r_Formula</name>
        <dataType>String</dataType>
        <expression>{!What_type_of_customer_communication_is_r}</expression>
    </formulas>
    <formulas>
        <name>What_type_of_customer_communication_is_r_Formula_Compare</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Customer_comm_requirements__c}, TEXT({!Get_Agreement_Record.Customer_communication_requirements__c}),{!What_type_of_customer_communication_is_r})</expression>
    </formulas>
    <formulas>
        <name>What_type_of_customer_communication_is_required_to_permit_New_formula</name>
        <dataType>String</dataType>
        <expression>IF ({!Get_Agreement_Record.CheckBox_Customer_comm_requirements__c}, TEXT({!Get_Agreement_Record.Customer_communication_requirements__c}) ,&apos;None&apos;)</expression>
    </formulas>
    <interviewLabel>Pros Agreement to Contract Push {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pros Agreement to Contract Push</label>
    <loops>
        <name>Loop_over_cpts</name>
        <label>Loop over cpts</label>
        <locationX>1066</locationX>
        <locationY>273</locationY>
        <assignNextValueToReference>CPT_Record</assignNextValueToReference>
        <collectionReference>List_Of_CPT_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetIndividualCPTs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_CPT_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_primary_contract</name>
        <label>Create new primary contract</label>
        <locationX>492</locationX>
        <locationY>508</locationY>
        <assignRecordIdToReference>New_Primary_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Primary_CS_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Agreement_Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Extensions__c</field>
            <value>
                <elementReference>Contract_extensions_allowed_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Owner__c</field>
            <value>
                <stringValue>Pricing Compliance Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_State_Minimum_Order__c</field>
            <value>
                <elementReference>Does_the_contract_state_a_minimum_order_value_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <elementReference>Active_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>Contract_Term_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_allow_for_dependent_pricing_rel__c</field>
            <value>
                <elementReference>Does_the_contract_allow_for_dependent_pricing_relationships_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_state_a_Small_Order_Fee_charge__c</field>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_state_a_furniture_delivery_fee__c</field>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_basis__c</field>
            <value>
                <elementReference>Cost_basis_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_pricing_should_not_be_more_or_les__c</field>
            <value>
                <elementReference>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desktop_delivery__c</field>
            <value>
                <elementReference>Desktop_delivery_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation_confirmation_required_to_p__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forced_inheritance_no_custom_cores__c</field>
            <value>
                <elementReference>Forced_inheritance_no_custom_cores_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_a_Most_Favored_Customer_claus__c</field>
            <value>
                <elementReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count1__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count1_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count2__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count2_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count3__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count3_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count4__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count4_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count5__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count5_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_From1__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_From1_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To1__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To1_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To2__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To2_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To3__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To3_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To4__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To4_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To5__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To5_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Annual_Spend_Commitment_Amount__c</field>
            <value>
                <elementReference>Minimum_Annual_Spend_Commitment_Amount_New_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_customization_on_inherited_core_sku__c</field>
            <value>
                <elementReference>Customization_on_inherited_core_sku_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_standard_callout__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nonstandard_language__c</field>
            <value>
                <elementReference>Non_standard_language_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_cost_basis__c</field>
            <value>
                <elementReference>Other_cost_basis_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participation_requirement__c</field>
            <value>
                <elementReference>Participation_requirement_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Payment_Terms_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RDID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_clause__c</field>
            <value>
                <elementReference>Termination_clause_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_customer_communication_is_r__c</field>
            <value>
                <elementReference>What_type_of_customer_communication_is_required_to_permit_new_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Agreement_Record</name>
        <label>Get Agreement Record</label>
        <locationX>369</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PROS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Follower_relationship__c</queriedFields>
        <queriedFields>Renewal_Options__c</queriedFields>
        <queriedFields>Furniture_Delivery_Fee__c</queriedFields>
        <queriedFields>Small_Order_Fee__c</queriedFields>
        <queriedFields>Minimum_Order_Fee__c</queriedFields>
        <queriedFields>Agreement_Term__c</queriedFields>
        <queriedFields>Cost_Basis__c</queriedFields>
        <queriedFields>Less_Inherited_Pricing__c</queriedFields>
        <queriedFields>More_Inherited_Pricing__c</queriedFields>
        <queriedFields>More_Less_Inherited_Pricing__c</queriedFields>
        <queriedFields>Desktop_Delivery__c</queriedFields>
        <queriedFields>Forced_inheritance_no_custom_cores__c</queriedFields>
        <queriedFields>MFN__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Tier_1__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Tier_2__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Tier_3__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Tier_4__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Tier_5__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Lower_Bracket_1__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Upper_Bracket_1__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Upper_Bracket_2__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Upper_Bracket_3__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Upper_Bracket_4__c</queriedFields>
        <queriedFields>Custom_Core_Item_Count_Upper_Bracket_5__c</queriedFields>
        <queriedFields>Committed_Revenue__c</queriedFields>
        <queriedFields>Non_standard_callout_comment_box__c</queriedFields>
        <queriedFields>Cost_Basis_Other__c</queriedFields>
        <queriedFields>Documentation_required_to_participate__c</queriedFields>
        <queriedFields>Payment_Term_Type__c</queriedFields>
        <queriedFields>Out_Clause__c</queriedFields>
        <queriedFields>Customer_communication_requirements__c</queriedFields>
        <queriedFields>CheckBox_Minimum_Order_Fee__c</queriedFields>
        <queriedFields>CheckBox_Renewal_Options__c</queriedFields>
        <queriedFields>CheckBox_Follower_relationship__c</queriedFields>
        <queriedFields>CheckBox_Furniture_Delivery_Fee__c</queriedFields>
        <queriedFields>CheckBox_Small_Order_Fee__c</queriedFields>
        <queriedFields>CheckBox_Agreement_Term__c</queriedFields>
        <queriedFields>CheckBox_Cost_Basis__c</queriedFields>
        <queriedFields>CheckBox_More_Inherited_Pricing__c</queriedFields>
        <queriedFields>CheckBox_Less_Inherited_Pricing__c</queriedFields>
        <queriedFields>CheckBox_Is_Desktop_Delivery__c</queriedFields>
        <queriedFields>CheckBox_Forced_inheritance__c</queriedFields>
        <queriedFields>CheckBox_MFN__c</queriedFields>
        <queriedFields>CheckBox_Nb_allowed_on_the_core__c</queriedFields>
        <queriedFields>CheckBox_Committed_Revenue__c</queriedFields>
        <queriedFields>CheckBox_No_custom_inherited__c</queriedFields>
        <queriedFields>CheckBox_Non_standard_callout__c</queriedFields>
        <queriedFields>CheckBox_Cost_Basis_Other__c</queriedFields>
        <queriedFields>CheckBox_Doc_required_to_participate__c</queriedFields>
        <queriedFields>CheckBox_Payment_Term_Type__c</queriedFields>
        <queriedFields>CheckBox_Out_Clause__c</queriedFields>
        <queriedFields>CheckBox_Customer_comm_requirements__c</queriedFields>
        <queriedFields>Pushed_to_CSF__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_record</name>
        <label>Get Contract record</label>
        <locationX>464</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_agreement_already_pushed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement_Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>Contract_Extensions</assignToReference>
            <field>Contract_Extensions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract_State_Minimum_Order</assignToReference>
            <field>Contract_State_Minimum_Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract_Term</assignToReference>
            <field>Contract_Term__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract_allow_for_dependent_pricing_relationships</assignToReference>
            <field>Contract_allow_for_dependent_pricing_rel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract_state_a_Small_Order_Fee_charge</assignToReference>
            <field>Contract_state_a_Small_Order_Fee_charge__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract_state_a_furniture_delivery_fee</assignToReference>
            <field>Contract_state_a_furniture_delivery_fee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cost_basis</assignToReference>
            <field>Cost_basis__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Custom_pricing_should_not_be_more_or_les</assignToReference>
            <field>Custom_pricing_should_not_be_more_or_les__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Desktop_delivery</assignToReference>
            <field>Desktop_delivery__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Forced_inheritance_no_custom_cores</assignToReference>
            <field>Forced_inheritance_no_custom_cores__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryContractRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_there_a_Most_Favored_Customer_claus</assignToReference>
            <field>Is_there_a_Most_Favored_Customer_claus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_Count1</assignToReference>
            <field>Item_count_threshold_tier_Count1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_Count2</assignToReference>
            <field>Item_count_threshold_tier_Count2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_Count3</assignToReference>
            <field>Item_count_threshold_tier_Count3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_Count4</assignToReference>
            <field>Item_count_threshold_tier_Count4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_Count5</assignToReference>
            <field>Item_count_threshold_tier_Count5__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_From1</assignToReference>
            <field>Item_count_threshold_tier_From1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_To1</assignToReference>
            <field>Item_count_threshold_tier_To1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_To2</assignToReference>
            <field>Item_count_threshold_tier_To2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_To3</assignToReference>
            <field>Item_count_threshold_tier_To3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_To4</assignToReference>
            <field>Item_count_threshold_tier_To4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Item_count_threshold_tier_To5</assignToReference>
            <field>Item_count_threshold_tier_To5__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Minimum_Annual_Spend_Commitment_Amount</assignToReference>
            <field>Minimum_Annual_Spend_Commitment_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Minimum_Annual_Spend_Threshold_for_Price_Change</assignToReference>
            <field>Minimum_Annual_Spend_Threshold_for_Prici__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>No_customization_on_inherited_core_sku</assignToReference>
            <field>No_customization_on_inherited_core_sku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Nonstandard_language</assignToReference>
            <field>Nonstandard_language__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Other_cost_basis</assignToReference>
            <field>Other_cost_basis__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Participation_requirement</assignToReference>
            <field>Participation_requirement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Payment_Terms</assignToReference>
            <field>Payment_Terms__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Termination_Clause</assignToReference>
            <field>Termination_clause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>What_type_of_customer_communication_is_r</assignToReference>
            <field>What_type_of_customer_communication_is_r__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_related_CPTs</name>
        <label>Get related CPTs</label>
        <locationX>885</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NO_CPT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CameleonCPQ__QuoteId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement_Record.Quote__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pushed_to_CPT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121k0000004PHjAAM</stringValue>
            </value>
        </filters>
        <object>CameleonCPQ__QxQuoteLine__c</object>
        <outputReference>List_Of_CPT_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Pushed_to_CPT__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Pushed_To_CSF</name>
        <label>Pushed To CSF</label>
        <locationX>802</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>Get_related_CPTs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pushed_to_CSF__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>PROS_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_from_Agreement</name>
        <label>Update Contract from Agreement</label>
        <locationX>614</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Contract_Pushed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContractRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_allow_for_custom_cores__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Extensions__c</field>
            <value>
                <elementReference>Contract_extensions_allowed_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_State_Minimum_Order__c</field>
            <value>
                <elementReference>Does_the_contract_state_a_minimum_order_value_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>Contract_Term_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_allow_for_dependent_pricing_rel__c</field>
            <value>
                <elementReference>Does_the_contract_allow_for_dependent_pricing_relationships_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_state_a_Small_Order_Fee_charge__c</field>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_small_order_fee_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_state_a_furniture_delivery_fee__c</field>
            <value>
                <elementReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_basis__c</field>
            <value>
                <elementReference>Cost_basis_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_core_item_count__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_pricing_should_not_be_more_or_les__c</field>
            <value>
                <elementReference>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desktop_delivery__c</field>
            <value>
                <elementReference>Desktop_delivery_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation_confirmation_required_to_p__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forced_inheritance_no_custom_cores__c</field>
            <value>
                <elementReference>Forced_inheritance_no_custom_cores_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_a_Most_Favored_Customer_claus__c</field>
            <value>
                <elementReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_restrictions__c</field>
            <value>
                <elementReference>Tier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count1__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count1_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count2__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count2_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count3__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count3_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count4__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count4_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_Count5__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_Count5_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_From1__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_From1_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To1__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To1_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To2__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To2_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To3__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To3_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To4__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To4_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_count_threshold_tier_To5__c</field>
            <value>
                <elementReference>Item_count_threshold_tier_To5_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Annual_Spend_Commitment_Amount__c</field>
            <value>
                <elementReference>Minimum_Annual_Spend_Commitment_Amount_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_customization_on_inherited_core_sku__c</field>
            <value>
                <elementReference>Customization_on_inherited_core_sku_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_standard_callout__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nonstandard_language__c</field>
            <value>
                <elementReference>Non_standard_language_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_cost_basis__c</field>
            <value>
                <elementReference>Other_cost_basis_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participation_requirement__c</field>
            <value>
                <elementReference>Participation_requirement_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Payment_Terms_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_clause__c</field>
            <value>
                <elementReference>Termination_clause_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_customer_communication_is_r__c</field>
            <value>
                <elementReference>What_type_of_customer_communication_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Compare</name>
        <label>Compare</label>
        <locationX>504</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contract_from_Agreement</targetReference>
        </connector>
        <fields>
            <name>B1</name>
            <extensionName>c:BreakLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>B2</name>
            <extensionName>c:BreakLineNew</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Does_the_contract_allow_for_dependent_pricing_relationships_Old</name>
            <choiceReferences>Contract_allow_for_dependent_pricing_relationships_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_allow_for_dependent_pricing_relationships_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract allow for dependent pricing relationships?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_allow_for_dependent_pricing_relationships_New</name>
            <choiceReferences>Contract_allow_for_dependent_pricing_relationships_New_Default</choiceReferences>
            <choiceReferences>Does_the_contract_allow_for_dependent_pricing_relationships_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_allow_for_dependent_pricing_relationships_New_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract allow for dependent pricing relationships?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_extensions_allowed_Old</name>
            <choiceReferences>Contract_extensions_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_extensions_Default</defaultSelectedChoiceReference>
            <fieldText>Contract extensions allowed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_extensions_allowed_New</name>
            <choiceReferences>Contract_Extensions_Compare_Choice</choiceReferences>
            <choiceReferences>Contract_Extensions_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_Extensions_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Contract extensions allowed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Old</name>
            <choiceReferences>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract state we can charge a furniture delivery fee?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New</name>
            <choiceReferences>Contract_state_a_furniture_delivery_fee_Compare_Choice</choiceReferences>
            <choiceReferences>Contract_state_a_furniture_delivery_fee_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_state_a_furniture_delivery_fee_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Does the contract state we can charge a furniture delivery fee?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_we_can_charge_a_small_order_fee_Old</name>
            <choiceReferences>Contract_state_a_Small_Order_Fee_charge_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_state_a_Small_Order_Fee_charge_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract state we can charge a small order fee?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_we_can_charge_a_small_order_fee_New</name>
            <choiceReferences>Contract_state_a_Small_Order_Fee_charge_Compare_Choice</choiceReferences>
            <choiceReferences>Contract_state_a_Small_Order_Fee_charge_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_state_a_Small_Order_Fee_charge_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Does the contract state we can charge a small order fee?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_a_minimum_order_value_Old</name>
            <choiceReferences>Contract_State_Minimum_Order_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_State_Minimum_Order_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract state a minimum order value?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_a_minimum_order_value_New</name>
            <choiceReferences>Contract_State_Minimum_Order_Compare_Choice</choiceReferences>
            <choiceReferences>Contract_State_Minimum_Order_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_State_Minimum_Order_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Does the contract state a minimum order value?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_agreement</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contract_Term</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_Screen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contract_Term_Formula</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cost_basis_Old</name>
            <choiceReferences>Cost_basis_Default_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Cost_basis_Default_Choice</defaultSelectedChoiceReference>
            <fieldText>Cost basis</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cost_basis_New</name>
            <choiceReferences>Cost_basis_Compare_Choice</choiceReferences>
            <choiceReferences>Cost_basis_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Cost_basis_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Cost basis</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_cost_basis_old</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other_cost_basis</elementReference>
            </defaultValue>
            <fieldText>Other cost basis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_cost_basis_new</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other_cost_basis_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Other cost basis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_old</name>
            <choiceReferences>Custom_pricing_should_not_be_more_or_les_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Custom_pricing_should_not_be_more_or_les_Default</defaultSelectedChoiceReference>
            <fieldText>Custom pricing should not be more or less than inherited pricing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_new</name>
            <choiceReferences>Custom_pricing_should_not_be_more_or_les_Compare_Choice</choiceReferences>
            <choiceReferences>Custom_pricing_should_not_be_more_or_les_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Custom_pricing_should_not_be_more_or_les_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Custom pricing should not be more or less than inherited pricing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desktop_delivery_old</name>
            <choiceReferences>Desktop_delivery_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Desktop_delivery_Default</defaultSelectedChoiceReference>
            <fieldText>Desktop delivery?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desktop_delivery_new</name>
            <choiceReferences>Desktop_delivery_New_Default</choiceReferences>
            <choiceReferences>Desktop_delivery_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Desktop_delivery_New_Default</defaultSelectedChoiceReference>
            <fieldText>Desktop delivery?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Forced_inheritance_no_custom_cores_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Forced_inheritance_no_custom_cores</elementReference>
            </defaultValue>
            <fieldText>Forced inheritance (no custom cores)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Forced_inheritance_no_custom_cores_new</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Forced_inheritance_no_custom_cores_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Forced inheritance (no custom cores)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_old</name>
            <choiceReferences>Is_there_a_Most_Favored_Customer_claus_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Is_there_a_Most_Favored_Customer_claus_Default</defaultSelectedChoiceReference>
            <fieldText>Is there a Most Favored Customer clause in the contract?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_new</name>
            <choiceReferences>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</choiceReferences>
            <choiceReferences>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Pklst_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</defaultSelectedChoiceReference>
            <fieldText>Is there a Most Favored Customer clause in the contract?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count1_Old</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count1</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count1_New</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count1_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count2_Old</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count2</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count2_New</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count2_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count3_Old</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count3</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count3_New</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count3_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count4_Old</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count4</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count4_New</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count4_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count5_Old</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count5</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count5_New</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count5_Fromula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_From1_Old</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_From1</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier From1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_From1_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_From1_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier From1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To1_Old</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To1</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To1_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To1_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To2_Old</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To2</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To2_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To2_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To3_Old</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To3</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To3_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To3_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To4_Old</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To4</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To4_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To4_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To5_Old</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To5</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To5_New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To5_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Minimum_Annual_Spend_Commitment_Amount_Old</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Minimum_Annual_Spend_Commitment_Amount</elementReference>
            </defaultValue>
            <fieldText>Minimum Annual Spend Commitment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Minimum_Annual_Spend_Commitment_Amount_New</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Minimum_Annual_Spend_Commitment_Amount_Compare</elementReference>
            </defaultValue>
            <fieldText>Minimum Annual Spend Commitment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Customization_on_inherited_core_sku_old</name>
            <choiceReferences>customization_on_inherited_core_sku_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>customization_on_inherited_core_sku_Choice</defaultSelectedChoiceReference>
            <fieldText>Customization on inherited core sku</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customization_on_inherited_core_sku_new</name>
            <choiceReferences>Customization_on_inherited_core_sku_New_Default</choiceReferences>
            <choiceReferences>Customization_on_inherited_core_sku_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Customization_on_inherited_core_sku_New_Default</defaultSelectedChoiceReference>
            <fieldText>Customization on inherited core sku</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Non_standard_language_old</name>
            <defaultValue>
                <stringValue>{!Nonstandard_language}</stringValue>
            </defaultValue>
            <fieldText>Non-standard language</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Non_standard_language_new</name>
            <defaultValue>
                <stringValue>{!Nonstandard_language_Formula_Compare}</stringValue>
            </defaultValue>
            <fieldText>Non-standard language</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Participation_requirement_old</name>
            <choiceReferences>Participation_requirement_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Participation_requirement_Default</defaultSelectedChoiceReference>
            <fieldText>Participation requirement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Participation_requirement_new</name>
            <choiceReferences>Participation_requirement_Compare_Choice</choiceReferences>
            <choiceReferences>Participation_requirement_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Participation_requirement_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Participation requirement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Terms_old</name>
            <choiceReferences>Payment_Terms_Default</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Terms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Terms_new</name>
            <choiceReferences>Payment_Terms_Compare_Choice</choiceReferences>
            <choiceReferences>Payment_Terms_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Payment_Terms_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>Payment Terms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Termination_clause_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Termination_Clause</elementReference>
            </defaultValue>
            <fieldText>Termination clause</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Termination_clause_new</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Termination_Clause_Formula_Compare</elementReference>
            </defaultValue>
            <fieldText>Termination clause</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_type_of_customer_communication_old</name>
            <choiceReferences>What_type_of_customer_communication_is_r_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>What_type_of_customer_communication_is_r_Default</defaultSelectedChoiceReference>
            <fieldText>What type of customer communication is required to permit the addition of a SKU onto the custom core?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_type_of_customer_communication_new</name>
            <choiceReferences>What_type_of_customer_communication_is_r_Compare_Choice</choiceReferences>
            <choiceReferences>What_type_of_customer_communication_is_r_Compare_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>What_type_of_customer_communication_is_r_Compare_Choice</defaultSelectedChoiceReference>
            <fieldText>What type of customer communication is required to permit the addition of a SKU onto the custom core?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Pushed</name>
        <label>Contract Pushed</label>
        <locationX>709</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pushed_To_CSF</targetReference>
        </connector>
        <fields>
            <name>Contract_Updated</name>
            <fieldText>&lt;p&gt;Agreement is pushed to existing primary CSF successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Primary_Contract_Screen</name>
        <label>Create New Primary Contract Screen</label>
        <locationX>398</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_primary_contract</targetReference>
        </connector>
        <fields>
            <name>Does_the_contract_allow_for_dependent_pricing_relationships_New_Record</name>
            <choiceReferences>Contract_allow_for_dependent_pricing_relationships_New_Record_DC</choiceReferences>
            <choiceReferences>Does_the_contract_allow_for_dependent_pricing_relationships_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_allow_for_dependent_pricing_relationships_New_Record_DC</defaultSelectedChoiceReference>
            <fieldText>Does the contract allow for dependent pricing relationships?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_extensions_allowed_New_Record</name>
            <choiceReferences>Contract_extensions_New_Default</choiceReferences>
            <choiceReferences>Contract_extensions_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contract_extensions_New_Default</defaultSelectedChoiceReference>
            <fieldText>Contract extensions allowed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Record</name>
            <choiceReferences>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Default</choiceReferences>
            <choiceReferences>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Pklst_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_New_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract state we can charge a furniture delivery fee?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Record</name>
            <choiceReferences>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Default</choiceReferences>
            <choiceReferences>Does_the_contract_state_we_can_charge_a_small_order_fee_New_plklst_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Does_the_contract_state_we_can_charge_a_small_order_fee_New_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract state we can charge a small order fee?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_contract_state_a_minimum_order_value_New_Record</name>
            <choiceReferences>Does_the_contract_state_a_minimum_order_value_New_Default</choiceReferences>
            <choiceReferences>Does_the_contract_state_a_minimum_order_value_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Does_the_contract_state_a_minimum_order_value_New_Default</defaultSelectedChoiceReference>
            <fieldText>Does the contract state a minimum order value?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_New_Record</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contract_Term_New_Formula</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cost_basis_New_Record</name>
            <choiceReferences>Cost_basis_New_Default_Choice</choiceReferences>
            <choiceReferences>Cost_basis_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Cost_basis_New_Default_Choice</defaultSelectedChoiceReference>
            <fieldText>Cost basis</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Record</name>
            <choiceReferences>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Default</choiceReferences>
            <choiceReferences>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_pst_choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Custom_pricing_should_not_be_more_or_less_than_inherited_pricing_New_Default</defaultSelectedChoiceReference>
            <fieldText>Custom pricing should not be more or less than inherited pricing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desktop_delivery_new_record</name>
            <choiceReferences>Desktop_delivery_New_Default</choiceReferences>
            <choiceReferences>Desktop_delivery_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Desktop_delivery_New_Default</defaultSelectedChoiceReference>
            <fieldText>Desktop delivery?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Forced_inheritance_no_custom_cores_new_record</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Forced_inheritance_no_custom_cores_New_Default</elementReference>
            </defaultValue>
            <fieldText>Forced inheritance (no custom cores)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_a_Most_Favored_Customer_clause_in_the_contract_new_record</name>
            <choiceReferences>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</choiceReferences>
            <choiceReferences>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Pklst_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Is_there_a_Most_Favored_Customer_clause_in_the_contract_New_Default</defaultSelectedChoiceReference>
            <fieldText>Is there a Most Favored Customer clause in the contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count1_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count1_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count2_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count2_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count3_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count3_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count4_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count4_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_Count5_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_Count5_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier Count5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>5</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_From1_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_From1_New_Formula</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier From1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To1_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To1_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To2_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To2_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To3_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To3_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To4_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To4_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Item_count_threshold_tier_To5_new_record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Item_count_threshold_tier_To5_New_Default</elementReference>
            </defaultValue>
            <fieldText>Item count threshold/tier To5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Minimum_Annual_Spend_Commitment_Amount_New_Record</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Minimum_Annual_Spend_Commitment_Amount_New_Default</elementReference>
            </defaultValue>
            <fieldText>Minimum Annual Spend Commitment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Customization_on_inherited_core_sku_new_record</name>
            <choiceReferences>Customization_on_inherited_core_sku_NewR_Picklist_Choices</choiceReferences>
            <choiceReferences>Customization_on_inherited_core_sku_NewR_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Customization_on_inherited_core_sku_NewR_Default</defaultSelectedChoiceReference>
            <fieldText>Customization on inherited core sku</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Non_standard_language_new_record</name>
            <defaultValue>
                <stringValue>{!Non_standard_language_New_Default}</stringValue>
            </defaultValue>
            <fieldText>Non-standard language</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_cost_basis_new_record</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other_cost_basis_New_Default</elementReference>
            </defaultValue>
            <fieldText>Other cost basis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Participation_requirement_new_record</name>
            <choiceReferences>Participation_requirement_New_Default</choiceReferences>
            <choiceReferences>Participation_requirement_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Participation_requirement_New_Default</defaultSelectedChoiceReference>
            <fieldText>Participation requirement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Terms_new_record</name>
            <choiceReferences>Payment_Terms_New_Default</choiceReferences>
            <choiceReferences>Payment_Terms_New_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Payment_Terms_New_Default</defaultSelectedChoiceReference>
            <fieldText>Payment Terms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Termination_clause_new_record</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Termination_clause_new_Default</elementReference>
            </defaultValue>
            <fieldText>Termination clause</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_type_of_customer_communication_is_required_to_permit_new_record</name>
            <choiceReferences>What_type_of_customer_communication_is_required_to_permit_New_Default</choiceReferences>
            <choiceReferences>What_type_of_customer_communication_is_required_to_permit_New_Picklist_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>What_type_of_customer_communication_is_required_to_permit_New_Default</defaultSelectedChoiceReference>
            <fieldText>What type of customer communication is required to permit the addition of a SKU onto the custom core?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NOCPTS</name>
        <label>NOCPTS</label>
        <locationX>885</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NOCPT</name>
            <fieldText>&lt;p&gt;Either all CPT records are pushed or there are no CPT record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Primary_CS_Created</name>
        <label>Primary CS Created</label>
        <locationX>606</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pushed_To_CSF</targetReference>
        </connector>
        <fields>
            <name>Primary_Created</name>
            <fieldText>&lt;p&gt;New primary CSF is created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_CPT_Record</name>
        <label>Select CPT Record</label>
        <locationX>965</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pros_QLI_to_CPT</targetReference>
        </connector>
        <fields>
            <name>Select_Existing_CPTs</name>
            <choiceReferences>CPT_Ids_To_Display</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Existing CPTs</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>29</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Agreement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Pros_QLI_to_CPT</name>
        <label>Pros QLI to CPT</label>
        <locationX>1365</locationX>
        <locationY>443</locationY>
        <flowName>Pros_Quote_Line_to_CPT_Push</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedQLIId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PreviousCheck</assignToReference>
            <name>Previous_Check</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedQLIId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Contract_allow_for_dependent_pricing_relationships</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Extensions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_extensions_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_state_a_furniture_delivery_fee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_state_a_Small_Order_Fee_charge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_State_Minimum_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cost_basis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPT_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPT_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CameleonCPQ__QxQuoteLine__c</objectType>
    </variables>
    <variables>
        <name>CPT_Record1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CameleonCPQ__QxQuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Custom_pricing_should_not_be_more_or_les</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Desktop_delivery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Does_the_contract_allow_for_dependent_pricing_relationships_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Does_the_contract_state_we_can_charge_a_furniture_delivery_fee_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Forced_inheritance_no_custom_cores</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_there_a_Most_Favored_Customer_claus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_Count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_Count2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_Count3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_Count4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_Count5</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_From1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_To1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_To2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_To3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_To4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Item_count_threshold_tier_To5</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>List_Of_CPT_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CameleonCPQ__QxQuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Minimum_Annual_Spend_Commitment_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Minimum_Annual_Spend_Threshold_for_Price_Change</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Primary_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>No_customization_on_inherited_core_sku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nonstandard_language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_cost_basis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Participation_requirement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PreviousCheck1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryContractRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedQLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Termination_Clause</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>What_type_of_customer_communication_is_r</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
