flows/Sales_Admin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_RD_Choice</name>
        <choiceText>Account Request/Download</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Request/Download</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assembly_Choice</name>
        <choiceText>Assembly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assembly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coded_Request_Choice</name>
        <choiceText>Coded Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Coded_Request_Selection</elementReference>
        </value>
    </choices>
    <choices>
        <name>Customer_Choice</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Resolution_Choice</name>
        <choiceText>Customer Resolution</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Customer_Resolution_Selection</elementReference>
        </value>
    </choices>
    <choices>
        <name>Deal_Maker_Assistance</name>
        <choiceText>DealMaker Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DealMaker Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>File_Assistance</name>
        <choiceText>File Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>File Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inventory_Management</name>
        <choiceText>Inventory Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inventory Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Market_Office_Support</name>
        <choiceText>Market/Office Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Market/Office Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neither_Choice</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing_Request</name>
        <choiceText>Pricing Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_Requests</name>
        <choiceText>Project Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Rep_option1</name>
        <choiceText>Forecast Increase Request for Item Customer  is already buying</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Rep Option2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Rep_option2</name>
        <choiceText>Forecast Increase Request for Item Customer is NOT already buying</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Rep Option2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supply_Sample_Requests</name>
        <choiceText>Supply Sample Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supply Sample Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>White_Glove_Choice</name>
        <choiceText>White Glove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White Glove</stringValue>
        </value>
    </choices>
    <constants>
        <name>Coded_Form_Upload</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Furniture_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Internal</description>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <description>Updated SCOE Recordtype Id</description>
    <formulas>
        <name>Get_Req_formula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Sales Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Admin v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>485</locationX>
        <locationY>40</locationY>
        <assignRecordIdToReference>Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>General_Description_SA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Sales Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Options_Sales_Admin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Options_Sales_Admin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>SalesAdmin_Flow_Page_1</name>
        <label>SalesAdmin_Flow_Page_1</label>
        <locationX>307</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>Selection_Legal</name>
            <fieldText>&lt;p&gt;Please select the option that best fits: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Options_Sales_Admin</name>
            <choiceReferences>Account_RD_Choice</choiceReferences>
            <choiceReferences>Deal_Maker_Assistance</choiceReferences>
            <choiceReferences>File_Assistance</choiceReferences>
            <choiceReferences>Market_Office_Support</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Pricing_Request</choiceReferences>
            <choiceReferences>Project_Requests</choiceReferences>
            <choiceReferences>Supply_Sample_Requests</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>General_Description_SA</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>submission_screen</name>
        <label>submission screen</label>
        <locationX>866</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>submission</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you! Your case has been submitted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload</name>
        <label>Upload</label>
        <locationX>673</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>submission_screen</targetReference>
        </connector>
        <fields>
            <name>note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Upload Attachment(s)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Admin_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Record_ID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SalesAdmin_Flow_Page_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>acctnm</elementReference>
        </value>
    </variables>
    <variables>
        <name>Case_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_id_file_upload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Coded_Request_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Name_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Phone_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <name>Customer_Resolution_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>FinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>caseid</elementReference>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Sales Admin</description>
        <name>IssueTypeSAFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sales Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>Order_Num_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOE_description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scoe_Issue_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Reordtype Id for the SCOE Case recordtype.</description>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOE_Support_Subtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCOE_Support_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sales Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>ShipTo_Seq_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Support_Requester_c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
