flows/SCOE_Support.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Maintenance</name>
        <choiceText>Account Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Service</name>
        <choiceText>Customer Service</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>Reporting/Sales Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting/Sales Admin</stringValue>
        </value>
    </choices>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID - SCOE</description>
        <name>RecordTypeIDSCOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </constants>
    <constants>
        <description>Internal</description>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Choices</name>
        <label>Choices</label>
        <locationX>485</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Maintance_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypeSCOE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Maintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Maintance_Choice</targetReference>
            </connector>
            <label>Account Maintance Decision</label>
        </rules>
        <rules>
            <name>Customer_Service_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypeSCOE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Service</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Service_Choice</targetReference>
            </connector>
            <label>Customer Service Decision</label>
        </rules>
        <rules>
            <name>Reporting_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypeSCOE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reporting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Choice</targetReference>
            </connector>
            <label>Reporting Decision</label>
        </rules>
        <rules>
            <name>Furniture_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypeSCOE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Furniture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Furniture_Screen</targetReference>
            </connector>
            <label>Furniture Decision</label>
        </rules>
    </decisions>
    <interviewLabel>SCOE Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCOE Support 17</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create_Account_Maintenance</name>
        <label>Case Create: Account Maintenance</label>
        <locationX>236</locationX>
        <locationY>464</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubAcctMaint</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Customer_Service</name>
        <label>Case Create: Customer Service</label>
        <locationX>461</locationX>
        <locationY>457</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubCS</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Furniture</name>
        <label>Case Create: Furniture</label>
        <locationX>907</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescFurniture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueType_Furniture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Furniture_Texttemplate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Reporting</name>
        <label>Case Create: Reporting</label>
        <locationX>650</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubRT</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>459</locationX>
        <locationY>5</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_would_you_like_to_do_SCOE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Maintance_Choice</name>
        <label>Account Maintance</label>
        <locationX>224</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Account_Maintenance</targetReference>
        </connector>
        <fields>
            <name>AcctMainNote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us about your Account Maintenance Request: &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_AM</name>
            <dataType>String</dataType>
            <fieldText>Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_AM</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>528</locationX>
        <locationY>719</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirm</name>
            <fieldText>Thank you! Your case has been submitted.  If you need to add additional files, please attach it to the support case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Service_Choice</name>
        <label>Customer Service</label>
        <locationX>465</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Customer_Service</targetReference>
        </connector>
        <fields>
            <name>CustomSerNote_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us about your Customer Service Request: &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_CS</name>
            <dataType>String</dataType>
            <fieldText>Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_CS</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Furniture_Screen</name>
        <label>Furniture</label>
        <locationX>905</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Furniture</targetReference>
        </connector>
        <fields>
            <name>Furniture_Request</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us about your Furniture Request: &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_Furniture</name>
            <dataType>String</dataType>
            <fieldText>Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Furniture_New</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting_Choice</name>
        <label>Reporting</label>
        <locationX>720</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Reporting</targetReference>
        </connector>
        <fields>
            <name>ReportingNote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us about your Reporting Request: &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_RT</name>
            <dataType>String</dataType>
            <fieldText>Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_RT</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>529</locationX>
        <locationY>598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Limit</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_would_you_like_to_do_SCOE</name>
        <label>What would you like to do SCOE</label>
        <locationX>461</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
        <fields>
            <name>SCOENote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select a SCOE Issue Type: &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acct</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Name: {!acctnm}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Number: {!custid}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestTypeSCOE</name>
            <choiceReferences>Account_Maintenance</choiceReferences>
            <choiceReferences>Customer_Service</choiceReferences>
            <choiceReferences>Furniture</choiceReferences>
            <choiceReferences>Reporting</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Account_Details</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AccountMaint</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Account_Maintenance}</text>
    </textTemplates>
    <textTemplates>
        <description>Description</description>
        <name>DescAM</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Description_AM}</text>
    </textTemplates>
    <textTemplates>
        <description>Description: Customer Service</description>
        <name>DescCS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Description_CS}</text>
    </textTemplates>
    <textTemplates>
        <name>DescFurniture</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Description_Furniture_New}</text>
    </textTemplates>
    <textTemplates>
        <description>Description: Reporting</description>
        <name>DescRT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Description_RT}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject: Account Maintenance</description>
        <name>SubAcctMaint</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Subject_AM}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject Customer Service</description>
        <name>SubCS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Subject_CS}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Furniture_Texttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Subject_Furniture}</text>
    </textTemplates>
    <textTemplates>
        <description>Subject: Reporting</description>
        <name>SubRT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Subject_RT}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>acctnm</elementReference>
        </value>
    </variables>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>FinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>caseid</elementReference>
        </value>
    </variables>
    <variables>
        <name>IssueType_Furniture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Account Maintenance</description>
        <name>IssueTypeAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Maintenance</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Customer Service</description>
        <name>IssueTypeCS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Reporting</description>
        <name>IssueTypeRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Reporting/Sales Admins</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
