flows/SCOE_Customer_Service.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Maintenance</name>
        <choiceText>Account Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>BulkOrderplacing</name>
        <choiceText>Large or Bulk Order Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Large or Bulk Order Requests</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - Carrier Complaint</description>
        <name>Carrier_Complaint</name>
        <choiceText>Carrier Complaint (Carrier complaints, Ongoing delivery complaints, furniture/large order tracking inquiries)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Carrier Compliant</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - Credit Request Inquiry</description>
        <name>Credit_Request_Inquiry</name>
        <choiceText>Request Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creditrebill</name>
        <choiceText>Credit and Rebill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit and Rebill</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditReturnonly</name>
        <choiceText>Credit / Return Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit/Return Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Service</name>
        <choiceText>Customer Service</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Supply Chain - Damaged Order</description>
        <name>Damaged_Order</name>
        <choiceText>Damaged Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damaged Order</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - Delivery Issue</description>
        <name>Delivery_Issue</name>
        <choiceText>Delivery Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery_Related</name>
        <choiceText>Delivery Related</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery Related</stringValue>
        </value>
    </choices>
    <choices>
        <name>EDIOrderPlacing</name>
        <choiceText>EDI Order Placing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EDI Order Placing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>InvoiceCopyandPOD</name>
        <choiceText>Invoice Copy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice Copy</stringValue>
        </value>
    </choices>
    <choices>
        <name>ItemAvailability</name>
        <choiceText>Item Availability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Item Availability</stringValue>
        </value>
    </choices>
    <choices>
        <description>Loss prevention/Fraud</description>
        <name>Loss_Prevention_Fraud</name>
        <choiceText>Loss prevention/Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loss prevention/Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - Missing Item/Incorrect Item Received</description>
        <name>Missing_Item_Incorrect_Item</name>
        <choiceText>Missing/Incorrect Item Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing/Incorrect Item Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSDSRequestLosspreventionFraud</name>
        <choiceText>MSDS Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSDS Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneTime</name>
        <choiceText>One Time Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Orde</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ongoing</name>
        <choiceText>Ongoing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ongoing</stringValue>
        </value>
    </choices>
    <choices>
        <description>Oder Related</description>
        <name>Order_Related</name>
        <choiceText>Order Related</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Related</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - Order Status</description>
        <name>Order_Status</name>
        <choiceText>Order Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderCarrierIssues</name>
        <choiceText>Order Carrier Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Carrier Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlaceOrderOrderModification</name>
        <choiceText>Place Order- Order Modification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Place Order- Order Modification</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlacingOrderNewOrder</name>
        <choiceText>Placing Order-New Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Placing Order-New Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlacingOrdersDuplicateOrder</name>
        <choiceText>Placing Orders-Duplicate Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Placing Orders-Duplicate Order</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - POD</description>
        <name>POD</name>
        <choiceText>POD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POD</stringValue>
        </value>
    </choices>
    <choices>
        <description>Product Related/Order Related</description>
        <name>Product_Oder_Related</name>
        <choiceText>Product Related</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Related</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>Reporting/Sales Admins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting/Sales Admins</stringValue>
        </value>
    </choices>
    <choices>
        <description>Supply Chain - Return Request Inquiry</description>
        <name>Return_Request_Inquiry</name>
        <choiceText>Request Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReturnNotPickedup</name>
        <choiceText>Return Not Picked up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return Not Picked up</stringValue>
        </value>
    </choices>
    <choices>
        <name>SCOEStampOrder</name>
        <choiceText>SCOE Stamp Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SCOE Stamp Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>StoreOrderIssues</name>
        <choiceText>Store Order Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Store Order Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID - SCOE</description>
        <name>RecordTypeIDSCOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </constants>
    <constants>
        <description>Internal</description>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Choices</name>
        <label>Choices</label>
        <locationX>1048</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Carrier_Complaint</elementReference>
                </rightValue>
            </conditions>
            <label>Customer Service Decision</label>
        </rules>
        <rules>
            <name>Furniture_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Furniture</elementReference>
                </rightValue>
            </conditions>
            <label>Furniture Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>1580</locationX>
        <locationY>733</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bulk_Ordering_Placing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BulkOrderplacing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Order_Screen</targetReference>
            </connector>
            <label>Bulk Ordering Placing</label>
        </rules>
        <rules>
            <name>Credit_Rebill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Creditrebill</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Order_Screen_0</targetReference>
            </connector>
            <label>Credit Rebill</label>
        </rules>
        <rules>
            <name>Credit_Request_Inquiry_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Request_Inquiry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Request_Inquiry_0</targetReference>
            </connector>
            <label>Credit Request Inquiry</label>
        </rules>
        <rules>
            <name>Damaged_Oder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Damaged_Order</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Damaged_Order_Screen</targetReference>
            </connector>
            <label>Damaged Oder</label>
        </rules>
        <rules>
            <name>EDI_Order_Placing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EDIOrderPlacing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EDI_Order_Screen</targetReference>
            </connector>
            <label>EDI Order Placing</label>
        </rules>
        <rules>
            <name>Order_Status_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order_Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Status_Screen</targetReference>
            </connector>
            <label>Order Status</label>
        </rules>
        <rules>
            <name>Place_Order_Modification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PlaceOrderOrderModification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Modification_Screen</targetReference>
            </connector>
            <label>Place Order - Modification</label>
        </rules>
        <rules>
            <name>Placing_Order_New_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PlacingOrderNewOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EDI_Order_Screen_0</targetReference>
            </connector>
            <label>Placing Order - New Order</label>
        </rules>
        <rules>
            <name>Placing_Order_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PlacingOrdersDuplicateOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placing_Duplicate_Screen</targetReference>
            </connector>
            <label>Placing Order - Duplicate</label>
        </rules>
        <rules>
            <name>Return_Request_Inquiry_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Return_Request_Inquiry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Request_Inquiryscreen</targetReference>
            </connector>
            <label>Return Request Inquiry</label>
        </rules>
        <rules>
            <name>SCOE_Stamp_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRelatedChoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SCOEStampOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCOE_Stamp_Screen</targetReference>
            </connector>
            <label>SCOE Stamp Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>603</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Carrier_Complaint_Supply_Chain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Carrier_Complaint</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carrier_Complaint_1</targetReference>
            </connector>
            <label>Carrier Complaint - Supply Chain</label>
        </rules>
        <rules>
            <name>Delivery_Issue_Supply_Chain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delivery_Issue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Issue_Screen</targetReference>
            </connector>
            <label>Delivery Issue - Supply Chain</label>
        </rules>
        <rules>
            <name>POD_Supply_Chain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>POD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POD_Screen</targetReference>
            </connector>
            <label>POD - Supply Chain</label>
        </rules>
        <rules>
            <name>Credit_Return_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreditReturnonly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Return_Only_Screen</targetReference>
            </connector>
            <label>Credit/Return Only</label>
        </rules>
        <rules>
            <name>Invoice_Copy_and_POD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvoiceCopyandPOD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Copy_and_POD_Screen</targetReference>
            </connector>
            <label>Invoice Copy and POD</label>
        </rules>
        <rules>
            <name>Order_Carrier_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderCarrierIssues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Carrier_Issue</targetReference>
            </connector>
            <label>Order Carrier Issues</label>
        </rules>
        <rules>
            <name>Return_Not_Picked_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReturnNotPickedup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Not_Picked_Up_Screen</targetReference>
            </connector>
            <label>Return Not Picked Up</label>
        </rules>
        <rules>
            <name>Store_Order_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryRelatedChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StoreOrderIssues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Order_Issue_screen</targetReference>
            </connector>
            <label>Store Order Issues</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Decision 4</label>
        <locationX>2412</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSDS_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRelatedOrderRelatedchoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSDSRequestLosspreventionFraud</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSDS_Request_Loss_prevention_Fraud</targetReference>
            </connector>
            <label>MSDS Request</label>
        </rules>
        <rules>
            <name>Missing_Incorrect_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRelatedOrderRelatedchoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Missing_Item_Incorrect_Item</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Item_Request</targetReference>
            </connector>
            <label>Missing/Incorrect Item</label>
        </rules>
        <rules>
            <name>Item_Availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRelatedOrderRelatedchoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ItemAvailability</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Availabilty_Screen</targetReference>
            </connector>
            <label>Item Availability</label>
        </rules>
        <rules>
            <name>Loss_prevention_Fraud1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRelatedOrderRelatedchoices_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loss_Prevention_Fraud</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSDS_Request_Loss_prevention_Fraud_0</targetReference>
            </connector>
            <label>Loss prevention Fraud</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisions</name>
        <label>Decisions</label>
        <locationX>2084</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Related_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_request_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delivery_Related</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Related_Screen</targetReference>
            </connector>
            <label>Delivery Related</label>
        </rules>
        <rules>
            <name>Oder_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_request_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order_Related</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Related_Screen</targetReference>
            </connector>
            <label>Oder Related</label>
        </rules>
        <rules>
            <name>Product_Order_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_request_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Oder_Related</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Order_Related_Screen</targetReference>
            </connector>
            <label>Product Order Related</label>
        </rules>
    </decisions>
    <description>Added supply chain back to customer service option - Active</description>
    <interviewLabel>SCOE Customer Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create_1</name>
        <label>Case Create 1</label>
        <locationX>1959</locationX>
        <locationY>415</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Bulk_Ordering</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Large or Bulk Order Requests</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Order Related</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_10</name>
        <label>Case Create 10</label>
        <locationX>1239</locationX>
        <locationY>797</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Damaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Supply Chain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_11</name>
        <label>Case Create 11</label>
        <locationX>1219</locationX>
        <locationY>953</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Order_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Supply Chain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_12</name>
        <label>Case Create 12</label>
        <locationX>859</locationX>
        <locationY>352</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_CarrierComplaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Supply_Chain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Supply Chain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Carrier Complaint</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Carrier Complaint</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_13</name>
        <label>Case Create 13</label>
        <locationX>916</locationX>
        <locationY>639</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Delivery_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Supply Chain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Delivery Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_14</name>
        <label>Case Create 14</label>
        <locationX>930</locationX>
        <locationY>775</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_POD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Supply Chain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>POD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_14_0</name>
        <label>Case Create 14</label>
        <locationX>267</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Credit_Return_Only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Credit/Return Only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_15</name>
        <label>Case Create 15</label>
        <locationX>256</locationX>
        <locationY>720</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Invoice_POD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Invoice Copy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_16</name>
        <label>Case Create 16</label>
        <locationX>237</locationX>
        <locationY>844</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Order_Carrier_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Order Carrier Issues</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_17</name>
        <label>Case Create 17</label>
        <locationX>256</locationX>
        <locationY>1022</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Return_not_picked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Return Not Picked Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_18</name>
        <label>Case Create 18</label>
        <locationX>234</locationX>
        <locationY>1156</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Store_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Store Order Issues</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DeliveryRelatedChoice_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_2</name>
        <label>Case Create 2</label>
        <locationX>1780</locationX>
        <locationY>605</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Credit_Rebill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_20</name>
        <label>Case Create 20</label>
        <locationX>2808</locationX>
        <locationY>249</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_MSDSRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>MSDS Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ProductRelatedOrderRelatedchoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_20_0</name>
        <label>Case Create 20</label>
        <locationX>2770</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Loss_Prevention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Loss prevention/Fraud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ProductRelatedOrderRelatedchoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_3</name>
        <label>Case Create 3</label>
        <locationX>1764</locationX>
        <locationY>717</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_EDI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_4</name>
        <label>Case Create 4</label>
        <locationX>2198</locationX>
        <locationY>568</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Item_Availabilty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Item Availability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Item Availability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_5</name>
        <label>Case Create 5</label>
        <locationX>1762</locationX>
        <locationY>987</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Modification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_6</name>
        <label>Case Create 6</label>
        <locationX>1589</locationX>
        <locationY>1076</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_New_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_6_0</name>
        <label>Case Create 6</label>
        <locationX>2153</locationX>
        <locationY>900</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Return_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Request Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_7</name>
        <label>Case Create 7</label>
        <locationX>1595</locationX>
        <locationY>1208</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Duplicate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_8</name>
        <label>Case Create 8</label>
        <locationX>1572</locationX>
        <locationY>1345</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_SCOE_Stamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_9</name>
        <label>Case Create 9</label>
        <locationX>1204</locationX>
        <locationY>551</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Credit_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Request Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderRelatedChoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_9_0</name>
        <label>Case Create 9</label>
        <locationX>2608</locationX>
        <locationY>699</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>TT_Missing_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Customer_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Supply Chain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Missing Item/Incorrect Item Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ProductRelatedOrderRelatedchoices_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>1655</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Bulk_Order_Screen</name>
        <label>Bulk Order Screen</label>
        <locationX>1632</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_1</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_to_Address</name>
            <dataType>String</dataType>
            <fieldText>Ship to Address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_Number</name>
            <dataType>String</dataType>
            <fieldText>Item Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Cost_Center_and_Account_specific_Info</name>
            <fieldText>PO, Cost Center and Account specific Info.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Bulk_Order_Screen_0</name>
        <label>Credit &amp; Rebill Screen</label>
        <locationX>1911</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_2</targetReference>
        </connector>
        <fields>
            <name>Order_1</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_credit_and_rebill</name>
            <fieldText>Reason for credit and rebill:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Carrier_Complaint_1</name>
        <label>Carrier Complaint</label>
        <locationX>752</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_12</targetReference>
        </connector>
        <fields>
            <name>Order_1_0_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Input a valid Order# &lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
!ISBLANK( {!Order_1_0_0_0_0} ),
LEN({!Order_1_0_0_0_0}) &lt;14 )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description_of_complaint_issue</name>
            <fieldText>Description of complaint/issue:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1916</locationX>
        <locationY>1576</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirm</name>
            <fieldText>Thank you! Your case has been submitted.  If you need to add additional files, please attach it to the support case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_0</name>
        <label>Confirmation Screen</label>
        <locationX>2187</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirm_0</name>
            <fieldText>Thank you! Your case has been submitted.  If you need to add additional files, please attach it to the support case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirmationattachment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;Attachments&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please click &lt;/span&gt;&lt;a href=&quot;https://officedepot.my.salesforce.com/{!varRecordTypeID}&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;b&gt;&lt;u&gt;HERE&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; to add related attachments.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Request_Inquiry_0</name>
        <label>Credit Request Inquiry</label>
        <locationX>1398</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_9</targetReference>
        </connector>
        <fields>
            <name>Order_1_0</name>
            <dataType>String</dataType>
            <fieldText>Original Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_if_applicable</name>
            <dataType>String</dataType>
            <fieldText>Credit # (if applicable):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SKU_s_involved</name>
            <dataType>String</dataType>
            <fieldText>SKU(s) involved:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_credit</name>
            <fieldText>Reason for credit:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Return_Only_Screen</name>
        <label>Credit/Return Only Screen</label>
        <locationX>421</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_14_0</targetReference>
        </connector>
        <fields>
            <name>Order_5</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item</name>
            <dataType>String</dataType>
            <fieldText>Item #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Return_reason</name>
            <fieldText>Credit/Return reason:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Damaged_Order_Screen</name>
        <label>Damaged Order Screen</label>
        <locationX>1077</locationX>
        <locationY>738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_10</targetReference>
        </connector>
        <fields>
            <name>Order_1_0_0</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SKU_s_in_question</name>
            <dataType>String</dataType>
            <fieldText>SKU(s) in question:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_damage</name>
            <fieldText>Description of damage:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Replacement_required</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Replacement required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delivery_Issue_Screen</name>
        <label>Delivery Issue Screen</label>
        <locationX>804</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_13</targetReference>
        </connector>
        <fields>
            <name>Order_1_0_0_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_complaint_issue_0</name>
            <fieldText>Description of complaint/issue:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delivery_Related_Screen</name>
        <label>Delivery Related Screen</label>
        <locationX>594</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <fields>
            <name>DeliveryRelated_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Delivery Related: &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeliveryRelatedChoice_0</name>
            <choiceReferences>Carrier_Complaint</choiceReferences>
            <choiceReferences>CreditReturnonly</choiceReferences>
            <choiceReferences>Delivery_Issue</choiceReferences>
            <choiceReferences>InvoiceCopyandPOD</choiceReferences>
            <choiceReferences>POD</choiceReferences>
            <choiceReferences>ReturnNotPickedup</choiceReferences>
            <choiceReferences>StoreOrderIssues</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EDI_Order_Screen</name>
        <label>EDI_Order_Screen</label>
        <locationX>1852</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_3</targetReference>
        </connector>
        <fields>
            <name>Account_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_to_Address_2</name>
            <dataType>String</dataType>
            <fieldText>Ship to Address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_Number_2</name>
            <dataType>String</dataType>
            <fieldText>Item Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Cost_Center_and_Account_specific_Info_2</name>
            <fieldText>PO, Cost Center and Account specific Info.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EDI_Order_Screen_0</name>
        <label>Placing_NewOrder_Screen</label>
        <locationX>1421</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_6</targetReference>
        </connector>
        <fields>
            <name>Account_4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_to_Address_4</name>
            <dataType>String</dataType>
            <fieldText>Ship to Address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attention_Name_4</name>
            <dataType>String</dataType>
            <fieldText>Attention Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_Number_4</name>
            <dataType>String</dataType>
            <fieldText>Item Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Cost_Center_and_Account_specific_Info_4</name>
            <fieldText>PO, Cost Center and Account specific Info.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Copy_and_POD_Screen</name>
        <label>Invoice Copy and POD Screen</label>
        <locationX>394</locationX>
        <locationY>741</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_15</targetReference>
        </connector>
        <fields>
            <name>Order_5_0</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_5</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Item_Availabilty_Screen</name>
        <label>Item_Availabilty_Screen</label>
        <locationX>2201</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_4</targetReference>
        </connector>
        <fields>
            <name>Account_2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Office_Depot_SKU_If_available</name>
            <dataType>String</dataType>
            <fieldText>Office Depot SKU # (If available)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Item_Number_3</name>
            <dataType>String</dataType>
            <fieldText>Vendor Item Number: (If available)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UPC_If_available</name>
            <dataType>String</dataType>
            <fieldText>UPC: (If available)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Universal Product Code&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ship_to_Location</name>
            <dataType>String</dataType>
            <fieldText>Ship-to Location:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_the_item_if_item_number_not_available</name>
            <fieldText>Item Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_does_the_customer_plan_to_order_the_item</name>
            <dataType>Date</dataType>
            <fieldText>When does the customer plan to order the item?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_Frequency</name>
            <choiceReferences>OneTime</choiceReferences>
            <choiceReferences>Ongoing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Order Frequency?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_a_Bid_Request</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a Bid Request?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_there_any_special_requirements</name>
            <fieldText>Are there any special requirements?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Item_Request</name>
        <label>Missing Item Request</label>
        <locationX>2444</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_9_0</targetReference>
        </connector>
        <fields>
            <name>Order_9</name>
            <dataType>String</dataType>
            <fieldText>Order #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SKU_s_in_question_9</name>
            <dataType>String</dataType>
            <fieldText>SKU(s) in question:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_9</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MSDS_Request_Loss_prevention_Fraud</name>
        <label>MSDS Request</label>
        <locationX>2626</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_20</targetReference>
        </connector>
        <fields>
            <name>Item_Number_for_MSDS_Request</name>
            <dataType>String</dataType>
            <fieldText>Item Number: (for MSDS Request)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments1</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MSDS_Request_Loss_prevention_Fraud_0</name>
        <label>Loss prevention/Fraud</label>
        <locationX>2626</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_20_0</targetReference>
        </connector>
        <fields>
            <name>Order_Loss_prevention_fraud_0</name>
            <dataType>String</dataType>
            <fieldText>Order # (Loss prevention/fraud)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Carrier_Issue</name>
        <label>Order Carrier Issue:</label>
        <locationX>404</locationX>
        <locationY>906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_16</targetReference>
        </connector>
        <fields>
            <name>Order_6</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_6</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Modification_Screen</name>
        <label>Order Modification Screen</label>
        <locationX>1314</locationX>
        <locationY>902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_5</targetReference>
        </connector>
        <fields>
            <name>Account_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_to_Address_3</name>
            <dataType>String</dataType>
            <fieldText>Ship to Address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_Number_03</name>
            <dataType>String</dataType>
            <fieldText>Item Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Cost_Center_and_Account_specific_Info_0</name>
            <fieldText>PO, Cost Center and Account specific Info.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Number_if_the_order_is_on_hold</name>
            <dataType>String</dataType>
            <fieldText>Order Number (if the order is on hold)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X1_Price_of_the_item</name>
            <dataType>Currency</dataType>
            <fieldText>1. Price of the item:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>2. Delivery Date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3_PO_Cost_center_and_etc</name>
            <fieldText>3. PO, Cost center and etc.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Related_Screen</name>
        <label>Order Related Screen</label>
        <locationX>1805</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>OrderRelated_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order Related:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrderRelatedChoices_0</name>
            <choiceReferences>Creditrebill</choiceReferences>
            <choiceReferences>Damaged_Order</choiceReferences>
            <choiceReferences>EDIOrderPlacing</choiceReferences>
            <choiceReferences>BulkOrderplacing</choiceReferences>
            <choiceReferences>Order_Status</choiceReferences>
            <choiceReferences>PlaceOrderOrderModification</choiceReferences>
            <choiceReferences>PlacingOrderNewOrder</choiceReferences>
            <choiceReferences>PlacingOrdersDuplicateOrder</choiceReferences>
            <choiceReferences>Credit_Request_Inquiry</choiceReferences>
            <choiceReferences>Return_Request_Inquiry</choiceReferences>
            <choiceReferences>SCOEStampOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Status_Screen</name>
        <label>Order Status Screen</label>
        <locationX>1096</locationX>
        <locationY>945</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_11</targetReference>
        </connector>
        <fields>
            <name>Order_1_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Placing_Duplicate_Screen</name>
        <label>Placing_Duplicate_Screen</label>
        <locationX>1421</locationX>
        <locationY>1197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_7</targetReference>
        </connector>
        <fields>
            <name>Account_4_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Order Number: (which needs to be duplicated)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>POD_Screen</name>
        <label>POD Screen</label>
        <locationX>698</locationX>
        <locationY>767</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_14</targetReference>
        </connector>
        <fields>
            <name>Order_1_0_0_0_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_1</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Order_Related_Screen</name>
        <label>Product/Order Related Screen</label>
        <locationX>2468</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <fields>
            <name>Account_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>acctnm</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductRelatedOrderRelated_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Product Related / Order Related:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductRelatedOrderRelatedchoices_0</name>
            <choiceReferences>ItemAvailability</choiceReferences>
            <choiceReferences>Loss_Prevention_Fraud</choiceReferences>
            <choiceReferences>Missing_Item_Incorrect_Item</choiceReferences>
            <choiceReferences>MSDSRequestLosspreventionFraud</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Return_Not_Picked_Up_Screen</name>
        <label>Return Not Picked Up Screen</label>
        <locationX>391</locationX>
        <locationY>1047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_17</targetReference>
        </connector>
        <fields>
            <name>Order_7</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_7</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Return_Request_Inquiryscreen</name>
        <label>Return Request Inquiry</label>
        <locationX>1921</locationX>
        <locationY>919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Create_6_0</targetReference>
        </connector>
        <fields>
            <name>Original_Order</name>
            <dataType>String</dataType>
            <fieldText>Original Order #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Return</name>
            <dataType>String</dataType>
            <fieldText>Return #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SKU_s_Involved_return</name>
            <dataType>String</dataType>
            <fieldText>SKU(s) Involved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_return</name>
            <fieldText>Reason For Return</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCOE_Stamp_Screen</name>
        <label>SCOE_Stamp_Screen</label>
        <locationX>1428</locationX>
        <locationY>1337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_8</targetReference>
        </connector>
        <fields>
            <name>Account_5</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_to_Address_5</name>
            <dataType>String</dataType>
            <fieldText>Ship to Address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attention_Name_5</name>
            <dataType>String</dataType>
            <fieldText>Attention Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_Number_5</name>
            <dataType>String</dataType>
            <fieldText>Item Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Artwork</name>
            <fieldText>Artwork:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>1856</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
        <fields>
            <name>Account_Name_Display</name>
            <fieldText>&lt;p&gt;Account Name: {!acctnm}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Number_Display</name>
            <fieldText>&lt;p&gt;Account Number: {!custid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_request_type</name>
            <choiceReferences>Delivery_Related</choiceReferences>
            <choiceReferences>Order_Related</choiceReferences>
            <choiceReferences>Product_Oder_Related</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your request type below:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Store_Order_Issue_screen</name>
        <label>Store Order Issue screen</label>
        <locationX>460</locationX>
        <locationY>1180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_18</targetReference>
        </connector>
        <fields>
            <name>Order_8</name>
            <dataType>String</dataType>
            <fieldText>Order #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_8</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>1861</locationX>
        <locationY>1038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>File_Limits</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_would_you_like_to_do_SCOE</name>
        <label>What would you like to do SCOE</label>
        <locationX>1059</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>acctnm</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryRelated</name>
            <fieldText>&lt;p&gt;Please select your Request Type below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Related&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeliveryRelatedChoice</name>
            <choiceReferences>Carrier_Complaint</choiceReferences>
            <choiceReferences>CreditReturnonly</choiceReferences>
            <choiceReferences>Delivery_Issue</choiceReferences>
            <choiceReferences>InvoiceCopyandPOD</choiceReferences>
            <choiceReferences>OrderCarrierIssues</choiceReferences>
            <choiceReferences>POD</choiceReferences>
            <choiceReferences>ReturnNotPickedup</choiceReferences>
            <choiceReferences>StoreOrderIssues</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OrderRelated</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Order Related&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrderRelatedChoices</name>
            <choiceReferences>BulkOrderplacing</choiceReferences>
            <choiceReferences>Creditrebill</choiceReferences>
            <choiceReferences>Credit_Request_Inquiry</choiceReferences>
            <choiceReferences>Damaged_Order</choiceReferences>
            <choiceReferences>EDIOrderPlacing</choiceReferences>
            <choiceReferences>ItemAvailability</choiceReferences>
            <choiceReferences>Order_Status</choiceReferences>
            <choiceReferences>PlaceOrderOrderModification</choiceReferences>
            <choiceReferences>PlacingOrderNewOrder</choiceReferences>
            <choiceReferences>PlacingOrdersDuplicateOrder</choiceReferences>
            <choiceReferences>Return_Request_Inquiry</choiceReferences>
            <choiceReferences>SCOEStampOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProductRelatedOrderRelated</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Product Related / Order Related&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductRelatedOrderRelatedchoices</name>
            <choiceReferences>MSDSRequestLosspreventionFraud</choiceReferences>
            <choiceReferences>Missing_Item_Incorrect_Item</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1277</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>link_itemform</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: black;&quot;&gt;****Please completely fill out and attach the&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: inherit; color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DCxqaBzYjOHUCe68283cDFdQ&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: black;&quot;&gt;&lt;b&gt;&lt;u&gt;Inventory Increase Form (IC Form)&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DCxqaBzYjOHUCe68283cDFdQ&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: inherit;&quot;&gt;&amp;nbsp;&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: black;&quot;&gt;to this request.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(22, 50, 92);&quot;&gt;Your request will be declined without this attachment.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(22, 50, 92);&quot;&gt;You will be able to attach this doc in the next screen.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Bulk_Ordering</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account #: {!Account}

Ship to Address: {!Ship_to_Address}

Item Number: {!Item_Number}

PO, Cost Center, and Account info: {!PO_Cost_Center_and_Account_specific_Info}</text>
    </textTemplates>
    <textTemplates>
        <description>Supply Chain - Carrier Complaint</description>
        <name>TT_CarrierComplaint</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #:{!Order_1_0_0_0_0}

Description of complaint/issue: {!Description_of_complaint_issue}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Credit_Rebill</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_1}
Reason for credit and rebill: {!Reason_for_credit_and_rebill}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Credit_Request</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Original Order #: {!Order_1_0}
Credit # (if applicable): {!Credit_if_applicable}
SKU(s) involved: {!SKU_s_involved}
Reason for credit: {!Reason_for_credit}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Credit_Return_Only</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_5}
Item #: {!Item}
Credit/Return reason: {!Credit_Return_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Damaged</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_1_0_0}
SKU(s) in question: {!SKU_s_in_question}
Description of damage: {!Description_of_damage}
Replacement required? {!Replacement_required}</text>
    </textTemplates>
    <textTemplates>
        <description>Supply Chain Delivery Issue</description>
        <name>TT_Delivery_Issue</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_1_0_0_0_0_0}
Description of complaint/issue: {!Description_of_complaint_issue_0}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Duplicate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order Number: {!Order_Number}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_EDI</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account # {!Account_2}
Ship to Address: {!Ship_to_Address_2}
Item Number: {!Item_Number_2}
Account specific Info: {!PO_Cost_Center_and_Account_specific_Info_2}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Invoice_POD</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_5_0}
Description: {!Description_5}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Item_Availabilty</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account #: {!Account_2_0}
Office Depot SKU# : {!Office_Depot_SKU_If_available}
Vendor Item Number: {!Item_Number_3}
UPC: {!UPC_If_available}
Quantity: {!Quantity}
Ship-to Location: {!Ship_to_Location}
Item Description: {!Description_of_the_item_if_item_number_not_available}
When does the customer plan to order the item? {!When_does_the_customer_plan_to_order_the_item}
Order Frequency? {!Order_Frequency}
Bid Request? {!Is_this_a_Bid_Request}
Special requirements? {!Are_there_any_special_requirements}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Loss_Prevention</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Item Number: {!Item_Number_for_MSDS_Request}
Comments: {!Comments}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Missing_Item</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order # {!Order_9}
SKU(s) in question: {!SKU_s_in_question_9}
Description: {!Description_9}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Modification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account #: {!Account_3}
Ship to Address: {!Ship_to_Address_3}
Item Number: {!Item_Number_03}
Account specific Info. {!PO_Cost_Center_and_Account_specific_Info_0}
Order Number: {!Order_Number_if_the_order_is_on_hold}
Price of the item: {!X1_Price_of_the_item}
Delivery Date: {!Delivery_Date}
PO, Cost center and etc. {!X3_PO_Cost_center_and_etc}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_MSDSRequest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Item Number: {!Item_Number_for_MSDS_Request}
Comments: {!Comments1}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_New_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Ship to Address: {!Ship_to_Address_4}
Attention Name: {!Attention_Name_4}
Item Number: {!Item_Number_4}
Account specific Info. {!PO_Cost_Center_and_Account_specific_Info_4}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Order_Carrier_Issue</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_6}
Description: {!Description_6}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Order_Status</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_1_0_0_0}
Description: {!Description}</text>
    </textTemplates>
    <textTemplates>
        <description>Supply Chain - POD</description>
        <name>TT_POD</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_1_0_0_0_0_0_0}
Description: {!Description_1}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Return_not_picked</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_7}
Description: {!Description_7}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Return_Request</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Original Order: {!Original_Order}

Return #: {!Return}

SKU(s) Involved: {!SKU_s_Involved_return}

Reason For Return: {!Reason_for_return}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_SCOE_Stamp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Ship to Address: {!Ship_to_Address_5}
Attention Name:{!Attention_Name_5}
Item Number: {!Item_Number_5}
Artwork: {!Artwork}</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Store_Issue</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Order #: {!Order_8}
Description: {!Description_8}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>acctnm</elementReference>
        </value>
    </variables>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>FinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>caseid</elementReference>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Account Maintenance</description>
        <name>IssueTypeAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Maintenance</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Customer Service</description>
        <name>IssueTypeCS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Furniture</description>
        <name>IssueTypeFurn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE Issue Type = Reporting</description>
        <name>IssueTypeRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Reporting/Sales Admins</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Customer_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00GE0000003jmZG</stringValue>
        </value>
    </variables>
    <variables>
        <description>00G2S000003dWBT</description>
        <name>Queue_Inventory_Support</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G2S000003dWBT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queue_Supply_Chain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G2S000003dWBE</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
