flows/SCOE_Button_Seismic_Checkpoint.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Closure</name>
        <choiceText>Account Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Placed_on_DNS</name>
        <choiceText>Account Placed on DNS (Collections Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Placed on DNS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Reactivations</name>
        <choiceText>Account Reactivations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Reactivations</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountingFieldMaintenanceChoice</name>
        <choiceText>Accounting Field Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting Field Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountMaintenance</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Account Maintenance&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;General Maint, SHIP/BILL TO, Web Maint, New Acct Setup, SPC, Sku Restrictions&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>ACE</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;ACE Request&lt;/b&gt;&lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;:         Rebuild Customer, Contract Timing/Price Holds, Reversals&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACE</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddressExceptionsRequestOther</name>
        <choiceText>Address Exceptions Request (Other)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address Exceptions Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back_to_School</name>
        <choiceText>Back to School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back to School</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillComplete</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Bill Complete&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Enroll your Customer&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bill Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillExNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillExYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Exception_Requests</name>
        <choiceText>Billing Exception Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Exception Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Frequency_Updates</name>
        <choiceText>Billing Frequency Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Frequency Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Setup</name>
        <choiceText>Billing Setup</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Billing_Setup1</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Billing Setup Request:    &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;Change Billing Setup, Indirect Billing, E Billing Contact Update&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CBFS_Choice</name>
        <choiceText>CBFS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBFS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Billing_Setup</name>
        <choiceText>Change Billing Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Billing Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Communications_Choice</name>
        <choiceText>Communications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Communications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance_Choice</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Compliance&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Agreement Question, Document Retrieval, Portfolio Health, Red Zone&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_one_invoice_per_billing_cycle1</name>
        <choiceText>Consolidated Bill (one invoice per billing cycle)</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter Annual Spend &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Customer requires additional support. A support case will not be created. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please contact AR Billing at ARBillingimplementation@officedepot.com&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>( ({!Consolidated_Bill_one_invoice_per_billing_cycle1}) &gt;= 60000)</formulaExpression>
            </validationRule>
        </userInput>
        <value>
            <elementReference>Consolidated_Bill_Type</elementReference>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_one_invoice_per_billing_cycle_text</name>
        <choiceText>Consolidated Bill (one invoice per billing cycle)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consolidated Bill (one invoice per billing cycle)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_Type</name>
        <choiceText>Consolidated Bill</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Copy_Print_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Copy &amp;amp; Print&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;K12 Request, New CPD Program, CPD General Support&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy and Print</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cost_Center</name>
        <choiceText>Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cost_Center_Subtotal</name>
        <choiceText>Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Limit_Decreases</name>
        <choiceText>Credit Limit Decreases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Limit Decreases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Limit_Increases</name>
        <choiceText>Credit Limit Increases</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Credit_Setup</name>
        <choiceText>Credit Setup</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Credit_Setup1</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Credit Setup Request&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Account Reactivation/Closure, Credit Line Increase/Decrease, PYMT Term&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusAppNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusAppYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusFileNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusFileYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Request</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Service_Reporting</name>
        <choiceText>Customer Service or Reporting Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SCOE Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerService</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Customer Service&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;Large &amp;amp; Bulk Order, Order Status, Product &amp;amp; Item Availability related questions&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>DealRegistration</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Deal Registration-Technology&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Registration-Technology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department_Subtotal</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deployment_Request</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Deployment Request&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;DML-Acct Maint, DML Segment/Teaming, ACQ Mapping&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deployment Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desktop</name>
        <choiceText>Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Billing_Bill_goes_to_Bill_To_Seq</name>
        <choiceText>Direct Billing Request (Bill goes to Bill To Seq)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Billing Request (Bill goes to Bill To Seq)</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Billing_Contact_Update</name>
        <choiceText>E-Billing Contact Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Billing Contact Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Comm_Custom_Catalog_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Custom Catalog-ECOMM&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;New/Update Existing Custom Catalogs (Hosted Catalog Require a WRF)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Comm/Custom Catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Statements_Enrollment</name>
        <choiceText>E -Statements Enrollment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E -Statements Enrollment</stringValue>
        </value>
    </choices>
    <choices>
        <name>eExcel</name>
        <choiceText>eExcel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>eExcelmediaType</name>
        <choiceText>eExcel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eExcel</stringValue>
        </value>
    </choices>
    <choices>
        <name>ePDFmediatype</name>
        <choiceText>ePDF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ePDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture_NON_Code_or_Catalog</name>
        <choiceText>Furniture NON-Code or Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture NON-Code or Catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture_Subflow_choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Furniture&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;NonCode Furniture Request, Coded Furniture, Customer Resolution&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralMaintenance</name>
        <choiceText>General Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Green_Reporting_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Green Reporting&lt;/b&gt;:&lt;b&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;Green Alt, Green Office Depot Delivery and Other Reports&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Implementation_Field_eCommerce</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Implementation/Field eCommerce&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Onboard Cust, Restructure, Bulletin Board, SSO-SUMA&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementation/Field eCommerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImplementationRequest</name>
        <choiceText>Implementation Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementation Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increased_Spend_Permanent</name>
        <choiceText>Increased Spend (Permanent)</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estimated Annual Spend &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Increased_Spend_Permanent1</name>
        <choiceText>Increased Spend (Permanent)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increased Spend (Permanent)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Billing_Contact_Update</name>
        <choiceText>Indirect Billing Contact Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Billing Contact Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Billing_Request_Bill_goes_to_Ship_to</name>
        <choiceText>Indirect Billing Request (Bill goes to Ship to)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Billing Request (Bill goes to Ship to)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual_Invoice_Bill_Type</name>
        <choiceText>Individual Invoice</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>One invoice per shipment</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Individual_Invoice_one_invoice_per_shipment</name>
        <choiceText>Individual Invoice (one invoice per shipment)</choiceText>
        <dataType>Currency</dataType>
        <value>
            <elementReference>Consolidated_Bill_Type</elementReference>
        </value>
    </choices>
    <choices>
        <name>Individual_Invoice_one_invoice_per_shipment_Text</name>
        <choiceText>Individual Invoice (one invoice per shipment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Invoice (one invoice per shipment)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Input_dollar_Limit</name>
        <choiceText>Input dollar Limit</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <description>Inventory Management</description>
        <name>Inventory_Management</name>
        <choiceText>Inventory Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inventory Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inventory_Management_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Inventory Support&lt;/b&gt;:  &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;DC Level Override, Forecast Increase Request&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inventory Channel Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Choice</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Line_Item_Detail_includes_SKU</name>
        <choiceText>Line Item Detail (Includes SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Detail Includes SKU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Line_Item_DetailmediatType</name>
        <choiceText>Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_Contract</name>
        <choiceText>Lost Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Managed_Print_Service_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Managed Print Service (MPS)&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Managed Print Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing_Choice</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Marketing&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Custom Email/Mailing, Booth Request, Logos, Ad-Coupon-Banner-Print Material&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medallia_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Medallia&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medallia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Merch</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Merchandising&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Alternate Item Request, New Product Assortment US/HI/PR, Image Discrepancies&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merchandising</stringValue>
        </value>
    </choices>
    <choices>
        <name>moe_test_choice1</name>
        <choiceText>moe test choice1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>moe test choice1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>MPS</name>
        <choiceText>MPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>NAChoice</name>
        <choiceText>NA</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NA</elementReference>
        </value>
    </choices>
    <choices>
        <name>New_Account</name>
        <choiceText>New Account</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>New_Account1</name>
        <choiceText>New Account</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>New_Account_Account_Closure</name>
        <choiceText>New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewAccountSetupQuestions</name>
        <choiceText>New Account Setup Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account Setup Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Indirect_Billing</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Line_Item_Detail</name>
        <choiceText>No Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Line_Item_DetailmediaType</name>
        <choiceText>No Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAddressEx</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoBillExc</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoGPO</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Noncodes</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Non Sku&apos;d item Requests&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;CBFS, Supplies, Truckload Paper&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Codes</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-None-</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary1</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary2</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One_Time_Spend_Temporary2</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary_New</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Orion_Support</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Orion Support&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orion Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrionControlAccess</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Orion Control Access&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;Request to Pricing Tool&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orion Control Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OwnNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OwnYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paper</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaperMediaType</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>PricingMaintenance</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Pricing Maintenance&lt;/b&gt;:&lt;span style=&quot;color: rgb(7, 28, 182);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Universal Pricing, Core Icons, GP/GGP Maint, Pricing Question&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>PTODelegationRequest</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approver Delegation Request&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approver Delegation Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order_Subtotal</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_attach_AB_Tender</name>
        <choiceText>Re-attach AB Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-attach AB Tender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rebates_Choice</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Rebates&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Payment Copy Request, Payment History/Status, Reissue of Check&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rebates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release_Subtotal</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_AB_Tender</name>
        <choiceText>Remove AB Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove AB Tender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting_Choice</name>
        <choiceText>Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportingSalesAdmin</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Reporting Team&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;One Time and Recurring Requests&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Admin_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Sales Admin&lt;/b&gt;: &lt;span style=&quot;font-size: 14px; color: rgb(7, 28, 182);&quot;&gt;Account/Pricing Download, Project Request, DealMaker Assist, File Assist&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Admin</stringValue>
        </value>
    </choices>
    <choices>
        <description>For when SalesPrism is Chosen as the type.</description>
        <name>Sales_Prism</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;SalesPRISM&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales_Prism</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salesforce_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Salesforce&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seismic_Choice</name>
        <choiceText>&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Seismic&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seismic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly</name>
        <choiceText>Semi-Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly_16th_EOM</name>
        <choiceText>Semi Monthly 16th &amp; EOM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi Monthly 16th &amp; EOM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly_1st_15th</name>
        <choiceText>Semi-Monthly - 1st &amp; 15th</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Monthly - 1st &amp; 15th</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Location</name>
        <choiceText>Ship to Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Location_Subtotal</name>
        <choiceText>Ship to Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shiptobilltoaddress</name>
        <choiceText>Ship to/Bill to Address Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to/Bill to Address Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sort_Subtotal</name>
        <choiceText>Sort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sort</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPIFFS_Choice</name>
        <choiceText>SPIFFS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SPIFFS</stringValue>
        </value>
    </choices>
    <choices>
        <name>StorePurchasingCardMaintenance</name>
        <choiceText>Store Purchasing Card (SPC) Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Store Purchasing Card (SPC) Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Summary</name>
        <choiceText>Summary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summary</stringValue>
        </value>
    </choices>
    <choices>
        <name>SupplyChain</name>
        <choiceText>Supply Chain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supply Chain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Choice</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Tax&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Sales Tax Credits, Tax Exemption Update, W-9 Requests, Taxable Flag and Questions&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Design_Use_Only_50_deposit</name>
        <choiceText>Team Design Use Only (50% deposit)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team Design Use Only (50% deposit)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tier1</name>
        <choiceText>&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Tier 1&lt;/b&gt;: &lt;span style=&quot;color: rgb(7, 28, 182); font-size: 14px;&quot;&gt;Account Credit Linkage, Rebranding and General Questions&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier 1 </stringValue>
        </value>
    </choices>
    <choices>
        <name>Tier1_choice_option</name>
        <choiceText>Tier 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Training_Choice</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Payment_Terms</name>
        <choiceText>Update Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Payment Terms</stringValue>
        </value>
    </choices>
    <choices>
        <name>WebAccountMaintenance</name>
        <choiceText>Web Account Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Account Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>X30_days</name>
        <choiceText>30 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 days</stringValue>
        </value>
    </choices>
    <choices>
        <name>X60_days</name>
        <choiceText>60 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>60 days</stringValue>
        </value>
    </choices>
    <choices>
        <name>X90_days</name>
        <choiceText>90 days</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Indirect_Billing</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAddressEx</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesBillExc</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesGPO</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>DirectN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>DirectNA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </constants>
    <constants>
        <name>DirectY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </constants>
    <constants>
        <name>Indirect_Billing_N</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>Internal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <constants>
        <description>Value to pass through all of flow = not applicable</description>
        <name>NA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID = Finance</description>
        <name>RID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121k0000000BWr</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>Support</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sysadmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AM_Choice_Screen</name>
        <label>AM Choice Screen</label>
        <locationX>1762</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accounting_Field_Maint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Request_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountingFieldMaintenanceChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accounting_Field_Maintenance_Flow</targetReference>
            </connector>
            <label>Accounting Field Maint</label>
        </rules>
        <rules>
            <name>General_Maint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Request_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GeneralMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Maintenance_Flow</targetReference>
            </connector>
            <label>General Maint</label>
        </rules>
        <rules>
            <name>New_Account_Setup_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Request_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewAccountSetupQuestions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Setup</targetReference>
            </connector>
            <label>New Account Setup Questions</label>
        </rules>
        <rules>
            <name>Ship_to_Bill_to_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Request_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shiptobilltoaddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ship_to_Bill_to_Address_Maintenance_Flow</targetReference>
            </connector>
            <label>Ship to Bill to Address</label>
        </rules>
        <rules>
            <name>Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Request_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WebAccountMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Web_Account_Maint</targetReference>
            </connector>
            <label>Web Account Maint</label>
        </rules>
        <rules>
            <name>SPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Request_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StorePurchasingCardMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPC_Flow</targetReference>
            </connector>
            <label>SPC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Routing_Decision</name>
        <label>Case Routing Decision</label>
        <locationX>1507</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PTO_Delegation_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PTODelegationRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_Delegation_Request</targetReference>
            </connector>
            <label>Approver Delegation Request</label>
        </rules>
        <rules>
            <name>Credit_Setup_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Setup1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Credit_Setup_Requests</targetReference>
            </connector>
            <label>Credit Setup Options</label>
        </rules>
        <rules>
            <name>Billing_Setup_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Setup1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Billing_Setup_Request</targetReference>
            </connector>
            <label>Billing Setup Options</label>
        </rules>
        <rules>
            <name>Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Service_subflow</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
        <rules>
            <name>Deployment_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deployment_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deployment_flow</targetReference>
            </connector>
            <label>Deployment Requests</label>
        </rules>
        <rules>
            <name>Pricing_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PricingMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Maintenanceflow</targetReference>
            </connector>
            <label>Pricing Maintenance</label>
        </rules>
        <rules>
            <name>Orion_Control_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrionControlAccess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMS</targetReference>
            </connector>
            <label>Orion Control  Access</label>
        </rules>
        <rules>
            <name>Account_Maint_Flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Maint_Options</targetReference>
            </connector>
            <label>Account Maint Flow</label>
        </rules>
        <rules>
            <name>Implementation_Requestchoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ImplementationRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Implementation_Request</targetReference>
            </connector>
            <label>Implementation Request</label>
        </rules>
        <rules>
            <name>Reporting_Sales_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReportingSalesAdmin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Admin_Subflow</targetReference>
            </connector>
            <label>Reporting/Sales Admin</label>
        </rules>
        <rules>
            <name>Legal_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Legal_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Salesforce_Choice_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Salesforce_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_Subflow</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
        <rules>
            <name>Furniture_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Furniture_Subflow_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Furniture_Subflow</targetReference>
            </connector>
            <label>Furniture_Decision</label>
        </rules>
        <rules>
            <name>Tier1_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tier1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCOE_Tier_1</targetReference>
            </connector>
            <label>Tier1</label>
        </rules>
        <rules>
            <name>Compliance_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compliance_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Subflow</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
        <rules>
            <name>Green_Reporting_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Green_Reporting_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Green_Reporting_Subflow</targetReference>
            </connector>
            <label>Green Reporting Outcome</label>
        </rules>
        <rules>
            <name>Rebates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rebates_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebates_Subflow_New</targetReference>
            </connector>
            <label>Rebates Outcome</label>
        </rules>
        <rules>
            <name>Seismic_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Seismic_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seismic_Subflow</targetReference>
            </connector>
            <label>Seismic Outcome</label>
        </rules>
        <rules>
            <name>Communications_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Communications_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Communications Outcome</label>
        </rules>
        <rules>
            <name>Sales_Prism_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sales_Prism</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Prism_Subflow</targetReference>
            </connector>
            <label>Sales Prism</label>
        </rules>
        <rules>
            <name>E_Comm_Custom_Catalog_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>E_Comm_Custom_Catalog_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Comm_Custom_Catalog_Subflow</targetReference>
            </connector>
            <label>E-Comm/Custom Catalog Outcome</label>
        </rules>
        <rules>
            <name>Marketing_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Marketing_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Subflow</targetReference>
            </connector>
            <label>Marketing Outcome</label>
        </rules>
        <rules>
            <name>Sales_Admin_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sales_Admin_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Admin_Subflow</targetReference>
            </connector>
            <label>Sales_Admin_Decision</label>
        </rules>
        <rules>
            <name>Reporting_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reporting_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Subflow</targetReference>
            </connector>
            <label>Reporting Outcome</label>
        </rules>
        <rules>
            <name>Managed_Print_Service_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Managed_Print_Service_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Managed_Print_Service_Subflow</targetReference>
            </connector>
            <label>Managed Print Service Outcome</label>
        </rules>
        <rules>
            <name>Inventory_Management_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inventory_Management_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Channel_Support</targetReference>
            </connector>
            <label>Inventory Management Outcome</label>
        </rules>
        <rules>
            <name>Medallia_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Medallia_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medallia_Subflow</targetReference>
            </connector>
            <label>Medallia Outcome</label>
        </rules>
        <rules>
            <name>Tax_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tax_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Subflow</targetReference>
            </connector>
            <label>Tax Outcome</label>
        </rules>
        <rules>
            <name>Merch_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Merch</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merch_Sub_flow</targetReference>
            </connector>
            <label>Merch</label>
        </rules>
        <rules>
            <name>SupplychainDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SupplyChain</elementReference>
                </rightValue>
            </conditions>
            <label>SupplychainDec</label>
        </rules>
        <rules>
            <name>Training_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Training_desc</label>
        </rules>
        <rules>
            <name>SPIFFS_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPIFFS_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>SPIFFS Outcome</label>
        </rules>
        <rules>
            <name>Case_non_codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Noncodes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_code_request_flow</targetReference>
            </connector>
            <label>Case non codes</label>
        </rules>
        <rules>
            <name>CBFS_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CBFS_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>CBFS</label>
        </rules>
        <rules>
            <name>Copy_Print_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_Print_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Print</targetReference>
            </connector>
            <label>Copy &amp; Print</label>
        </rules>
        <rules>
            <name>Implementation_Field_eCommerce_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Implementation_Field_eCommerce</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Implementation_Field_eCommerce_subflow</targetReference>
            </connector>
            <label>Implementation/Field eCommerce</label>
        </rules>
        <rules>
            <name>Bill_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BillComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bill_Complete_Request</targetReference>
            </connector>
            <label>Bill Complete</label>
        </rules>
        <rules>
            <name>ACE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ACE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACE_subflow</targetReference>
            </connector>
            <label>ACE Outcome</label>
        </rules>
        <rules>
            <name>Deal_Registration_Technology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DealRegistration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Registration_Tech</targetReference>
            </connector>
            <label>Deal Registration Technology</label>
        </rules>
        <rules>
            <name>Orion_Support2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Orion_Support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orion_Support_subflow</targetReference>
            </connector>
            <label>Orion Support</label>
        </rules>
    </decisions>
    <description>Sept 2020 SCOE menu changes - updated Vendavo Access to Orion Control Support</description>
    <dynamicChoiceSets>
        <name>BillingFrequencySubTypeLOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_SubType_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingFrequencyUpdateLOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_Update_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingMediaTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Media_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Prod_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_SubType_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fullname_formula</name>
        <dataType>String</dataType>
        <expression>{!$User.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>fxuserid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Profile ID</description>
        <name>profileid</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>userid_formula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>SCOE Button Checkpoint v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCOE Button Checkpoint v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>1135</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SCOE_recordtype_id</name>
        <label>Get_SCOE_recordtype_id</label>
        <locationX>1378</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_do_you_want_to_do_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCOE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SCOE_recordtypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>User_Details</name>
        <label>User Details</label>
        <locationX>1250</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SCOE_recordtype_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Username</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Maint_Options</name>
        <label>Account Maint Options</label>
        <locationX>1768</locationX>
        <locationY>680</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AM_Choice_Screen</targetReference>
        </connector>
        <fields>
            <name>Maintenance_Request_Type_Picklist</name>
            <choiceReferences>AccountingFieldMaintenanceChoice</choiceReferences>
            <choiceReferences>GeneralMaintenance</choiceReferences>
            <choiceReferences>NewAccountSetupQuestions</choiceReferences>
            <choiceReferences>Shiptobilltoaddress</choiceReferences>
            <choiceReferences>StorePurchasingCardMaintenance</choiceReferences>
            <choiceReferences>WebAccountMaintenance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a maintenance request type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_do_you_want_to_do_today</name>
        <label>What do you want to do today?</label>
        <locationX>1578</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Routing_Decision</targetReference>
        </connector>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Welcome {!fullname}! Please select a category that your request falls into. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choices</name>
            <choiceReferences>AccountMaintenance</choiceReferences>
            <choiceReferences>ACE</choiceReferences>
            <choiceReferences>BillComplete</choiceReferences>
            <choiceReferences>Billing_Setup1</choiceReferences>
            <choiceReferences>Copy_Print_Choice</choiceReferences>
            <choiceReferences>Compliance_Choice</choiceReferences>
            <choiceReferences>Credit_Setup1</choiceReferences>
            <choiceReferences>CustomerService</choiceReferences>
            <choiceReferences>E_Comm_Custom_Catalog_Choice</choiceReferences>
            <choiceReferences>DealRegistration</choiceReferences>
            <choiceReferences>Deployment_Request</choiceReferences>
            <choiceReferences>Furniture_Subflow_choice</choiceReferences>
            <choiceReferences>Green_Reporting_Choice</choiceReferences>
            <choiceReferences>Implementation_Field_eCommerce</choiceReferences>
            <choiceReferences>Inventory_Management_Choice</choiceReferences>
            <choiceReferences>Managed_Print_Service_Choice</choiceReferences>
            <choiceReferences>Marketing_Choice</choiceReferences>
            <choiceReferences>Medallia_Choice</choiceReferences>
            <choiceReferences>Merch</choiceReferences>
            <choiceReferences>Noncodes</choiceReferences>
            <choiceReferences>OrionControlAccess</choiceReferences>
            <choiceReferences>Orion_Support</choiceReferences>
            <choiceReferences>PricingMaintenance</choiceReferences>
            <choiceReferences>Rebates_Choice</choiceReferences>
            <choiceReferences>ReportingSalesAdmin</choiceReferences>
            <choiceReferences>Sales_Admin_Choice</choiceReferences>
            <choiceReferences>Sales_Prism</choiceReferences>
            <choiceReferences>Salesforce_Choice</choiceReferences>
            <choiceReferences>Seismic_Choice</choiceReferences>
            <choiceReferences>Tax_Choice</choiceReferences>
            <choiceReferences>Tier1</choiceReferences>
            <choiceReferences>PTODelegationRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;Note: Pricing requests involving Alternates, a CPM, and/or Hosted Catalogs must be submitted through a Work Request Form (WRF).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Please select a category that your request falls into.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>891</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accounting_Field_Maintenance_Flow</name>
        <label>Accounting Field Maintenance Flow</label>
        <locationX>1960</locationX>
        <locationY>1784</locationY>
        <flowName>Accounting_Field_Maintenance_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ACE_subflow</name>
        <label>ACE subflow</label>
        <locationX>874</locationX>
        <locationY>340</locationY>
        <flowName>ACE_SCOE</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Approver_Delegation_Request</name>
        <label>Approver Delegation Request</label>
        <locationX>2045</locationX>
        <locationY>229</locationY>
        <flowName>PTO_Delegation_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Bill_Complete_Request</name>
        <label>Bill Complete Request</label>
        <locationX>1940</locationX>
        <locationY>524</locationY>
        <flowName>Bill_Complete_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CMS</name>
        <label>CMS/Vendavo Access Flow</label>
        <locationX>1129</locationX>
        <locationY>846</locationY>
        <flowName>CMS_Vendavo_Access</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Username</assignToReference>
            <name>Username</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Compliance_Subflow</name>
        <label>Compliance Subflow</label>
        <locationX>268</locationX>
        <locationY>1113</locationY>
        <flowName>Compliance</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_Print</name>
        <label>Copy &amp; Print</label>
        <locationX>988</locationX>
        <locationY>274</locationY>
        <flowName>Copy_Print_SCOE</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_id</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Customer_Service_Flow</name>
        <label>Customer Service Flow</label>
        <locationX>1508</locationX>
        <locationY>1788</locationY>
        <flowName>SCOE_Customer_Service</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_id</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Customer_Service_subflow</name>
        <label>Customer Service subflow</label>
        <locationX>1574</locationX>
        <locationY>1318</locationY>
        <flowName>SCOE_Customer_Service</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_id</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Deal_Registration_Tech</name>
        <label>Deal Registration-Tech</label>
        <locationX>1881</locationX>
        <locationY>310</locationY>
        <flowName>Deal_Registration_Technology_Link</flowName>
    </subflows>
    <subflows>
        <name>Deployment_flow</name>
        <label>Deployment flow</label>
        <locationX>1651</locationX>
        <locationY>582</locationY>
        <flowName>Deployment_Requests</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>E_Comm_Custom_Catalog_Subflow</name>
        <label>E-Comm/Custom Catalog Subflow</label>
        <locationX>271</locationX>
        <locationY>1825</locationY>
        <flowName>E_Comm_Custom_Catalog</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Furniture_Subflow</name>
        <label>Furniture Subflow</label>
        <locationX>1214</locationX>
        <locationY>1489</locationY>
        <flowName>Furniture_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>General_Maintenance_Flow</name>
        <label>General Maintenance Flow</label>
        <locationX>1958</locationX>
        <locationY>1973</locationY>
        <flowName>General_Maintenance_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Green_Reporting_Subflow</name>
        <label>Green Reporting Subflow</label>
        <locationX>265</locationX>
        <locationY>1236</locationY>
        <flowName>Green_Reporting</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Implementation_Field_eCommerce_subflow</name>
        <label>Implementation/Field eCommerce</label>
        <locationX>274</locationX>
        <locationY>737</locationY>
        <flowName>Implementation_Field_eCommerce</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AcctNm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Implementation_Request</name>
        <label>Implementation Request</label>
        <locationX>1027</locationX>
        <locationY>1263</locationY>
        <flowName>Implementation_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Inventory_Channel_Support</name>
        <label>Inventory Channel Support</label>
        <locationX>458</locationX>
        <locationY>193</locationY>
        <flowName>Inventory_Management</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Launch_Billing_Setup_Request</name>
        <label>Launch Billing Setup Request</label>
        <locationX>1027</locationX>
        <locationY>1114</locationY>
        <flowName>Billing_Setup_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Launch_Credit_Setup_Requests</name>
        <label>Launch Credit Setup Requests</label>
        <locationX>1033</locationX>
        <locationY>1593</locationY>
        <flowName>Credit_Setup_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Managed_Print_Service_Subflow</name>
        <label>Managed Print Service Subflow</label>
        <locationX>273</locationX>
        <locationY>2231</locationY>
        <flowName>Managed_Print_Service</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Marketing_Subflow</name>
        <label>Marketing Subflow</label>
        <locationX>268</locationX>
        <locationY>1977</locationY>
        <flowName>Marketing</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Medallia_Subflow</name>
        <label>Medallia Subflow</label>
        <locationX>656</locationX>
        <locationY>1401</locationY>
        <flowName>Medallia</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_Id</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Merch_Sub_flow</name>
        <label>Merchandising Sub flow</label>
        <locationX>660</locationX>
        <locationY>2102</locationY>
        <flowName>Merch_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_id</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>New_Account_Setup</name>
        <label>New Account Setup</label>
        <locationX>1961</locationX>
        <locationY>1173</locationY>
        <flowName>New_Setup_Account_Questions_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Non_code_request_flow</name>
        <label>Non code request flow</label>
        <locationX>1368</locationX>
        <locationY>684</locationY>
        <flowName>Non_Code_Request_Form</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctowner</name>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmployeeID</name>
        </inputAssignments>
        <inputAssignments>
            <name>useremail</name>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>username</name>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Orion_Support_subflow</name>
        <label>Orion Support subflow</label>
        <locationX>1747</locationX>
        <locationY>145</locationY>
        <flowName>Orion_Support</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Pricing_Maintenanceflow</name>
        <label>Pricing Maintenance</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <flowName>Pricing_Maintenance</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Rebates_Subflow_New</name>
        <label>Rebates Subflow New</label>
        <locationX>68</locationX>
        <locationY>1133</locationY>
        <flowName>Rebates</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reporting_Admin_Subflow</name>
        <label>Reporting/Admin Subflow</label>
        <locationX>1215</locationX>
        <locationY>1664</locationY>
        <flowName>Reporting</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reporting_Subflow</name>
        <label>Reporting_Subflow</label>
        <locationX>269</locationX>
        <locationY>2100</locationY>
        <flowName>Reporting</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sales_Admin_Subflow</name>
        <label>Sales_Admin_Subflow</label>
        <locationX>661</locationX>
        <locationY>1542</locationY>
        <flowName>Sales_Admin</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>The subflow for sales prism.</description>
        <name>Sales_Prism_Subflow</name>
        <label>Sales Prism</label>
        <locationX>660</locationX>
        <locationY>1810</locationY>
        <flowName>Sales_Prism</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Salesforce_Subflow</name>
        <label>Salesforce Subflow</label>
        <locationX>1023</locationX>
        <locationY>820</locationY>
        <flowName>Salesforce_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SCOE_Tier_1</name>
        <label>Tier 1 Flow</label>
        <locationX>268</locationX>
        <locationY>984</locationY>
        <flowName>SCOE_Tier_1</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Seismic_Subflow</name>
        <label>Seismic Subflow</label>
        <locationX>273</locationX>
        <locationY>1541</locationY>
        <flowName>Seismic</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Account_Name</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Customer_ID</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_ID</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Ship_to_Bill_to_Address_Maintenance_Flow</name>
        <label>Ship to/Bill to Address Maintenance Flow</label>
        <locationX>1960</locationX>
        <locationY>1302</locationY>
        <flowName>Ship_to_Bill_to_Address_Maintenance_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SPC_Flow</name>
        <label>SPC Flow</label>
        <locationX>1961</locationX>
        <locationY>1485</locationY>
        <flowName>Store_Purchasing_Card_SPC_Maintenance</flowName>
        <inputAssignments>
            <name>aactnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Tax_Subflow</name>
        <label>Tax Subflow</label>
        <locationX>658</locationX>
        <locationY>1265</locationY>
        <flowName>Tax</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SCOE_RecordTypeId</name>
            <value>
                <elementReference>SCOE_recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Web_Account_Maint</name>
        <label>Web Account Maint</label>
        <locationX>1960</locationX>
        <locationY>1640</locationY>
        <flowName>Web_Account_Maintenance_Flow</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <stringValue>acctnm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <name>userid</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountName</description>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsolidatedBilloneinvoiceperbillingcycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Consolidated Bill (one invoice per billing cycle)</stringValue>
        </value>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <name>DeploymentRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Deployment Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>EbillEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>EbillEmail</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FileNames</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileNamescollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fullname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>fullname_formula</elementReference>
        </value>
    </variables>
    <variables>
        <name>GPOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GPOnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Individual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Individual Invoice (one invoice per shipment)</stringValue>
        </value>
    </variables>
    <variables>
        <name>mgr_flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAccountNew_Account_Account_Closure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New Account: {!New_Account_Account_Closure}</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record Type ID Finance</description>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000gV3c</stringValue>
        </value>
    </variables>
    <variables>
        <description>SCOE recordtype id populated by using the developer name</description>
        <name>SCOE_recordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>Support_Sub_Indirect_Contact_Update</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Contact Update</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSub_Indirect_Billing_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Account Reactivation</description>
        <name>SupSubAccountReactivation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Reactivation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Subtype - Account Placed on DNS</description>
        <name>SupSubAcctDNS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Placed on DNS</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Sub Address Exceptions</description>
        <name>SupSubAddressExceptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Address Exceptions Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubBillingFreq</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Billing Frequency</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubCreditDecrease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Credit Limit Decrease</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubCreditLimitIncrease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Credit LImit Increase</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Direct Billing Request</description>
        <name>SupSubDirectBillingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Direct Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Ebilling Contact Update</description>
        <name>SupSubEBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Billing Contact Update</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubEStatement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Statements Enrollment</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Subtype Indirect Billing Request</description>
        <name>SupSubIndirectBillingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubOneTimeSpend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </variables>
    <variables>
        <description>Team Design Use only</description>
        <name>SupSubTeamDesign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Team Design Use Only</stringValue>
        </value>
    </variables>
    <variables>
        <description>Update Payment Terms</description>
        <name>SupSubUpdtTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update Payment Terms</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType: Account Closure</description>
        <name>SupSupAccountClosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </variables>
    <variables>
        <description>User Id</description>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>userid_formula</elementReference>
        </value>
    </variables>
    <variables>
        <name>Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>varNo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>VarYes</stringValue>
        </value>
    </variables>
    <variables>
        <name>xUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
