flows/SCOE_Button.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Closure</name>
        <choiceText>Account Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Maintenance_Customer_Service_Reporting</name>
        <choiceText>Acct Maintenance, Customer Service or Reporting Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acct Maintenance, Customer Service or Reporting Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Placed_on_DNS</name>
        <choiceText>Account Placed on DNS (Collections Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Placed on DNS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Reactivations</name>
        <choiceText>Account Reactivations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Reactivations</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddressExceptionsRequestOther</name>
        <choiceText>Address Exceptions Request (Other)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address Exceptions Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back_to_School</name>
        <choiceText>Back to School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back to School</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillExNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillExYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Exception_Requests</name>
        <choiceText>Billing Exception Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Exception Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Frequency_Updates</name>
        <choiceText>Billing Frequency Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Frequency Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Setup</name>
        <choiceText>Billing Setup</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Billing_Setup1</name>
        <choiceText>Billing Setup Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Billing_Setup</name>
        <choiceText>Change Billing Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Billing Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_one_invoice_per_billing_cycle1</name>
        <choiceText>Consolidated Bill (one invoice per billing cycle)</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter Annual Spend &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
            <validationRule>
                <errorMessage>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Customer requires additional support. A support case will not be created. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please contact AR Billing at ARBillingimplementation@officedepot.com&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>( ({!Consolidated_Bill_one_invoice_per_billing_cycle1}) &gt;= 60000)</formulaExpression>
            </validationRule>
        </userInput>
        <value>
            <elementReference>Consolidated_Bill_Type</elementReference>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_one_invoice_per_billing_cycle_text</name>
        <choiceText>Consolidated Bill (one invoice per billing cycle)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consolidated Bill (one invoice per billing cycle)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Bill_Type</name>
        <choiceText>Consolidated Bill</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Cost_Center</name>
        <choiceText>Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cost_Center_Subtotal</name>
        <choiceText>Cost Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Limit_Decreases</name>
        <choiceText>Credit Limit Decreases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Limit Decreases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Limit_Increases</name>
        <choiceText>Credit Limit Increases</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Credit_Setup</name>
        <choiceText>Credit Setup</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Credit_Setup1</name>
        <choiceText>Credit Setup Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Setup Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusAppNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusAppYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusFileNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CusFileYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Request</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department_Subtotal</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deployment_Request</name>
        <choiceText>Deployment Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Desktop</name>
        <choiceText>Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Billing_Bill_goes_to_Bill_To_Seq</name>
        <choiceText>Direct Billing Request (Bill goes to Bill To Seq)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Billing Request (Bill goes to Bill To Seq)</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Billing_Contact_Update</name>
        <choiceText>E-Billing Contact Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Billing Contact Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Statements_Enrollment</name>
        <choiceText>E -Statements Enrollment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E -Statements Enrollment</stringValue>
        </value>
    </choices>
    <choices>
        <name>eExcel</name>
        <choiceText>eExcel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>eExcelmediaType</name>
        <choiceText>eExcel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eExcel</stringValue>
        </value>
    </choices>
    <choices>
        <name>ePDFmediatype</name>
        <choiceText>ePDF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ePDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture_NON_Code_or_Catalog</name>
        <choiceText>Furniture NON-Code or Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture NON-Code or Catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Increased_Spend_Permanent</name>
        <choiceText>Increased Spend (Permanent)</choiceText>
        <dataType>Currency</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estimated Annual Spend &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Increased_Spend_Permanent1</name>
        <choiceText>Increased Spend (Permanent)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increased Spend (Permanent)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Billing_Contact_Update</name>
        <choiceText>Indirect Billing Contact Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Billing Contact Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Billing_Request_Bill_goes_to_Ship_to</name>
        <choiceText>Indirect Billing Request (Bill goes to Ship to)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Billing Request (Bill goes to Ship to)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual_Invoice_Bill_Type</name>
        <choiceText>Individual Invoice</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>One invoice per shipment</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Individual_Invoice_one_invoice_per_shipment</name>
        <choiceText>Individual Invoice (one invoice per shipment)</choiceText>
        <dataType>Currency</dataType>
        <value>
            <elementReference>Consolidated_Bill_Type</elementReference>
        </value>
    </choices>
    <choices>
        <name>Individual_Invoice_one_invoice_per_shipment_Text</name>
        <choiceText>Individual Invoice (one invoice per shipment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Invoice (one invoice per shipment)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Input_dollar_Limit</name>
        <choiceText>Input dollar Limit</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Line_Item_Detail_includes_SKU</name>
        <choiceText>Line Item Detail (Includes SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Detail Includes SKU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Line_Item_DetailmediatType</name>
        <choiceText>Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_Contract</name>
        <choiceText>Lost Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>MPS</name>
        <choiceText>MPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>NAChoice</name>
        <choiceText>NA</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NA</elementReference>
        </value>
    </choices>
    <choices>
        <name>New_Account</name>
        <choiceText>New Account</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>New_Account1</name>
        <choiceText>New Account</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>New_Account_Account_Closure</name>
        <choiceText>New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Indirect_Billing</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Line_Item_Detail</name>
        <choiceText>No Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Line_Item_DetailmediaType</name>
        <choiceText>No Line Item Detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Item Detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAddressEx</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoBillExc</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoGPO</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-None-</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary1</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary2</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One_Time_Spend_Temporary2</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time_Spend_Temporary_New</name>
        <choiceText>One Time Spend (Temporary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OwnNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OwnYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paper</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaperMediaType</name>
        <choiceText>Paper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order_Subtotal</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_attach_AB_Tender</name>
        <choiceText>Re-attach AB Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-attach AB Tender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release_Subtotal</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_AB_Tender</name>
        <choiceText>Remove AB Tender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove AB Tender</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly</name>
        <choiceText>Semi-Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly_16th_EOM</name>
        <choiceText>Semi Monthly 16th &amp; EOM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi Monthly 16th &amp; EOM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Monthly_1st_15th</name>
        <choiceText>Semi-Monthly - 1st &amp; 15th</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Monthly - 1st &amp; 15th</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Location</name>
        <choiceText>Ship to Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Location_Subtotal</name>
        <choiceText>Ship to Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sort_Subtotal</name>
        <choiceText>Sort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sort</stringValue>
        </value>
    </choices>
    <choices>
        <name>Summary</name>
        <choiceText>Summary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Design_Use_Only_50_deposit</name>
        <choiceText>Team Design Use Only (50% deposit)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team Design Use Only (50% deposit)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Payment_Terms</name>
        <choiceText>Update Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Payment Terms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>X30_days</name>
        <choiceText>30 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 days</stringValue>
        </value>
    </choices>
    <choices>
        <name>X60_days</name>
        <choiceText>60 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>60 days</stringValue>
        </value>
    </choices>
    <choices>
        <name>X90_days</name>
        <choiceText>90 days</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Indirect_Billing</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAddressEx</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesBillExc</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesGPO</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>DirectN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>DirectNA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </constants>
    <constants>
        <name>DirectY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </constants>
    <constants>
        <name>Indirect_Billing_N</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>Internal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <constants>
        <description>Value to pass through all of flow = not applicable</description>
        <name>NA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID = Finance</description>
        <name>RID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121k0000000BWr</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>Support</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sysadmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Routing_Decision</name>
        <label>Case Routing Decision</label>
        <locationX>438</locationX>
        <locationY>13</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Setup_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Setup1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Credit_Setup_Request</targetReference>
            </connector>
            <label>Credit Setup Options</label>
        </rules>
        <rules>
            <name>Billing_Setup_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Setup1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Billing_Setup_Request</targetReference>
            </connector>
            <label>Billing Setup Options</label>
        </rules>
        <rules>
            <name>AccountMainReportingReporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_Maintenance_Customer_Service_Reporting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_SCOE</targetReference>
            </connector>
            <label>AccountMainReportingReporting</label>
        </rules>
        <rules>
            <name>Deployment_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deployment_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Deployment_Requests</targetReference>
            </connector>
            <label>Deployment Requests</label>
        </rules>
    </decisions>
    <description>SCOE (Support Center of Excellence) Button. This Flow manages all subflows for scoe button on the Account page</description>
    <dynamicChoiceSets>
        <name>BillingFrequencySubTypeLOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_SubType_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingFrequencyUpdateLOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_Update_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingMediaTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Media_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Prod_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Frequency_SubType_LOV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fxuserid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Profile ID</description>
        <name>profileid</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>SCOE Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCOE Button 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>What_do_you_want_to_do_today</name>
        <label>What do you want to do today?</label>
        <locationX>264</locationX>
        <locationY>5</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Routing_Decision</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;img src=&quot;https://officedepot.scene7.com/is/content/officedepot/od-omax-logo2&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Hello {!fullName}, Please select a Request Type:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Number_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Number: {!custid}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Name: {!acctnm}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choices</name>
            <choiceReferences>Account_Maintenance_Customer_Service_Reporting</choiceReferences>
            <choiceReferences>Billing_Setup1</choiceReferences>
            <choiceReferences>Credit_Setup1</choiceReferences>
            <choiceReferences>Deployment_Request</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Please select a category that your request falls into.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>What_do_you_want_to_do_today</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Launch_Billing_Setup_Request</name>
        <label>Launch Billing Setup Request</label>
        <locationX>430</locationX>
        <locationY>257</locationY>
        <flowName>Billing_Setup_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Launch_Credit_Setup_Request</name>
        <label>Launch Credit Setup Request</label>
        <locationX>605</locationX>
        <locationY>228</locationY>
        <flowName>Credit_Setup_Request</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Launch_Deployment_Requests</name>
        <label>Launch Deployment Requests</label>
        <locationX>178</locationX>
        <locationY>140</locationY>
        <flowName>Deployment_Requests</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <name>acctid</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Launch_SCOE</name>
        <label>Launch SCOE</label>
        <locationX>947</locationX>
        <locationY>39</locationY>
        <flowName>SCOE_Support</flowName>
        <inputAssignments>
            <name>acctid</name>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>acctnm</name>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>custid</name>
            <value>
                <elementReference>custid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <name>acctnm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <name>custid</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountName</description>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsolidatedBilloneinvoiceperbillingcycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Consolidated Bill (one invoice per billing cycle)</stringValue>
        </value>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <name>DeploymentRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Deployment_Request</elementReference>
        </value>
    </variables>
    <variables>
        <name>EbillEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>EbillEmail</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FileNames</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileNamescollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Full Name</description>
        <name>fullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>fullName</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GPOnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Individual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Individual Invoice (one invoice per shipment)</stringValue>
        </value>
    </variables>
    <variables>
        <name>mgr_flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAccountNew_Account_Account_Closure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New Account: {!New_Account_Account_Closure}</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record Type ID Finance</description>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0121k0000000BWr</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>Support_Sub_Indirect_Contact_Update</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Contact Update</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSub_Indirect_Billing_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Account Reactivation</description>
        <name>SupSubAccountReactivation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Reactivation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Subtype - Account Placed on DNS</description>
        <name>SupSubAcctDNS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Placed on DNS</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Sub Address Exceptions</description>
        <name>SupSubAddressExceptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Address Exceptions Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubBillingFreq</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Billing Frequency</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubCreditDecrease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Credit Limit Decrease</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubCreditLimitIncrease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Credit LImit Increase</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Direct Billing Request</description>
        <name>SupSubDirectBillingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Direct Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType Ebilling Contact Update</description>
        <name>SupSubEBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Billing Contact Update</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubEStatement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>E-Statements Enrollment</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support Subtype Indirect Billing Request</description>
        <name>SupSubIndirectBillingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Indirect Billing Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupSubOneTimeSpend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>One Time Spend (Temporary)</stringValue>
        </value>
    </variables>
    <variables>
        <description>Team Design Use only</description>
        <name>SupSubTeamDesign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Team Design Use Only</stringValue>
        </value>
    </variables>
    <variables>
        <description>Update Payment Terms</description>
        <name>SupSubUpdtTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Update Payment Terms</stringValue>
        </value>
    </variables>
    <variables>
        <description>Support SubType: Account Closure</description>
        <name>SupSupAccountClosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Closure</stringValue>
        </value>
    </variables>
    <variables>
        <description>User Id</description>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>userid</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>varNo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>VarYes</stringValue>
        </value>
    </variables>
</Flow>
