flows/SCOE_Tier_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <description>Account Credit Linkage Request</description>
        <name>Credit_Linkage</name>
        <choiceText>Account Credit Linkage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Credit Linkage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Federation</name>
        <choiceText>Federation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Federation</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Acct_Questions</name>
        <choiceText>General Account Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>General_Questions_Legal</elementReference>
        </value>
    </choices>
    <choices>
        <name>General_Quest_Tier1</name>
        <choiceText>General Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralQuestions</name>
        <choiceText>General Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Link_existing_mastercode</name>
        <choiceText>Link existing mastercode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Link existing mastercode</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_mastercode</name>
        <choiceText>New mastercode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New mastercode</stringValue>
        </value>
    </choices>
    <choices>
        <description>New Prospect/Opportunity</description>
        <name>Prospect_oppt</name>
        <choiceText>New Prospect/Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Prospect/Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rebranding</name>
        <choiceText>Rebranding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rebranding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reseller</name>
        <choiceText>Reseller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reseller</stringValue>
        </value>
    </choices>
    <choices>
        <name>TierOne</name>
        <choiceText>Tier One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier One</stringValue>
        </value>
    </choices>
    <constants>
        <name>General_Acct_Questions_Constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>General Account Question</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Priority</description>
        <name>Priority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type ID - SCOE</description>
        <name>RecordTypeIDSCOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </constants>
    <constants>
        <description>Internal</description>
        <name>SupportOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Rebranding_Choice_Decision</name>
        <label>Rebranding Choice Decision</label>
        <locationX>687</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Mastercode_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rebranding_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_mastercode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_One</targetReference>
            </connector>
            <label>New Mastercode Decision</label>
        </rules>
        <rules>
            <name>Existing_Master_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rebranding_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Link_existing_mastercode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mastercode_screen</targetReference>
            </connector>
            <label>Existing Master Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_1_Decision</name>
        <label>Tier 1 Decision</label>
        <locationX>690</locationX>
        <locationY>74</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Credit_Linkage_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options_Tier1_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Credit_Linkage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Credit_Linkage</targetReference>
            </connector>
            <label>Account Credit Linkage Decision</label>
        </rules>
        <rules>
            <name>Rebranding_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options_Tier1_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rebranding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebranding_Choice</targetReference>
            </connector>
            <label>Rebranding Decision</label>
        </rules>
        <rules>
            <name>General_Inquiry_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options_Tier1_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>General_Quest_Tier1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Inquiry_Screen</targetReference>
            </connector>
            <label>General Inquiry Decision</label>
        </rules>
    </decisions>
    <formulas>
        <name>Get_Req_formula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>SCOE: Tier 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tier One v8</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create_Tier1Flow</name>
        <label>Case Create: Tier 1</label>
        <locationX>112</locationX>
        <locationY>683</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Tier_1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>IssueTypeTier1Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tier1_sub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>Get_Req_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Tier1Flow_0</name>
        <label>Case Create: Tier 1</label>
        <locationX>1099</locationX>
        <locationY>521</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Account Credit Linkage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>Get_Req_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Tier1Flow_0_0</name>
        <label>Case Create: Tier 1</label>
        <locationX>350</locationX>
        <locationY>540</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>GeneralQuestionstemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>General_Inquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>General Inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>Get_Req_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Tier1Flow_0_0_0</name>
        <label>Case Create: Tier 1</label>
        <locationX>583</locationX>
        <locationY>617</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>ExistingMastercode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>Link Existing Mastercode</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Rebranding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>Get_Req_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Tier1Flow_0_0_0_0</name>
        <label>Case Create: Tier 1</label>
        <locationX>831</locationX>
        <locationY>628</locationY>
        <assignRecordIdToReference>varRecordTypeID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Newmaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SupportOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDSCOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>New Mastercode</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>Rebranding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>Get_Req_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier1_Flow_Page_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctnm</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Credit_Linkage</name>
        <label>Account Credit Linkage</label>
        <locationX>1101</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Tier1Flow_0</targetReference>
        </connector>
        <fields>
            <name>Required_File_Attachments</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please download, complete and attach the Tier One Account Credit Linkage form.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt; Legal agreements &amp;amp; completed forms are required to be attached before submitting a support request. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;{!CreditLinks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Tier1_main</name>
        <label>Confirm_Tier1_main</label>
        <locationX>660</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm_Legal</name>
            <fieldText>&lt;p&gt;Thank you! Your case has been submitted. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>General_Inquiry_Screen</name>
        <label>General Inquiry Screen</label>
        <locationX>355</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Tier1Flow_0_0</targetReference>
        </connector>
        <fields>
            <name>General_Inquiry</name>
            <choiceReferences>Prospect_oppt</choiceReferences>
            <choiceReferences>GeneralQuestions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>General Inquiry Options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountInfo</name>
            <fieldText>&lt;p&gt;{!custid}&lt;/p&gt;&lt;p&gt;{!acctnm}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>General_Inquiry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Prospect_oppt</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_add_your_question</name>
            <fieldText>Open Questions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>General_Inquiry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GeneralQuestions</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>General_Inquiry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Prospect_oppt</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LegalFlow_Screen_2</name>
        <label>LegalFlow_Screen_2</label>
        <locationX>121</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Tier1Flow_1stpage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px;&quot;&gt;Tier 1 Questions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tier1_sub</name>
            <dataType>String</dataType>
            <fieldText>Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tier_1_Description</name>
            <fieldText>Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mastercode_screen</name>
        <label>Mastercode screen</label>
        <locationX>584</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Create_Tier1Flow_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Mastercode</name>
            <dataType>String</dataType>
            <fieldText>Provide Mastercode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Account #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_existingmaster</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notess</name>
            <fieldText>&lt;p&gt;{!comments_note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rebranding_Choice</name>
        <label>Rebranding_Choice</label>
        <locationX>697</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rebranding_Choice_Decision</targetReference>
        </connector>
        <fields>
            <name>Rebranding_options</name>
            <choiceReferences>New_mastercode</choiceReferences>
            <choiceReferences>Link_existing_mastercode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rebranding options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tier1_Flow_Page_1</name>
        <label>Tier1_Flow_Page_1</label>
        <locationX>370</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tier_1_Decision</targetReference>
        </connector>
        <fields>
            <name>General_Tier1</name>
            <fieldText>&lt;p&gt;Please select the option that best fits: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Options_Tier1_Flow</name>
            <choiceReferences>Credit_Linkage</choiceReferences>
            <choiceReferences>Rebranding</choiceReferences>
            <choiceReferences>General_Quest_Tier1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tier_One</name>
        <label>Tier One</label>
        <locationX>825</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Tier1Flow_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>New_Mastercode1</name>
            <choiceReferences>TierOne</choiceReferences>
            <choiceReferences>Reseller</choiceReferences>
            <choiceReferences>Federation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Mastercode</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>logo_file_comments</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;﻿&lt;/i&gt;Note: Complete&lt;i&gt; &lt;/i&gt;&lt;/b&gt;&lt;a href=&quot;http://officedepot.seismic.com/Link/Content/DCfJe0ItLDgU-apgAVri7Lvg&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;b&gt;&lt;i&gt;&lt;u&gt;form &amp;amp; logo&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; files are required to be attached before submitting a support request. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments2</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_screen</name>
        <label>Upload screen1</label>
        <locationX>665</locationX>
        <locationY>867</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Tier1_main</targetReference>
        </connector>
        <fields>
            <name>Commentsnotes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!comments_note}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUploadd</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>comments_note</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Note: Attach spreadsheets if more than 5 accounts are involved</text>
    </textTemplates>
    <textTemplates>
        <name>CreditLinks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please download and complete the Tier One Credit Linkage/ Approval form click &lt;/span&gt;&lt;a href=&quot;http://officedepot.seismic.com/Link/Content/DCcmMvkd0bQEuN-2UZWZH4AQ&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For instructions on completing a Tier One Credit Linkage Request form click &lt;a href=&quot;http://officedepot.seismic.com/Link/Content/DCT2VxmyHEdkCUcjxHtlfF-w&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExistingMastercode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Name Mastercode: {!Mastercode}

Account #: {!Account}

Comments: {!Comments_existingmaster}</text>
    </textTemplates>
    <textTemplates>
        <name>GeneralQuestionstemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>General Inquiry Option:  {!General_Inquiry}
Account ID: {!custid}
Account Name: {!acctnm}
Annual Revenue: {!Annual_Revenue}
Open Questions: {!Please_add_your_question}</text>
    </textTemplates>
    <textTemplates>
        <name>Newmaster</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Mastercode:  {!New_Mastercode1}

Comments: {!Comments2}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Tier 1 - {!acctnm} - {!Options_Tier1_Flow}</text>
    </textTemplates>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>acctnm</elementReference>
        </value>
    </variables>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>FinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>caseid</elementReference>
        </value>
    </variables>
    <variables>
        <name>General_Questions_Legal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SCOE Issue Type = Tier 1</description>
        <name>IssueTypeTier1Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Tier 1</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SCOEID</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
</Flow>
