flows/Seismic.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>General_Questions_Choice</name>
        <choiceText>General Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Questions</stringValue>
        </value>
    </choices>
    <constants>
        <description>0121k0000004KNX</description>
        <name>RID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121k0000004KNX</stringValue>
        </value>
    </constants>
    <description>Rework 02594024</description>
    <interviewLabel>Seismic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Seismic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_General_Questions_Record</name>
        <label>Create General Questions Record</label>
        <locationX>387</locationX>
        <locationY>192</locationY>
        <assignRecordIdToReference>SCOE_RecordTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>UploadScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>General_Questions_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>SCOE_Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <stringValue>General Questions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <stringValue>Seismic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>General_Questions_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>General_Questions_Screen</name>
        <label>General Questions Screen</label>
        <locationX>382</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_General_Questions_Record</targetReference>
        </connector>
        <fields>
            <name>General_Questions_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>General_Questions_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Received</name>
        <label>Received</label>
        <locationX>386</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>case_received</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thank you! Your request has been received.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UploadScreen</name>
        <label>Upload</label>
        <locationX>388</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Received</targetReference>
        </connector>
        <fields>
            <name>note</name>
            <fieldText>&lt;p&gt;Upload Attachment(s)&lt;/p&gt;&lt;p&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Screen</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SCOE_RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>General_Questions_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCOE_Issue_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Seismic</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOE_Support_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Seismic</stringValue>
        </value>
    </variables>
    <variables>
        <name>User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
