flows/Tax.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_SCOE_Issue_Type</name>
        <label>Set SCOE Issue Type</label>
        <locationX>1712</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>scoeIssueType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCOE_Support_Sub_Types_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SCOE_Support_Sub_Type</name>
        <label>Set SCOE Support Sub Type</label>
        <locationX>2064</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>scoeSupportSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCOE_Support_Sub_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_next_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SCOE_Support_Type</name>
        <label>Set SCOE Support Type</label>
        <locationX>1535</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>scoeSupportType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAX</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SCOE_Issue_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Taxable_Flag_Choice</name>
        <choiceText>Add Taxable Flag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Taxable Flag</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Tax_Credit_Requests_Choice</name>
        <choiceText>Sales Tax Credit Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Tax Credit Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Exemption_Updates_Choice</name>
        <choiceText>Tax Exemption Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Exemption Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Rate_Issues_Choice</name>
        <choiceText>Tax Rate Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Rate Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Taxability_Question_Choice</name>
        <choiceText>Taxability Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Taxability Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>W9_Requests_Choice</name>
        <choiceText>W-9 Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W-9 Requests</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Redirect_to_next_page</name>
        <label>Redirect to next page</label>
        <locationX>2057</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Tax_Credit_Requests_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scoeSupportSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sales_Tax_Credit_Requests_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Page3_Screen1</targetReference>
            </connector>
            <label>Sales Tax Credit Requests Outcome</label>
        </rules>
        <rules>
            <name>Tax_Exemption_Updates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scoeSupportSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tax_Exemption_Updates_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Page3_Screen2</targetReference>
            </connector>
            <label>Tax Exemption Updates Outcome</label>
        </rules>
        <rules>
            <name>Tax_Rate_Issues_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scoeSupportSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tax_Rate_Issues_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Page3_Screen3</targetReference>
            </connector>
            <label>Tax Rate Issues Outcome</label>
        </rules>
        <rules>
            <name>W_9_Requests_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scoeSupportSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>W9_Requests_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Page3_Screen4</targetReference>
            </connector>
            <label>W-9 Requests Outcome</label>
        </rules>
        <rules>
            <name>Add_Taxable_Flag_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scoeSupportSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Taxable_Flag_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Page3_Screen5</targetReference>
            </connector>
            <label>Add Taxable Flag Outcome</label>
        </rules>
        <rules>
            <name>Taxability_Question_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scoeSupportSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Taxability_Question_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Page3_Screen6</targetReference>
            </connector>
            <label>Taxability Question Outcome</label>
        </rules>
    </decisions>
    <interviewLabel>Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tax</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_1</name>
        <label>Create Record</label>
        <locationX>1392</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>scoeIssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>scoeSupportSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>scoeSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_2</name>
        <label>Create Record</label>
        <locationX>1234</locationX>
        <locationY>793</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>File</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Page3_Screen2_LongTextArea1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>scoeIssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>scoeSupportSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>scoeSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Page3_Screen2_Text1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_3</name>
        <label>Create Record</label>
        <locationX>1082</locationX>
        <locationY>792</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>File</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Page3_Screen3_LongTextArea1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>scoeIssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>scoeSupportSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>scoeSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Page3_Screen3_Text1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_4</name>
        <label>Create Record</label>
        <locationX>931</locationX>
        <locationY>794</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>File</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Page3_Screen4_LongTextArea1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>scoeIssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>scoeSupportSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>scoeSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Page3_Screen4_Text1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_5</name>
        <label>Create Record</label>
        <locationX>784</locationX>
        <locationY>791</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>File</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Add_Taxable_Flag_TT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>scoeIssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>scoeSupportSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>scoeSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Page3_Screen5_Text1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_6</name>
        <label>Create Record</label>
        <locationX>639</locationX>
        <locationY>793</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>File</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Request__c</field>
            <value>
                <elementReference>Page3_Screen6_LongTextArea1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SCOE_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Issue_Type__c</field>
            <value>
                <elementReference>scoeIssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Sub_type__c</field>
            <value>
                <elementReference>scoeSupportSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCOE_Support_Type__c</field>
            <value>
                <elementReference>scoeSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Page3_Screen6_Text1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Requester__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>1338</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SCOE_Support_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>custid</assignToReference>
            <field>Cust_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>acctnm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>File</name>
        <label>File</label>
        <locationX>1052</locationX>
        <locationY>926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page3_Screen2_Screen2</targetReference>
        </connector>
        <fields>
            <name>note_1</name>
            <fieldText>&lt;p&gt;Upload Attachment(s)&lt;/p&gt;&lt;p&gt;NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload related file(s):</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen1</name>
        <label>Page 3 Screen 1</label>
        <locationX>1386</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;For sales tax credit requests&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please contact Dispute Resolutions at &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;disputeresolution@officedepot.com&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Note: A support case will not be created. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen2</name>
        <label>Page 3 Screen 2</label>
        <locationX>1234</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_2</targetReference>
        </connector>
        <fields>
            <name>Page3_Screen2_DisplayText1</name>
            <fieldText>&lt;p&gt;o	PROVIDE THE FOLLOWING&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;COPY OF THE CUSTOMER’S STATE SALES TAX EXEMPTION CERTIFICATE&amp;nbsp;&lt;/li&gt;&lt;li&gt;CUSTOMER ID TO BE UPDATED – IF EXEMPTION MUST BE COPIED TO MULTIPLE ACCOUNTS, PROVIDE ALL ACCOUNT NUMBERS REQUIRING UPDATES&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;o	NOTES&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;EXEMPTIONS ARE APPLIED TO THE ENTIRE ACCOUNT BY STATE&lt;/li&gt;&lt;li&gt;IF SINGLE SHIP TO&apos;s ARE REQUESTING TAX EXEMPTION, A SEPARATE ACCOUNT EXEMPT ACCOUNT SHOULD BE CREATED&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Page3_Screen2_Text1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page3_Screen2_LongTextArea1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen2_Screen2</name>
        <label>Page 3 Screen 2 Screen 2</label>
        <locationX>1052</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you! Your case has been submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen3</name>
        <label>Page 3 Screen 3</label>
        <locationX>1082</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_3</targetReference>
        </connector>
        <fields>
            <name>Page3_Screen3_DisplayText1</name>
            <fieldText>&lt;p&gt;o	PROVIDE THE FOLLOWING&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;CUSTOMER ID&amp;nbsp;&lt;/li&gt;&lt;li&gt;AFFECTED SEQUENCE NUMBERS&amp;nbsp;&lt;/li&gt;&lt;li&gt;SAMPLE ORDER CHARGED THE INCORRECT RATE&amp;nbsp;&lt;/li&gt;&lt;li&gt;CORRECT RATE TO BE CHARGED&amp;nbsp;&lt;/li&gt;&lt;li&gt;ADDRESS COUNTY&amp;nbsp;&lt;/li&gt;&lt;li&gt;IS THE SHIPPING LOCATION INSIDE OR OUTSIDE OF CITY LIMITS?&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Page3_Screen3_Text1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page3_Screen3_LongTextArea1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen4</name>
        <label>Page 3 Screen 4</label>
        <locationX>931</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_4</targetReference>
        </connector>
        <fields>
            <name>Page3_Screen4_Text1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page3_Screen4_LongTextArea1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen5</name>
        <label>Page 3 Screen 5</label>
        <locationX>784</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_5</targetReference>
        </connector>
        <fields>
            <name>Page3_Screen5_Text1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page3_Screen5_LongTextArea1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>custid</elementReference>
            </defaultValue>
            <fieldText>Customer ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provide_Seq_which_should_be_marked_TAXABLE</name>
            <dataType>String</dataType>
            <fieldText>Provide Seq # which should be marked TAXABLE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>notes</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: inherit; font-family: inherit;&quot;&gt;SPECIFIC SHIP TOS CAN BE FLAGGED AS TAXABLE ON EXEMPT ACCOUNTS.&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: inherit; font-family: inherit;&quot;&gt;IF SINGLE SHIP TOS ARE REQUESTING TAX EXEMPTION ON A TAXABLE ACCOUNT, A SEPARATE EXEMPT ACCOUNT SHOULD BE CREATED&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: inherit; font-family: inherit;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page3_Screen6</name>
        <label>Page 3 Screen 6</label>
        <locationX>639</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_6</targetReference>
        </connector>
        <fields>
            <name>Page3_Screen6_DisplayText1</name>
            <fieldText>&lt;p&gt;o	PROVIDE THE FOLLOWING:	&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ITEM NUMBER/SKU&amp;nbsp;&lt;/li&gt;&lt;li&gt;SAMPLE ORDER IN QUESTION&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Page3_Screen6_Text1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page3_Screen6_LongTextArea1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCOE_Support_Sub_Types_Screen</name>
        <label>SCOE Support Sub Types Screen</label>
        <locationX>1900</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_SCOE_Support_Sub_Type</targetReference>
        </connector>
        <fields>
            <name>SCOE_Support_Sub_Types</name>
            <choiceReferences>Sales_Tax_Credit_Requests_Choice</choiceReferences>
            <choiceReferences>Tax_Exemption_Updates_Choice</choiceReferences>
            <choiceReferences>Tax_Rate_Issues_Choice</choiceReferences>
            <choiceReferences>W9_Requests_Choice</choiceReferences>
            <choiceReferences>Add_Taxable_Flag_Choice</choiceReferences>
            <choiceReferences>Taxability_Question_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tax Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1149</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Add_Taxable_Flag_TT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Customer ID: {!Customer_ID}
Sequence # to be marked TAXABLE: {!Provide_Seq_which_should_be_marked_TAXABLE}
Description: {!Page3_Screen5_LongTextArea1}</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acctnm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>custid</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCOE_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01244000000fR7l</stringValue>
        </value>
    </variables>
    <variables>
        <name>scoeIssueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scoeSupportSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scoeSupportType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
