flows/WRF_latest.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Account_Review</name>
        <choiceText>Account Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alternate_Item_Request</name>
        <choiceText>Alternate Item Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Item Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Any</name>
        <choiceText>Any</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Assortment_Update</name>
        <choiceText>Assortment Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assortment Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Audit_Request</name>
        <choiceText>Audit Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Audit Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Automatic_Toner_Replenishment</name>
        <choiceText>Automatic Toner Replenishment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automatic Toner Replenishment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Beverage_Service_Agreement</name>
        <choiceText>Beverage Service Agreement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Beverage Service Agreement</stringValue>
        </value>
    </choices>
    <choices>
        <name>blankchoice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>None</elementReference>
        </value>
    </choices>
    <choices>
        <name>Canada_Office_Supplies_Paper_Toner</name>
        <choiceText>Canada Office Supplies/Paper/Toner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada Office Supplies/Paper/Toner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cleaning_Breakroom_Facility_Svcs_CBFS</name>
        <choiceText>Cleaning Breakroom Facility Svcs (CBFS)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cleaning Breakroom Facility Svcs (CBFS)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Comparison</name>
        <choiceText>Comparison</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comparison</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contractual_Price_Increase</name>
        <choiceText>Contractual Price Increase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractual Price Increase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Copy_Print_Depot</name>
        <choiceText>Copy Print Depot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy Print Depot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Core_s_ONLY</name>
        <choiceText>Core(s) ONLY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Core(s) ONLY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Core_s_Plus_NCC_Price_Plan</name>
        <choiceText>Core(s) Plus NCC (Price Plan)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Core(s) Plus NCC (Price Plan)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New</name>
        <choiceText>Create New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New</stringValue>
        </value>
    </choices>
    <choices>
        <name>customer</name>
        <choiceText>Do you know how the customer will evaluate for award?</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>If yes, please provide details of award methodology:</promptText>
        </userInput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>DesktopDelivery</name>
        <choiceText>Desktop delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desktop delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deviated_Cost_Analysis</name>
        <choiceText>Deviated Cost Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deviated Cost Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diversity</name>
        <choiceText>Diversity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diversity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Do_you_know_how_the_customer_will_evaluate_for_award</name>
        <choiceText>Do you know how the customer will evaluate for award?</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>If yes, please provide details of award methodology:</promptText>
        </userInput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electronic</name>
        <choiceText>Electronic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Green</name>
        <choiceText>Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hosted_Catalog</name>
        <choiceText>Hosted Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hosted Catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Is_an_Office_Depot_VP_signature_required_val</name>
        <choiceText>Is an Office Depot VP signature required?</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>If yes, please indicate the type of signature that is required: Options to include ‘Electronic’ or ‘Written’</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Isthecustomerexpectingsavings</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loadingdock</name>
        <choiceText>Loading dock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loading dock</stringValue>
        </value>
    </choices>
    <choices>
        <name>LowCost</name>
        <choiceText>Low Cost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low Cost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Managed_Print_Services</name>
        <choiceText>Managed Print Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Managed Print Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>NA</name>
        <choiceText>&lt;span style=&quot;font-family: serif;&quot;&gt;NA&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_11</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoPreference</name>
        <choiceText>No Preference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Preference</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotSure</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: serif; color: rgb(32, 31, 30);&quot;&gt;Not Sure&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Sure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherCurrentGPO</name>
        <choiceText>Other Current GPO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Current GPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Brand</name>
        <choiceText>Private Brand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Brand</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_Furniture</name>
        <choiceText>Project Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remanufactured</name>
        <choiceText>Remanufactured Toner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remanufactured Toner</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestSavings</name>
        <choiceText>RequestSavings</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>what is the savings expectation?</promptText>
        </userInput>
        <value>
            <elementReference>RequestinSaving</elementReference>
        </value>
    </choices>
    <choices>
        <name>RFP_RFQ_BID</name>
        <choiceText>RFP/RFQ/BID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFP/RFQ/BID</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tech_Depot</name>
        <choiceText>Tech Depot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tech Depot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>US_Office_Supplies_Paper_Toner</name>
        <choiceText>US Office Supplies/Paper/Toner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US Office Supplies/Paper/Toner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vendor_Cost_Increase</name>
        <choiceText>Vendor Cost Increase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Cost Increase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Whiteglove</name>
        <choiceText>White glove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White glove</stringValue>
        </value>
    </choices>
    <choices>
        <name>Written</name>
        <choiceText>Written</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Written</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3rdpartyauditor</name>
        <choiceText>3rdpartyauditor</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Please enter in 3rd Party Auditor Name</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_11</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>What is the savings expectation?</promptText>
        </userInput>
        <value>
            <elementReference>YesVariable</elementReference>
        </value>
    </choices>
    <constants>
        <name>AlternateItemRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Item Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>AuditRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Audit Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>AutomaticTonerReplenishmentATR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Automatic Toner Replenishment (ATR)</stringValue>
        </value>
    </constants>
    <constants>
        <name>ComparisonGPO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Comparison GPO</stringValue>
        </value>
    </constants>
    <constants>
        <name>DeviatedCostAnalysis</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deviated Cost Analysis</stringValue>
        </value>
    </constants>
    <constants>
        <name>DisplayText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please click below link for Proprietary Eligibility Form</stringValue>
        </value>
    </constants>
    <constants>
        <name>FormCompletionNDA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Form Completion/NDA</stringValue>
        </value>
    </constants>
    <constants>
        <name>FullAccountReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Account Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>HostedCatalogCreationUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hosted Catalog Update</stringValue>
        </value>
    </constants>
    <constants>
        <name>LegalReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Stocked Product WRF</stringValue>
        </value>
    </constants>
    <constants>
        <name>OtherGPO_Constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other GPO</stringValue>
        </value>
    </constants>
    <constants>
        <name>Parent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent</stringValue>
        </value>
    </constants>
    <constants>
        <name>PricingBidRFPQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing (Bid/RFP/Quote)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Propsect</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Propsect</stringValue>
        </value>
    </constants>
    <constants>
        <name>recidcase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012E00000008dkDIAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>VarGPO</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Audit_Decision</name>
        <label>Audit Decision</label>
        <locationX>1115</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_3rd_party_auditor_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3rd_Party_Auditor_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_3rd_party_auditor_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Create_audiit</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Award_eval</name>
        <label>Award eval</label>
        <locationX>1807</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Award</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_how_the_customer_will_evaluate_for_1awar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Award_Methodology</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Award</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_how_the_customer_will_evaluate_for_1awar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OD_VP_signature</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Core_update_is_other</name>
        <label>Core update is other</label>
        <locationX>1450</locationX>
        <locationY>1435</locationY>
        <defaultConnector>
            <targetReference>X3rd_Party_eProcurement_Sys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Other_CoreUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_core_update_s_that_need_to_occur</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Core_update_is_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerSavingsDecision</name>
        <label>CustomerSavingsDecision</label>
        <locationX>711</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_savingsoutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_customer_expecting_savings_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Isthecustomerexpectingsavings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_savings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Savings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_customer_expecting_savings_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Request</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deviated_Cost_Decision</name>
        <label>Deviated Cost Decision</label>
        <locationX>1363</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Case_Create_Deviated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Deviated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoestheBigDealRequestteamhavethisnewestvendorfundinglinkedtoyouraccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Create_Deviated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Deviated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoestheBigDealRequestteamhavethisnewestvendorfundinglinkedtoyouraccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_deal_a_HP_Channel_Lead_Win_Back_pick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TBD</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>eprocurement_is_TIES</name>
        <label>eprocurement is TIES</label>
        <locationX>1601</locationX>
        <locationY>1541</locationY>
        <defaultConnector>
            <targetReference>X3rd_Party_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TIES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X3rd_Party_eProcurement_System</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_TIES</targetReference>
            </connector>
            <label>TIES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ESA_Inventory</name>
        <label>Customer is responsible for all Proprietary inventory?</label>
        <locationX>2834</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Prop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_89</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_the_customer_sign_an_agreement_to_be_resp_for_all_Proprietary_inventory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_ESA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_NCC_2</name>
        <label>Existing NCC</label>
        <locationX>1564</locationX>
        <locationY>1075</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existing_NCC_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_existing_custom_NCC_or_do_you_need_one_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_NCC</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
        <rules>
            <name>Create_New_NCC_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_existing_custom_NCC_or_do_you_need_one_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HostedCatalog_1</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Frequency_Order</name>
        <label>Frequency of Order</label>
        <locationX>2824</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Prop_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Other_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_what_frequency_will_customer_place_orders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prop_3</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>HostedCatalogDecision_1</name>
        <label>HostedCatalogDecision 1</label>
        <locationX>1562</locationX>
        <locationY>821</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Core_s_Only_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_being_hosted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core_s_ONLY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HostedCatalog_1</targetReference>
            </connector>
            <label>Core(s) Only</label>
        </rules>
        <rules>
            <name>Core_s_plus_NCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_being_hosted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core_s_Plus_NCC_Price_Plan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Core_Plus_NCC_Screen</targetReference>
            </connector>
            <label>Core(s) plus NCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Current_GPO</name>
        <label>If Other Current GPO</label>
        <locationX>2153</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>Case_Create_rfp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Current_GPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_GPO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OtherCurrentGPO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Other_Current_GPO</targetReference>
            </connector>
            <label>Other Current GPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Special_Delivery_is_Other</name>
        <label>if Special Delivery is Other</label>
        <locationX>2704</locationX>
        <locationY>1291</locationY>
        <defaultConnector>
            <targetReference>Case_Create_Prop_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Spl_delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Special_Delivery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prop_7</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_customer_expecting_savings_screen</name>
        <label>Is the customer expecting savings?</label>
        <locationX>3229</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_customer_expecting_savings_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Isthecustomerexpectingsavings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes_Savings_for_Renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_customer_expecting_savings_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Rep_Notes_Renewal</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NCC</name>
        <label>NCC</label>
        <locationX>1366</locationX>
        <locationY>1035</locationY>
        <defaultConnector>
            <targetReference>X3rd_Party_eProcurement_Sys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_existing_custom_core_or_do_you_need_one_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HostedCatalog_2</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_GPO</name>
        <label>Other GPO</label>
        <locationX>1962</locationX>
        <locationY>1240</locationY>
        <defaultConnector>
            <targetReference>Case_Create_rfp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_GPO_Rfp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_are_we_bidding_this_opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OtherGPO_Constant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_GPO</targetReference>
            </connector>
            <label>Other GPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preliminary_Core_Review_Decision</name>
        <label>Preliminary_Core_Review Decision</label>
        <locationX>1773</locationX>
        <locationY>1335</locationY>
        <defaultConnector>
            <targetReference>X3rd_Party_eProcurement_Sys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Preliminary_Core_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_the_core_to_be_reviewed_prior_to_the_hosted_catalog_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prelimnary_core_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Preliminary_Core_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_the_core_to_be_reviewed_prior_to_the_hosted_catalog_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3rd_Party_eProcurement_Sys</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Type_Decision</name>
        <label>Request Type Decision</label>
        <locationX>1188</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Review_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountReview</targetReference>
            </connector>
            <label>Account Review</label>
        </rules>
        <rules>
            <name>ATR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automatic Toner Replenishment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATRscreen</targetReference>
            </connector>
            <label>ATR</label>
        </rules>
        <rules>
            <name>Audit_Request_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Requestscreen</targetReference>
            </connector>
            <label>Audit Request</label>
        </rules>
        <rules>
            <name>Comparison_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comparison</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComparisonScreen</targetReference>
            </connector>
            <label>Comparison</label>
        </rules>
        <rules>
            <name>Deviated_Cost_Analysis_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deviated Cost Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deviated_Cost_AnalysisScreen</targetReference>
            </connector>
            <label>Deviated Cost Analysis</label>
        </rules>
        <rules>
            <name>Hosted_Catalog_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hosted Catalog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hosted_Catalog_screen</targetReference>
            </connector>
            <label>Hosted Catalog</label>
        </rules>
        <rules>
            <name>RFP_RFQ_BID_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP/RFQ/BID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFP_RFQ_BID_Screen</targetReference>
            </connector>
            <label>RFP/RFQ/BID</label>
        </rules>
        <rules>
            <name>Alternate_Item_Request_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate Item Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternate_Item_Request_screen</targetReference>
            </connector>
            <label>Alternate Item Request</label>
        </rules>
        <rules>
            <name>Proprietary_Item_Request_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Stocked Product WRF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proprietary_Item_Request</targetReference>
            </connector>
            <label>Non-Stocked Product WRF</label>
        </rules>
        <rules>
            <name>Form_Completion_NDA_FC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA/Form Completion/RFI/Legal Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Completion_1</targetReference>
            </connector>
            <label>NDA/Form Completion/RFI/Legal Only</label>
        </rules>
        <rules>
            <name>Renewal_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RenewalScreen</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Leader_Follower_SKU_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_best_describes_your_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leader/Follower SKU Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leader_Follower_SKU_Change_Screen</targetReference>
            </connector>
            <label>Leader/Follower SKU Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Delivery</name>
        <label>Special Delivery</label>
        <locationX>3062</locationX>
        <locationY>1222</locationY>
        <defaultConnector>
            <targetReference>Case_Create_Prop_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_SplDelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_special_delivery_requirements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prop_6</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VP_Sig_decision</name>
        <label>VP Sig decision</label>
        <locationX>1851</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_VP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_an_Office_Depot_VP_sig_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Signature</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_VP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_an_Office_Depot_VP_sig_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bidding_Opportunity</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Added lightning lookup component</description>
    <dynamicChoiceSets>
        <name>Agreement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Written_Agreement__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Alttype</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Alternate_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Areyoumodifyinganexistingagreement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_You_Modifying_An_Existing_Agreement__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doyouknowhowthecustomerwillevaluateforaward</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>U_know_how_cust_will_evaluate_for_award__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicPicklistForWRF</name>
        <dataType>String</dataType>
        <displayField>PicklistName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rectype</elementReference>
            </value>
        </filters>
        <object>DynamicPicklist__c</object>
        <outputAssignments>
            <assignToReference>accname</assignToReference>
            <field>PicklistName__c</field>
        </outputAssignments>
        <sortField>PicklistName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>PicklistName__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GPOlist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_GPO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarGPO</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Parent</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Selected_GPO</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hardsubstitutealternates</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Sub_Alts_in_Supplies__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HasthecustomerprovidedUsagewithvalidSKUsmanufacturercodesandUOM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Valid_SKUsmanufacturer_codes_and_UOM__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Haveyoumetwithyourdirectorregardingthisopportunity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_u_met_director_regarding_this_opp__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hosted_Core_NCC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hosted_Core_NCC__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsanOfficeDepotVPsignaturerequired</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_an_OfficeDepot_VP_signature_required__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Isthisanewagreement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_This_A_New_Agreement__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Isthisanexistingcustomcoreordoyouneedonecreated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_New_Core__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsthisanofficialRFPoranunsolicitedoffer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_official_RFP_or_unsolicite_offer__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsthisdealaHPChannelLeadWinBack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_deal_a_HP_Channel_Lead_Win_Back__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ItemsToSupport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Item_is_to_support_check_one__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>newdwviation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_New_Deviation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Newest_vendorfundinglinkedtoyouraccount</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Newest_vendorfundinglinkedtoyouraccount__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>newprocumrment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_3rd_Party_eprocurement__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Order_Frequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Placing_Orders_by_Customer__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricingProgram</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Current_GPO__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricingStrategy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pricing_Strategy__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestinSaving</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requesting_Savings__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Timeframeforusageprovided</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Usage_Timeframe__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>What_is_the_goal_of_the_account_review_e</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_is_the_goal_of_the_account_review__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>What_is_the_goal_of_the_renewal</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_is_the_goal_of_the_renewal__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whatisthetimeframeoftheaudit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Audit_Timeframe__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whoisthecurrentincumbentcompetitor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ACCT_Current_Vendor__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Willthiscustomerrequireahostedcatalog</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WRF_Hosted_Catalog__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>userid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>WRF latest {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>WRF Latest V.4.8.6_1_9</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create</name>
        <label>Case Create</label>
        <locationX>538</locationX>
        <locationY>1385</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>Work_Request_AttAR</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Expecting_Savings__c</field>
            <value>
                <elementReference>Is_the_customer_expecting_savings_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Other_Customer_Goals__c</field>
            <value>
                <elementReference>What_is_the_savings_expectation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_ACR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <stringValue>Account Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_goal_of_the_account_review__c</field>
            <value>
                <elementReference>What_is_the_goal_of_the_account_review</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_alt_request</name>
        <label>Case Create</label>
        <locationX>857</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Alternate_Type__c</field>
            <value>
                <elementReference>What_type_of_alternate_review_would_you_like</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Other_Customer_Goals__c</field>
            <value>
                <elementReference>Estimated_savings_goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_AIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>AlternateItemRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Sub_Alts_in_Supplies__c</field>
            <value>
                <elementReference>Hard_substitute_alternates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_ATR</name>
        <label>Case Create</label>
        <locationX>1027</locationX>
        <locationY>845</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_ATR</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Preferred_Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>AutomaticTonerReplenishmentATR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_audiit</name>
        <label>Case Create</label>
        <locationX>1169</locationX>
        <locationY>1001</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_Audit</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_a_3rd_Party_auditor__c</field>
            <value>
                <elementReference>Is_there_a_3rd_party_auditor_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_New_contract_extension_renewal__c</field>
            <value>
                <elementReference>Casetype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentageofVendorfundingpasstodev__c</field>
            <value>
                <elementReference>what_percent_of_the_vendor_funding_will_be_passed_on_to_customer_through_the_dev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_3rd_Party_Auditor__c</field>
            <value>
                <elementReference>Please_enter_in_3rd_Party_Auditor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Audit_Timeframe__c</field>
            <value>
                <elementReference>What_is_the_timeframe_of_the_audit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Preferred_Completion_Date_AR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_AR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>AuditRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Comparison</name>
        <label>Case Create</label>
        <locationX>1248</locationX>
        <locationY>1086</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_Audit</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acctnameofprog_to_compare_pricingagainst__c</field>
            <value>
                <elementReference>Account_name_of_program_to_compare_pricing_against</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Other_Customer_Goals__c</field>
            <value>
                <elementReference>What_is_the_reason_for_this_comparison_request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>ComparisonGPO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Deviated</name>
        <label>Case Create</label>
        <locationX>1348</locationX>
        <locationY>968</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_Audit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>File_attach_Dev</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_deal_a_HP_Channel_Lead_Win_Back__c</field>
            <value>
                <elementReference>Is_this_deal_a_HP_Channel_Lead_Win_Back_pick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Newest_vendorfundinglinkedtoyouraccount__c</field>
            <value>
                <elementReference>DoestheBigDealRequestteamhavethisnewestvendorfundinglinkedtoyouraccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentageofVendorfundingpasstodev__c</field>
            <value>
                <elementReference>what_percent_of_the_vendor_funding_will_be_passed_on_to_customer_through_the_dev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Deviated_Cost_Analysis__c</field>
            <value>
                <elementReference>What_vendor_is_this_funding_from</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_New_Deviation__c</field>
            <value>
                <elementReference>Is_this_funding_new_to_the_customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_dev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>DeviatedCostAnalysis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Hosted</name>
        <label>Case Create</label>
        <locationX>1268</locationX>
        <locationY>1616</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_HC</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_New_Core__c</field>
            <value>
                <elementReference>Is_this_an_existing_custom_core_or_do_you_need_one_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_New_NCC__c</field>
            <value>
                <elementReference>Is_this_an_existing_custom_NCC_or_do_you_need_one_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hosted_Core_NCC__c</field>
            <value>
                <elementReference>What_is_being_hosted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCC__c</field>
            <value>
                <elementReference>NCC_Price_Plan_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_eprocurement__c</field>
            <value>
                <elementReference>Other_3rd_Party</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preliminary_Core_Review__c</field>
            <value>
                <elementReference>Do_you_want_the_core_to_be_reviewed_prior_to_the_hosted_catalog_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_3rd_Party_eprocurement__c</field>
            <value>
                <elementReference>X3rd_Party_eProcurement_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Core_Update_Descr__c</field>
            <value>
                <elementReference>Please_choose_the_core_update_s_that_need_to_occur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Eproc_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Eproc_Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Other_Core_Update__c</field>
            <value>
                <elementReference>Other_Core_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Preferred_Completion_Date_HC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_HC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>HostedCatalogCreationUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_eproc_Contact__c</field>
            <value>
                <elementReference>X3rd_Party_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Leader_Follower</name>
        <label>Case Create</label>
        <locationX>2460</locationX>
        <locationY>1135</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_Project_Goals_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <stringValue>Leader/Follower SKU Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_Prop_Request</name>
        <label>Case Create</label>
        <locationX>3009</locationX>
        <locationY>1589</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_Propritary</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_IMU_Year_to_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_to_an_existing_agreement__c</field>
            <value>
                <elementReference>Is_this_an_addendum_to_an_existing_agreement_between_Customer_and_ODP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_there_special_delivery_requirements__c</field>
            <value>
                <elementReference>Are_there_special_delivery_requirements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Account_Number_s__c</field>
            <value>
                <elementReference>Child_Account_Number_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Wants_that_the_Item_be_Stocked__c</field>
            <value>
                <elementReference>Is_it_a_customer_requirement_that_the_item_be_stocked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_need_to_setup_a_proprietary_item__c</field>
            <value>
                <elementReference>Do_you_need_to_setup_a_proprietary_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drop_Ship_3rd_Party_Delivery__c</field>
            <value>
                <elementReference>Drop_Ship_3rd_Party_Delivery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explain_Why_Order_Frequency_is_Other__c</field>
            <value>
                <elementReference>Explain_Why_Order_Frequency_is_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_feature_s_on_requested_SKU__c</field>
            <value>
                <elementReference>Extra_features_on_requested_SKU_that_were_not_available_on_stocked_alternate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_of_Placing_Orders_by_Customer__c</field>
            <value>
                <elementReference>With_what_frequency_will_customer_place_orders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMU_Last_Year_for_this_Account__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_needed_on_hand_ODP_by_date__c</field>
            <value>
                <elementReference>Inventory_needed_on_hand_ODP_by_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_IMU_for_prod_meet_30_min_guideline__c</field>
            <value>
                <elementReference>Will_the_IMU_for_this_product_meet_the_30_minimum_guideline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_product_from_a_current_active_vendor__c</field>
            <value>
                <elementReference>Will_the_product_be_from_a_current_active_vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_is_to_support_check_one__c</field>
            <value>
                <elementReference>Item_is_to_support_check_one</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_catalog_SKU_s__c</field>
            <value>
                <elementReference>List_alternate_SKU_s_that_was_proposed_in_place_of_the_non_catalog_SKU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managing_Director_WRF__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_the_Other_type_of_Spl_Delivery__c</field>
            <value>
                <elementReference>Mention_the_Other_type_of_Special_Delivery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAM_if_applicable__c</field>
            <value>
                <elementReference>NAM_if_applicable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_places_does_prod_need_to_be_stored__c</field>
            <value>
                <elementReference>How_many_locations_does_product_need_to_be_stocked_at</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owning_Location_Name__c</field>
            <value>
                <elementReference>Owning_Location_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owning_Location__c</field>
            <value>
                <elementReference>Owning_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Expected_for_the_Account_this_year__c</field>
            <value>
                <elementReference>Total_Sales_Expected_for_the_Account_this_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sign_an_agreement_for_ESA_inventory__c</field>
            <value>
                <elementReference>Will_the_customer_sign_an_agreement_to_be_resp_for_all_Proprietary_inventory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Delivery_Option__c</field>
            <value>
                <elementReference>Type_of_Special_Delivery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggested_Sourcing_Vendor_Name__c</field>
            <value>
                <elementReference>Suggested_Sourcing_Vendor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Annual_Sales_Last_Year_for_this_Ac__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Typical_Order_Size__c</field>
            <value>
                <elementReference>Typical_order_size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UPC_WRF__c</field>
            <value>
                <elementReference>UPC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPN_VPC__c</field>
            <value>
                <elementReference>VPN_VPC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>LegalReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_a_sample_provided__c</field>
            <value>
                <elementReference>Was_a_sample_provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_annual_usage_of_this_product__c</field>
            <value>
                <elementReference>What_is_the_expected_annual_usage_in_units_for_this_product_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Order_size__c</field>
            <value>
                <elementReference>X1st_Order_size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>why_customer_not_resp_for_ESA_inventory__c</field>
            <value>
                <elementReference>why_signed_customer_not_resp_for_ESA_inventory</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Case_Create_rfp</name>
        <label>Case Create</label>
        <locationX>1944</locationX>
        <locationY>1499</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_Propritary</targetReference>
        </connector>
        <inputAssignments>
            <field>ACCT_Current_Vendor__c</field>
            <value>
                <elementReference>Who_is_the_current_incumbent_competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_GPO_WRF__c</field>
            <value>
                <elementReference>Selected_GPO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_u_met_director_regarding_this_opp__c</field>
            <value>
                <elementReference>Have_you_met_with_your_director_regarding_this_opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_times_did_we_win__c</field>
            <value>
                <elementReference>How_many_times_did_we_win</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hw_mny_times_hv_v_bid_on_this_inthepast__c</field>
            <value>
                <elementReference>How_many_times_have_we_bid_on_this_in_the_past</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indicate_required_type_of_signature__c</field>
            <value>
                <elementReference>If_yes_please_indicate_the_type_of_signature_that_is_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_an_OfficeDepot_VP_signature_required__c</field>
            <value>
                <elementReference>Is_an_Office_Depot_VP_sig_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_official_RFP_or_unsolicite_offer__c</field>
            <value>
                <elementReference>Is_this_an_official_RFP_or_an_unsolicited_offer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Favored_Nations__c</field>
            <value>
                <elementReference>Is_there_MFN_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Strategy__c</field>
            <value>
                <elementReference>How_are_we_bidding_this_opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provide_details_of_award_methodology__c</field>
            <value>
                <elementReference>If_yes_please_provide_details_of_award_methodology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Opportunity_Notes__c</field>
            <value>
                <elementReference>Sales_Rep_Opportunity_Notes_RFP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>U_know_how_cust_will_evaluate_for_award__c</field>
            <value>
                <elementReference>Do_you_know_how_the_customer_will_evaluate_for_1awar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_SKUsmanufacturer_codes_and_UOM__c</field>
            <value>
                <elementReference>Has_the_customer_provided_Usage_with_valid_SKUs_manufacturer_codes_and_UOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Hosted_Catalog__c</field>
            <value>
                <elementReference>Will_this_customer_require_a_hosted_catalog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Other_Current_GPO__c</field>
            <value>
                <elementReference>WRF_Other_Current_GPO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Preferred_Completion_daterfp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prpsl_Deadln__c</field>
            <value>
                <elementReference>Customer_Completion_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <elementReference>PricingBidRFPQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Usage_Prcnt__c</field>
            <value>
                <elementReference>Is_this_a_New_What_percent_of_spend_does_this_list_represent_e</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Usage_Timeframe__c</field>
            <value>
                <elementReference>Time_frame_for_usage_provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Years_With_Current_Vendor__c</field>
            <value>
                <elementReference>How_long_have_they_been_purchasing_from_the_incumbent_competitor</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>2574</locationX>
        <locationY>1270</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_FC</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prfrd_Comp_Dt__c</field>
            <value>
                <elementReference>Preferred_Completion_Date_FC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Proj_Goal_Cmnt__c</field>
            <value>
                <elementReference>Please_provide_detailed_notes_and_or_direction_regarding_this_request_FC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Prpsl_Deadln__c</field>
            <value>
                <elementReference>Customer_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <stringValue>Form Completion/NDA/RFI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Renewal_Case_Create</name>
        <label>Renewal Case Create</label>
        <locationX>3205</locationX>
        <locationY>1638</locationY>
        <assignRecordIdToReference>RecId</assignRecordIdToReference>
        <connector>
            <targetReference>File_Attach_FC</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Expecting_Savings__c</field>
            <value>
                <elementReference>Is_the_customer_expecting_savings_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recidcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Opportunity_Notes__c</field>
            <value>
                <elementReference>Sales_Rep_Opportunity_Notes_R</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Other_Customer_Goals__c</field>
            <value>
                <elementReference>If_Yes_what_is_the_savings_expectation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Request_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Requestor__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WRF_Written_Agreement__c</field>
            <value>
                <elementReference>Will_this_customer_Does_this_customer_have_a_Written_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_goal_of_the_renewal__c</field>
            <value>
                <elementReference>What_is_the_goal_of_the_renewal_field</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>AccountReview</name>
        <label>Account Review</label>
        <locationX>187</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CustomerSavingsDecision</targetReference>
        </connector>
        <fields>
            <name>Notescreen</name>
            <fieldText>Please note if this request is for a contract renewal/extension, then please go back, create an opportunity and choose the “Renewal” request type.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_the_goal_of_the_account_review</name>
            <choiceReferences>What_is_the_goal_of_the_account_review_e</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the goal of the account review?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>(Please hold “Ctrl” to use multi-select)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_the_customer_expecting_savings_1</name>
            <choiceReferences>Isthecustomerexpectingsavings</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the customer expecting savings?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Alternate_Item_Request_screen</name>
        <label>Alternate Item Request</label>
        <locationX>651</locationX>
        <locationY>743</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_alt_request</targetReference>
        </connector>
        <fields>
            <name>Pleaseattachyourdocumentedrequestfromthecustomertoprovidealternateitemstothiscas</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; Please attach your documented request from the customer to provide alternate items to this case upon saving.
***If this request is regarding Clover deviations, please mention in the comments box prior to submitting.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_alternate_review_would_you_like</name>
            <choiceReferences>Green</choiceReferences>
            <choiceReferences>Remanufactured</choiceReferences>
            <choiceReferences>Private_Brand</choiceReferences>
            <choiceReferences>Diversity</choiceReferences>
            <choiceReferences>LowCost</choiceReferences>
            <choiceReferences>NoPreference</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoPreference</defaultSelectedChoiceReference>
            <fieldText>What type of alternate review would you like?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_savings_goal</name>
            <dataType>String</dataType>
            <fieldText>Estimated savings goal?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hard_substitute_alternates</name>
            <choiceReferences>Hardsubstitutealternates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hard substitute alternates?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_AIR</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ATRscreen</name>
        <label>ATR</label>
        <locationX>907</locationX>
        <locationY>752</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_ATR</targetReference>
        </connector>
        <fields>
            <name>Preferred_Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Requestscreen</name>
        <label>Audit Request</label>
        <locationX>1036</locationX>
        <locationY>752</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Audit_Decision</targetReference>
        </connector>
        <fields>
            <name>What_is_the_timeframe_of_the_audit</name>
            <choiceReferences>Whatisthetimeframeoftheaudit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the timeframe of the audit?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_a_3rd_party_auditor_1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a 3rd party auditor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_Completion_Date_AR</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_AR</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Award_Methodology</name>
        <label>Award Methodology</label>
        <locationX>1850</locationX>
        <locationY>930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OD_VP_signature</targetReference>
        </connector>
        <fields>
            <name>If_yes_please_provide_details_of_award_methodology</name>
            <dataType>String</dataType>
            <fieldText>Please provide details of award methodology:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dislabel2</name>
            <fieldText>{!TxtSalesRepPlan}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Rep_Opportunity_Notes_RFP</name>
            <fieldText>Sales Rep Opportunity Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bidding_Opportunity</name>
        <label>Bidding Opportunity</label>
        <locationX>1851</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_GPO</targetReference>
        </connector>
        <fields>
            <name>How_are_we_bidding_this_opportunity</name>
            <choiceReferences>PricingStrategy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How are we bidding this opportunity?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>*Please note, this work request type is only for current customers. If you are hoping to compare a new customer to an existing customer, please submit under the RFP/RFQ/BID type.
*Please also note, if your customer is a current customer, but requires a custom core, then please submit under Account Review instead.</description>
        <name>ComparisonScreen</name>
        <label>Comparison</label>
        <locationX>1163</locationX>
        <locationY>750</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Comparison</targetReference>
        </connector>
        <fields>
            <name>NotesComparison</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*&lt;FONT COLOR=&quot;#000000&quot;&gt;Please note, this work request type is only for current customers. If you are hoping to compare a new customer to an existing customer, please submit under the RFP/RFQ/BID type.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*&lt;FONT COLOR=&quot;#000000&quot;&gt;Please also note, if your customer is a current customer, but requires a custom core, then please submit under Account Review instead.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_the_reason_for_this_comparison_request</name>
            <dataType>String</dataType>
            <fieldText>What is the reason for this comparison request?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_name_of_program_to_compare_pricing_against</name>
            <dataType>String</dataType>
            <fieldText>Account name of program to compare pricing against</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_Comp</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1071</locationX>
        <locationY>1882</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Submitted</name>
            <fieldText>Thank you for your Work Request submission. If you need to attach additional items, please attach them directly to the case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Core_Plus_NCC_Screen</name>
        <label>Core Plus NCC Screen</label>
        <locationX>1726</locationX>
        <locationY>951</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_NCC_2</targetReference>
        </connector>
        <fields>
            <name>CorePlusNcc</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CoresplusNCC}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_an_existing_custom_NCC_or_do_you_need_one_created</name>
            <choiceReferences>Existing</choiceReferences>
            <choiceReferences>Create_New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this an existing custom NCC or do you need one created?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_savings</name>
        <label>Customer savings</label>
        <locationX>403</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_Request</targetReference>
        </connector>
        <fields>
            <name>What_is_the_savings_expectation</name>
            <dataType>String</dataType>
            <fieldText>What is the savings expectation?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deviated_Cost_AnalysisScreen</name>
        <label>Deviated Cost Analysis</label>
        <locationX>1243</locationX>
        <locationY>755</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deviated_Cost_Decision</targetReference>
        </connector>
        <fields>
            <name>DirectionsDeviated</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; If this request is for Clover deviations, please submit through the &apos;Alternate Item Request&apos; request type instead.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_vendor_is_this_funding_from</name>
            <dataType>String</dataType>
            <fieldText>What vendor is this funding from?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_funding_new_to_the_customer</name>
            <choiceReferences>newdwviation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this funding new to the customer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_deal_a_HP_Channel_Lead_Win_Back_pick</name>
            <choiceReferences>IsthisdealaHPChannelLeadWinBack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this deal a HP Channel Lead Win Back?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DoestheBigDealRequestteamhavethisnewestvendorfundinglinkedtoyouraccount</name>
            <choiceReferences>Newest_vendorfundinglinkedtoyouraccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the Big Deal Request team have this newest vendor funding linked to your account?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deviatedcost</name>
            <fieldText>&lt;p&gt;(If this deal is NOT a HP Channel Lead Win Back and is NOT currently linked to your account, then you will be unable to submit your work request until the deal is linked to your account through the Big Deal Request team.)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>what_percent_of_the_vendor_funding_will_be_passed_on_to_customer_through_the_dev</name>
            <dataType>Number</dataType>
            <fieldText>What percent of the vendor funding will be passed on to customer through the deviated pricing?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_dev</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_NCC</name>
        <label>Existing NCC</label>
        <locationX>1734</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HostedCatalog_1</targetReference>
        </connector>
        <fields>
            <name>NCC_Price_Plan_Number</name>
            <dataType>String</dataType>
            <fieldText>NCC (Price Plan) Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Attach</name>
        <label>File Attach</label>
        <locationX>894</locationX>
        <locationY>1011</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Filescreen2</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Attach_ATR</name>
        <label>File Attach</label>
        <locationX>1040</locationX>
        <locationY>1015</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Attch</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fileload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Attach_Audit</name>
        <label>File Attach</label>
        <locationX>1160</locationX>
        <locationY>1151</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Attachfiles</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Uploadrelatedfiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_attach_Dev</name>
        <label>File attach</label>
        <locationX>1343</locationX>
        <locationY>1113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Att</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadRelatedFileDEV</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Attach_FC</name>
        <label>File Attach</label>
        <locationX>2353</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>fileattach6</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Uploadrelatedfiles_FC</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Attach_HC</name>
        <label>File Attach</label>
        <locationX>1206</locationX>
        <locationY>1743</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>fileattach5</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Uploadrelatedfiles_HC</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Attach_Propritary</name>
        <label>File Attach</label>
        <locationX>1825</locationX>
        <locationY>1563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>UploadForm</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedDocumentsUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Form_Completion_1</name>
        <label>Form Completion 1</label>
        <locationX>1977</locationX>
        <locationY>711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Preferred_Completion_Date_FC</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Customer Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_FC</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hosted_Catalog_screen</name>
        <label>Hosted Catalog</label>
        <locationX>1409</locationX>
        <locationY>733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HostedCatalogDecision_1</targetReference>
        </connector>
        <fields>
            <name>Hosted_Catalog_output</name>
            <fieldText>Note: Only custom core(s) and/or custom NCC&apos;s can be hosted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_being_hosted</name>
            <choiceReferences>Core_s_ONLY</choiceReferences>
            <choiceReferences>Core_s_Plus_NCC_Price_Plan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is being hosted?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HostedCatalog_1</name>
        <label>Core(s) Only</label>
        <locationX>1604</locationX>
        <locationY>948</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NCC</targetReference>
        </connector>
        <fields>
            <name>OnlyCores</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!OnlytheCores}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_an_existing_custom_core_or_do_you_need_one_created</name>
            <choiceReferences>Existing</choiceReferences>
            <choiceReferences>Create_New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this an existing custom core or do you need one created?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HostedCatalog_2</name>
        <label>HostedCatalog 2</label>
        <locationX>2124</locationX>
        <locationY>1184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Preliminary_Core_Review_Decision</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_the_core_to_be_reviewed_prior_to_the_hosted_catalog_update</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Do you want the core to be reviewed prior to the hosted catalog update?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>If_Core_update_is_Other</name>
        <label>If Core update is Other</label>
        <locationX>1214</locationX>
        <locationY>1318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X3rd_Party_eProcurement_Sys</targetReference>
        </connector>
        <fields>
            <name>Other_Core_Update</name>
            <dataType>String</dataType>
            <fieldText>Other Core Update</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Question</name>
        <label>Initial Question</label>
        <locationX>894</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Will_this_customer_Does_this_customer_have_a_Written_Agreement</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will this customer / Does this customer have a Written Agreement?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_best_describes_your_request</name>
            <choiceReferences>DynamicPicklistForWRF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What best describes your request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Acc</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Review :&lt;/b&gt; Regular maintenance to current customers through price changes or agreement term modifications. Not to be used for contract renewals or current customers who have decided to go out to bid.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Alternate Item Request :&lt;/b&gt; Customer-driven requests to show or substitute current core items with alternative items (remanufactured toners, recycled, HUB, green).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Audit Request :&lt;/b&gt; The pricing of an account needs to be audited for a certain time frame.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Automatic Toner Replenishment :&lt;/b&gt; For accounts participating in the ATR program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Comparison :&lt;/b&gt; Comparing any current customer pricing to another account/pricing program (no custom core creation/modification. For that, you’d need to select the WRF Option: Account Review).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Deviated Cost Analysis :&lt;/b&gt; Set or update vendor funded core pricing (Example: HP Big Deals, paper deals, etc.).&amp;nbsp;Make sure vendor funding is linked to account via BigDealRequests@officedepot.com prior to submitting. Clover deviation deals should be submitted through the &quot;Alternate Item Request&quot; type.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Hosted Catalog :&lt;/b&gt; Used to maintain a list of “skus, pricing &amp;amp; content” on a 3rd party procurement platform. WRF Tasks include but are not limited to BSD Pricing - for pricing builds/architecture and B2B eContent - for third party platform review, communication and electronic catalog data feed uploads/release into the 3rd party app.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Leader/Follower SKU Change:&lt;/b&gt;&amp;nbsp;Used&amp;nbsp;when Custom pricing governed by an agreement is required to be duplicated or marked up/marked down across relationships within or parallel to the governing agreement’s account.&amp;nbsp;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Skus on core can be labeled as &lt;/span&gt;&lt;b style=&quot;font-size: 11pt;&quot;&gt;“L”&lt;/b&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt; = Leader, &lt;/span&gt;&lt;b style=&quot;font-size: 11pt;&quot;&gt;“F”&lt;/b&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt; = Follower, or &lt;/span&gt;&lt;b style=&quot;font-size: 11pt;&quot;&gt;“NA”&lt;/b&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt; = None. Also,&amp;nbsp;NCC’s can be labeled as &lt;/span&gt;&lt;b style=&quot;font-size: 11pt;&quot;&gt;“L”&lt;/b&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt; = Leader, &lt;/span&gt;&lt;b style=&quot;font-size: 11pt;&quot;&gt;“F”&lt;/b&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt; = Follower, or &lt;/span&gt;&lt;b style=&quot;font-size: 11pt;&quot;&gt;“NA”&lt;/b&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt; = None.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NDA/Form Completion/RFI/Legal Only :&lt;/b&gt; Used for support with customer forms that require signature. Not to be used for Certificate of Insurance, W9s, or Bid Bond Requests – these can be found in Seismic as part of our Rapid Response offering-No WRF needed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Non-Stocked Product WRF :&lt;/b&gt;&amp;nbsp;Used to initiate a request for non-printed, non-logo&apos;d, new stocked items that will be &apos;proprietary(owned)&apos; by a customer. Customer is required to enter into a legal agreement accepting ownership of all inventory that would be brought into specific DC locations to support the request. Items requiring printing, with logos etc. are not in scope and should not be submitted using this WRF. Such request would be processed by CPD. Review Proprietary SKU Submission Process prior to submitting the WRF.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rectype</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description_Opp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Review :&lt;/b&gt; Regular maintenance to current customers through price changes or agreement term modifications. Not to be used for contract renewals or current customers who have decided to go out to bid.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Alternate Item Request :&lt;/b&gt; Customer-driven requests to show or substitute current core items with alternative items (remanufactured toners, recycled, HUB, green).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Automatic Toner Replenishment :&lt;/b&gt; For accounts participating in the ATR program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Comparison :&lt;/b&gt; Comparing any current customer pricing to another account/pricing program (no custom core creation/modification. For that, you’d need to select the WRF Option: Account Review).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Deviated Cost Analysis :&lt;/b&gt; Set or update vendor funded core pricing (Example: HP Big Deals, paper deals, etc.).&amp;nbsp;Make sure vendor funding is linked to account via BigDealRequests@officedepot.com prior to submitting. Clover deviation deals should be submitted through the &quot;Alternate Item Request&quot; type.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NDA/Form Completion/RFI/Legal Only :&lt;/b&gt; Used for support with customer forms that require signature. Not to be used for Certificate of Insurance, W9s, or Bid Bond Requests – these can be found in Seismic as part of our Rapid Response offering-No WRF needed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Non-Stocked Product WRF :&lt;/b&gt;&amp;nbsp;Used to initiate a request for non-printed, non-logo&apos;d, new stocked items that will be &apos;proprietary(owned)&apos; by a customer. Customer is required to enter into a legal agreement accepting ownership of all inventory that would be brought into specific DC locations to support the request. Items requiring printing, with logos etc. are not in scope and should not be submitted using this WRF. Such request would be processed by CPD. Review Proprietary SKU Submission Process prior to submitting the WRF.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Renewal :&lt;/b&gt; Renew or extend an existing written agreement for current customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;RFP/RFQ/BID :&lt;/b&gt; Create pricing proposal for official or unofficial RFP or bid (this will engage the pricing team) for new customers or current customers who have decided to go out to bid. Also, should be used for new customers wanting to move under GPO’s with custom cores&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rectype</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>opp only</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IS_TIES</name>
        <label>IS TIES</label>
        <locationX>1276</locationX>
        <locationY>1504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X3rd_Party_details</targetReference>
        </connector>
        <fields>
            <name>Other_3rd_Party</name>
            <dataType>String</dataType>
            <fieldText>Other 3rd Party</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leader_Follower_SKU_Change_Screen</name>
        <label>Leader/Follower SKU Change Screen</label>
        <locationX>2154</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Leader_Follower</targetReference>
        </connector>
        <fields>
            <name>Please_provide_Project_Goals_Comments</name>
            <fieldText>Please provide Project Goals/Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_ESA</name>
        <label>Not ESA</label>
        <locationX>2941</locationX>
        <locationY>741</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prop2</targetReference>
        </connector>
        <fields>
            <name>why_signed_customer_not_resp_for_ESA_inventory</name>
            <fieldText>Why Signed Customer not Resp. for Proprietary Inventory</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OD_VP_signature</name>
        <label>OD VP signature</label>
        <locationX>2087</locationX>
        <locationY>966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VP_Sig_decision</targetReference>
        </connector>
        <fields>
            <name>Is_an_Office_Depot_VP_sig_required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is an Office Depot VP signature required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prelimnary_core_update</name>
        <label>Prelimnary core update</label>
        <locationX>1316</locationX>
        <locationY>1227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Core_update_is_other</targetReference>
        </connector>
        <fields>
            <name>Please_choose_the_core_update_s_that_need_to_occur</name>
            <choiceReferences>Contractual_Price_Increase</choiceReferences>
            <choiceReferences>Assortment_Update</choiceReferences>
            <choiceReferences>Vendor_Cost_Increase</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the core update(s) that need to occur</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prop2</name>
        <label>Prop2</label>
        <locationX>2796</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Frequency_Order</targetReference>
        </connector>
        <fields>
            <name>ProductandVendorInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Product and Vendor Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Will_the_IMU_for_this_product_meet_the_30_minimum_guideline</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will the IMU for this product meet the 30% minimum guideline?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_alternate_SKU_s_that_was_proposed_in_place_of_the_non_catalog_SKU</name>
            <dataType>String</dataType>
            <fieldText>List alternate SKU(s) that was proposed in place of the non-catalog SKU</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Was_a_sample_provided</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Was a sample provided?  (Attach pictures of the sample, showing product info.)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extra_features_on_requested_SKU_that_were_not_available_on_stocked_alternate</name>
            <dataType>String</dataType>
            <fieldText>Extra features on requested SKU that were not available on stocked alternate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Will_the_product_be_from_a_current_active_vendor</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will the product be from a current/active vendor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Suggested_Sourcing_Vendor_Name</name>
            <dataType>String</dataType>
            <fieldText>Suggested Sourcing Vendor Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Description</name>
            <dataType>String</dataType>
            <fieldText>Product Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPN_VPC</name>
            <dataType>String</dataType>
            <fieldText>VPN/VPC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UPC</name>
            <dataType>String</dataType>
            <fieldText>UPC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_expected_annual_usage_in_units_for_this_product_1</name>
            <dataType>Number</dataType>
            <fieldText>What is the expected annual usage, in units, for this product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>With_what_frequency_will_customer_place_orders</name>
            <choiceReferences>Order_Frequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>With what frequency will customer place orders?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prop_3</name>
        <label>Prop 3</label>
        <locationX>2846</locationX>
        <locationY>1113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prop_4</targetReference>
        </connector>
        <fields>
            <name>Explain_Why_Order_Frequency_is_Other</name>
            <dataType>String</dataType>
            <fieldText>Explain Why Order Frequency is Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prop_4</name>
        <label>Prop 4</label>
        <locationX>2997</locationX>
        <locationY>1006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Special_Delivery</targetReference>
        </connector>
        <fields>
            <name>ProjectedorderquantitiesofUnits</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Projected order quantities (# of Units)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1st_Order_size</name>
            <dataType>Number</dataType>
            <fieldText>1st Order size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Typical_order_size</name>
            <dataType>Number</dataType>
            <fieldText>Typical order size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Drop_Ship_3rd_Party_Delivery</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drop-Ship/3rd Party Delivery</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_it_a_customer_requirement_that_the_item_be_stocked</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is it a customer requirement that the item be stocked?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_locations_does_product_need_to_be_stocked_at</name>
            <dataType>Number</dataType>
            <fieldText>How many locations does product need to be stocked at?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Owning_Location</name>
            <dataType>String</dataType>
            <fieldText>Owning Location #:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Owning_Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Owning Location Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_there_special_delivery_requirements</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there special delivery requirements?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_Prop</name>
            <fieldText>{!IC_Form}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prop_6</name>
        <label>Prop 6</label>
        <locationX>2942</locationX>
        <locationY>1196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_Special_Delivery_is_Other</targetReference>
        </connector>
        <fields>
            <name>Type_of_Special_Delivery</name>
            <choiceReferences>Whiteglove</choiceReferences>
            <choiceReferences>DesktopDelivery</choiceReferences>
            <choiceReferences>Loadingdock</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Special Delivery</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prop_7</name>
        <label>Prop 7</label>
        <locationX>2692</locationX>
        <locationY>1499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Prop_Request</targetReference>
        </connector>
        <fields>
            <name>Mention_the_Other_type_of_Special_Delivery</name>
            <dataType>String</dataType>
            <fieldText>Mention the Other type of Special Delivery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proprietary_Item_Request</name>
        <label>Proprietary Item Request</label>
        <locationX>2097</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ESA_Inventory</targetReference>
        </connector>
        <fields>
            <name>Do_you_need_to_setup_a_proprietary_item</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>NotSure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need to setup a proprietary item?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountName</name>
            <fieldText>Account Name: {!accountnamevar}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesRepScreen</name>
            <fieldText>Sales Rep: {!SalesRep}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Managing_Director_screen</name>
            <fieldText>Managing Director: {!ManagingDirector}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>total_annual_sales_year</name>
            <fieldText>Total annual sales last year for this account: {!Totalannualsales}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IMU</name>
            <fieldText>IMU % last year for this account: {!IMUlastyear}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActualIMUlastyear</name>
            <fieldText>Actual IMU % year to date: {!ActualIMU}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Customer Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Child_Account_Number_s</name>
            <dataType>String</dataType>
            <fieldText>Child Account Number’s:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Total_Sales_Expected_for_the_Account_this_year</name>
            <dataType>Currency</dataType>
            <fieldText>Total Sales Expected for the Account this year:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Will_the_customer_sign_an_agreement_to_be_resp_for_all_Proprietary_inventory</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will the customer sign an agreement to be responsible for all Proprietary inventory?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_an_addendum_to_an_existing_agreement_between_Customer_and_ODP</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this an addendum to an existing agreement between Customer and ODP?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inventory_needed_on_hand_ODP_by_date</name>
            <dataType>Date</dataType>
            <fieldText>Inventory needed on hand @ ODP by (date):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_is_to_support_check_one</name>
            <choiceReferences>ItemsToSupport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Item is to support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NAM_if_applicable</name>
            <dataType>String</dataType>
            <fieldText>NAM (if applicable):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewalScreen</name>
        <label>Renewal Screen</label>
        <locationX>1661</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_customer_expecting_savings_screen</targetReference>
        </connector>
        <fields>
            <name>What_is_the_goal_of_the_renewal_field</name>
            <choiceReferences>What_is_the_goal_of_the_renewal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the goal of the renewal?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>(Please hold “Ctrl” to use multi-select)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_the_customer_expecting_savings_12</name>
            <choiceReferences>Isthecustomerexpectingsavings</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the customer expecting savings?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFP_RFQ_BID_Screen</name>
        <label>RFP/RFQ/BID</label>
        <locationX>1542</locationX>
        <locationY>699</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Award_eval</targetReference>
        </connector>
        <fields>
            <name>Is_this_a_New_What_percent_of_spend_does_this_list_represent_e</name>
            <dataType>Number</dataType>
            <fieldText>What percent of spend does this list represent?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Time_frame_for_usage_provided</name>
            <choiceReferences>Timeframeforusageprovided</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time frame for usage provided</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_MFN_Language</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there Most Favored Nation Language?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Will_this_customer_require_a_hosted_catalog</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will this customer require a hosted catalog?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_is_the_current_incumbent_competitor</name>
            <choiceReferences>Whoisthecurrentincumbentcompetitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is the current incumbent/competitor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_long_have_they_been_purchasing_from_the_incumbent_competitor</name>
            <dataType>String</dataType>
            <fieldText>How long have they been purchasing from the incumbent/competitor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_times_have_we_bid_on_this_in_the_past</name>
            <dataType>String</dataType>
            <fieldText>How many times have we bid on this in the past?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_times_did_we_win</name>
            <dataType>String</dataType>
            <fieldText>How many times did we win?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_an_official_RFP_or_an_unsolicited_offer</name>
            <choiceReferences>IsthisanofficialRFPoranunsolicitedoffer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this an official RFP or an unsolicited offer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_met_with_your_director_regarding_this_opportunity</name>
            <choiceReferences>Haveyoumetwithyourdirectorregardingthisopportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you met with your director regarding this opportunity?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_customer_provided_Usage_with_valid_SKUs_manufacturer_codes_and_UOM</name>
            <choiceReferences>HasthecustomerprovidedUsagewithvalidSKUsmanufacturercodesandUOM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the customer provided Usage with valid SKUs/manufacturer codes and UOM?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_Completion_daterfp</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Completion_date</name>
            <dataType>Date</dataType>
            <fieldText>Customer Completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_know_how_the_customer_will_evaluate_for_1awar</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you know how the customer will evaluate for award?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Rep_Notes_Renewal</name>
        <label>Sales Rep Notes</label>
        <locationX>3283</locationX>
        <locationY>1314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Renewal_Case_Create</targetReference>
        </connector>
        <fields>
            <name>Deslabel</name>
            <fieldText>{!TxtSalesRepPlan}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Rep_Opportunity_Notes_R</name>
            <fieldText>Sales Rep Opportunity Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Other_Current_GPO</name>
        <label>Other Current GPO</label>
        <locationX>2222</locationX>
        <locationY>1501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_rfp</targetReference>
        </connector>
        <fields>
            <name>WRF_Other_Current_GPO</name>
            <dataType>String</dataType>
            <fieldText>Other Current GPO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_GPO</name>
        <label>Select GPO</label>
        <locationX>2190</locationX>
        <locationY>1268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Current_GPO</targetReference>
        </connector>
        <fields>
            <name>GPO_lookup</name>
            <extensionName>c:GPOLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_GPO</assignToReference>
                <name>selectedRecord</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TBD</name>
        <label>TBD</label>
        <locationX>1445</locationX>
        <locationY>949</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TBD_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px; color: rgb(240, 8, 8);&quot;&gt;WRF Not Submitted&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-family: sans-serif; font-size: 15px;&quot;&gt;***Instructions for getting big deal linked to account:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please send the newest version of your customer’s big deal documentation provided by the vendor to &lt;a href=&quot;BigDealRequests@OfficeDepot.Com&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;&lt;u&gt;BigDealRequests@OfficeDepot.Com&lt;/u&gt;&lt;/b&gt;&lt;/a&gt; along with the account number that the deal should be linked to and resubmit your work request once the Big Deal Requests team confirms the deal is linked.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Signature</name>
        <label>Type of Signature</label>
        <locationX>1967</locationX>
        <locationY>1116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bidding_Opportunity</targetReference>
        </connector>
        <fields>
            <name>If_yes_please_indicate_the_type_of_signature_that_is_required</name>
            <choiceReferences>Electronic</choiceReferences>
            <choiceReferences>Written</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please indicate the type of signature that is required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Request</name>
        <label>Work Request</label>
        <locationX>519</locationX>
        <locationY>1149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create</targetReference>
        </connector>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_ACR</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Request_AttAR</name>
        <label>Attachment</label>
        <locationX>537</locationX>
        <locationY>1542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>notesAR</name>
            <fieldText>Upload Attachment(s)
NOTE: Size limit is 5Mb PER ATTACHMENT. You can combine multiple attachments using WinZip as long as the zipped file is less than 5Mb.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadrelatedfileACR</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Related Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X3rd_Party_Auditor_Name</name>
        <label>3rd Party Auditor Name</label>
        <locationX>1285</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_audiit</targetReference>
        </connector>
        <fields>
            <name>Please_enter_in_3rd_Party_Auditor_Name</name>
            <dataType>String</dataType>
            <fieldText>Please enter in 3rd Party Auditor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X3rd_Party_details</name>
        <label>3rd Party details</label>
        <locationX>1424</locationX>
        <locationY>1568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Create_Hosted</targetReference>
        </connector>
        <fields>
            <name>X3rd_Party_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>3rd Party Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter 10 digits</errorMessage>
                <formulaExpression>REGEX( {!Phone} , &quot;\\D*?(\\d\\D*?){10}&quot; )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter valid email</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Preferred_Completion_Date_HC</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_provide_detailed_notes_and_or_direction_regarding_this_request_HC</name>
            <fieldText>Please provide detailed notes and/or direction regarding this request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X3rd_Party_eProcurement_Sys</name>
        <label>3rd Party eProcurement Sys</label>
        <locationX>1463</locationX>
        <locationY>1150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>eprocurement_is_TIES</targetReference>
        </connector>
        <fields>
            <name>X3rd_Party_eProcurement_System</name>
            <choiceReferences>newprocumrment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3rd Party eProcurement System</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Yes_Savings_for_Renewal</name>
        <label>Yes Savings for Renewal</label>
        <locationX>2242</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sales_Rep_Notes_Renewal</targetReference>
        </connector>
        <fields>
            <name>If_Yes_what_is_the_savings_expectation</name>
            <dataType>String</dataType>
            <fieldText>What is the savings expectation?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Initial_Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CoresplusNCC</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;****Please download, complete, and attach the &lt;A HREF=&quot;https://officedepot--ODUAT.cs78.my.salesforce.com/sfc/p/1k0000008aqo/a/1k0000008Plc/zN3eIyQeR3rPzxCTPR.wh.q_SNhBnXpazuAYxDFGiD4&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;NCC Request Form V7 01.05.18&lt;/U&gt;&lt;/B&gt;&lt;/A&gt; to this request.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FormDownloadLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;http://officedepot--oduat.cs78.my.salesforce.com/sfc/p/#1k0000008aqo/a/1k0000008Pfj/oA4o8eaPS2CNao1J6mCCcUb1AErfKfZmQJcnJAD6544&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;Please click below link for Proprietary Eligibility Form&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Inventory Increase Form</description>
        <name>IC_Form</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;****Please completely fill out and attach the&lt;/span&gt;&lt;a href=&quot;https://officedepot.seismic.com/Link/Content/DCxqaBzYjOHUCe68283cDFdQ&quot; target=&quot;_blank&quot; style=&quot;color: rgb(9, 61, 228); font-family: sans-serif; font-size: 12px;&quot;&gt; &lt;b&gt;&lt;u&gt;Inventory Increase Form (IC Form)&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt; to this request. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;Your request will be declined without this attachment.&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;You will be able to attach this doc in the next screen.&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnlytheCores</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;***Please download, complete, and attach the&lt;A HREF=&quot;https://officedepot--ODUAT.cs78.my.salesforce.com/sfc/p/1k0000008aqo/a/1k0000008PlX/84wmXbJs3IC1oxynjczI8j0pbzyb_Df5YMESyTJjSDA&quot; TARGET=&quot;_blank&quot;&gt; &lt;/A&gt;&lt;A HREF=&quot;https://officedepot--ODUAT.cs78.my.salesforce.com/sfc/p/1k0000008aqo/a/1k0000008PlX/84wmXbJs3IC1oxynjczI8j0pbzyb_Df5YMESyTJjSDA&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;Core Pricing Request Form v8 08.23.18&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;A HREF=&quot;http://officedepot--oduat.cs78.my.salesforce.com/sfc/#version?selectedDocumentId=0691k0000007paj&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt; &lt;/U&gt;&lt;/B&gt;&lt;/A&gt;to this request.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;****The area for Sku and Price information will not be available until ALL REQUIRED information in the upper portion of the form is completed.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TxtSalesRepPlan</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; Please provide answers prior to proceeding:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Please &lt;B&gt;outline the sales strategy, &lt;/B&gt;including&lt;B&gt; why we’re bidding it,&lt;/B&gt; what the &lt;B&gt;scope of work&lt;/B&gt; with the Prospect / Customer will be, &lt;B&gt;what the strategy is for winning / retaining&lt;/B&gt; and&lt;B&gt; how will you increase the sales&lt;/B&gt; within the Account through&lt;B&gt; adjacencies,&lt;/B&gt; etc. &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>accname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountnamevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accowner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccRecType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Actual IMU % year to date</description>
        <name>ActualIMU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Casetype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FIleURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;https://officedepot.my.salesforce.com/sfc/p/E0000000J4oS/a/44000000Pfjd/bYm0qq6QuoryWo4cNjLmaK8O2j7LwPIuvGgMJHUV4dg&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <description>IMU % last year for this account</description>
        <name>IMUlastyear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Managing Director output field</description>
        <name>ManagingDirector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Notes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>oppamnt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rectype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Renewal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>SalesRep Output field</description>
        <name>SalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_GPO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TestSobjvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TestVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Total annual sales last year for this account output field</description>
        <name>Totalannualsales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Yes_savings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YesVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
</Flow>
